<% content_for(:left) do %>
	<div id="leftmenu">
	<%- place_categories.each do |c| -%>
			<h2><%= link_to c.name, { :controller => ('place_gallery' if controller.controller_name == 'place') || controller.controller_name, :place_category => c }, (category_leftmenu_active?(params[:place_category], c.urlname)) %></h2>
	<%- end -%>
	</div>
<% end %>