<% content_for(:left) do %>
    <ul class="menu">
      <li>
          <span>Места</span>
          <ul>
            <%- PlaceCategory.find(:all).each do |c| -%>
            <li><%= link_to c.name, { :controller => ('place_gallery') || controller.controller_name, :place_category => c }, (category_leftmenu_active?(params[:place_category], c.urlname)) %></li>
            <%- end -%>
          </ul>
      </li>
      <li><%= link_to "Афиша", { :controller => 'place_gallery/events', :place_category => nil }, ( leftmenu_active?(:controller_name => "events") ) %></li>
      <li><%= link_to "Репортажи", { :controller => 'place_gallery/reports', :place_category => nil }, ( leftmenu_active?(:controller_name => "reports") ) %></li>
    </ul>
<% end %>