<div id="userpage-container">
	<% photo_gallery.each_with_index do |p, index| %>
	<%= link_to image_tag(p.photo.url(:thumbnail)), p.photo.url, :rel => 'gallery', :class => ((index+2) %5 == 0 ? 'photo_link gal_photo_offset' : 'photo_link') %>
	<% end %>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".photo_link").fancybox();
		});
	</script>
</div>