<!-- submenu -->
<div id="submenu">
    <ul>
		<li><%= link_to t('.afisha'), { :controller => 'place_gallery/events', :place_category => nil }, ( submenu_active?(controller.controller_name, "events") ) %></li>
		<li><%= link_to t('.mesta'), { :controller => 'place_gallery/place_gallery', :place_category => nil }, ( submenu_active?(controller.controller_name, "place_gallery") ) %></li>
		<li><%= link_to t('.reports'), { :controller => 'place_gallery/reports', :place_category => nil }, ( submenu_active?(controller.controller_name, "reports") ) %></li>
		<% if I18n.locale.to_s == 'ru' %>
		<li><%= link_to 'Афиша дня', { :controller => 'place_gallery/daily_events', :date => nil, :id => nil }, ( submenu_active?(controller.controller_name, "daily_events") ) %></li>
		<% end %>
    </ul>
</div>
<div style="clear:left">
</div>
<!-- submenu end -->