<h3><%= l @date.to_date, :format => :date_with_weekday %></h3>
<div class="placegallery-list">
<% render :partial => 'event_list', :collection => @top_events %>
</div>
<ul class="afisha" id="daily_events_table">
  <% events.each do |e| %>
      <li id="daily_event_<%= e.id %>" class="<%= "go" if logged_in? and current_user.daily_events.include? e %> <%= 'jw'  if e.johnywalker == true %>">
        <div class="item">
        <div style="overflow:hidden">


        <div style="float:left;width:140px;height:90px;"><%= link_to_remote image_tag(e.picture.url(:thumbnail)), {:url => url_for(:action => :show, :id => e.id)}, { :href => url_for(:action => :show, :id => e.id) } if e.picture.exists? %></div>

        <h5><span class="time"><%= e.date.strftime("%H:%M") %>&nbsp;</span><a name="event<%= e.id %>" class="set"><%= e.event_category.name if e.event_category %></a><span>&nbsp;&rarr;&nbsp;</span><span class="de_place"><%= e.place.name if e.place %></span></h5>
        <%= link_to_remote e.name, {:url => url_for(:action => :show, :id => e.id)}, { :href => url_for(:action => :show, :id => e.id), :class => 'event-link' } %>
          <div class="event-functions">
            <% if logged_in? %>
            <span class="go-not">
              <% unless e.johnywalker == true %>
              <a class="here-go" href="<%= url_for :action => :toggle_user_event, :id => e.id %>" title=""><img src="/img/afisha-go-button.png"></a>
              <% else %>
              <a class="here-go" href="<%= url_for :action => :toggle_user_event, :id => e.id %>" title=""><img src="/img/afisha-go-button-jw.gif"></a>
              <% end %>
              <a class="here-go-not" href="<%= url_for :action => :toggle_user_event, :id => e.id %>" title=""><img src="/img/close.gif"></a>
            </span>
            <% end %>
            <% if e.users.count > 0 %>
            <span class="event-users-count" id="event-users-count-<%= e.id %>"><%= e.users.count %></span>
            <% end %>
            <% if e.fgc == true %>
            <img src="/img/afisha-fgc-icon.png">
            <% end %>
          </div>
        </div>
        <div class="de_event_info"<%= 'style="display:block"' if @event && @event.id == e.id %> id="event_info<%= e.id %>">
        <% if @event && @event.id == e.id %>
        <%= render :partial => 'event_info', :locals => { :event => @event } %>
        <% end %>
        </div>
        </div>
      </li>
  <% end %>
</ul>
<script>
$('span.go-not a').live('click', function(e){
$(e.target).parent().parent().parent().parent().parent().toggleClass('go');
$.ajax({data:'authenticity_token=' + encodeURIComponent(rails_authenticity_token), dataType:'script', type:'post', url:$(e.target).parent().attr('href')});
return false;
});
</script>