<div class="de-event-text">
<span><%= event.text %></span>
<% if event.long_text %>
<div><%= link_to "Подробнее...", url_for(:action => 'show', :id => event.id)%></div>
<% end %>
</div>



<% if event.text && event.place %>
  <br><br>
<% end %>

<% if event.place %>
<div>
  <p>
  <% if event.place.address %>
  <div><b>Адрес:</b> <%= event.place.address %></div>
  <% end %>  
  <% if event.place.phone %>
  <div><b>Телефон:</b> <%= event.place.phone %></div>
  <% end %>
  </p>
</div>
<% end %>

<% unless event.users.empty? %>

    <div class="plan">
      <p><%=t :users_go_to_event, :count => event.users.length %></p>
      <% event.users.each do |u| %>
      <%= link_to image_tag(u.avatar.url(:small)), user_path(u), :title => u.displayname %>
      <% end %>
    </div>

<% end %>