<div class="report-list">
  <%= link_to image_tag(event_list.event_picture.url(:thumbnail)),  url_for({ :action => "show", :id => event_list.id }) %>
  <p><span class="time"><%= event_list.date.strftime("%H:%M") %> </span><%= link_to event_list.name,  url_for({ :action => "show", :id => event_list.id }), :class => 'text' %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if event_list.fgc == true %></p>
</div>