<h1>Афиша дня</h1>

<div id="daily_events">
<%= render :partial => 'daily_events_table', :locals => { :events => @events } %>
</div>


<% content_for :right_afisha do %>
<h4 class="different"><a href="#" title="Афиша дня">Афиша дня</a></h4>
<%
items = [
        {:font => 34, :left => 84, :top => 0},
        {:font => 32, :left => 149, :top => 25},
        {:font => 31, :left => 186, :top => 80},
        {:font => 29, :left => 185, :top => 143},
        {:font => 28, :left => 151, :top => 192},
        {:font => 27, :left => 98, :top => 211},
        {:font => 25, :left => 46, :top => 198},
        {:font => 24, :left => 14, :top => 160},
        {:font => 22, :left => 9, :top => 113},
        {:font => 21, :left => 30, :top => 75},
        {:font => 20, :left => 66, :top => 57},
        {:font => 18, :left => 103, :top => 63},
        {:font => 17, :left => 127, :top => 87},
        {:font => 15, :left => 133, :top => 117},
        {:font => 14, :left => 121, :top => 142}
        ]
   total = 15
   @fgc_dates = DailyEvent.upcoming.fgc.published.find(:all, :select => 'date').collect { |d| d.date.to_date }
   @jw_dates = [Date.parse("2011-07-01")]
%>
<style>
#daily_events_calendar div {
 position: relative;
 text-align: center;
 zoom: 1;
 width: 1.6em;
}

  #daily_events_calendar div a {
   position: relative;
   display: block;
   z-index: 2;
  }



  #daily_events_calendar div img {
   position: absolute;
   top: -.2em;
   left: 0;
   z-index: 1;
   width: 1.6em;
  }
</style>
<div id="daily_events_calendar">
<% items[0..total].each_with_index do |i, index| %>
  <% d = Date.parse(index.days.since.to_s) %>
  <div style="font-size:<%= i[:font] %>px;position:absolute;left:<%= i[:left] %>px;top:<%= i[:top] %>px;">
  <% star = (@fgc_dates.include? Date.parse(index.days.since.to_s)) ? "*" : "" %>
  <%= link_to_remote index.days.since.day.to_s + star, :url => url_for(:date => d), :after => "$('#daily_events').fadeOut('fast')", :html => {:id => "date#{d}",  :class => ( (Date.parse(index.days.since.to_s)==@date.to_date) && 'de_date_selected' || ""),:style => ((@jw_dates.include? Date.parse(index.days.since.to_s)) ? "color:white" : "" ) }


 %>
  <%= (@jw_dates.include? Date.parse(index.days.since.to_s)) ? "<img src='/img/calend_back-2.png'>" : "" %>
  </div>

<% end %>
</div>
<% end %>
