<% content_for :right_afisha do %>
<%= render :partial => 'layouts/daily_event_calendar' %>
<% end %>
<% if @event.johnywalker %>
<div id="afisha-jw">
<% end %>

<div class="report">
<% if @event.johnywalker %>
<h1 class="afisha-in"><%= @event.name %><br><span class="time"><%= l(@event.date, :format => :short) %> 
  <% if @event.place and @event.place.place_category%>
  / <%= link_to @event.place.name, place_path(:id => @event.place.id, :place_category => @event.place.place_category) %>
  <% end %>
  </span></h1>

<% else %>
      <%= image_tag(@event.picture.url(:small)) %>

      <h3><%= @event.name %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if @event.fgc == true %></h3>
      <p class="date"><%= l(@event.date, :format => :short) %>
      <% if @event.place and @event.place.place_category%>
      / <%= link_to @event.place.name, place_path(:id => @event.place.id, :place_category => @event.place.place_category) %>
      <% end %>
      </p>
<% end %>

      <%= @event.long_text ? simple_format(@event.long_text) : simple_format(@event.text) %>
</div>

<% if @event.text && @event.place %>
  <br><br>
<% end %>

<% if @event.place %>
<div>
  <% if @event.place.address %>
  <div><b>Адрес:</b> <%= @event.place.address %></div>
  <% end %>
  <% if @event.place.phone %>
  <div><b>Телефон:</b> <%= @event.place.phone %></div>
  <% end %>
</div>
<% end %>


<div class="event-functions">
  <% if logged_in? %>
  <span class="go-not">
    <% if !current_user.daily_events.include? @event %>
      <% unless @event.johnywalker == true %>
      <a class="here-go" href="<%= url_for :action => :toggle_user_event, :id => @event.id %>" title=""><img src="/img/afisha-go-button.png"></a>
      <% else %>
      <a class="here-go" href="<%= url_for :action => :toggle_user_event, :id => @event.id %>" title=""><img src="/img/afisha-go-button-jw.gif"></a>
      <% end %>
    <% else %>
      <a class="here-go-not" href="<%= url_for :action => :toggle_user_event, :id => @event.id %>" title=""><img src="/img/close.gif"></a>
    <% end %>
  </span>
  <% end %>
</div>

<% unless @event.users.empty? %>

    <div class="plan">
      <p><%=t :users_go_to_event, :count => @event.users.length %></p>
      <% @event.users.each do |u| %>
      <%= link_to image_tag(u.avatar.url(:small)), user_path(u), :title => u.displayname %>
      <% end %>
    </div>

<% end %>

<% if @event.johnywalker %>
</div>
<a href="http://www.facebook.com/home.php#!/JohnnieWalkerRussia" style="margin-top:-70px;display:block;width:100%;height:70px;text-decoration:none">&nbsp;</a>
<% end %>