<% @events.each do |e| %>
<p><span class="time" <%= "style='background-color:#7452B9;color:white'" if e.fgc == true %>><%= e.date.strftime("%H:%M") %></span>&nbsp;<%= e.name %></p>
<% end %>
<%= "<p>Информации о мероприятиях на этот день пока нет</p>" if @events.empty? %>