<li id="photo_<%= photo.id %>" style="height:176px;">
  <%= link_to image_tag(photo.photo.url(:small)), photo.photo.url, :rel => 'gallery', :class => 'portfolio_photo_link' %>
  <div class="portfolio-delete-photo-div"><%= link_to image_tag("/i/delete-cross-gray.png"), url_for(:action => 'delete_photo', :id => photo.id), :class => 'portfolio-delete-link', :confirm => 'Действительно удалить?' %> <span>Удалить</span></div>
</li>