<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.portfolio') }  %>
<h3 class="user-subtitle cgothic" style="padding:0;margin-top:18px;"><%= t('.edit_portfolio') %></h3>
<% form_for( :user_portfolio ) do |f| %>
<p><%= t('.enter_portfolio_text') %></p>
<p><%= f.text_area :text, :cols=> 60, :value => (@portfolio.text if @portfolio) %></p>
<p><%= submit_tag t('save_changes') %></p>
<% end %>
<% form_for( :photo, :url => {:action => 'upload_photo'}, :html => {:multipart => true} ) do |f| %>
	  <p><%= f.file_field :photo, :size => '25' %></p>
	  <p><%= submit_tag t('upload_image') %></p>
	  
	<% if !@portfolio.nil? && !@portfolio.user_portfolio_photos.nil? %>
	<style>

	#sortable_photos li img { cursor:move; }

	
	</style>
	<ul id="sortable_photos">
	<%= render :partial => 'photo_editable', :collection => @portfolio.user_portfolio_photos, :as => :photo %>	
	</ul>
	<% end %>
	<%= sortable_element('sortable_photos', :url => 'sort_photos', :opacity => 0.6, :constraint => false) %>
<% end %>
<div style="clear:both"></div>
<script>
$(document).ready(function() {

  $('.portfolio-delete-photo-div a').mouseover(
    function(){
      $(this).parent().find('span').show();
    }
  );
  $('.portfolio-delete-photo-div a').mouseout(
    function(){
      $(this).parent().find('span').hide();
    }
  );

});
</script>