<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.portfolio') }  %>

<div id="userpage-container">
<% if is_owner? %>
<%= link_to t('edit'), {:action => 'edit'}, :class => 'edit' %>
<% end %>
<% unless @portfolio.nil? %>
	<div style="padding:20px 0;">
		<%= simple_format(sanitize(@portfolio.text, :tags => %w(embed object a b i))) if @portfolio.text %>
	</div>

	<% if !@portfolio.user_portfolio_photos.nil? %>
	<ul id="sortable_photos">
	<%= render :partial => 'photo', :collection => @portfolio.user_portfolio_photos %>
	</ul>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".portfolio_photo_link").fancybox();
		});
	</script>
	<% end %>
<% end %>
</div>