<% content_for(:left) do %>
	<ul class="menu">
		<li><%= link_to t('footer.about_face_gallery'), { :controller => 'documents', :alias => 'about_face_gallery', :action => 'view' } %></li>
		<li><%= link_to t('footer.about_us'), { :controller => 'documents', :alias => 'about_the_team', :action => 'view'  } %></li>
		<li><%= link_to t('footer.contacts'), { :controller => 'documents', :alias => 'contacts', :action => 'view'  } %></li>
        <li><%= link_to 'Правила сайта', { :controller => 'documents', :alias => 'rules', :action => 'view'  } %></li>
	</ul>
<% end %>
<h1><%= @document.name %></h1>
<div id="documents_content">
	<%= simple_format(@document.text) %>
</div>

