<% if single_post? %>
<h1 class="bigheader cgothic"><%=h post.title %></h1>
<% end %>
<div class="post_div">
	<% unless single_post? %>
	<h3 class="post_header cgothic"><%= link_to h(post.title), post_path(:id => post, :post_section => current_section) %></h3>
	<% end %>
	<div class="post_contents">
		<%= post.text %> 
	</div>
	<div class="post_info">
		<%= link_to post.user.displayname, user_path(post.user) %> / <%= l(post.created_at, :format => 'short') %>
		<% unless single_post? %><span class="post_comments"><%= link_to t('comments_count', :count => post.comments.count ), post_path(:id => post, :post_section => current_section) %></span><% end %>
	</div>
	<!--<div class="post_tags">
		<%= post.tag_list.join ', ' %>
	</div>-->
</div>