<div class="post_small">
<h3 class="post_header cgothic">
<div class="post_section cgothic"><%= link_to post_small.post_section.name, { :controller => ('posts'), :post_section => post_small.post_section, :page => nil } %></div>

<%= link_to post_small.title, post_path(:id => post_small, :post_section => post_small.post_section) %></h3>

<div class="post_info">
	<%= link_to post_small.user.displayname, user_path(post_small.user) %> / <%= l(post_small.created_at, :format => 'short') %>
	<span class="post_comments"><%= link_to t('comments_count', :count => post_small.comments.count ), post_path(:id => post_small, :post_section => post_small.post_section) %></span>
</div>
</div>