<% content_for(:left) do %>
	<div id="leftmenu">
	<%- post_sections.each do |c| -%>
		<h2><%= link_to c.name, { :controller => ('posts'), :post_section => c.urlname, :page => nil }, (category_leftmenu_active?(params[:post_section], c.urlname)) %></h2>
	<%- end -%>
	</div>
<% end %>