<%= render :partial => 'section_menu', :locals => { :post_sections => @post_sections }  %>
<%= render :partial => 'community/community_header' %>
<h1 class="bigheader cgothic"><%= @current_section.name %></h1>
<div id="userpage-container">
<% if @current_section.urlname == 'late_autumn' %>
<p>Поздняя осень, пожалуй, самая неоднозначная пора. Кто-то в это время года грустит, кто-то путешествует, а кто-то наслаждается сменой погоды, наблюдая за естественным переходом лета в зиму. Так или иначе это хороший повод для лирики, который наводит на размышления о жизни, любви, удачах и неудачах и т.д.</p> 
<p>На протяжении недели у пользователей Face Gallery будет возможность поразмышлять на тему «Поздней осени». Победителем конкурса будет объявлен автор лучшего блога, по мнению представителей компании Johnnie Walker. Именно он станет почетным гостем на «Homemade Sweet Party», которая состоится 24 ноября в кафе «Пушкинъ», и получит в подарок  набор конфет от кондитерской «Пушкинъ», большую бутылку виски Johnnie Walker, а также дисконтную карту ресторанного дома Андрея Деллоса. При желании победитель сможет зачитать свое творение всем присутствующим.</p>
<p>Удачи!</p>
<% end %>
<% if @current_section.urlname == 'moscow' %>
<style>
body{
background: url(/i/moscow-bg.jpg) no-repeat center 122px;
}
</style>
<p>Если вы любите Москву так, как любим ее мы, участвуйте в конкурсе «Москва глазами BIO-пользователей Face Gallery: Авторские вечера в ЦДЛ» и отправьтесь вместе с нашей командой в удивительное путешествие во времена светских вечеров XIX столетия, эпоху классицизма и высоких литературных традиций.</p>
<p>Напишите свою уникальную историю о самом удивительном, на ваш взгляд, месте столицы, поделитесь неизвестными до сих пор фактами, откройте что-то новое, неизведанное другими, но до боли знакомое и близкое вам.</p>
<p>Сочинение должно представлять собой небольшой очерк о конкретном месте, здании или другой достопримечательности города, где в живой, интересной, а может быть, и необычной форме исторические факты будут перемежаться с вашим личным видением истории Москвы и современных тенденций ее развития.</p>
<p>Все участники конкурса «Москва глазами BIO-пользователей Face Gallery» примут участие в составлении интерактивной карты лучших мест столицы, на которой будут собраны все статьи наших блогеров. Лучшие очерки будут зачитаны авторами перед публикой на ежемесячном тематическом вечере в ресторане «ЦДЛ».</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=106165219320835510400.00048171cf2db9b2d2af8&amp;ll=55.741801,37.615814&amp;spn=0.27057,0.583649&amp;z=10&amp;output=embed"></iframe>
<% end %>
<% if logged_in? %>
<%= button_to t('.new_post'), {:action => 'new'}, {:method => :get, :id => 'new_post_btn'} %>
<% end %>
<%= will_paginate %>

<%= render :partial => 'post', :collection => @posts, :locals => { :current_section => @current_section } %>

</div>