<%= render :partial => 'section_menu', :locals => { :post_sections => @post_sections }  %>
<%= render :partial => 'community/community_header' %>
<% content_for(:head) do %>
<%= stylesheet_link_tag 'jquery.wysiwyg' %>
<%= javascript_include_tag 'jquery.wysiwyg' %>
<% end %>

<div id="userpage-container">
<h3><%= t('.write_new_post') %></h3>
<% form_for :post, Post.new, :url => posts_url, :html => {:id => 'post_form'} do |f| %>
  <p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %></p>
  <!--<%= f.label :tag_list %><br/>
  <%= f.text_field :tag_list %></p>-->
  <p>  <%= f.label :text %><br/>
  <%= f.text_area :text %>
  
  <script>
  $('#post_text').wysiwyg();
  </script>
  <p><%= submit_tag t('create_post') %></p>
<% end %>
</div>
