<%= render :partial => 'section_menu', :locals => { :post_sections => @post_sections }  %>
<%= render :partial => 'community/community_header' %>
<h1 class="bigheader cgothic"><%= t('community.left_menu.communication') %></h1>

<%= render :partial => 'post_small', :collection => @posts %>
