<%= render :partial => 'section_menu', :locals => { :post_sections => @post_sections }  %>
<%= render :partial => 'community/community_header' %>
<%= render :partial => 'post', :locals => { :current_section => @current_section, :post => @post } %>
<% if @current_section.urlname == 'moscow' %>
<style>
body{
background: url(/i/moscow-bg.jpg) no-repeat center 122px;
}
</style>
<% end %>
<%= render :partial => 'comments/comments', :locals => { :object => @post }  %>