<% if logged_in? -%>
    <div class="signin">
      <div class="content">
          <span class="name"><%= link_to_current_user :content_method => :displayname %></span>
          <% link_to user_path(current_user, :action => 'messages'), :title => t('.my_messages') do %>
          <span class="icon mailto"><%= current_user.messages.unread.count > 0 ? current_user.messages.unread.count : "&nbsp;" %></span>
          <% end %>
          <% link_to user_path(current_user, :action => 'friends'), :title => t('.my_friends') do %>
          <span class="icon people"><%= current_user.friend_invites_in.pending.count > 0 ? current_user.friend_invites_in.pending.count : "&nbsp;" %></span>
          <% end %>
          <%= link_to t('.logout'), logout_path, :class => 'sign-in-out'  %>
      </div>
      <div class="right-corner"></div>
    </div>
<% if controller.controller_name != 'magazine' and false %>
	<li id="locale_link"><% another_locale = I18n.locale.to_s=='ru' ? 'en' : 'ru' %>
		<%= link_to image_tag("/i/locale_#{another_locale}.png", :alt => t('locale_link') ), change_locale_url, { :title => t('locale_link') } %>
	</li>
<% end %>


<% else -%>
    <div class="signin">
          <div class="content">
            <% form_tag session_path do -%>
              <%= text_field_tag 'email', "email", :class => 'login' %>
              <%= password_field_tag 'password', "пароль", :class => 'password' %>

              <%= submit_tag 'Войти', :class => 'login-button' %>
              <% label_tag 'remember_me', t('.remember_me') %>
	          <% check_box_tag 'remember_me', '1' %>
            <% end %>
          </div>
          <div class="right-corner"></div>
    </div>
    <div class="signup">
          <a title="Регистрация" href="/registration">Регистрация</a>
    </div>
<% end -%>


<% if false %>
<a id="inl" href="#welcometext" style="display:none">welcome</a>
<div id="welcometext" style="display:none">
<div style="padding:15px;">
<a href="http://facegallery.ru/placegallery/daily_events/show/1824"><img src="/img/face2photo.jpg" style="float:left; margin-right:25px"></a>
<p><a href="http://facegallery.ru/placegallery/daily_events/show/1824"><h4 style="margin-top: -3px; margin-bottom: -5px;">FACE GALLERY SUNDAY. FACE to FACE</h4>
</a>
Полезное воскресенье<br>
</p>
<br> 
<p>26 сентября<br>
14:00<br>
Royal Bar</p>

<p><b><a href="http://facegallery.ru/placegallery/daily_events/show/1824" style="text-decoration:underline">Подробнее…</a></b></p>
<br>
<p>Все средства, собранные от продажи билетов и на территории мероприятия, будут переданы Фонду «Дело жизни», который занимается детьми с врожденными и приобретенными дефектами лица</p>

<p><br>
<b>ВНИМАНИЕ АКЦИЯ!</b><br>

<b>Купи 3 и более билетов для себя и своих друзей и получи со сцены специальный знак отличия от ведущих Ольги Шелест и Елены Усановой</b>
</p>

<p>Билеты можно приобрести в офисе Face Gallery по адресу: <b>Новинский б-р, д. 20А</b><br>
Телефон для справок: <b>+7 (495) 223-68-24</b></p>

</div>
</div>
<% if cookies[:seen_face_to_face].to_i != 1
cookies[:seen_face_to_face] = {
   :value => 1,
   :expires => 1.year.from_now,
   :domain => 'facegallery.ru'
 }
 %>
			<script type="text/javascript">
				$(document).ready(function() {
					$("#inl").fancybox({ 'hideOnContentClick': false, 'overlayShow':true, 'frameHeight':340, 'frameWidth':660 }).trigger('click');
				});
			</script>
<% end %>

<% end %>