
	<% form_for user, :url => "", :html => { :multipart => true }  do |f| %>
		<table border="0" cellpadding="0" cellspacing="0">
	   	<tr>
	    <td><div><div><%= f.label(:name) %></div><%= f.text_field :name %></div></td>
	    <td><div style="margin-left:10px"><div><%= f.label(:surname) %></div><%= f.text_field :surname %></div></td>
	   	</tr>
		</table>
		<table border="0" cellpadding="0" cellspacing="0">
	   	<tr>
		<td><p><%= f.label(:birthday) %><br><%= f.date_select :birthday, :order => [ :day, :month, :year ], :start_year => Time.now.year, :end_year => 1894, :include_blank => true, :default => { :day => nil, :month => nil, :year => nil } %></p></td>
	    <td><p style="padding-left:10px"><br><%= f.select :show_birthday, [ [t('user.edit_profile.date_full'), 0], [t('user.edit_profile.date_no_year'), 1], [t('user.edit_profile.date_hide'), 2] ], :selected => user.show_birthday %></p></td>
	   	</tr>
		</table>
	    <p>
	    <%= f.label(:city) %><br>
	    <%= f.text_field :city %>
	    </p>
	    <p>
	    <%= f.label(:gender) %><br>
      <%= f.select(:gender, [['Укажите пол', ''], ['Мужской', 'm'], ['Женский', 'f']]) %>
      </p>
	    <p>
	    <%= f.label(:phone) %><br>
	    <%= f.text_field :phone %>
	    </p>
	    <p>
	    <%= f.label(:education) %><br>
	    <%= f.text_field :education %>
	    </p>
	    <p>
	    <%= f.label(:occupation) %><br>
	    <%= f.text_field :occupation %>
	    </p>
	    <p>
	    <%= f.label(:interests) %><br>
	    <%= f.text_field :interests %>
	    </p>
	    <p>
	    <%= f.label(:quote) %><br>
	    <%= f.text_field :quote %>
	    </p>
	    <p><%= f.label(:avatar) %><br>
	    <%= f.file_field :avatar, :size => 25 %><br>
		*<%= t('user.edit_photo.choose_photo_blabla')%>
		</p>
		<p><%= t('.after_continue') %></p>
		<p>
	    <%= submit_tag t('continue') %>
		</p>
	<% end %>