<h1 class="bigheader cgothic"><%= t('users.new.registration') %></h1>

<p>
Thank you for registering!
</p>
<p>There's just one step left - you need to activate your account.<br>
A message was sent to the email you specified during your registration. This message contains a confirmation link you need to follow to accomplish the registration process.</p>
<p>
If you don't receive this message for some reason or you have any other technical problems, please contact our <a href="/fb/">tech support</a>.
</p>