<h1 class="bigheader cgothic"><%= t('users.new.registration') %></h1>

<p>
Спасибо за регистрацию на сайте!
</p>
<p>Остался еще один маленький шаг - необходимо активировать Ваш аккаунт.<br>
На email-адрес, который Вы указали при регистрации, выслано письмо со ссылкой, по которой необходимо перейти, чтобы завершить процесс регистрации.</p>
<p>
Если по каким-либо причинам письмо не приходит, или возникли какие-то другие технические сложности, пожалуйста, обратитесь в службу <a href="/fb/">технической поддержки</a>.
</p>