<h2><%= t('.registration') %></h2>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user, :header_message => nil %>
<% form_for :user, :url => users_path do |f| -%>
<%= hidden_field :invite, :code if @invite %>

<p><%= label_tag 'name', t('activerecord.attributes.user.name') %><br/>
<%= f.text_field :name %></p>

<p><%= label_tag 'surname', t('activerecord.attributes.user.surname') %><br/>
<%= f.text_field :surname %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password', t('activerecord.attributes.user.password') %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', t('.confirm_password') %><br/>
<%= f.password_field :password_confirmation %></p>
<p><%= t('.all_fields_required') %></p>
<p><%= t('.need_activation_message') %><!--После регистрации на указанный email-адрес придет письмо со ссылкой, по которой нужно перейти, чтобы активизировать Ваш аккаунт.--></p>
<p><%= submit_tag t('.sign_up_button') %></p>
<% end -%>
