<h2>Добро пожаловать!</h2>

<p><%= current_user.name %>, поздравляем с успешной регистрацией на сайте FaceGallery!</p>
<p>Ниже Вы можете добавить информацию, которая расскажет о Вас членам сообщества FaceGallery. Позднее у Вас будет возможность отредактировать ее в Вашем профайле.</p>

<%= error_messages_for :current_user, :header_message => nil %>
<%= render :partial => 'welcome_form', :locals => { :user => current_user } %>

<p>Также Вы можете ознакомиться с <a href="/guide" target="_blank">путеводителем по сайту</a>.</p>