<h1 class="bigheader cgothic">Welcome!</h1>

<p><%= current_user.name %>, congratulations on registering with FaceGallery!</p>
<p>Below you can enter info to tell about yourself to members of the FaceGallery community. You can always change this information in your personal profile.</p>

<%= error_messages_for :current_user, :header_message => nil %>
<%= render :partial => 'welcome_form', :locals => { :user => current_user } %>