<div class="bottom-menu">
	<div class="section">
		<h3><a href="/bio">BIO-сообщество</a><b></b></h3>
		<ul>
			<li><a href="#">BIO</a></li>
			<li><a href="#">Комьюнити</a></li>
			<li><a href="#">Посты</a></li>
			<li><a href="#">Пользователи</a></li>
			<li><a href="#">Комментарии</a></li>
		</ul>
	</div>
	<div class="section">
		<h3><a href="/tribune">Трибуна</a><b></b></h3>
		<ul>
			<li><a href="#">Event</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Фоторепортажи</a></li>
			<li><a href="#">Фото</a></li>
			<li><a href="#">Видео</a></li>
		</ul>
	</div>
	<div class="section">
		<h3><a href="/life">FG Life</a><b></b></h3>
		<ul>
			<li><a href="#">Заведения</a></li>
			<li><a href="#">Магзины</a></li>
			<li><a href="#">Клубы</a></li>
			<li><a href="#">Акции</a></li>
			<li><a href="#">Скидки</a></li>
		</ul>
	</div>
	<div class="section">
		<h3><a href="#">Интервью</a><b></b></h3>
		<ul>
			<li><a href="#">Event</a></li>
			<li><a href="#">Новости</a></li>
			<li><a href="#">Фоторепортажи</a></li>
			<li><a href="#">Фото</a></li>
			<li><a href="#">Видео</a></li>
		</ul>
	</div>
</div>