<div class="sidebar-right">
  <div id="daily-events-calendar">
    <div style="font-size:34px; left:84px; top:0px;">
      <a href="#">19</a>
    </div>
    <div style="font-size:32px; left:149px; top:25px;">
      <a href="#">20</a>
    </div>
    <div style="font-size:31px; left:186px; top:80px;">
      <a href="#" class="selected">21</a>
    </div>
    <div style="font-size:29px; left:185px; top:143px;">
      <a href="#">22</a>
    </div>
    <div style="font-size:28px; left:151px; top:192px;">
      <a href="#">23</a>
    </div>
    <div style="font-size:27px; left:98px; top:211px;">
      <a href="#">24</a>
    </div>
    <div style="font-size:25px; left:46px; top:198px;">
      <a href="#">25<sup>*</sup></a>
    </div>
    <div style="font-size:24px; left:14px; top:160px;">
      <a href="#">26</a>
    </div>
    <div style="font-size:22px; left:9px; top:113px;">
      <a href="#">27</a>
    </div>
    <div style="font-size:21px; left:30px; top:75px;">
      <a href="#">28</a>
    </div>
    <div style="font-size:20px; left:66px; top:57px;">
      <a href="#">29<sup>*</sup></a>
    </div>
    <div style="font-size:18px; left:103px; top:63px;">
      <a href="#">30</a>
    </div>
    <div style="font-size:17px; left:127px; top:87px;">
      <a href="#">31</a>
    </div>
    <div style="font-size:15px; left:133px; top:117px;">
      <a href="#">1<sup>*</sup></a>
    </div>
    <div style="font-size:14px; left:121px; top:142px;">
      <a href="#">2</a>
    </div>
  </div>
  <div class="soon-event">
    <a href="#">
      <img src="/i/shared/photo-1.jpg"/>
    </a>
    <div>
      <p class="date">03 декабря, 16:00</p>
      <p><a href="#">Поздний завтрак:<br/>
        В погоне за удачей</a></p>
    </div>
  </div>
  <div class="right-banner"></div>
  <script type="text/javascript" language=javascript>
      new adriver ("rightbanner", {sid:133467, bt:52, pz:2, bn:2 })
  </script>
  <div class="section advice">
    <h3>Совет дня<b></b></h3>
    <p class="quote">« Если казаться не тем, кто ты есть на самом деле, можно получить не ту работу, не тех друзей и вообще не ту жизнь. »</p>
    <div><img src="/i/shared/photo-9.jpg"/><b></b></div>
    <p>Конфуций</p>
  </div>
</div>