<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body {
	padding:0 20px;
	font-family: arial;
}
a{
    color:#7452B9;
}
</style>
<title>FaceGallery::Administration</title>
<% javascript_include_tag :defaults %>
<%= javascript_include_tag 'prototype', 'effects', 'controls' %>
<%= javascript_include_tag 'jquery', 'jquery-ui','jrails', 'swfupload', 'swfu-plugins/swfupload.cookies', 'swfu-plugins/swfupload.queue', 'swfu-plugins/swfupload.speed', 'swfu-plugins/swfupload.swfobject', 'swfu-plugins/fileprogress', 'swfu-plugins/handlers' -%>
<%= javascript_include_tag "markitup/jquery.markitup" %>
<%= javascript_include_tag "markitup/sets/html/set" %>
<%= javascript_include_tag :fckeditor %>
<link rel="stylesheet" type="text/css" href="/javascripts/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/javascripts/markitup/sets/html/style.css" />
<script type="text/javascript">
  jQuery.noConflict();
</script>

<%= active_scaffold_includes %>
<%= stylesheet_link_tag 'active_scaffold_overrides' %>
</head>
<body>
<h1>FaceGallery Administration</h1>
<style>
  #adminnav{
      overflow:hidden;
  }
  #adminnav a{
      float:left;
      padding-right:15px;
      padding-bottom:5px;
  }
</style>
<div id="adminnav">
<%= link_to('Bio', :controller => 'bios') %>
<%= link_to('Пользователи', :controller => 'users') %>
<%= link_to('Афиша дня', :controller => 'daily_events') %>
<%= link_to('Места', :controller => 'places') %>
<%= link_to('Категории мест', :controller => 'place_categories') %>
<%= link_to('Афиша', :controller => 'events') %>
<%= link_to('Репортажи', :controller => 'reports') %>
<%= link_to('Статьи журнала', :controller => 'magazine_articles') %>
<%= link_to('Интервью в журнале', :controller => 'magazine_interviews') %>
<%= link_to('Документы (подвал, fgc и все такое)', :controller => 'documents') %>
<%= link_to('Обратная свяzь', :controller => 'feedback') %>
<%= link_to('Новости', :controller => 'news_items') %>
<%= link_to('Лучшие блогеры', :controller => 'best_bloggers') %>
<%= link_to('Редактора', :controller => 'editors') %>
<%= link_to('Желающие зарегистрироваться', :controller => 'register_applications') %>
<%= link_to('BIO конкурс', :controller => 'fg_contest_questions') %>
<%= link_to('FG рекомендует', :controller => 'fg_recommendations') %>
<%= link_to('Гости недели', :controller => 'fg_guests') %>
<%= link_to('Log out', logout_path) %>
</div>
<%=yield%>
</body>
</html>