<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  	<title>FaceGallery</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta property="og:title" content="Новый СT 200h. Тихо! Революция начинается." />
	<meta property="og:description" content="Новый CT 200h для водителей будущего, думающих о завтрашнем дне." />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://facegallery.ru/" />
	<meta property="og:image" content="http://facegallery.ru/img/lexus-like.jpg" />
	<meta property="og:site_name" content="FaceGallery" />
	<meta property="fb:admins" content="645463481" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?1" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico?1" />
	<%= stylesheet_link_tag 'reset', 'layout', 'style' %>
	<%= javascript_include_tag 'adriver_async', 'jquery-1.6.4.min', 'ajax', 'jquery.cycle.all.min', 'script', 'slideshow-init', 'jquery.placeholder.min', 'placeholder-init', 'jquery.jcarousel.min', 'carousel-init', 'autoresize.jquery', 'autoresize-init', 'profile-edit', 'jquery.flash.min', 'agile-uploader-3.0', :cache => 'all_w' %>
	<!--[if lte IE 6]>
		<%= stylesheet_link_tag 'ie6' %>
	<![endif]-->
<%= yield :head %>
</head>

<body>
<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " flash_message"], :id => "notice_#{key}" %>
    <% content_tag :script, :type => 'text/javascript' do -%>
        //setTimeout("$('#notice_<%= key %>').fade();", 15000);
    <% end %>
<% end %>

<div id="wrapper">
	<div id="header">
		<%= face_list %>
		<%= render :partial => 'layouts/top_menu'  %>
	</div>
    <div id="container" class="sidebar-right">
	    <%= yield :layout %>
        <%= render :partial => 'layouts/right_sidebar'  %>
    </div>
	<div class="clear"></div>
</div>
<div id="footer">
	<%= render :partial => 'layouts/bottom_menu'  %>
	<div class="video">
		<a href="#">
			<img src="/i/shared/photo-2.jpg"/>
		</a>
		<div>
			<a href="#">Видео-презентация Face Gallery: «Кто мы такие и что тут делать?»</a>
		</div>
	</div>
	<ul class="social-btns">
		<li><a href="#"><img src="/i/facebook.gif"/></a></li>
		<li><a href="#"><img src="/i/vkontakte.gif"/></a></li>
		<li><a href="#"><img src="/i/tweet.gif"/></a></li>
	</ul>
	<div class="copyright">
		&copy; Face Gallery, 2011
	</div>
	<div class="counters">
		<a href="#"><img src="/i/counter.gif"/></a>
	</div>
	<div class="copyright-text">
		Копирование материалов разрешено с наличием активной ссылки на источник, все права на материалы принадлежаит их авторам.
	</div>
</div>
<%= render :partial => 'users/auth_popup'  %>
</body>
</html>