﻿<img src="http://facegallery.ru/i/mail/letter-event.jpg" alt="Event">

<h4>GIRLS ONLY!!!</h4>

<p>Совместно с брендом Redd’s мы решили подарить молодым участницам нашего сообщества несколько часов погружения в мир fashion бизнеса, где практически каждая сможет на минуту почувствовать себя в центре внимания, под прицелом объектива модного фотографа.</p>

<p><b>В пятницу 18 ноября</b> мы соберем юных представительниц прекрасного пола из сообщества Facegallery.ru в модном магазине американских брендов <a href="http://www.madein-usa.ru/">Made in USA</a> (ЦСИ Винзавод) на fashion-art вечеринку, где каждая гостья сможет не только примерить на себя новый образ в исполнении Fen Dry Bar и сделать маникюр от салона Daily Colors, но и провести десяток минут перед объективом обаятельного фотографа Сережи Полищука, примерив что-то из американских брендов и зарядившись свежестью пива Redd’s и энергией DJ-сета <a href="http://facegallery.ru/facegallery/culture/48-stas-demidyonok">Стаса Демидёнка</a>.</p>

<p>Подробнее о мероприятии:</p>
 
<p><a href="http://facegallery.ru/placegallery/daily_events/show/3857">http://facegallery.ru/placegallery/daily_events/show/3857</a></p>
