Поздравляем!

Ваше BIO размещено на сайте facegallery.ru
Теперь Вы можете зарегистрировать свой личный профайл, чтобы получить полный доступ ко всем возможностям сообщества FaceGallery.
Профайл автоматически свяжется с Вашим BIO. Если Вы уже регистрировались на сайте, Вам будет предложено связать Ваш существующий профайл с Вашим BIO.

Пожалуйста, перейдите по ссылке:
<%= @url %>