<img src="http://facegallery.ru/i/mail/letter-event.jpg" alt="Event">
<p><b>Уважаемые BIO-пользователи!</b></p>
<p>В разделе "FGC\Репортажи" появился фотоотчет о последнем мероприятии Face Gallery - поэтическом вечере Олега Груза. О том, как это было, вы можете узнать, пройдя по ссылке:</p>
<a href="http://facegallery.ru/placegallery/reports/show/20">http://facegallery.ru/placegallery/reports/show/20</a>

<p>С уважением, FaceGallery.</p>
