<% unless @questions.current_page > @questions.total_pages %>
<h1 class="bigheader cgothic">FG Анкета <span style="font-size:18px"><%= @questions.current_page %>/<%= @questions.total_pages %></span></h1>
<% if @questions.current_page == 1 %>
<p>Дорогие пользователи сайта! В своем развитии мы, проект Face Gallery, хотели бы учесть все ваши пожелания и предпочтения, поэтому мы разработали анкету, которая поможет нам двигаться в правильном направлении и нравиться вам еще больше. </p>
<p>Если вы хотите принять участие в судьбе нашего проекта, ответьте, пожалуйста, на следующие 20 вопросов. С вашей помощью мы сможем сформировать реальный портрет аудитории сайта и список пожеланий, которые впоследствии обязательно будут воплощены на Facegallery.ru</p>

<% end %>
<style>
#fg_survey_form .inp {
  width:250px;
}
#fg_survey_form textarea{
  width:250px;
  height:115px;
}
</style>
<% form_for :fg_survey, :url => url_for(:q => (@questions.current_page + 1)), :html => {:id=>'fg_survey_form'} do |f| %>
  <% @questions.each do |question| %>
  <p>
    <b><%= f.label question.id.to_s+"_question", question.question %></b><br>
    <% if question.options %>
      <% if question.checkbox == true %>
        <% question.options_hash.each do |key, value| %>
        <div><%= check_box :fg_survey,question.id.to_s+"_checked_"+key %>&nbsp;<%= f.label question.id.to_s+"_checked_"+key, value %> </div>
        <% end %>
      <% else %>
        <% question.options_hash.each do |key, value| %>
        <nobr><%= radio_button :fg_survey, question.id.to_s+"_question", key %>&nbsp;<%= f.label question.id.to_s+"_question", value %> </nobr>
        <% end %>
      <% end %>
    <% end %>

    <% if question.options.nil? || question.force_text_input == true %>
    <% if question.textarea == true %>
    <%= text_area_tag "fg_survey["+question.id.to_s+"_question]" %><br>
    <% else%>
    <%= "&nbsp;Другое<br>" if question.options && question.force_text_input && question.checkbox==true %>
    <%= text_field_tag "fg_survey["+question.id.to_s+"_question]", nil, :class => 'inp' %><br>
    <% end %>
    <% if question.disable_checkbox %>
    <%= check_box_tag "fg_survey["+question.id.to_s+"_question_nope]" %><%= f.label question.id.to_s+"_question_nope", question.disable_checkbox %>
    <% end %>
    <% end %>

  </p>
  <% end %>
<br>
  <%= f.submit "Продолжить" %>
<% end %>

<% else %>
<h1 class="bigheader cgothic">FG Анкета</h1>
<p>
  Спасибо за Ваше участие в опросе!
</p>
<p>
  Мы обязательно учтем Ваши предпочтения, и постараемся сделать FaceGallery удобнее и приятнее для Вас как online, так и offline!
</p>
<% end %>