<%= render :partial => 'fgc/fgc_menu' %>

<h2><%= link_to "Репортажи", { :controller => 'place_gallery/reports', :place_category => nil } %></h2>
<%= render :partial => 'place_gallery/reports/report_big', :locals => {:report_big => @top_report }%>
<div style="overflow:hidden"><%= render :partial => 'place_gallery/reports/report_list', :collection => @reports %></div>

<h2><%= link_to "Афиша", { :controller => 'place_gallery/events', :place_category => nil } %></h2>
<%= render :partial => 'place_gallery/events/event_big', :locals => {:event_big => @top_event }%>
<div style="overflow:hidden"><%= render :partial => 'place_gallery/events/event_list', :collection => @events %></div>