<h1 class="bigheader cgothic">Сброс пароля</h1>
<% form_for "password",
       :html => { :method => :put } do |f| -%>
<%= hidden_field_tag :reset_code, params[:id] %>
 
<p>
    <label for="password">Ваш новый пароль (минимум 6 символов):<label><br />
    <%= password_field_tag :password %>
</p>
 
<p>
    <label for="password_confirmation">Повторите пароль:</label><br />
    <%= password_field_tag :password_confirmation %>
</p>
 
  <%= f.submit "Сохранить новый пароль" %>
<% end -%>