<h1 class="bigheader cgothic">Восстановление пароля</h1>
<% form_tag url_for(:action => 'create') do %>
 
<p>
    <label for="email">Какой email-адрес Вы указывали при регистрации?</label>
    <%= text_field_tag :email, "", :size => 50 %><br />
</p>
 
    <p><%= submit_tag 'Сбросить пароль' %></p>
<% end %>