<div>
<%= link_to image_tag(interview_bigpic.interview_photo.url(:thumbnail)), magazine_interview_path(interview_bigpic) %>
<h4><%= link_to interview_bigpic.name, magazine_interview_path(interview_bigpic) %></h4>
<p><%= interview_bigpic.title %></p>
<div>
  <%= link_to interview_bigpic.comments.count, magazine_interview_path(interview_bigpic), :class => 'comment' if interview_bigpic.comments.count > 0%>
</div>
</div>