<% content_for :right do %>
<div class="interview-rightbar">
	<%= link_to image_tag(interview_rightbar.interview_photo(:thumbnail)), magazine_interview_path(interview_rightbar) %>
	<span><%= link_to interview_rightbar.name, magazine_interview_path(interview_rightbar) %></span>
</div>
<% end %>