<div class="article-small">
  <%= link_to image_tag(list_small.preview.url(:thumbnail)),  magazine_article_path({ :magazine_section => list_small.magazine_section, :id => list_small }) %>
  <p><%= link_to list_small.title,  magazine_article_path({ :magazine_section => list_small.magazine_section, :id => list_small }) %></p>
  <p class="author author-left"><%= display_author(list_small) %></p>
</div>