<div class="magazine-list-big">
  <%= link_to image_tag(list_big.preview.url),  magazine_article_path({ :magazine_section => list_big.magazine_section, :id => list_big }) %>
  <h3><%= link_to list_big.title,  magazine_article_path({ :magazine_section => list_big.magazine_section, :id => list_big }) %></h3>
  <p class="author author-left author-biglist"><%= display_author(list_big) %></p>
  <p><%= output_summary list_big %></p>
  <%= link_to list_big.comments.count,  magazine_article_path({ :magazine_section => list_big.magazine_section, :id => list_big }), :class => 'comment' %>


</div>
