<div class="event-entry afisha-div">
<%= link_to image_tag(news_list.news_preview.url),  magazine_article_path({ :magazine_section => news_list.magazine_section, :id => news_list }) %>
<h3><%= link_to news_list.title,  magazine_article_path({ :magazine_section => news_list.magazine_section, :id => news_list }) %></h3>
</div>