<% content_for(:right) do %>
<style>
.swiss-cont{
  overflow:hidden;
  margin-bottom:8px;
}
.swiss-pic{
  floaT:left;
  width:40px;
  margin-right:10px;
}
.swiss-link{
  margin-top:9px;
  float:left;
  width:200px;
}
div#swiss{
  margin-top:20px;
}
</style>
<div id="swiss">

<div class="swiss-cont">
  <div class="swiss-pic"><img src="/i/swiss/1.png"></div>
  <div class="swiss-link"><a href="http://ru.myswitzerland.com/ru/page.cfm/Home" target="_blank">Путеводитель по Швейцарии</a></div>
</div>

<div class="swiss-cont">
  <div class="swiss-pic"><img src="/i/swiss/2.png"></div>
  <div class="swiss-link"><a href="http://ru.myswitzerland.com/ru/page.cfm/travel" target="_blank">Welcome to Switzerland!</a></div>
</div>

<div class="swiss-cont">
  <div class="swiss-pic"><img src="/i/swiss/3.png"></div>
  <div class="swiss-link"><a href="http://ru.myswitzerland.com/ru/page.cfm/home/wellness" target="_blank">Позаботьтесь о здоровье</a></div>
</div>

<div class="swiss-cont">
  <div class="swiss-pic"><img src="/i/swiss/4.png"></div>
  <div class="swiss-link"><a href="http://ru.myswitzerland.com/ru/page.cfm/home/winter_new_seasons/winter_activeholiday" target="_blank">Зимние развлечения</a></div>
</div>
  
<% end %>