<%= render :partial => 'magazine/section_menu' %>
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<%= javascript_include_tag 'cufon-yui' %>
<%= javascript_include_tag 'KievitCyr-ExtraLightSC_400-KievitCyr-ExtraLightItaSC_italic_400.font' %>
    <script type="text/javascript">
        Cufon.replace('h1');
    </script>

<% end %>
<% content_for(:bottom) do %>
<script type="text/javascript"> Cufon.now(); </script>
<% end %>

<h1 class="magazine-article-header"><%= @letter.name if @letter.name %></h1>
<%= simple_format(@letter.text) %>