<% content_for :bottom do %>
<div id="flipper-container" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:50;background:white;">
</div>

<script>
$(document).ready(function(){
    $('#flipper-container').flash(
        {
          src: '/swf/pageflip_loader.swf',
          width: '100%',
          height: '100%',
		  wmode:'transparent',
		  quality:'high',
          flashvars: { 
		  	xmlurl: '<%= magazine_article_xml_path(:magazine_section => @current_section.urlname, :id => @article) %>',
			backurl: '<%= magazine_section_path(:magazine_section => @current_section.urlname) %>'
			}
        },
        { version: 9 }
    );
});
</script>
<% end %>