<%= render :partial => 'magazine/section_menu' %>
<% content_for :left do %>

<% if false %>
        <a href="/magazine/editors_letter"><img src="/img/editor_0111.jpg" alt="" /></a>

        <h5><a href="/magazine/editors_letter">Письмо редактора</a></h5>
        <p><%= shorten_text(@letter.text) %></p>
        <p class="author"><a href="/user/9">Ольга Буянова</a></p>
<% end %>


    <h3>Editor's choice</h3>
    <% @choice.each do |c| %>
        <div class="choice">
          <div>
            <%= link_to image_tag(c.preview.url), magazine_article_path({ :magazine_section => c.magazine_section, :id => c })%>

            <div>
              <span class="withback"><%= link_to c.title, magazine_article_path({ :magazine_section => c.magazine_section, :id => c })%></span>
            </div>
          </div>
          <p><%= output_summary c %></p>
        </div>
    <% end %>
<% end %>

<% content_for :right do %>
    <h4>BIO авторы</h4>
    <br>
    <% @bio_authors.each do |b| %>
    <div class="bio-authors">
      <%= image_tag(b.author.avatar.url(:small))%>
      <div>
        <h5><%= link_to b.title, magazine_article_path({ :magazine_section => b.magazine_section, :id => b })%></h5>

        <p><%= output_summary b %></p>
        <p class="author"><%= link_to b.author.displayname, user_path(b.author) %></p>
      </div>
    </div>
    <% end %>
  
  <div id="reports_right_column">
  <h4><%= link_to "Фоторепортажи", url_for(:controller => 'place_gallery/reports', :action => 'index') %></h4>
  <%= render :partial => 'place_gallery/reports/right_column_block', :locals => { :reports => Report.latest_for_small_block } %>
  </div>
<% end %>

<div id="magazine">
      <!--h1>Magazine</h1>-->
      <a href="http://facegallery.ru/magazine/fashion/393-dress-for-success"><img class="cover" src="/img/COVER0112.jpg" style="margin:0 auto" alt="" /></a>
     <!-- <div class="left">
        <a href="/magazine/interview/19-artem-korolev"><h2 class="pict" style="margin-bottom:-5px">Артем Королев</h2></a>
        <p class="citation"><img class="quot-left" src="/img/quot-left.png" alt="" /><a href="/magazine/interview/19-artem-korolev" style="text-decoration:none">Главное,<br />чтобы мои похороны<br />вела Ксения Собчак</a><img class="quot-right" src="/img/quot-right.png" alt="" /></p>

        <p class="author"><a href="/magazine/interview">Интервью</a></p>
        <div class="footer" style="margin-top:165px;">
          <h5><a href="/magazine/travel/113-putevye-zametki-egipet-bolshe-ni-nogoy" class="purple">ЕГИПЕТ:</a></h5>
          <p class="back"><a href="/magazine/travel/113-putevye-zametki-egipet-bolshe-ni-nogoy" class="white">Больше ни ногой!</a></p>
          <p class="author"><a href="/magazine/travel">Travel</a></p>
        </div>

      </div>
      <div class="right" style="top:127px;">
        <h3 class="color"><a class="purple" href="/magazine/fashion/116-punks-are-dead">Punks <br/>are Dead</a></h3>
        <p class="author"><a href="/magazine/fashion">Fashion</a></p>
        <div class="middle" style="margin-top:51px;">
          <h4><a href="/magazine/beauty/95-parfyumeriya-marsh-nesoglasnyh" class="purple">АНТИАРОМАТЫ:</a></h4>
          <h3 style="white-space: nowrap;"><a href="/magazine/beauty/95-parfyumeriya-marsh-nesoglasnyh">Марш<br/>несогласных</a></h3>

          <p class="author"><a href="/magazine/beauty">Beauty</a></p>
        </div>
        <div class="footer" style="margin-top:210px;">
          <h5><a href="/magazine/fusion/105-subkultury-idle-generation" class="purple">СУБКУЛЬТУРЫ:</a></h5>
          <h2><a href="/magazine/fusion/105-subkultury-idle-generation" style="text-decoration:none">Idle<br />Generation</a></h2>
          <p class="author"><a href="/magazine/fusion">Fusion</a></p>

        </div>
      </div>-->
    </div>

<div class="item interview">
     <a href="/magazine/interview/"><h1>Interview</h1></a>
  <table class="interviews" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <% @interviews.each do |i| %>
      <td>
        <%= link_to image_tag(i.interview_photo.url(:thumbnail)), magazine_interview_path(i) %>
        <h4><%= link_to i.name, magazine_interview_path(i) %></h4>
        <p><%= i.title %></p>
        <div>
          <%= link_to i.comments.count, magazine_interview_path(i), :class => 'comment' %>
        </div>
      </td>
      <% end %>
    </tr>
  </table>

</div>


<div class="item fusion">
     <a href="/magazine/fusion/"><h1>Fusion</h1></a>
  <%= render :partial => 'list_big', :locals => { :list_big => @fusion[0] } %>
  <div class="brief">
  <%= render :partial => 'list_small', :collection => @fusion[1..-1] %>
  </div>
</div>

<div class="item fashion">
    <a href="/magazine/fashion/"><h1>Fashion</h1></a>
  <%= render :partial => 'list_big', :locals => { :list_big => @fashion[0] } %>
  <div class="brief">
  <%= render :partial => 'list_small', :collection => @fashion[1..-1] %>
  </div>
</div>

<div class="item beauty">
     <a href="/magazine/beauty/"><h1>Beauty</h1></a>
<div id="magazine-previews">
</div>
<script>
$(document).ready(function(){
    $('#magazine-previews').flash(
        {
          src: '/swf/magazinepreviews.swf',
          width: 530,
          height: 350,
		  wmode:'transparent',
          flashvars: {
		  	xmlurl: '<%= magazine_section_xml_path(:magazine_section => @beauty_section.urlname) %>'
			<% if @beauty_section.articles_in_flash > 0 -%>
			, pics: <%= @beauty_section.articles_in_flash -%>
			<% end -%>
			<% if @beauty_section.cols_in_flash > 0 -%>
			, columns: <%= @beauty_section.cols_in_flash -%>
			<% end -%>
			<% if @beauty_section.picwidth > 0 -%>
			, picwidth: <%= @beauty_section.picwidth -%>
			<% end -%>
			<% if @beauty_section.picheight > 0 -%>
			, picheight: <%= @beauty_section.picheight -%>
			<% end -%>
			}
        },
        { version: 9 }
    );
});
</script>
</div>

<div class="item travel">
     <a href="/magazine/travel/"><h1>Travel</h1></a>
  <%= render :partial => 'list_big', :locals => { :list_big => @travel[0] } %>
  <div class="brief">
  <%= render :partial => 'list_small', :collection => @travel[1..-1] %>
  </div>
</div>
