<%= render :partial => 'magazine/section_menu' %>
<%= render :partial => 'interview_rightbar', :collection => @more_interviews %>

<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<%= javascript_include_tag 'cufon-yui' %>
<%= javascript_include_tag 'KievitCyr-ExtraLightSC_400-KievitCyr-ExtraLightItaSC_italic_400.font' %>
    <script type="text/javascript">
        Cufon.replace('h1');
    </script>

<% end %>

<h1 class="magazine-article-header" style="padding-bottom:0;margin-bottom:0;"><%= @interview.name %><% if @interview.quote %>:<% end %></h1>
<% if @interview.quote %>
<h3 id="interview-quote">"<%= @interview.quote %>"</h3>
<% end %>
<% if @interview.author %>
<div class="author">
<%= t('magazine_author') %> <span><%= link_to @interview.author.displayname, user_path(@interview.author) %></span>
</div>
<% elsif @interview.author_name && !@interview.author_name.empty? %>
<div class="author">
<%= t('magazine_author') %> <span><%= @interview.author_name %></span>
</div>
<% end %>
<div id="interview-container">
<%= will_paginate @article_pages %>

<% if params[:page].to_i < 2 %>
<div id="interview-topblock">
	<div id="interview-preface">
	<div id="interview-photo"><%= image_tag(@interview.interview_photo.url(:small)) %></div>	
	<%= @interview.preface %></div>
</div>
<% end %>

<div>
	<%= simple_format(text_parse_codes( @interview.text_page(params[:page]) , @interview.article_images)) %>
</div>
<%= will_paginate @article_pages %>
<div style="height:20px"></div>
</div>
<%= render :partial => 'comments/comments', :locals => { :object => @interview }  %>