<%= render :partial => 'magazine/section_menu' %>

<h2>Interview</h2>
<div class="interviews" style="width:auto">
<%= render :partial => 'interview_bigpic', :collection => @interviews %>
</div>

<%= will_paginate @interviews %>