<% if @current_section %><%= render :partial => 'magazine/section_menu' %><h2><%= @current_section.name %></h2><%= will_paginate @articles %><div class="magazine-inner-list"><%= render :partial => 'list_big', :collection => @articles %></div><%= will_paginate @articles %><% end %>