<%= render :partial => 'magazine/section_menu' %>
<% if @current_section %>
<h1 class="bigheader cgothic"><%= @current_section.name %></h1>
<div class="placegallery-list">
<%= render :partial => 'news_list', :collection => @articles %>
</div>
<% end %>
