<%= render :partial => 'magazine/section_menu' %>
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<%= javascript_include_tag 'cufon-yui' %>
<%= javascript_include_tag 'KievitCyr-ExtraLightSC_400-KievitCyr-ExtraLightItaSC_italic_400.font' %>
    <script type="text/javascript">
        Cufon.replace('h1');
    </script>

<% end %>
<% content_for(:bottom) do %>
<script type="text/javascript"> Cufon.now(); </script>
<% end %>
<% if @current_section and false%>
<div class="breadcrumbs-div"><span class="top-sectionlink"><%= link_to @current_section.name, magazine_section_path(:magazine_section => @current_section.urlname) %></span></div>
<% end %>
<h1 class="magazine-article-header"><%= @article.title if @article.title %></h1>
<% if @article.author %>
<div class="author">
<%= t('magazine_author') %> <span><%= link_to @article.author.displayname, user_path(@article.author)%></span>
</div>
<% elsif @article.author_name && !@article.author_name.empty? %>
<div class="author">
<%= t('magazine_author') %> <span><%= @article.author_name %></span>
</div>
<% end %>

<% content_for(:left) do %>
<div class="more_articles">
<h4><%= link_to "Еще почитать:", magazine_section_path%></h4>
<%= render :partial => 'list_small', :collection => @more_articles %>
</div>
<% end %>

<% content_for :right do %>
    <% if @latest_comments && @latest_comments.length > 0 %>
    <%= render :partial => 'user/latest_comments', :locals => {:comments => @latest_comments} %>
    <% end %>
<% end %>

<%= will_paginate @article_pages %>

<div id="magazine-content" style="<%= "background-image:url(#{@article.background.url})" if @article.background %>">
	<%= simple_format(text_parse_codes( @article.text_page(params[:page]) , @article.article_images)) %>
</div>
<% if @article.flipping_article != true and @article.article_page_images.count > 0%>
    
    <% @article.article_page_images.each do |i| %>
        <div style="padding-bottom:20px;">
        <div style="padding-bottom:10px;">
          <%= link_to image_tag(i.image.url(:small)), i.image.url, :rel => 'gal', :class => 'photo_link' %>
        </div>
          <%= simple_format(i.text) %>
        </div>
    <% end %>
    <script type="text/javascript">
		$(document).ready(function() {
			$(".photo_link").fancybox();
		});
	</script>
<% end %>

<%= will_paginate @article_pages %>
<div style="height:20px"></div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".magazine-pic-link").fancybox();
	});
</script>
<%= render :partial => 'comments/comments', :locals => { :object => @article }  %>

<% if @article.flipping_article == true %>

<% content_for :bottom do %>
<div id="flipper-container" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:50;background:white;">
</div>
<% end %>
<script>
$(document).ready(function(){
    $('#flipper-container').flash(
        {
          src: '/swf/pageflip_loader.swf',
          width: '100%',
          height: '100%',
		  wmode:'transparent',
		  quality:'high',
          flashvars: { 
		  	xmlurl: '<%= magazine_article_xml_path(:magazine_section => @current_section.urlname, :id => @article) %>',
			}
        },
        { version: 9 }
    );
});
</script>
<% end %>
