	<% photo_gallery.each_with_index do |p, index| %>
	<li><div class="content"><%= link_to image_tag(p.report_photo.url(:thumbnail)), url_for(:action => 'view_image', :image_id => p.id), :rel => 'gallery', :class => ((index+2) %5 == 0 ? 'photo_link gal_photo_offset' : 'photo_link') %></div></li>
	<% end %>