<div class="report">
      <%= link_to image_tag(report_big.picture.url),  report_path({ :action => "show", :id => report_big.id }) %>
      <h3><%= link_to report_big.name,  report_path({ :action => "show", :id => report_big.id }) %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if report_big.fgc == true %></h3>
      <p class="date"><%= l(report_big.date.to_date) %>
      <% if report_big.place %>
      / <%= link_to report_big.place.name, place_path(:id => report_big.place, :place_category => report_big.place.place_category) %>
      <% end %>
      </p>

      <%= simple_format(shorten_text(report_big.description)) %>
</div>