<div class="report-list">
  <%= link_to image_tag(report_list.picture.url(:thumbnail)),  report_path({ :action => "show", :id => report_list.id }) %>
  <p><span class="time"><%= l(report_list.date.to_date) %> </span><%= link_to report_list.name,  report_path({ :action => "show", :id => report_list.id }), :class => 'text' %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if report_list.fgc == true %></p>
</div>
