<% reports.each_with_index do |report, index| %>
  <div class="item back">
    <%= link_to image_tag(report.picture.url(:mainpage)), report_url(report) %>

    <div>
      <p><%= link_to report.name, report_url(report) %></p>
    </div>
  </div>
  <% end %>
