<div class="friends">
  <p><%= "На мероприятии были:" %></p>
  <% users.each do |f| %>
      <%= link_to image_tag(f.avatar.url(:small)), user_path(f), :title => f.displayname %>
  <% end %>
</div>