<%= render :partial => 'magazine/section_menu' %>
<h2>Светская хроника</h2>
<%= render :partial => 'report_big', :locals => { :report_big => @top_report } unless params[:page].to_i > 1%>
<div class="placegallery-list">
<%= render :partial => 'report_list', :collection => @reports %>
</div>

<%= will_paginate @reports %>
