<%= render :partial => 'magazine/section_menu' %>
<h2><%= link_to "Светская хроника", { :controller => 'place_gallery/reports', :place_category => nil } %></h2>
<div class="report">
      <%= image_tag(@report.picture.url) %>
      <h3><%= @report.name %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if @report.fgc == true %></h3>
      <p class="date"><%= l(@report.date.to_date) %>
      <% if @report.place %>
      / <%= link_to @report.place.name, place_path(:id => @report.place, :place_category => @report.place.place_category) %>
      <% end %>
      </p>

      <%= simple_format(@report.description) %>
</div>

<% if @report.report_photos %>
    <ul id="sortable_photos">
	<%= render :partial => 'photo_gallery', :locals => { :photo_gallery => @report.report_photos } %>
    </ul>
<% end %>


<%= render :partial => 'comments/comments', :locals => { :object => @report }  %>

<% content_for :left do%>
<% if @users_on_event && @users_on_event.length > 0 %>
        <%= render :partial => 'users_on_event', :locals => {:users => @users_on_event} %>
<% end %>
<% end %>