<%= render :partial => 'magazine/section_menu' %>
<h2><%= link_to "Светская хроника", { :controller => 'place_gallery/reports', :place_category => nil } %></h2>
<% content_for :head do %>
    <%= javascript_include_tag 'jquery.Jcrop.min' %>
    <%= stylesheet_link_tag 'jquery.Jcrop' %>
<% end %>
<div id="userpage-container">
<h3><%= link_to @report.name, url_for(:action => 'show') %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if @report.fgc == true %></h3>
      <p class="date"><%= l(@report.date.to_date) %>
      <% if @report.place %>
      / <%= link_to @report.place.name, place_path(:id => @report.place, :place_category => @report.place.place_category) %>
      <% end %>
      </p>


<div id="user-gallery-nav" style="text-align:right">
<%= link_to image_tag("/img/photo-zoom.png", :alt=>"Увеличить"), @current_image.report_photo.url(:original_w), :class=> 'original_photo_link', :title => "Увеличить" %>
<% if logged_in? %>
<%= link_to_function image_tag("/img/photo-tag.png", :alt=>"Отметить на фото"), 'startTagging()', :class=> '', :title=>"Отметить на фото" %>
<% end %>
</div>

<table cellpadding="0" cellspacing="0" border="0" width="100%" id="photo-table">
<tr>
<td width="49%">
<% if @current_image.higher_item %>
<%= link_to "&nbsp;", report_photo_path(:id=>@current_image.higher_item.report.id, :image_id=>@current_image.higher_item.id), :title=>'Предыдущее фото', :class => 'photo-navlink photo-prev' %>
<% end %>
</td>
<td align="center">
  <div id="image_container">
  <div id="photo_tags" style="position:absolute">
    <% @current_image.photo_tags.each do |t| %>
    <%= content_tag "div", content_tag("span", t.displayname), :class => 'tag_area', :id => "photo_tag_#{t.id}", :style => "top:#{t.y}px;left:#{t.x}px;width:#{t.w}px;height:#{t.h}px;display:none;" %>
    <% end %>
  </div>
  <%= image_tag(@current_image.report_photo.url(:small_w), :class => 'taggable_photo') %>
  <div id="tagging_container" style="position:absolute;overflow:hidden;width:240px;height:369px;background:url(/img/photo-tag-bg.png) no-repeat top left;display:none;text-align:left;z-index:300;">
  <input id="inline_search" class="dottedform" style="border-top: none; margin-left: 17px; margin-top: 13px; width: 206px;" value="Поиск">
  <div id="taggable_users" style="overflow:auto;height:265px;margin:10px 16px;">
  </div>
  <center><%= button_to_function "Отмена", 'cancelTagging()' %></center>
  </div></div>
</td>
<td width="49%">
<% if @current_image.lower_item %>
<%= link_to "&nbsp;", report_photo_path(:id=>@current_image.lower_item.report.id, :image_id=>@current_image.lower_item.id), :title=>'Следующее фото', :class => 'photo-navlink photo-next' %>
<% end %>
</td>
</tr>
</table>

<% if @current_image.photo_tags.length > 0 %>
<div id="tagged-people">
  На фото
<% onphoto_array = @current_image.photo_tags.collect do |t|
   link_to(t.displayname, user_path(t.person_taggable), :tag_id => t.id, :class => 'photo_tag_user_link') + ( (logged_in? and (t.person_taggable == current_user or t.tagger_id == current_user.id)) ? " (" + link_to("удалить", url_for(:controller => '/photo_tags', :action => :delete, :id => t.id), :confirm => "Удалить отметку?") + ")": "")
 end %>
<%= onphoto_array.to_sentence %>
</div>
<% end %>



	<script type="text/javascript">
		var tagPhotoTop;
        var tagPhotoLeft;
        var jcrop_api;
        var tagCoords = new Object;
        var photo_taggable_id = <%= @current_image.id %>;
        var photo_taggable_type = '<%= @current_image.type %>';

        $(document).ready(function() {
			$(".original_photo_link").fancybox();
            tagPhotoLeft = $('.taggable_photo').position().left;
            tagPhotoTop = $('.taggable_photo').position().top;
            $("div.tag_area").live("mouseover", function(){ $(this).css('visibility', 'visible'); });
            $("div.tag_area").live("mouseout", function(){ $(this).css('visibility', 'hidden'); });

            $("a.photo_tag_user_link").live("mouseover", function(){ $('div#photo_tag_' + $(this).attr('tag_id')).show(); });
            $("a.photo_tag_user_link").live("mouseout", function(){ $('div#photo_tag_' + $(this).attr('tag_id')).hide(); });
		});


	</script>
<%= render :partial => 'comments/comments', :locals => { :object => @current_image }  %>

</div>

<% content_for :left do%>
<% if @users_on_event && @users_on_event.length > 0 %>
        <%= render :partial => 'users_on_event', :locals => {:users => @users_on_event} %>
<% end %>
<% end %>