<% unless comment.deleted == true %>
  <li>
    <div class="author-info">
      <%= link_to (image_tag comment.user.avatar.url(:small), :style=>'width:25px; heigt:25px;'), user_path(comment.user) %>
      <%= link_to comment.user.displayname, user_path(comment.user), :class => 'name' %>
    </div>
    <div class="comment-border"></div>
    <% if logged_in? %>
      <a href="#" class="answer">Ответить</a>
    <% end %>
    <div class="comment-content">
      <p><%= simple_format(convert_links( strip_tags(comment.body))) %> <span class="date"><%= time_ago_in_words(comment.created_at) %> <%= t '.ago' %></span></p>
    </div>
    <% if logged_in? %>
      <div class="answer-form">
        <form method="get">
          <textarea name=""></textarea>
          <input type="submit" value="Добавить" class="add-btn"/>
        </form>
      </div>
    <% end %>
    <% if comment.has_children? %>
      <ul>
        <%= render :partial => 'comments/comment', :collection => comment.children %>  
      </ul>
    <% end %>
  </li>
<% end %>
