<h3><%= ((defined? comments_text) ? comments_text : t('.comments') ) if object.comment_threads.count > 0 %><b></b></h3>
<% if object.root_comments.count > 0 %>
	<ul class="comment">
		 <%= render :partial => "comments/comment", :collection => (( (defined? reverse) && (reverse==true)) ? object.root_comments.reverse : object.root_comments) %>  
	</ul>	
<% end %>