<h2>Регистрация</h2>

<p>Привет!</p>

<p>Facegallery.ru – это закрытое сообщество.</p>

<p>Вы зашли в анкету-заявку на получение регистрации на нашем сайте. Прекрасно! Это говорит о том, что вы хотите стать нашим пользователем.</p>

<p>Мы очень внимательны к людям, составляющим коммьюнити Face Gallery, и очень хотим, чтобы каждый чувствовал себя максимально комфортно на сайте. Поэтому мы попросим вас заполнить предложенную Анкету, используя максимально развернутые ответы.</p>

<p>Мы хотим знать о вас как можно больше, прежде чем примем решение включить вас в ряды пользователей сайта.</p>

<p>Если вы нам подходите, в скором времени мы вышлем вам ссылку-приглашение к регистрации.</p>

<p>Спасибо за понимание!</p>
<style>
  form#register_form label {
      display:block;
  }
  div.form_item{
      padding-bottom:15px;
  }
  form#register_form textarea{
      height:80px;
      width:375px;
  }
  body.c-register_applications div#errorExplanation ul{
      list-style-type:disc;
      font-size:1.4em;
      padding-left:15px;
      padding-bottom:15px;
  }
</style>
<p>
<%= error_messages_for :register_application, :header_message => nil %>
</p>

<% form_for (controller.action_name == 'index' ? RegisterApplication.new : :register_application), :html => {:multipart => true, :id => 'register_form'} do |f| %>
<table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:15px;">
<tr>
<td>
<%= f.label :name %>
</td>
<td>
<%= f.label :surname %>
</td>
</tr>
<tr>
<td style="padding-right:15px;">
<%= f.text_field :name %>
</td>
<td>
<%= f.text_field :surname %>
</td>
</tr>
</table>
<div class="form_item">
  <%= f.label :birthday %>
  <%= f.date_select :birthday, :order => [ :day, :month, :year ], :start_year => Time.now.year, :end_year => 1894, :include_blank => true, :default => { :day => nil, :month => nil, :year => nil } %>
</div>
<div class="form_item">
  <%= f.label :city %>
  <%= f.text_field :city %>
</div>
<div class="form_item">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="form_item">
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</div>
<div class="form_item">
  <%= f.label :education %>
  <%= f.text_field :education %>
</div>
<div class="form_item">
  <%= f.label :work_area %>
  <%= f.text_field :work_area %>
</div>
<div class="form_item">
  <%= f.label :company %>
  <%= f.text_field :company %>
</div>
<div class="form_item">
  <%= f.label :achievements %>
  <%= f.text_area :achievements %>
</div>
<div class="form_item">
  <%= f.label :interests %>
  <%= f.text_area :interests %>
</div>
<div class="form_item">
  <%= f.label :why %>
  <%= f.text_area :why %>
</div>
<div class="form_item">
  <%= f.label :photo %>
  <%= f.file_field :photo %><br />
  <p>Просьба прилагать ваше реальное фото, так как его отсутствие или вариации с плюшевыми мишками, мультгероями, моделями и т.д. являются для нас поводом отказать вам в регистрации.</p>
</div>
<p><small>* Редакция оставляет за собой право отказать в получении регистрации</small></p>
<div class="form_item">
  <%= f.label "Пожалуйста введите два слова с картинки" %>
  <%= recaptcha_tags %><br />
</div>
<p>
  <%= f.submit "Отправить анкету" %>
</p>

<% end %>