<% content_for(:left) do %>
	<ul class="menu">
		<li><%= link_to 'Interview', magazine_section_path( :magazine_section => 'interview' ), (leftmenu_active?(:controller_name => 'interview')) %></li>
		<li><%= link_to 'Fusion', magazine_section_path( :magazine_section => 'fusion' ), (leftmenu_active?(:controller_name => 'fusion')) %></li>
		<li><%= link_to 'Fashion', magazine_section_path( :magazine_section => 'fashion' ), (leftmenu_active?(:controller_name => 'fashion')) %></li>
		<li><%= link_to 'Beauty', magazine_section_path( :magazine_section => 'beauty' ), (leftmenu_active?(:controller_name => 'beauty')) %></li>
		<li><%= link_to 'Travel', magazine_section_path( :magazine_section => 'travel' ), (leftmenu_active?(:controller_name => 'travel')) %></li>
        <li><%= link_to 'Светская хроника', magazine_section_path( :magazine_section => 'reports' ), (leftmenu_active?(:controller_name => 'reports')) %></li>
	</ul>
<% end %>