<h2>Желающие получить BIO</h2>
<% if @bio_wishers.present? %>
<%= will_paginate @bio_wishers %>
<% @bio_wishers.each do |b| %>
<div>
  <%= link_to b.displayname, user_path(b) %> <%= l(b.bio_wished, :format => :short) %>
</div>
<% end %>
<%= will_paginate @bio_wishers %>
<% end %>