<li>
	<div class="section">
		<div class="section-info">
			<p class="comment"><%= more.root_comments.length %></p>
			<%= render :partial => 'widgets/date_clock', :locals => { :date => more.created_at }  %>
		</div>
		<div class="section-content">
			<h3><a href="#"><%= more.post_section.name %></a></h3>
			<h4><%= link_to more.title, post_path(:id => more, :post_section => more.post_section) %></h4>
			<% if more.user %>
				<%= link_to more.user.displayname, user_path(more.user), :class => 'name' %>
			<% end %>
		</div>
	</div>
</li>