<div id="container" class="sidebar-right">
		<div class="center">
			<div class="content">
				<div class="page-post">
					<div class="post-nav-btns">
						<div>
							<% if @before %>
								<%= link_to '', post_path(:id => @before, :post_section => @before.post_section), :class => 'prev' %>
							<% end %>
							<% if @after %>
								<%= link_to '', post_path(:id => @after, :post_section => @after.post_section), :class => 'next' %>
							<% end %>
						</div>
					</div>
					<div class="post-nav">
						<% if @before %>
							<%= link_to @before.title, post_path(:id => @before, :post_section => @before.post_section), :class => 'prev' %>
						<% end %>
						<% if @after %>
							<%= link_to @after.title, post_path(:id => @after, :post_section => @after.post_section), :class => 'next' %>
						<% end %>
						<a href="#" class="search-btn"></a>
						<div class="search-line">
							<form method="get">
								<label>Категория</label>
								<select name="">
									<option>Все категории</option>
									<option>Анонс</option>
									<option>Видео дня</option>
									<option>Репортаж</option>
								</select>
								<input type="text" name="" placeholder="Ключевое слово" class="text-arrow-search"/>
								<input type="submit" value="" class="arrow-search no-active" name="" disabled/>
							</form>
						</div>
					</div>
					<h1><%= @post.title %></h1>
					<h3 class="category"><a href="#"><%= @post.post_section.name %></a><b></b></h3>
					<% if @post.user %>
						<div class="author-info">
							<div>
								<%= image_tag @post.user.avatar.url(:small) %>
								<b></b>
							</div>
								<%= link_to @post.user.displayname, user_path(@post.user), :class => 'name' %>
							<p class="date-created"><%=@post.created_at.strftime('%d/ %m, %H:%M') %></p>
						</div>
					<% end %>
					<p><%= @post.text %></p>
					<ul class="social-btns">
						<li><a href="#">
							<span class="facebook"><span>14</span></span>
							Мне нравится
						</a></li>
						<li><a href="#">
							<span class="vkontakte"><span>9</span></span>
							Сохранить
						</a></li>
						<li><a href="#">
							<span class="tweet"><span>22</span></span>
							Tweet
						</a></li>
					</ul>
					<div class="section one hidden">
						<h3><a href="#">Также читайте</a><b></b></h3>
						<ul class="stream">
							<%= render :partial => 'more', :collection => @more %>
						</ul>
					</div>
					<div class="section one">
						<%= render :partial => 'comments/comments', :locals => { :object => @post }  %>
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar-right">
			<div id="daily-events-calendar">
				<div style="font-size:34px; left:84px; top:0px;">
					<a href="#">19</a>
				</div>
				<div style="font-size:32px; left:149px; top:25px;">
					<a href="#">20</a>
				</div>
				<div style="font-size:31px; left:186px; top:80px;">
					<a href="#" class="selected">21</a>    
				</div>
				<div style="font-size:29px; left:185px; top:143px;">
					<a href="#">22</a>    
				</div>
				<div style="font-size:28px; left:151px; top:192px;">
					<a href="#">23</a>    
				</div>
				<div style="font-size:27px; left:98px; top:211px;">
					<a href="#">24</a>    
				</div>
				<div style="font-size:25px; left:46px; top:198px;">
					<a href="#">25<sup>*</sup></a>    
				</div>
				<div style="font-size:24px; left:14px; top:160px;">
					<a href="#">26</a>    
				</div>
				<div style="font-size:22px; left:9px; top:113px;">
					<a href="#">27</a>    
				</div>
				<div style="font-size:21px; left:30px; top:75px;">
					<a href="#">28</a>    
				</div>
				<div style="font-size:20px; left:66px; top:57px;">
					<a href="#">29<sup>*</sup></a>    
				</div>
				<div style="font-size:18px; left:103px; top:63px;">
					<a href="#">30</a>    
				</div>
				<div style="font-size:17px; left:127px; top:87px;">
					<a href="#">31</a>    
				</div>
				<div style="font-size:15px; left:133px; top:117px;">
					<a href="#">1<sup>*</sup></a>    
				</div>
				<div style="font-size:14px; left:121px; top:142px;">
					<a href="#">2</a>    
				</div>
			</div>
			<div class="soon-event">
				<a href="#">
					<img src="/i/shared/photo-47.jpg"/>
				</a>
				<div>
					<p class="date">03 декабря, 16:00</p>
					<p><a href="#">Поздний завтрак:<br/>
					В погоне за удачей</a></p>
				</div>
			</div>
			<div class="right-banner">
				<a href="#"><img src="/i/shared/banner-3.jpg"/></a>
			</div>
			<div class="section advice">
				<h3>Совет дня<b></b></h3>
				<p class="quote">« Если казаться не тем, кто ты есть на самом деле, можно получить не ту работу, не тех друзей и вообще не ту жизнь. »</p>
				<div><img src="/i/shared/photo-9.jpg"/><b></b></div>
				<p>Конфуций</p>
			</div>
			<div class="section comment">
				<h3>Комментарии<b></b></h3>
				<div>
					<h3><a href="#">Блог</a></h3>
					<p> / &nbsp;Ты представляешь, а...</p>
					<p><a href="#" class="name">Олег Ким:</a> Учитесь быстро забывать то, что рассказали вам... <span>23/10, 23:45</span></p>
				</div>
				<div>
					<h3><a href="#">Фото</a></h3>
					<p> / &nbsp;Андора 2011</p>
					<p><a href="#" class="name">Туров Майкл (Michail. T):</a> оFGенно какие алые губы ))) <span>23/10, 23:45</span></p>
				</div>
				<div>
					<h3><a href="#">Блог</a></h3>
					<p> / &nbsp;Oprah Восточной Европпы или how are you Liz</p>
					<p><a href="#" class="name">Станислав Меркулов(VN):</a> заткнитесь))) <span>23/10, 23:45</span></p>
				</div>
				<div>
					<h3><a href="#">Фото</a></h3>
					<p> / &nbsp;"Stand-Up Вечер". Вечеринка</p>
					<p><a href="#" class="name">Алёна Злобина:</a> красиво скрутило)) и красиво слилась с совета... <span>23/10, 23:45 </span></p>
				</div>
				<ul class="comment-nav">
					<li>
						<a class="prev" href="#"></a>
					</li>
					<li>
						<a class="next" href="#"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>