<div class="pl-entry">
<% if place_list.fgc %>
  <div style="width:50px;height:50px;float:left;margin-right:8px;text-align:center">
  <%= link_to image_tag(place_list.main_photo.url(:thumbnail)),  place_path({ :id => place_list, :place_category => place_list.place_category }), :style => 'display:block;width:50px;height:50px'%>
  </div>
<% end %>
<h5>
	<%= link_to place_list.name,  place_path({ :id => place_list, :place_category => place_list.place_category }) %>
	<% if place_list.fgc && controller.controller_name != 'fgc' %>
		<%= image_tag('/img/place-FGC.gif', :alt => 'FGC', :class => 'fgc-icon') %>
	<% end %>
</h5>
<div class="placelist-address">
<% if place_list.address %>
<% if place_list.address.length < 170 %>
<%= place_list.address %>
<% else %>
<%= shorten_text(place_list.address, 170) %>
<% end %>
<% end %>
</div>
</div>