<%= render :partial => 'fgc/fgc_menu' %>
<h2><%= @current_category.name %></h2>
<div class="placegallery-list">
<%= render :partial => 'place_list', :collection => @places %>
</div>
<%= will_paginate @places %>
