<%= render :partial => 'place_gallery/category_menu', :locals => { :place_categories => @place_categories }  %>
<div>
<%= render :partial => 'place_gallery/submenu' %>
<div id="places-flash" style="margin-top:20px;">
</div>
<script>
$(document).ready(function(){
    $('#places-flash').flash(
        {
          src: '/swf/magazinepreviews.swf',
          width: 530,
          height: 350,
		  wmode:'transparent',
          flashvars: {
		  	xmlurl: '/i/places/places_index_<%= I18n.locale.to_s %>.xml'
			}
        },
        { version: 9 }
    );
});
</script>
</div>

