<style>
#logo a.variant-second {
background:transparent url(./../img/apple/fg-logo.png) no-repeat scroll center top;
height:150px;
}
</style>
<img src="/img/apple/header.png">
<br><br><br>
<p>Всё ли у вас в порядке? Уверенно ли вы чувствуете себя в мире, где количество информации увеличивается в восемь раз каждые полгода? Есть ли у вас помощник, на которого можно полностью положиться в самых разных и сложных ситуациях?</p>

<p>Сайт Face Gallery в очередной раз решил позаботиться о ваших нервах, времени и здоровье, запустив совместный проект с Apple Concierge – компанией, сотрудники которой уже более семи лет решают самые необычные задачи по всему миру.</p>

<p>Согласитесь, порой просто некогда или лень копаться в поисковиках, чтобы найти ответ на вопрос «Сколько стоит аренда однокомнатной квартиры в Санта-Монике, LA?» А иногда жизнь забрасывает нас в такие ситуации, что ни о каком интернете не может быть и речи. Что делать? Куда бежать?</p>

<p>Вот здесь-то и появляются всезнающие Apple консьержи, готовые ответить на любой вопрос. За семь лет этими людьми были перевезены матрасы из Иордании и украшения из Милана; организованы свадьбы и похороны; найдены няньки и учителя, а еще за их плечами сотни путешествий, тысячи рейсов, трансферов т.д.</p>
<br><br>
<div style="margin: 0 auto;width:380px;">
  <a href="http://www.apple-concierge.com"><img src="/img/apple/ac-logo.png" style="float:left"></a>
  <div style="color:#6b6b6b;font-size:0.9em;padding-left:215px;padding-top:29px">
    <p>
    +7 (495) 937-48-60<br>
    Студенецкий пер., 3<br>
    <a href="http://www.apple-concierge.com" style="text-decoration:underline">www.apple-concierge.com</a><br>
    </p>
  </div>
</div>
<br><br>
<p><strong>Хватит мучить вопросами коллег и знакомых! Спросите лучше у консьержа ))</strong></p>
<br>
    <% if logged_in? %>
    <div id="answer_form" class="button opened" style="width:115px;">
      <div class="head">
        <div></div>
      </div>
      <div class="content">
        <% form_for :apple_question, :url => "", :html => {:id => 'contest_form'} do |f| %>

          <a href="#" title="" id="answer_button" style="z-index:50;bottom:16px;position:absolute;right:9px;">Спросить</a>

          <div class="answer" style="border-right:none;display:none">
            <%= f.text_area :question, :rows=>1, :style => 'display:block;overflow:hidden', :id => 'answer' %>
          </div>
        <% end %>
      </div>
      <div class="foot">
        <div></div>
      </div>

    </div>
    <script>
    function openAnswerForm(){
        $('textarea#answer').val("");
        $('div.answer').css("border-right", "1px dotted #7452B9");
        $('div.answer').css("display", "block");
        $('#answer_form').animate({width: '100%'}, 250, function(){
            $('textarea#answer').autoResize({animateDuration : 300});
            $('textarea#answer').focus();
            $('#answer_button').click(function(){
                $('#contest_form').submit();
                return false;
            });
        });

        return false;
    }
        $('#answer_form').one('click', openAnswerForm);

    </script>
    <br>
    <% else %>
    <p>Пожалуйста, <%= link_to "зарегистрируйтесь", register_applications_path %> или <%= link_to "авторизуйтесь", login_path %>, и задайте вопрос консьержу!</p>
    <br>
    <% end %>

<ul class="comments" id="comments" style="padding-top:30px">
<% @questions.each do |q| %>
<li>
<div class="bio-authors">
  <a name="question<%= q.id %>"></a>
  <%= link_to image_tag(q.user.avatar.url(:small)), user_path(:user_id => q.user.id) %>
  <div>
    <p><%= link_to q.user.displayname, user_path(:user_id => q.user.id), :class => 'set' %>, <span class="time"><%= time_ago_in_words(q.created_at) %> <%= 'назад' %></span></p>
    <p><%= simple_format(strip_tags q.question) %></p>
  </div>
  <% if current_user && current_user.is_concierge? %>
  <div style="clear:both;padding-left:60px"> <%= link_to "Ответить", "#", :onclick => "$('#edit_apple_question_#{q.id}').toggle();return false;" %> &nbsp;&nbsp; <%= link_to "Удалить вопрос", q, :confirm => 'Действительно удалить?', :method => :delete %></div>
  <% form_for q, :html => {:style => 'display:none'} do |f| %>
  <p style="padding-left:60px"><%= f.text_area :answer, :rows => 5 %><br>
  <%= submit_tag 'Ответить' %></p>
  <% end %>
  <% end %>
  <% if q.answer and not q.answer.empty? %>
  <div style="padding-top:12px;padding-left:15px;background:url(/img/apple/answer-triangle.png) no-repeat 67px top;clear:both;margin:15px 0;">
    <div style="background:#ededed;padding:10px 15px;color:#040404;"><img src="/img/apple/smallapple.png"><div><%= simple_format q.answer.gsub(/\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|]/i, '<a href="\0" target="_blank">\0</a>') %></div></div>
  </div>
  <% end %>
</div>

</li>
<% end %>
</ul>
