<div class="user-list-item">
<%= link_to image_tag(friend.avatar.url(:small)),  user_path(friend) %>
<div><%= link_to friend.displayname,  user_path(friend) %><br>
<%= link_to image_tag('/img/envelope.png'), url_for(:controller => 'user/messages', :to => friend.id, :action => 'new', :user_id => current_user.id) if logged_in? %>
<%= image_tag('/img/online-icon.png') if friend.is_online? %>
</div>
</div>