<div id="friend_invite_form" style="position:relative;">
<div class="ajax_anim_small" id="fr_invite_anim" style="display:none">&nbsp;</div>
<% form_remote_tag :url => url_for(:action => "invite_friend") do %>
<%= t('.message_for_user') %><br>
<%= text_field_tag :message, "", :size => 26 %>
<p>
<%= submit_tag t('add'), :onclick => "$('#fr_invite_anim').show()" %>
<%=  button_to_function t('cancel') do |page|
    page.visual_effect :toggle_blind, 'friend_invite_form'
  end %>
</p>

<% end %>
</div>
	