<h1 class="user-header">
  <%= image_tag('/img/online-user-icon.png') if @user.is_online? %>
  <%= link_to @user.displayname, user_path(@user), :class => 'user-header-link' %>

  <% if @user.has_bio? %>
  <%= link_to "BIO", bio_path(:bio_category => @user.bio.bio_category.urlname, :id => @user.bio), :class => 'profile-bio-link' %>
  <% end %>

  <% if defined? section_name %>
  &rarr; <%= section_name %>
  <% end %>
</h1>


