<% content_for(:left) do %>
    <ul class="menu">
        <li><%= link_to t('.profile'), { :controller => '/user', :action => 'index' }, (leftmenu_active?(:controller_name => 'user', :action_name => "index")) %></li>
		<%= content_tag 'li', link_to(t('.friends'), { :controller => '/user', :action => 'friends' }, (leftmenu_active?(:action_name => "friends"))) if user.has_friends? or (is_owner? && user.friend_invites_in.count > 0) %>
		<li><%= link_to t('.portfolio'), { :controller => '/user', :action => 'portfolio' }, (leftmenu_active?(:controller_name => "portfolio")) if !user.user_portfolio.nil? or is_owner? %></li>
		<li><%= link_to t('.gallery'), { :controller => '/user', :action => 'gallery' }, (leftmenu_active?(:controller_name => "gallery")) if user.user_albums.count > 0 or is_owner? %></li>
		<li><%= link_to t('.blog'), blogs_url, (leftmenu_active?(:controller_name => "blog")) if user.blogs.count > 0 or is_owner? %></li>
    </ul>
<% end %>