<span id="vote_<%= object.class.to_s.downcase %>_<%= object.id%>" class="user_rating">
  <span class="rate"><%= object.calculate_rating %></span>
<%= link_to_remote "&uarr;", :url => {:controller => '/votes', :action => :new}, :html => {:class => 'rating-arrow', :title => 'Проголосовать за пользователя (пользователь оповещается о том, кто за него проголосовал)'}, :with => "'voteable_type=#{object.class}&voteable_id=#{object.id}&vote=1'" if logged_in? and current_user.can_vote_for object %>
</span>