<%= render :partial => 'user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user_header', :locals => { :user => @user, :section_name => t('user.index.upload_photo') }  %>
<div class="profile">
	<div class="main-photo">
	<%= image_tag @user.avatar.url %>
	<ul class="user-functions">
	<li><%= link_to t('.delete_photo'), user_path( @user, :action=>'delete_photo' ), :class => 'profile-delete' if authorized? %></li>
	</ul>	
	</div>

	<% form_for :user, :html => { :multipart => true, :id => 'upload-photo-form' } do |f| %>
	  
	  <p><%= t('.choose_photo_blabla')%></p>
	  <p><%= f.file_field :avatar, :size => 25 %></p>
	  <p><%= submit_tag t('user.index.upload_photo') %></p>
	<% end %>
	
</div>
