<%= render :partial => 'user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user_header', :locals => { :user => @user, :section_name => "Редактирование профайла" }  %>
<div id="edit-profile" style="width:505px;margin:0 auto">

	<% form_for :user, :url => { :action => "edit_profile" } do |f| %>
		<table border="0" cellpadding="0" cellspacing="0">
	   	<tr>
	    <td><p><%= label(:user, :name) %><br><%= f.text_field :name %></p></td>
	    <td><p style="padding-left:10px"><%= label(:user, :surname) %><br><%= f.text_field :surname %></p></td>
	   	</tr>
		</table>
		<table border="0" cellpadding="0" cellspacing="0">
	   	<tr>
		<td><p><%= label(:user, :birthday) %><br><%= f.date_select :birthday, :order => [ :day, :month, :year ], :start_year => Time.now.year, :end_year => 1894, :include_blank => true, :default => { :day => nil, :month => nil, :year => nil } %></p></td>
	    <td><p style="padding-left:10px"><br><%= f.select :show_birthday, [ [t('.date_full'), 0], [t('.date_no_year'), 1], [t('.date_hide'), 2] ], :selected => @user.show_birthday %></p></td>
	   	</tr>
		</table>
		  <p>
      <%= label(:user, :gender) %><br>
      <%= f.select(:gender, [['Укажите пол', ''], ['Мужской', 'm'], ['Женский', 'f']]) %>
      </p>
	    <p>
	    <%= label(:user, :city) %><br>
	    <%= f.text_field :city %>
	    </p>
	    <p>
	    <%= label(:user, :email) %><br>
	    <%= f.text_field :email %>
	    </p>
	    <p>
	    <%= label(:user, :phone) %><br>
	    <%= f.text_field :phone %>
	    </p>
	    <p>
	    <%= label(:user, :education) %><br>
	    <%= f.text_field :education %>
	    </p>
	    <p>
	    <%= label(:user, :occupation) %><br>
	    <%= f.text_field :occupation %>
	    </p>
	    <p>
	    <%= label(:user, :interests) %><br>
	    <%= f.text_field :interests %>
	    </p>
	    <p>
	    <%= label(:user, :quote) %><br>
	    <%= f.text_field :quote %>
	    </p>
        <p>
            <%= f.check_box :prefers_message_notifications %>
            <%= f.label :prefers_message_notifications %>
        </p>
        <p>
            <%= f.check_box :prefers_blog_comment_notifications %>
            <%= f.label :prefers_blog_comment_notifications %>
        </p>
        <p>
            <%= f.check_box :prefers_photo_comment_notifications %>
            <%= f.label :prefers_photo_comment_notifications %>
        </p>
        <p>
            <%= f.check_box :prefers_bio_comment_notifications %>
            <%= f.label :prefers_bio_comment_notifications %>
        </p>
        <p>
            <%= f.check_box :prefers_comment_comment_notifications %>
            <%= f.label :prefers_comment_comment_notifications %>
        </p>
        <p>
            <%= f.check_box :prefers_user_vote_notifications %>
            <%= f.label :prefers_user_vote_notifications %>
        </p>
        <br><br>
		<p>Видимость разделов профайла:</p>
        <% access_array = [ [t('.access_everyone'), 0], [t('.access_bio_and_friends'), 1], [t('.access_friends_only'), 2], [t('.access_only_me'), 3], [t('.turned_off'), 4] ] %>
        
        <style>
        .preferences-menu-line{
          padding-bottom:5px;
        }
        </style>
        <div class="preferences-menu-line" style="display:none">
        <h4><%= link_to t('user.user_leftmenu.profile'), { :controller => '/user', :action => 'index' } %></h4>
         <%= f.select :preferred_profile_access, access_array, :selected => @user.preferred_profile_access %>
        </div>

        <div class="preferences-menu-line">
        <h4><%= link_to t('user.user_leftmenu.friends'), { :controller => '/user', :action => 'friends' } %></h4>
         <%= f.select :preferred_friends_access, access_array, :selected => @user.preferred_friends_access %>
        </div>

        <div class="preferences-menu-line">
        <h4><%= link_to t('user.user_leftmenu.portfolio'), { :controller => '/user', :action => 'portfolio' } %></h4>
         <%= f.select :preferred_portfolio_access, access_array, :selected => @user.preferred_portfolio_access %>
        </div>

        <div class="preferences-menu-line">
        <h4><%= link_to t('user.user_leftmenu.gallery'), { :controller => '/user', :action => 'gallery' } %></h4>
         <%= f.select :preferred_gallery_access, access_array, :selected => @user.preferred_gallery_access %>
        </div>

        <div class="preferences-menu-line">
        <h4><%= link_to t('user.user_leftmenu.blog'), { :controller => '/user', :action => 'blog' } %></h4>
         <%= f.select :preferred_blog_access, access_array, :selected => @user.preferred_blog_access %>
        </div>


		<p style="padding-top:15px;">
		<table border="0" cellpadding="0" cellspacing="0">
		<tr><td colspan="2"><p><%= t('.change_password') %></p></td></tr>
	   	<tr>
	    <td><div><%= label(:user, :password) %><br><%= f.password_field :password %></div></td>
	    <td><div style="padding-left:10px"><%= label(:user, :password_confirmation) %><br><%= f.password_field :password_confirmation %></div></td>
	   	</tr>
		</table>
		</p>
		<br>
		<p>
	    <%= submit_tag t('save') %>
		</p>
	<% end %>
</div>
