<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => 'Блоги друзей' }  %>

<div id="userpage-container">


<div id="blog-container">
<%= render :partial => 'user/blog/blog', :collection => @friends_blogs %>
</div>
<%= will_paginate @friends_blogs %>
</div>