<%= render :partial => 'user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.friends') }  %>
<%= render :partial => 'user_leftmenu', :locals => { :user => @user }  %>





<% if is_owner? && @invites && @invites.length > 0 %>
<div class="friend-invites">
<h4>Хотят дружить (<%= @invites.length %>)</h4>
<% @invites.each do |i| %>
<div class="user-list">
  <div class="user-list-item">
    <%= link_to image_tag(i.user.avatar.url(:small)),  user_path(i.user) %>
    <div><%= link_to i.user.displayname,  user_path(i.user) %><br>
    <%= link_to image_tag( '/img/icon-plus.gif', :alt => t('.accept')), url_for( :action => 'accept_invite', :friend_id => i.user.id ),  :title=>t('.accept') %>&nbsp;<%= link_to image_tag( '/img/icon-close.gif', :alt => t('.reject')), url_for( :action => 'delete_invite', :friend_id => i.user.id ), :title => t('.reject') %>&nbsp;
    <%= link_to image_tag('/img/envelope.png'), url_for(:controller => 'user/messages', :to => i.user.id, :action => 'new', :user_id => current_user.id) if logged_in? %>
    <%= image_tag('/i/online-icon.png') if i.user.is_online? %>
    </div>
  </div>
  <% if i.message && !i.message.empty? %>
  <div class="invite-message"><%= strip_tags i.message %></div>
  <% end %>
</div>
<% end %>
</div>
<% end %>

<div id="submenu">
    <ul>
		<li><%= link_to "Все (#{@user.friend_count})", { :online => nil }, ( submenu_active?(params[:online], nil) ) %></li>
		<li><%= link_to "На сайте", { :online => 1 }, ( submenu_active?(params[:online].to_i, 1) ) %></li>
    </ul>
</div>

<div class="user-list">
<%= render :partial => 'friend', :collection => @friends %>
</div>

<%= will_paginate @friends %>

