<%= render :partial => 'user_leftmenu', :locals => { :user => @user }  %>
<% render :partial => 'user_header', :locals => { :user => @user }  %>
<div class="profile">
  <div class="main-photo">
  <%= image_tag @user.avatar.url %>
  	<% if is_owner? %>
	<ul class="user-functions">
	<li><div class="userpage-button"><%= link_to t('.upload_photo'), user_path( @user, :action=>'edit_photo' ) %></div></li>
		<% if @user.is_admin? %>
          <li><div class="userpage-button"><%= link_to "Пригласить на сайт", url_for( :user_id => @user.id, :controller=>'user/site_invites' ) %></div></li>
        <% elsif is_owner? %>
          <li><div class="userpage-button"><%= link_to "Хочу <img src='/img/bio-icon.gif'>", "/bio_howto" %></div></li>
        <% end %>
	</ul>
	<% elsif logged_in? %>
	<ul class="user-functions">

	<% unless @user.friends.include? current_user %>
	<li><div class="userpage-button" id="add_to_friends_but"><%=  link_to_function t('.add_to_friends'), :class => 'profile-add' do |page| page.visual_effect :toggle_blind, 'friend_invite_form'  end %></div>
	<%= render :partial => 'friend_invite_form', :locals => { :user => @user }  %>
	</li>
	<% else %>
	<li><div class="userpage-button" id="delete_from_friends_but"><%=  link_to_function t('.delete_from_friends'), :class => 'profile-delete' do |page| page.visual_effect :toggle_blind, 'friend_invite_form'  end %></div>
	<%= render :partial => 'friend_delete_form', :locals => { :user => @user }  %>
	</li>
    <% end %>
    <li><div class="userpage-button"><%= link_to t('.send_message'), new_message_path( :user_id => current_user.id, :to => @user.id ), :class => 'profile-write' %></div></li>
    </ul>
  <% end %> 

  </div>
  <div style="height:17px;">
  <% if @user.is_online? %><img style="" src="/img/online-pimp-down.png"><% end %>

  <% if @user.has_bio? %>
    <%= "&nbsp;&nbsp;&nbsp;" if @user.is_online? %><%= link_to image_tag('/img/bio-icon.gif', :alt => 'BIO', :id => 'bio-link-img'), bio_path(:bio_category => @user.bio.bio_category.urlname, :id => @user.bio) %>
  <% end %>
  </div>
  <h1><%= @user.name %><br /><%= @user.surname %></h1>


  <div id="profile-data">

  <p><%= "Рейтинг" %>: <span><%= render :partial => 'vote', :locals => {:object => @user} %></span></p>
  <% if @user.birthday? && @user.show_birthday < 2 %>
  <p>День рождения: <span><%= l(@user.birthday, :format => (@user.show_birthday == 1 ? :short : :default)) %></span></p>
  <% end %>

  <% if @user.city? %>
  <p><%= t :"activerecord.attributes.user.city" %>: <span><%= @user.city %></span></p>
  <% end %>

  <% if @user.education? %>
  <p><%= t :"activerecord.attributes.user.education" %>: <span><%= @user.education %></span></p>
  <% end %>

  <% if @user.occupation? %>
  <p><%= t :"activerecord.attributes.user.occupation" %>: <span><%= @user.occupation %></span></p>
  <% end %>
  <% if @user.interests? %>
  <p><%= t :"activerecord.attributes.user.interests" %>: <span><%= @user.interests %></span></p>
  <% end %>

  <% if @user.quote? %><p class="citation">«<%= @user.quote %>»</p><% end %>
  <%= link_to t('edit'), user_path( @user, :action=>'edit_profile' ), :class => 'edit' if is_owner? %>
  </div>

</div>

<% if false && (is_owner? || @user.givenchy_status) %>
<div style="width:552px;min-height:140px;background-image:url(/img/nycontest/inputbg-top.png);background-repeat:no-repeat">
  <div style="position:relative;padding-left:97px;padding-top:55px;font-family:times, serif;font-size:14px;font-style:italic">
    <% if !@user.givenchy_status %>
	    <% if is_owner? %>

 <script language="javascript">
	  function limitChars(textid, limit, infodiv)
	   {
	    var text = $('#'+textid).val(); 
	     var textlength = text.length;
	      if(textlength > limit)
	       {
	        $('#' + infodiv).html('0');
		 $('#'+textid).val(text.substr(0,limit));
		  return false;
		   }
		    else
		     {
		      $('#' + infodiv).html((limit - textlength));
		       return true;
		        }
			 }

			  $(function(){
			   $('#status_ta').keyup(function(){
			    limitChars('status_ta', 250, 'charcount');
			     })
			      });
			       </script>
			        


      <% form_tag url_for(:action => :save_givenchy), :id => :contest_form do %>
      <div id="charcount" style="position: absolute; right: 8px; top: 7px;">250</div>
      <textarea name="status" id="status_ta" style="background:none;color:black;width:400px;border:none;height:35px;font-family:times, serif;font-size:14px;font-style:italic;margin-bottom:20px;"></textarea>
      
      <% end %>
    <% end %>
    <% else %>
    <div style="font-size:14px;color:black;margin-bottom:30px;width:400px">
    <%= @user.givenchy_status.text %>
    </div>
    <% end %>




<script>
$(function(){ $('#givenchy_what').fancybox() });
</script>
  </div>
<div style="background-image: url(/img/nycontest/inputbg-bottom.png); background-repeat: no-repeat; height: 137px; padding-top: 111px; padding-left: 130px; margin-top: -113px;">
<div style="float:left;">
<a href="#givenchy_desc" style="color: black; font-size: 13px; text-decoration: underline;" id="givenchy_what">Что это?</a>
</div>
<% if is_owner? && !@user.givenchy_status %>
<a href="#" style="color:black;font-size:15px;text-decoration:underline;margin-left:237px;" id="answer_button">Отправить</a>
<% end %>
</div>
  
</div>
<script>
$(document).ready(function(){
  $("#status_ta").focus();
  $('#answer_button').click(function(){
      $('#contest_form').submit();
      return false;
  });
});

</script>


<div style="display:none" id="givenchy_desc">
<div style="font-size:1.3em">
<h4>Дорогие друзья!</h4>
<p><b>Новый 2012-й год не за горами! Оглянуться не успеете, как праздник ворвется в ваши офисы и квартиры вихрем серпантина, конфетти и бенгальских огней!</b></p>
<p>Мы предлагаем не медлить и начинать поднимать столбик термометра новогоднего настроения уже сейчас! Приняв участие в нашем праздничном проекте, вы сможете обеспечить себе прекрасный подарок от Face Gallery и наших beauty-партнеров, который, возможно, станет первой ласточкой предстоящих праздников.</p>
<p>Для участия вам нужно в специальном поле в своем профайле ответить на вопрос «За какой поступок в уходящем году ты ждешь от Дедушки Мороза подарок?» и придти на последний в 2011-м году «Поздний завтрак Face Gallery»*, чтобы получить из рук бородатого Деда свой заслуженный презент!</p>
<p>Наверняка каждый из вас чем-то отличился в этом году? Так почему бы не рассказать об этом всем участникам нашего дружного коммьюнити?</p>
<p>Вперед и с песней!</p>
<p><i>*Чтобы узнать о последнем «Позднем завтраке», следите за Афишей!</i></p>
</div>
</div>
<% end %>

<% if @latest_blog %>
<div class="inner">
  <h3><%= link_to "Блоги", url_for(:controller => 'user/blog') %></h3><%= link_to t('write'), url_for( :controller=>'user/blog', :action => 'new' ), :class => 'edit' if is_owner? %>
  <div style="clear:both"></div>
  <%= render :partial => 'user/blog/blog', :locals => {:blog => @latest_blog} %>
</div>
<% end %>

<% if @latest_portfolio_photos && @latest_portfolio_photos.length > 0 %>
<div class="inner">
  <h3><%= link_to "Портфолио", url_for(:controller => 'user/portfolio') %></h3><%= link_to t('edit'), url_for(:controller => 'user/portfolio', :action => 'edit'), :class => 'edit' if is_owner? %>
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <% @latest_portfolio_photos.each do |p| %>
      <td>
        <%= link_to image_tag(p.photo.url(:small)), url_for(:controller => 'user/portfolio') %>
      </td>
      <% end %>
    </tr>

  </table>
</div>
<% end %>

<% if @photo_tags && @photo_tags.length > 0 %>
<div class="inner">
  <h3><%= link_to "На фотографиях", url_for(:action => 'photo_tags') %></h3>
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <% @photo_tags.each do |p| %>
      <td>
        <%= output_photo_thumb(p.photo_taggable) %>
      </td>
      <% end %>
    </tr>

  </table>
</div>
<% end %>

<% if @latest_photos && @latest_photos.length > 0 %>
<div class="inner">
  <h3><%= link_to "Галерея", url_for(:controller => 'user/gallery')%></h3>
  <div style="clear:both;"><table cellspacing="0" cellpadding="0" border="0" style="width:90%;">
    <tr>
      <% @latest_photos.each do |p| %>
      <td align="left">
        <%= link_to image_tag(p.photo.url(:small)), user_image_path(:image_id => p.id, :id => p.user_album_id) %>
      </td>
      <% end %>
    </tr>
  </table></div>
</div>
<% end %>

<% if @friends_blogs && @friends_blogs.length > 0 %>
<div class="inner">
  <h3><%= link_to "Блоги друзей", url_for(:action => 'friend_blogs') %></h3>
  <div style="clear:both"></div>
  <%= render :partial => 'user/blog/blog', :collection => @friends_blogs %>
</div>
<% end %>

<% if @daily_events && @daily_events.length > 0 %>
<% content_for :right do %>
    <div class="places">
      <h4><%= is_owner? ? "Иду:" : "Собирается:" %></h4>

      <% @daily_events.each do |e| %>
      <p class="event-time"><span><%=l e.date, :format => :short %> </span><%= e.event_category.name if e.event_category %><span>&nbsp;&rarr;&nbsp;</span><%= e.place.name if e.place %></p>
      <p class="event-name"><%= link_to e.name, url_for(:controller => 'place_gallery/daily_events', :date => e.date.to_date, :id => e.id) %></p>
      <% end %>
      
    </div>

<% end %>
<% end %>

<% if @latest_comments && @latest_comments.length > 0 %>
<% content_for :right do %>
<%= render :partial => 'latest_comments', :locals => {:comments => @latest_comments} %>
<% end %>
<% end %>

<% if @user.provides_access(:friends_access) && !(@friends_online.empty? && @friends.empty? && !@friend_invites) %>

<% content_for :left do %>
        <h4><%= link_to "Друзья", url_for(:action => 'friends') %></h4>
<% if @friend_invites && @friend_invites.length > 0 %>
        <div class="friends">
          <p><%= link_to "Хотят дружить (#{@friend_invites.length})", url_for(:action => 'friends') %></p>
          <% @friend_invites.each do |f| %>
          <%= link_to image_tag(f.user.avatar.url(:small)), user_path(f.user), :title => f.user.displayname %>
          <% end %>
        </div>
<% end %>

<% if @friends_online && @friends_online.length > 0 %>
        <div class="friends">
          <p><%= link_to "Онлайн (#{@friends_online.length})", url_for(:action => 'friends', :online => 1) %></p>
          <% @friends_online.each do |f| %>
          <%= link_to image_tag(f.avatar.url(:small)), user_path(f), :title => f.displayname %>
          <% end %>
        </div>
<% end %>

<% if @friends && @friends.length > 0 %>
        <div class="friends">
          <p><%= link_to "Все друзья (#{@user.friends.length})", url_for(:action => 'friends') %></p>
          <% @friends.each do |f| %>
          <%= link_to image_tag(f.avatar.url(:small)), user_path(f), :title => f.displayname %>
          <% end %>
        </div>
<% end %>

<% end %>
<% end %>

