<%= render :partial => 'user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user_header', :locals => { :user => @user, :section_name => "На фотографиях" }  %>

	<ul id="sortable_photos">
	<% @photo_tags.each do |p| %>
    <li><%= output_photo_thumb(p.photo_taggable) %></li>
    <% end %>
	</ul>
    <%= will_paginate @photo_tags %>