<%= render :partial => 'user_header', :locals => { :user => @user }  %>
<%= render :partial => 'user_leftmenu', :locals => { :user => @user }  %>


<% access_array = [ [t('.access_everyone'), 0], [t('.access_bio_and_friends'), 1], [t('.access_friends_only'), 2], [t('.access_only_me'), 3], [t('.turned_off'), 4] ] %>
<% form_for :user, @user do |f| %>
<div id="leftmenu" class="preferences-leftmenu">
<style>
.preferences-menu-line{
  padding-bottom:15px;
}
</style>
<div class="preferences-menu-line">
<h4><%= link_to t('user.user_leftmenu.profile'), { :controller => '/user', :action => 'index' } %></h4>
 <%= f.select :profile_access, access_array, :selected => @user.profile_access %>
</div>

<div class="preferences-menu-line">
<h4><%= link_to t('user.user_leftmenu.friends'), { :controller => '/user', :action => 'friends' } %></h4>
 <%= f.select :friends_access, access_array, :selected => @user.friends_access %>
</div>

<div class="preferences-menu-line">
<h4><%= link_to t('user.user_leftmenu.portfolio'), { :controller => '/user', :action => 'portfolio' } %></h4>
 <%= f.select :portfolio_access, access_array, :selected => @user.portfolio_access %>
</div>

<div class="preferences-menu-line">
<h4><%= link_to t('user.user_leftmenu.gallery'), { :controller => '/user', :action => 'gallery' } %></h4>
 <%= f.select :gallery_access, access_array, :selected => @user.gallery_access %>
</div>

<div class="preferences-menu-line">
<h4><%= link_to t('user.user_leftmenu.blog'), { :controller => '/user', :action => 'blog' } %></h4>
 <%= f.select :blog_access, access_array, :selected => @user.blog_access %>
</div>
<p>
	<%= f.check_box :no_message_notifications %>
	<%= f.label :no_message_notifications %>
</p>
<p><%= submit_tag t('.save_preferences') %></p>
</div>

<% end %>

