<%= render :partial => 'fgc/fgc_menu' %>

<h2>FG Travel</h2>

<div style="overflow:hidden;padding-bottom:15px;">
  <%= link_to image_tag("/uploads/Image/humor-thumb.jpg", :style=>'float:left;margin-right:10px'), url_for(:action => :show, :id => 2)%>
  <p><h3 style="line-height:140%;padding-bottom:10px;"><%= link_to "SUPER ФЕСТИВАЛЬ ЮМОРА В FUN КРУИЗЕ", url_for(:action => :show, :id => 2)%></h3></p>
  <p>Если вас съедает тоска из-за того, что вам не удастся отправиться в октябре с компанией Face Gallery в авто-трип по Америке, мы поспешим развеять вашу печаль. Ведь мы приготовили для вас еще одно не менее, а, может, даже и более заманчивое предложение!</p>
 </div>

<div style="overflow:hidden;padding-bottom:15px;">
  <%= link_to image_tag("/uploads/Image/california/t/1.jpg", :style=>'float:left;margin-right:10px'), url_for(:action => :show, :id => 1)%>
  <p><h3 style="line-height:140%;padding-bottom:10px;"><%= link_to "Route 66 - California dreaming", url_for(:action => :show, :id => 1)%></h3></p>
  <p>За 14 дней команды  Vtrip.Me и Facegallery.ru проедут по всем значимым и атмосферным городам на авто и самолетах. Мы покорим трассу 66, заедем на самые сумасшедшие вечеринки в Вегасе и снимем свой собственный фильм о путешествии.</p>
 </div>

