<%= render :partial => 'fgc/fgc_menu' %>
<% if @trip.id == 1 %><a href="http://vtrip.me/" target="_blank"><img src="/img/vtrip-logo.jpg" style="float:right"></a><% end %>
<h1>FG Travel</h1>

<h2><%= @trip.title %></h2>

<div id="travel-links">
<p>
<a href="#description" onclick="$.scrollTo('a#a-description',1000);return false;">Описание</a> /
<a href="#schedule" onclick="$.scrollTo('a#a-schedule',1000); return false;">Программа</a> /
<a href="#costs" onclick="$.scrollTo('a#a-costs', 1000);return false;">Стоимость</a>
</p>
</div>

<a name="description" id="a-description"></a>
<%= simple_format @trip.description %>

<a name="schedule" id="a-schedule"></a>
<%= simple_format @trip.schedule %>

<a name="costs" id="a-costs"></a>
<%= simple_format @trip.costs %>

<% unless @trip.users.empty? %>

    <div class="plan" style="padding-bottom:20px;">
      <h3>Уже едут:</h3>
      <% @trip.users.each do |u| %>
      <%= link_to image_tag(u.avatar.url(:small)), user_path(u), :title => u.displayname %>
      <% end %>
    </div>

<% end %>

<%= render :partial => 'comments/comments', :locals => { :object => @trip }  %>

<% if false %>
<% content_for :right do %>
<h3>Заказать тур</h3>
<p>Оставьте свои контактные данные, и наш менеджер ответит на любые ваши вопросы!</p>
<% form_tag :action => :order_tour, :id => @trip.id do  %>
<p><%= label_tag :name, "Имя" %><br>
  <%= text_field_tag :name %></p>
<p><%= label_tag :phone, "Телефон" %><br>
  <%= text_field_tag :phone %></p>
<p><%= label_tag :email, "E-mail" %><br>
  <%= text_field_tag :email %></p>
<%= submit_tag "Отправить заявку" %>
<% end %>
<% end %>
<% end %>

<style>
  div#travel-links{
     /* font-size:1.4em;*/
      /*float:right;*/
      /*background: #f8f8f8;
      padding:5px 10px;*/
  }
  div#travel-links a{
      border-bottom:1px dashed gray;
  }
  div#travel-links a:hover{
      text-decoration:none;
      border-bottom:1px solid gray;
  }
</style>
