<% form_tag url_for(:search => params[:search]), :method => :get do %>

	<p>Поиск:</p>
	<input type="text" size="40" name="q" value="<%= params[:q] %>"><input type="submit" value="Искать!" style="margin-left:15px;">
<% end %>

<div id="submenu" style="margin:15px 0;">
<ul>
<li><%= link_to "Всё", url_for(:search => nil, :q => params[:q]),  submenu_active?(params[:search], nil)  %></li>
<li><%= link_to "Блоги", url_for(:search => "blogs", :q => params[:q]),   submenu_active?(params[:search], "blogs") %></li>
<li><%= link_to "Посты", url_for(:search => "posts", :q => params[:q]),   submenu_active?(params[:search], "posts") %></li>
<li><%= link_to "Людей", url_for(:search => "users", :q => params[:q]),   submenu_active?(params[:search], "users") %></li>
<li><%= link_to "Bio", url_for(:search => "bio", :q => params[:q]),   submenu_active?(params[:search], "bio") %></li>
<li><%= link_to "Журнал", url_for(:search => "magazine", :q => params[:q]),   submenu_active?(params[:search], "magazine") %></li>
<li><%= link_to "Репортажи", url_for(:search => "reports", :q => params[:q]),   submenu_active?(params[:search], "reports") %></li>
<li><%= link_to "Места", url_for(:search => "places", :q => params[:q]),   submenu_active?(params[:search], "places") %></li>
</ul>
</div>

<%= will_paginate @results %>

<style>
span.match{
  font-weight:bold;
}
</style>
<%  @results.each do |r|   %>

  <div class="search_result">
    <%= display_result(r) %>
  </div>
  
<% end %>

<%= will_paginate @results %>