<h4 class="different"><a href="/placegallery/daily_events/" title="Афиша дня">Афиша дня</a></h4>
<%
items = [
        {:font => 34, :left => 84, :top => 0},
        {:font => 32, :left => 149, :top => 25},
        {:font => 31, :left => 186, :top => 80},
        {:font => 29, :left => 185, :top => 143},
        {:font => 28, :left => 151, :top => 192},
        {:font => 27, :left => 98, :top => 211},
        {:font => 25, :left => 46, :top => 198},
        {:font => 24, :left => 14, :top => 160},
        {:font => 22, :left => 9, :top => 113},
        {:font => 21, :left => 30, :top => 75},
        {:font => 20, :left => 66, :top => 57},
        {:font => 18, :left => 103, :top => 63},
        {:font => 17, :left => 127, :top => 87},
        {:font => 15, :left => 133, :top => 117},
        {:font => 14, :left => 121, :top => 142}
        ]
   total = 15
   @fgc_dates = DailyEvent.upcoming.fgc.published.find(:all, :select => 'date').collect { |d| d.date.to_date }
   @jw_dates = [Date.parse("2011-07-01")]
%>
<style>
#daily_events_calendar div {
 position: relative;
 text-align: center;
 zoom: 1;
 width: 1.6em;
}

  #daily_events_calendar div a {
   position: relative;
   display: block;
   z-index: 2;
  }



  #daily_events_calendar div img {
   position: absolute;
   top: -.2em;
   left: 0;
   z-index: 1;
   width: 1.6em;
  }
</style>
<div id="daily_events_calendar">
<% items[0..total].each_with_index do |i, index| %>
  <div style="font-size:<%= i[:font] %>px;position:absolute;left:<%= i[:left] %>px;top:<%= i[:top] %>px;">
  <% star = (@fgc_dates.include? Date.parse(index.days.since.to_s)) ? "*" : "" %>
  <%= (@jw_dates.include? Date.parse(index.days.since.to_s)) ? "<img src='/img/calend_back-2.png'>" : "" %>
  <%= link_to index.days.since.day.to_s + star, url_for(:controller => 'place_gallery/daily_events', :date => Date.parse(index.days.since.to_s)),  :title => l(Date.parse(index.days.since.to_s), :format => :date_with_weekday), :class => ( (Date.parse(index.days.since.to_s)==Date.today) && 'de_date_selected' || ""), :rel => url_for(:controller => 'place_gallery/daily_events', :action => 'tooltip', :date => Date.parse(index.days.since.to_s)),
:style => ((@jw_dates.include? Date.parse(index.days.since.to_s)) ? "color:white" : "" )
  %>    

  </div>

<% end %>
</div>
<script>
  $(document).ready(function(){
    $('div#daily_events_calendar a').cluetip({arrows:false, clickThrough: true});
  });
</script>