<div class="top-line">
	<ul class="top-menu">
		<li>
			<a href="#" class="dropdown"><span>BIO-сообщество<b></b></span></a>
			<div class="dropdown-menu">
				<ul>
					<li><a href="#">Блоги<b></b></a></li>
					<li><a href="#">Объявления<b></b></a></li>
					<li><a href="#">Конкурс<b></b></a></li>
					<li><a href="#">Галереи<b></b></a></li>
					<li><a href="#">Портфолио<b></b></a></li>
					<li><a href="#">Пользователи<b></b></a></li>
				</ul>
				<div class="column">
					<a href="#"><img src="images/shared/photo-3.jpg"/></a>
					<h4><a href="#">Мода</a></h4>
					<a href="#">FEIT For Your Right!</a>
				</div>
			</div>
		</li>
		<li>
			<a href="#" class="dropdown"><span>Трибуна<b></b></span></a>
			<div class="dropdown-menu">
				<ul>
					<li><a href="#">Статьи<b></b></a></li>
					<li><a href="#">Интервью<b></b></a></li>
					<li><a href="#">Глас народа<b></b></a></li>
					<li><a href="#">How to...<b></b></a></li>
					<li><a href="#">FGPEDIA<b></b></a></li>
					<li><a href="#">Видео<b></b></a></li>
					<li><a href="#">Светская хроника<b></b></a></li>
				</ul>
				<div class="column">
					<a href="#"><img src="images/shared/photo-4.jpg"/></a>
					<h4><a href="#">Beauty</a></h4>
					<a href="#">Golden Delicious парфюмерное искусство</a>
				</div>
			</div>
		</li>
		<li>
			<a href="#" class="dropdown"><span>FG life<b></b></span></a>
			<div class="dropdown-menu">
				<ul>
					<li><a href="#">FG анонсы<b></b></a></li>
					<li><a href="#">FG репортажи<b></b></a></li>
					<li><a href="#">FG news<b></b></a></li>
					<li><a href="#">Места<b></b></a></li>
					<li><a href="#">Устав FG<b></b></a></li>
				</ul>
				<div class="column">
					<a href="#"><img src="images/shared/photo-5.jpg"/></a>
					<h4><a href="#">Анонсы</a></h4>
					<a href="#">The Day The Music Died</a>
				</div>
			</div>
		</li>
		<li><a href="#"><span>Интервью<b></b></span></a></li>
	</ul>
    <% form_tag "/search", :method => :get, :id => 'search_form' do %>
		<input type="text" name="seacrh"/>
		<input type="submit" value="" id="search-btn"/>
	<% end %>
	<ul class="top-menu">
		<li>
			<a href="#" class="dropdown"><span>Мой BIO<b></b></span></a>
			<div class="dropdown-menu my-bio">
				<div class="bio-name">
					<a href="#"><img src="images/shared/photo-6.jpg"/></a>
					<div>
						<a href="#">Ларрри фон<br/>Дрихтельбахер</a>
					</div>
				</div>
				<table>
					<tr><td><a href="#">Профиль</a></td><td>&nbsp;</td></tr>
					<tr><td>Интервью</td><td><a href="#">Хочу</a></td></tr>
					<tr><td><a href="#">Портфолио</a></td><td><a href="#">Добавить</a></td></tr>
					<tr><td><a href="#">Друзья</a></td><td>&nbsp;</td></tr>
					<tr><td><a href="#">Сообщения</a></td><td>&nbsp;</td></tr>
					<tr><td><a href="#">Блог</a></td><td>&nbsp;</td></tr>
					<tr><td><a href="#">Фотоальбомы</a></td><td>&nbsp;</td></tr>
					<tr><td>Объявления</td><td><a href="#">Добавить</a></td></tr>
				</table>
				<ul>
					<li class="settings"><a href="#">Настройки</a></li>
					<li class="logout"><a href="#">Выход</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<ul class="top-menu-small">
		<li class="mail new"><a href="#"></a><span>45</span></li>
		<li class="friends new"><a href="#"></a><span>5</span></li>
		<li class="comment new"><a href="#"></a><span>12</span></li>
	</ul>
</div>