<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>FaceGallery</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta property="og:title" content="Новый СT 200h. Тихо! Революция начинается." />
  <meta property="og:description" content="Новый CT 200h для водителей будущего, думающих о завтрашнем дне." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://facegallery.ru/" />
  <meta property="og:image" content="http://facegallery.ru/img/lexus-like.jpg" />
  <meta property="og:site_name" content="FaceGallery" />
  <meta property="fb:admins" content="645463481" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?1" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico?1" />
  <%= stylesheet_link_tag 'reset', 'layout', 'second','add-second', 'additional', 'jquery.cluetip','jquery.jgrowl' %>
  <%= javascript_include_tag :defaults, 'adriver_async', 'jquery.easing.1.3', 'jquery.pngFix',  'jquery.flash', 'jquery.scrollTo-min','jquery.smoothDivScroll-0.9-min', 'jquery.scrollTo', 'jquery.rest_in_place.js',  'jquery.timers', 'jquery.dropshadow', 'mbTooltip.min', 'jquery.corner', 'jquery.tools.min.js', 'autoresize.jquery.min', 'jquery.cluetip', 'jquery.jgrowl.minimized', :cache => 'all_w' %>

  <script type="text/javascript">
    $(document).ready(function(){
        $(document).pngFix();
    });
  </script> 
  <!--[if lte IE 7]>
  <%= stylesheet_link_tag 'IE7' %>
  <![endif]-->
  <!--[if lte IE 6]>
  <%= stylesheet_link_tag 'IE6' %>
  <![endif]-->
<%= yield :head %>
</head>
<body id="mainpage-body">
<div id="container_of_everything">
  <div id="top">
    <div class="service">
    <%= render :partial => 'users/user_bar' %>
    <div id="search">
    <% form_tag "/search", :method => :get, :id => 'search_form' do %>
			<input type="text" value="Поиск" name="q" id="search_input">
		<% end %>
    </div>
    </div>
    
    <% if @johnywalker %>
    <div class="subline">
      <div class="slogan">
        <div class="info">
          <a href="http://www.facebook.com/home.php#!/JohnnieWalkerRussia" style="position: absolute; width: 124px; height: 30px; right:5px;top:-2px">&nbsp;</a>
          <span><%= l(@johnywalker.date, :format => :short) %></span><%= link_to @johnywalker.name, daily_event_path(:id => @johnywalker.id) %>
        </div>
      </div>
    </div>
    <% end %>
    
  </div>

  <%= yield :layout %>
  <script>
    $(document).ready(function(){
        $('.scrollableArea a').bind("mouseenter",function(){
            //var left =  $(this).offset().left+$(this).width()-15;
            //if (left > $(window).width() - 15 - 223) left = $(window).width() - 15 - 223;
            /*$('#biotooltip').css( "left", $(this).offset().left+$(this).width()-15 + "px" );
            $('#biotooltip').css( "top", $(this).offset().top-223+15 + "px" );*/
            $('#btname').text( $(this).attr("displayname") );
            $('#btoccupation').text( $(this).attr("occupation") );
            $('#btquote').html( "&laquo;" + $(this).attr("quote") + "&raquo;");

        });
        $('.scrollableArea a').mousemove(function(event) {
            var left = event.pageX+15;
            if (left > $(window).width() - 15 - 223) left = $(window).width() - 15 - 223;
            $('#biotooltip').css( "left", left + "px" );
            $('#biotooltip').css( "top", event.pageY-15-223 + "px" );
            
            $('#biotooltip').show();
        });
        $('.scrollableArea a').bind("mouseleave",function(){
            $('#biotooltip').hide();

        });
    });
  </script>

  <div id="bottom">
   <div>
    <span>&copy;&nbsp;FACE GALLERY, 2010</span>
	<a href="/about_face_gallery/"><%= t 'footer.about_face_gallery' %></a>
	<a href="/about_the_team/"><%= t 'footer.about_us' %></a>
	<a href="/fb/"><%= t 'footer.feedback' %></a>
	<a href="/contacts/"><%= t 'footer.contacts' %></a>
    <a href="/rules/"><%= 'Правила Сообщества' %></a>
   </div>
  </div>
</div>
<div style="height:0px;">
<div id="biotooltip" style="position:absolute;width:223px;height:223px;z-index:60;display:none;">
    <div id="biotooltipbg" style="position:absolute;width:223px;height:223px;background:url('/img/bio-popup-bg.png');z-index:65">
    <div id="btdata" style="">
        <h2 id="btname"></h2>
        <div id="btoccupation"></div>
        <div id="btquote"></div>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-9478454-1");
		pageTracker._trackPageview();
	} catch(err) {}
	
	try {
		var flashPageTracker = _gat._getTracker("UA-9238963-12");
	} catch(err) {}

	function flashTrackEvent(eventName) {
		try {
			flashPageTracker._trackEvent('flash_event', eventName);
		} catch (err){}
	}
</script>
</body>
</html>
