<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= "#@page_title - " if @page_title %>FaceGallery</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?1" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico?1" />
  <%= stylesheet_link_tag 'reset', 'layout',  'second', 'add-second', 'additional', 'jquery.cluetip', 'jquery.fancybox', 'jquery.jgrowl' %>
  <%= javascript_include_tag :defaults, 'adriver_async', 'jquery.easing.1.3', 'jquery.pngFix', 'jquery.fancybox-1.2.1.pack', 'jquery.flash', 'jquery.scrollTo-min','jquery.smoothDivScroll-0.9-min', 'jquery.scrollTo', 'jquery.rest_in_place.js',  'jquery.timers', 'jquery.dropshadow', 'mbTooltip.min', 'jquery.corner', 'jquery.tools.min.js', 'autoresize.jquery.min', 'jquery.cluetip', 'jquery.jgrowl.minimized', :cache => 'all' %>
  <script type="text/javascript" src="/javascripts/swfupload.js"></script>
  <script type="text/javascript" src="/javascripts/swfu-plugins/swfupload.queue.js"></script>
  <script type="text/javascript"> 
    $(document).ready(function(){
        $(document).pngFix();
    });
  </script>
<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?11" charset="windows-1251"></script>
  <!--[if lte IE 7]>
  <%= stylesheet_link_tag 'IE7' %>
  <![endif]-->
  <!--[if lte IE 6]>
  <%= stylesheet_link_tag 'IE6' %>
  <![endif]-->
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <%= yield :head %>
</head>
<body class="c-<%= controller.controller_name %> a-<%= controller.action_name %> <%= @custom_body_class if @custom_body_class %>">
<div id="container_of_everything">
<script type="text/javascript">
  rails_authenticity_token = '<%= form_authenticity_token %>'
</script>
<div id="frame" class="<%= yield :frame_class %>">
  <div id="top">
    <div class="service">
    <%= render :partial => 'users/user_bar' %>
    <div id="search">
        <% form_tag "/search", :method => :get, :id => 'search_form' do %>
			<input type="text" value="Поиск" name="q" id="search_input">
		<% end %>
    </div>
    </div>
    <%= yield :topbar %>
  </div>
  <div id="right-sidebar">
   <%= render :partial => 'layouts/daily_event_calendar' if controller.controller_name != 'daily_events' %>
    <%= yield :right_afisha %>
    <div id="rightbanner" style="padding:25px 0;">
    </div>
    <script type="text/javascript" language=javascript>
		new adriver ("rightbanner", {sid:133467, bt:52, pz:2, bn:2 })
	</script>
    <% if @addthis_display %>
	<!-- AddThis Button BEGIN -->
	<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=facegallery"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0;margin:20px 0;"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=facegallery"></script>
	<script type="text/javascript">
    var addthis_config = {
    data_use_flash: false
    }
    </script>

	<!-- AddThis Button END -->
	<% end %>
    <%= yield :right %>
    <% if controller.controller_name.to_s == "blog" || controller.controller_name.to_s == "fgc" || controller.controller_name.to_s == "bio"  %>
	    <div id="love_v"><script type="text/javascript">var love_anketa_id=<%= current_user ? current_user.id : "undefined" %>;var love_partner_id=82;var love_cnt=4;document.write('<iframe src="http://loveadvert.ru/aview2.html?aid='+love_anketa_id+'&pid='+love_partner_id+'&cnt='+love_cnt+'" width="240" height="400" frameborder="0" scrolling="no"></iframe>');</script></div>
    <% end %>
  </div>

  <div id="left-sidebar">
    <div id="logo">
      <a class="<%= @logo_class || "variant-second" %>" href="/" title="Face Gallery">Face Gallery</a>
    </div>
    <div class="main-menu">
      <ul>
        <li><a href="/facegallery/" title="<%= t('mainmenu_titles.bio')%>">BIO</a></li>
        <li><a href="/fgc/" title="<%= t('mainmenu_titles.fgc')%>">FG Life</a></li>
        <li><a href="/magazine/" title="<%= t('mainmenu_titles.magazine')%>">Magazine</a></li>
        <li><a href="/placegallery/daily_events" title="Самые интересные мероприятия ближайших дней">Афиша дня</a></li>
        <li><a href="/community/" title="<%= t('mainmenu_titles.community')%>">Community</a></li>
      </ul>

    </div>
    <%= yield :left %>
  </div>

  <div id="center" class="secondary">

  <% flash.each do |key, msg| %>
     <%= content_tag :div, msg, :class => [key, " flash_message"], :id => "notice_#{key}" %>
     <% content_tag :script, :type => 'text/javascript' do -%>
         setTimeout("$('#notice_<%= key %>').fade();", 15000);
     <% end %>
  <% end %>
  <%= yield :layout %>
  </div>

  <div id="bottom">
   <div>
    <span>&copy;&nbsp;FACE GALLERY, 2010</span>
	<a href="/about_face_gallery/"><%= t 'footer.about_face_gallery' %></a>
	<a href="/about_the_team/"><%= t 'footer.about_us' %></a>
	<a href="/fb/"><%= t 'footer.feedback' %></a>
	<a href="/contacts/"><%= t 'footer.contacts' %></a>
    <a href="/rules/"><%= 'Правила Сообщества' %></a>
   </div>
   <%= yield :page_bottom %>

  </div>
</div>
</div>
<%= yield :bottom %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9478454-1");
pageTracker._trackPageview();
} catch(err) {}</script>


</body>
</html>
