html, body {
	position:relative;
	margin:0;
	padding:0;
	min-width:1155px;
	height:100%;
	background:#fff;
	color:#000;
	font:normal 12px Arial, Helvetica, sans-serif;
	}
a {
	color:#7452b9;
	text-decoration:none;
	}
	a:hover {
		text-decoration:underline;
		}
#wrapper {
	margin:0 auto -305px;
	width:1000px;
	height:auto !important;
	height:100%;
	min-height:100%;
	}
#header {
	position:relative;
	padding-top:20px;
	height:163px;
	z-index:100;
	}
	#header ul.face-list {
		height:100px;
		}
		#header ul.face-list li {
			float:left;
			overflow:hidden;
			width:100px;
			height:100px;
			}
	#header .top-line {
		padding-left:68px;
		height:38px;
		background:url(../images/logo.png) 15px 8px no-repeat;
		border-top:1px solid #020202;
		border-right:1px solid #000;
		border-bottom:1px solid #020202;
		border-left:1px solid #000;
		}
	#header ul.top-menu {
		float:left;
		margin:9px 0;
		height:20px;
		border-left:1px solid #000;
		}
		#header ul.top-menu li {
			position:relative;
			float:left;
			margin:-10px -9px -10px 0;
			}
			#header ul.top-menu li.hover {
				background:#eee;
				}
			#header ul.top-menu li a {
				display:inline-block;
				margin:0 9px;
				padding:0 22px 0 15px;
				height:40px;
				color:#000;
				font:normal 11px/40px 'KievitCyr-MediumRegular';
				text-transform:uppercase;
                letter-spacing:2px;  
				}
				#header ul.top-menu li a:hover {
					text-decoration:none;
					}
				#header ul.top-menu li a span {
					position:relative;
					padding-top:2px;
					}
					#header ul.top-menu li a b {
						position:absolute;
						top:50%;
						left:0;
						display:none;
						width:100%;
						border-top:1px solid #000;
						font-size:0;
						line-height:0;
						}
					#header ul.top-menu li a:hover b{
						display:block;
						}
				#header ul.top-menu li a.dropdown {
					background:url(../images/arrow-down-green.gif) 100% 50% no-repeat; 
					}
	#header ul.top-menu .dropdown-menu {
		display:none;
		position: absolute;
		top:39px;
		left:0;
		padding:20px 0 23px 26px;
		width:351px;
		background:#eee;
		z-index:10000;
		}
		#header ul.top-menu li .dropdown-menu a {
			display:inline;
			margin:0;
			padding:0;
			height:auto;
			}
		#header ul.top-menu li .dropdown-menu ul {
			float:left;
			width:148px;
			}
			#header ul.top-menu li .dropdown-menu ul li {
				float:none;
				margin:0;
				height:25px;
				}
				#header ul.top-menu li .dropdown-menu ul li a {
					position:relative;
					padding-top:2px;
					font-size:10px;
					line-height:1em;
					}
		#header ul.top-menu li .dropdown-menu .column {
			margin:5px 0 0 166px;
			width:110px;
			padding:0 0 0 34px;
			height:187px;
			border-left:1px solid #000;
			}
			#header ul.top-menu li .dropdown-menu .column a {
				color:#7452b9;
				font:bold 13px/1.2em Arial, Helvetica, sans-serif;
				text-transform:none;
				letter-spacing:normal;
				}
				#header ul.top-menu li .dropdown-menu .column a:hover,
				#header ul.top-menu li .dropdown-menu.my-bio a:hover {
					text-decoration:underline;
					}
				#header ul.top-menu li .dropdown-menu .column h4 a {
					display:block;
					margin:10px 0;
					color:#000;
					font:normal 10px/1em 'KievitCyr-MediumRegular';
					text-transform:uppercase;
					letter-spacing:2px;
					}
					#header ul.top-menu li .dropdown-menu .column h4 a:hover {
						color:#7452b9;
						text-decoration:none;
						}
	#header ul.top-menu li .dropdown-menu.my-bio {
		padding:22px 20px 25px;
		width:200px;
		color:#666;
		}
		#header ul.top-menu li .dropdown-menu.my-bio a {
			color:#7452b9;
			font:normal 12px/1.2em Arial, Helvetica, sans-serif;
			text-transform:none;
			letter-spacing:normal;
			}
		#header ul.top-menu li .dropdown-menu.my-bio .bio-name {
			margin-bottom:15px;
			padding:10px 3px 12px;
			border-top:1px solid #000;
			border-bottom:1px solid #000;
			}
			#header ul.top-menu li .dropdown-menu.my-bio .bio-name img {
				float:left;
				margin-top:3px;
				}
			#header ul.top-menu li .dropdown-menu.my-bio .bio-name div {
				margin-left:35px;
				}
			#header ul.top-menu li .dropdown-menu.my-bio td {
				line-height:1.8em;
				}
				#header ul.top-menu li .dropdown-menu.my-bio td:first-child {
					width:130px;
					}
					#header ul.top-menu li .dropdown-menu.my-bio td:first-child a {
						color:#000;
						}
		#header ul.top-menu li .dropdown-menu.my-bio ul  {
			margin-top:12px;
			padding-top:12px;
			width:200px;
			border-top:1px solid #000;
			}
			#header ul.top-menu li .dropdown-menu.my-bio ul  li {
				height:auto;
				}
				#header ul.top-menu li .dropdown-menu.my-bio ul  li a {
					padding-left:19px;
					line-height:1.6em;
					}
					#header ul.top-menu li .dropdown-menu.my-bio ul li.settings a {
						background:url(../images/settings.png) 0 3px no-repeat;
						color:#000;
						}
					#header ul.top-menu li .dropdown-menu.my-bio ul li.logout a {
						background:url(../images/logout.png) 0 3px no-repeat;
						}
		#header .top-line form {
			float:left;
			margin-top:9px;
			padding:1px 17px 1px 18px;
			border-left:1px solid #000;
			}
			#header .top-line form input {
				float:left;
				margin-right:5px;
				padding:0 6px;
				width:123px;
				height:18px;
				background:url(../images/search-bg.gif);
				border:none;
				font:12px/18px Arial,Helvetica,sans-serif;
				}
			#header .top-line form #search-btn {
				position:relative;
				top:1px;
				padding:0;
				width:15px;
				height:15px;
				background:url(../images/search.gif);
				cursor:pointer;
				}
	#header ul.top-menu-small {
		float:left;
		padding:13px 0 0 18px;
		width:105px;
		}
		#header ul.top-menu-small li {
			position:relative;
			float:left;
			margin-right:25px;
			}
			#header ul.top-menu-small li a {
				display:block;
				width:10px;
				height:10px;
				background:url(../images/top-menu-small.png) 0 0 no-repeat;
				}
			#header ul.top-menu-small li span { 
				position:absolute;
				top:-3px;
				left:16px;
				color:#7452b9;
				font-size:10px;
				}
			#header ul.top-menu-small li.mail a {background-position:0 0;}
			#header ul.top-menu-small li.friends a {background-position:-35px 0;}
			#header ul.top-menu-small li.comment a {background-position:-70px 0;}
			#header ul.top-menu-small li.mail.new a {background-position:0 -40px;}
			#header ul.top-menu-small li.friends.new a {background-position:-35px -40px;}
			#header ul.top-menu-small li.comment.new a {background-position:-70px -40px;}
			#header ul.top-menu-small li.mail a:hover,
			#header ul.top-menu-small li.mail.new a:hover {background-position:0 -20px;}
			#header ul.top-menu-small li.friends a:hover,
			#header ul.top-menu-small li.friends.new a:hover {background-position:-35px -20px;}
			#header ul.top-menu-small li.comment a:hover,
			#header ul.top-menu-small li.comment.new a:hover {background-position:-70px -20px;}
#container .sidebar-right {
	float:left;
	width:240px;
	}
	#container .sidebar-right #daily-events-calendar {
		position:relative;
		height:250px;
		z-index:1;
		}
		#container .sidebar-right #daily-events-calendar div {
			position:absolute;
			}
			#container .sidebar-right #daily-events-calendar div a {
				color:#575757;
				}
				#container .sidebar-right #daily-events-calendar div a.selected {
					color: #7452b9;
					}
				#container .sidebar-right #daily-events-calendar div a:hover {
					text-decoration:none;
					}
				#container .sidebar-right #daily-events-calendar div a sup {
					color: #7452b9;
					}
	#container .sidebar-right .soon-event {
		overflow:hidden;
		margin-top:12px;
		height:50px;
		}
		#container .sidebar-right .soon-event img {
			float:left;
			}
		#container .sidebar-right .soon-event div {
			margin-left:60px;
			}
			#container .sidebar-right .soon-event div .date {
				margin-bottom:5px;
				color:#33cc99;
				}
			#container .sidebar-right .soon-event div a {
				color:#000;
				}
	#container .sidebar-right .right-banner {
		margin-top:26px;
		}
	#container .sidebar-right .section {
		margin:35px 15px;
		}
#container .center {
	float:left;
	width:100%;
	}
	#container.sidebar-right .center {
		margin-right:-240px;
		}
	#container .content {
		padding-top:7px;
		}
		#container.sidebar-right .content {
			padding-right:10px;
			padding-left:10px;
			margin-right:255px;
			}
	#container.sidebar-right .center .content > div.clearfix {
		width:725px;
		}
.clear {
	clear:both;
	height:305px;	
	}
#footer {
	position:relative;
	margin:0 auto;
	padding:65px 0 0;
	width:1000px;
	height:240px;
	line-height:1.3em;
	}
	#footer .bottom-menu {
		margin-bottom:15px;
		padding:0 250px 0 195px;
		height:153px;
		background:url(../images/logo-footer.png) 29px 2px no-repeat;
		border-bottom:1px solid #000;
		}
		#footer .bottom-menu .section {
			float:left;
			margin-right:18px;
			width:120px;
			}
			#footer .bottom-menu .section:first-child {
				margin-right:18px;
				width:120px;
				}
			#footer .bottom-menu .section ul {
				margin-top:10px;
				}
				#footer .bottom-menu .section ul li {
					margin-bottom:5px;
					}
				#footer .bottom-menu .section ul li a {
					color:#000;
					}
	#footer ul.social-btns {
		position:absolute;
		top:168px;
		right:160px;
		}
		#footer ul.social-btns li {
			float:left;
			margin-left:14px;
			}
	#footer .video {
		position:absolute;
		top:65px;
		right:10px;
		overflow:hidden;
		width:230px;
		height:50px;
		}
		#footer .video img {
			float:left;
			}
		#footer .video div {
			margin-left:60px;
			}
			#footer .video div a {
				color:#000;
				}
	#footer .copyright {
		float:left;
		margin-left:28px;
		}
	#footer .copyright-text {
		margin:0 300px 0 195px;
		}
	#footer .counters {
		float:right;
		margin-right:17px;
		}
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
	display:inline-block;
	*zoom:1;
	}
*html .clearfix {
	height:1%;
	}
@font-face {
    font-family: 'KievitCyr-MediumRegular';
    src: url('../font/kvcymd-webfont.eot');
    src: url('../font/kvcymd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kvcymd-webfont.woff') format('woff'),
         url('../font/kvcymd-webfont.ttf') format('truetype'),
         url('../font/kvcymd-webfont.svg#KievitCyr-MediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}