.section h3,
dl.posters dt a,
dl.posters dd h3,
.page-post h3 {
	position:relative;
	height:10px;
	font:normal 10px 'KievitCyr-MediumRegular';
	text-transform:uppercase;
	letter-spacing:2px;  
	}
	.section h3 a,
	dl.posters dt a,
	dl.posters dd h3 a,
	.page-post h3 a {
		color:#000;
		}
		.section h3 a:hover,
		dl.posters dt a:hover,
		dl.posters dd h3 a:hover,
		.page-post h3 a:hover {
			color:#7452b9;
			text-decoration:none;
			}
	.section h3 b,
	.section.advice div b,
	.page-post h3 b,
	.page-post .author-info div b,
	.page-post-creating .category b,
	.page-post-creating .author-info div b,
	.page-nav ul li.active b {
		position:absolute;
		top:50%;
		left:0;
		display:block;
		width:100%;
		border-top:1px solid #000;
		font-size:0;
		line-height:0;
		}
.section h4,
dl.posters dd h4 {
	margin-bottom:5px;
	font-size:13px;
	line-height:1.2em;
	font-weight:bold;
	}
.section p {
	line-height:1.4em;
	}
.section.one {
	position:relative;
	clear:both;
	width:725px;
	}
	.section.one.hidden {
		overflow:hidden;
		}
.section.half-left {
	float:left;
	padding-bottom:20px;
	width:345px;
	}
.section.half-right {
	float:right;
	padding-bottom:20px;
	width:345px;
	}
	.section .section {
		width:155px;
		margin-bottom:0;
		}
		.section .section p {
			margin-bottom:10px;
			}
.section .section-content {
	margin-right:40px;
	}
	.section .section-content.hidden {
		overflow:hidden;
		}
	.section .section-content h3 {
		margin-bottom:10px;
		}
	.section .section-content img {
		display: block;
		margin-bottom: 7px;
		}
	.section .section-content p.place.green {
		color:#3c9;
		}
	.section .section p.place {
		margin-top:15px;
		}
.section .section-info {
	clear:both;
	float:right;
	width:35px;
	color:#888;
	font-size:10px;
	}
	.section .section-info.hover {
		color:#000;
		}
	.section .section-info p {
		margin:0 0 5px 3px;
		}
	.section .section-info .comment {
		padding-left:13px;
		background:url(../images/top-menu-small.png) -70px 2px no-repeat;
		}
		.section .section-info.hover .comment {
			background-position:-70px -18px;
			}
	.section .section-info .friends {
		padding-left:13px;
		background:url(../images/top-menu-small.png) -35px 3px no-repeat;
		}
		.section .section-info.hover .friends {
			background-position:-35px -17px;
			}
.section.interview .section-content,
.section.tribune .section-content,
.section.competition .section-content,
.section.posts .section-content,
.section.interview .section-info,
.section.tribune .section-info,
.section.competition .section-info,
.section.posts .section-info {
	padding-top:15px;
	}
.section.small {
	position:relative;
	float:left;
	margin-left:30px;
	padding:10px 0 40px;
	width:155px;
	height:50px;
	}
	.section.small img.new-post {
		position:absolute;
		top:13px;
		left:-6px;
		}
	.section.small h3 {
		margin:3px 0 7px;;
		}
	.section.small h4 {
		font-size:12px;
		line-height:1.3em;
		}
	.section.small:first-child {
		margin-left:0;
		}
	.section.small img,
	.section.interview img,
	.section.posts img,
	dl.posters dd img,
	.section.one .add-comment .author-info img,
	.section.one ul.comment li .author-info img,
	#gallery .section.one .photo-author img,
	.profile-mail .profile-info img,
	.profile-gallery .profile-info img,
	.profile-mail .section.one.mail ul li .author-info img,
	.profile-mail .section.one.tape-mail .send-message .author-info img,
	.profile-mail .section.one.tape-mail ul li .author-info img,
	.profile-gallery .section.one.album ul li .section-content img,
	.section.one.places ul li .tip img,
	#container .sidebar-right .section.rules img,
	.section.one.users ul li .tip img {
		float:left;
		}
	.section.small div {
		overflow:hidden;
		margin-left:60px;
		width:95px;
		height:50px;
		}
.section.advice,
.section.one.carousel h3,
.section.one.places h3,
#container .sidebar-right .section.all-go h4,
.section.one.recommend h3,
.section.one.users h3 {
	text-align:center;
	}
	.section.advice .quote {
		margin:15px auto 30px;
		width:165px;
		color:#7452b9;
		font:normal 18px 'Times New Roman';
		font-style:italic;
		}
	.section.advice div {
		position:relative;
		margin-bottom:7px;
		height:50px;
		}
.section.interview .section-content {
	padding-top:5px;
	}
	.section.interview .section-content div {
		margin-bottom:0;
		}
	.section.interview .section-content div h4 {
		margin-bottom:10px;
		}
	.section.interview .section-content div {
		margin-left:190px;
		padding-top:10px;
		}
		.section.interview .section-content div .quote {
			margin:20px 0 15px;
			color:#000;
			font:normal 16px 'Times New Roman';
			font-style:italic;
			text-indent:-15px;
			}
.section .section-content p.competition {
	color:#555;
	}
	.section.competition .section-content img {
		margin-bottom:15px;
		}
.section.one.carousel,
.section.one.recommend {
	float:left;
	margin-bottom:45px;
	}
img.big-face {
	margin-left:-5px;
	}
a.name {
	color:#555;
	}
.title-line {
	position:relative;
	}
	.title-line a.link-with-title {
		position:absolute;
		top:-4px;
		right:0;
		padding:0 8px;
		background:#fff;
		font:normal 14px 'Times New Roman';
		font-style:italic;
		}
ul.stream {
	float:left;
	margin:20px -35px 20px 0;
	}
	ul.stream li {
		float:left;
		overflow:hidden;
		margin:0 35px 20px 0;]
		width:155px;
		height:200px;
		}
		ul.stream li .section-info,
		ul.stream li .section-content {
			padding-top:0;
			}
		ul.stream li h4 {
			overflow:hidden;
			max-height:47px;
			}
#container .sidebar-right .section.comment {
	margin-top:50px;
	}
	#container .sidebar-right .section.comment h3 {
		margin-bottom:24px;
		text-align:center;
		}
		#container .sidebar-right .section.comment div {
			margin-bottom:20px;
			}
			#container.sidebar-right .section.comment div h3 {
				float:left;
				margin:3px 5px 0 0;
				}
				#container .sidebar-right .section.comment div h3 a {
					color:#010101;
					}
					#container .sidebar-right .section.comment div h3 a:hover {
						color:#7452b9;
						}
			#container .sidebar-right .section.comment div p {
				margin-bottom:7px;
				color:#010101;
				}
				#container .sidebar-right .section.comment div p span {
					color:#000;
					font:normal 10px 'Times New Roman';
					}
		#container .sidebar-right .section.comment ul.comment-nav {
			padding-top:5px;
			height:13px;
			}
			#container .sidebar-right .section.comment ul.comment-nav li {
				float:left;
				margin-right:5px;
				}
				#container .sidebar-right .section.comment ul.comment-nav li a,
				#container .sidebar-right .section.comment ul.comment-nav li span,
				ul.poster-nav li a {
					display:block;
					width:8px;
					height:13px;
					background:url(../images/layouts/arrow-small.png) 0 0 no-repeat;
					}
					#container .sidebar-right .section.comment ul.comment-nav li a.prev,
					ul.poster-nav li a.prev {
						background-position:0 0;
						}
						#container .sidebar-right .section.comment ul.comment-nav li a.prev:hover,
						ul.poster-nav li a.prev:hover {
							background-position:0 -28px;
							}
					#container .sidebar-right .section.comment ul.comment-nav li a.next,
					ul.poster-nav li a.next {
						background-position:-8px 0;
						}
						#container .sidebar-right .section.comment ul.comment-nav li a.next:hover,
						ul.poster-nav li a.next:hover {
							background-position:-8px -28px;
							}
					#container .sidebar-right .section.comment ul.comment-nav li span.prev {
						background-position:0 -56px;
						}
					#container .sidebar-right .section.comment ul.comment-nav li span.next {
						background-position:-8px -56px;
						}
#container .sidebar-right .section.rules {
	margin-bottom:10px;
	width:210px;
	}
	#container .sidebar-right .section.rules img {
		margin:0 20px 0 5px;
		}
	#container .sidebar-right .section.rules h4 {
		margin-top:5px;
		}
		#container .sidebar-right .section.rules h4 a,
		#container .sidebar-right .section.all-go h4  a {
			color:#000;
			}
	#container .sidebar-right .section.rules p {
		color:#777;
		}
#container .sidebar-right .section.all-go h3 {
	margin-bottom:28px;
	text-align:center;
	}
#container .sidebar-right .section.all-go .poster-date {
	position:relative;
	margin:0 auto 28px;
	width:110px;
	}
	#container .sidebar-right .section.all-go .poster-date .day {
		float:left;
		margin-bottom:3px;
		width:54px;
		height:54px;
		background:#3c9;
		color:#fff;
		font-size:41px;
		line-height:54px;
		font-weight:bold;
		text-align:center;
		}
		#container .sidebar-right .section.all-go .day:first-child {
			margin-right:2px;
			}
	#container .sidebar-right .section.all-go .mounth {
		clear:left;
		width:110px;
		height:33px;
		background:#3c9;
		color:#fff;
		font-size:18px;
		line-height:33px;
		font-weight:bold;
		text-align:center;
		}
.clock {
	position:relative;
	width:11px;
	height:11px;
	margin:0 0 9px 3px;
	background:url(../images/layouts/clock.png) 0 0 no-repeat;
	}
	.section .section-info.hover .clock {
		background-position:0 -12px;
		}
	.clock .min {
		position: absolute;
		top:0px;
		left:5px;
		width:1px;
		height:11px;
		background:url(../images/layouts/min.gif);
		}
	.clock .hour {
		position: absolute;
		top:0px;
		left:5px;
		width:1px;
		height:11px;
		background:url(../images/layouts/hour.gif);
		}
.slideshow-wrap {
	position:relative;
	}
.slideshow {
	}
.slideshow-nav {
	position:absolute;
	top:152px;
	right:17px;
	z-index:50;
	}
	.slideshow-nav a {
		display:inline-block;
		margin-left:10px;
		width:10px;
		height:8px;
		background:url(../images/layouts/slide-btn.png) 1px 0 no-repeat;
		font-size:0;
		line-height:0;
		text-indent:-9999px !important;
		}
		.slideshow-nav a.activeSlide {
			background:url(../images/layouts/slide-btn-active.png) 0 0 no-repeat;
			}
.tabs-wrap {
	float:left;
	margin:20px 0 45px;
	}
	.tabs-wrap ul.tabs {
		display:table;
		*display:block;
		width:725px;
		border-bottom:1px solid #000;
		}
		.tabs-wrap ul.tabs li {
			display:table-cell;
			*float:left;
			padding-left:1px;
			}
			.tabs-wrap ul.tabs li:first-child {
				padding:0;
				}
			.tabs-wrap ul.tabs li a {
				display:block;
				*display:inline-block;
				margin-bottom:-1px;
				*padding:0 20px;
				height:32px;
				background:#f5f5f5;
				border:1px solid #f5f5f5;
				border-bottom:none;
				color:#000;
				line-height:32px;
				text-align:center;
				}
				.tabs-wrap ul.tabs li a:hover {
					text-decoration:none;
					background:#e9e9e9;
					border:1px solid #e9e9e9;
					border-bottom:none;
					}
				.tabs-wrap ul.tabs li.active a,
				.tabs-wrap ul.tabs li.active a:hover {
					background:#fff;
					border:1px solid #000;
					border-bottom:1px solid #fff;
					}
	.tabs-wrap .box {
		float:left;
		display:none;
		padding:40px 0 35px 39px;
		width:684px;
		border:1px solid #000;
		border-top:none;
		}
		.tabs-wrap .box.visible {
			display:block;
			}
	.tabs-wrap .box div {
		float:left;
		padding-right:35px;
		width:190px;
		}
		.tabs-wrap .box div img {
			display:block;
			margin-bottom:10px;
			}
		.tabs-wrap .box div a {
			display:inline-block;
			width:150px;
			color:#000;
			font-size:13px;
			font-weight:bold;
			}
.filter-line {
	margin-bottom:25px;
	padding:9px 0 9px 27px;
	height:22px;
	background:#f5f5f5;
	}
	.filter-line ul.tribune-filter,
	.filter-line ul.life-filter,
	.filter-line ul.bio-comm-filter {
		float:left;
		margin-right:18px;
		width:339px;
		height:22px;
		border-right:1px solid #000;
		}
		.filter-line ul.tribune-filter li {
			float:left;
			margin-right:28px;
			line-height:22px;
			}
		.filter-line ul.life-filter li {
			float:left;
			margin-right:26px;
			line-height:22px;
			}
		.filter-line ul.bio-comm-filter li {
			float:left;
			margin-right:20px;
			line-height:22px;
			}
			.filter-line ul.tribune-filter li a,
			.filter-line ul.life-filter li a,
			.filter-line ul.bio-comm-filter li a {
				color:#000;
				}
				.filter-line ul.tribune-filter li.active a,
				.filter-line ul.life-filter li.active a,
				.filter-line ul.bio-comm-filter li.active a {
					color:#7452b9;
					}
	.filter-line form.tribune-form label {
		display:inline-block;
		width:77px;
		line-height:22px;
		}
	.filter-line form.tribune-form select {
		margin-top:2px;
		width:245px;
		height:18px;
		color:#333;
		font:normal 12px/16px Arial, Helvetica, sans-serif;
		}
	.filter-line form.life-form label {
		display:inline-block;
		width:48px;
		line-height:22px;
		}
	.filter-line form.life-form input,
	.page-post .post-nav .search-line form input {
		margin-right:18px;
		padding:0 6px;
		width:221px;
		height:18px;
		background:url(../images/search-bg.gif) 0 0 repeat;
		border:none;
		font:12px/18px Arial,Helvetica,sans-serif;
		}
		.filter-line form.life-form input.arrow-search,
		.page-post .post-nav .search-line form input.arrow-search {
			position:relative;
			top:3px;
			margin:0;
			padding:0;
			width:13px;
			height:11px;
			background:url(../images/layouts/arrow-search.png) 0 0 repeat;
			cursor:pointer;
			}
			.filter-line form.life-form input.arrow-search:hover,
			.page-post .post-nav .search-line form input.arrow-search:hover {background-position:0 -11px;}
			.filter-line form.life-form input.arrow-search.no-active,
			.page-post .post-nav .search-line form input.arrow-search.no-active {
				background-position:0 -22px;
				cursor:default;
				}
.section.carousel .jcarousel-container-horizontal {
	position:relative;
	float:left;
	display:inline;
	margin-top:-5px;
	padding:29px 45px 25px 40px;
	width:640px;
	border:1px solid #000;
	}
.section.carousel .jcarousel-clip-horizontal {
	overflow:hidden;
	width:640px;
	}
.section.carousel .jcarousel-prev-horizontal {
	position:absolute;
    top:118px;
	left:-5px;
	width:8px;
	height:32px;
    background:url(../images/layouts/arrow-small.png) 0 10px no-repeat #fff;
    cursor:pointer;
	}
	.section.carousel .jcarousel-prev-horizontal:hover {
		background-position:0 -18px;
		}
.section.carousel .jcarousel-next-horizontal {
	position:absolute;
    top:118px;
	right:-5px;
	width:8px;
	height:32px;
    background:url(../images/layouts/arrow-small.png) -8px 10px no-repeat #fff;
    cursor:pointer;
	}
	.section.carousel .jcarousel-next-horizontal:hover {
		background-position:-8px -18px;
		}
.section.recommend ul {
	float:left;
	margin-top:-5px;
	padding:29px 8px 25px 40px;
	border:1px solid #000;
	}
ul.carousel li,
.section.recommend ul li {
	float:left;
	margin-right:35px;
	width:190px;
	font:normal 10px 'Times New Roman';
	}
	ul.carousel li img,
	.section.recommend ul li img {
		display:block;
		margin-bottom:10px;
		}
	ul.carousel li a,
	.section.recommend ul li a {
		display:block;
		margin-bottom:10px;
		width:150px;
		color:#000;
		font:bold 13px Arial, Helvetica, sans-serif;
		}
.section.all-go .jcarousel-container-horizontal {
	position:relative;
	float:left;
	display:inline;
	padding:0 22px;
	width:166px;
	}
.section.all-go .jcarousel-clip-horizontal {
	overflow:hidden;
	width:166px;
	}
.section.all-go .jcarousel-prev-horizontal {
	position:absolute;
    top:40px;
	left:12px;
	width:8px;
	height:13px;
    background:url(../images/layouts/arrow-small.png) 0 0 no-repeat #fff;
    cursor:pointer;
	}
	.section.all-go .jcarousel-prev-horizontal:hover {
		background-position:0 -28px;
		}
	.section.all-go .jcarousel-prev-horizontal.jcarousel-prev-disabled {
		background-position:0 -56px;
		cursor:default;
		}
.section.all-go .jcarousel-next-horizontal {
	position:absolute;
    top:40px;
	right:12px;
	width:8px;
	height:13px;
    background:url(../images/layouts/arrow-small.png) -8px 0 no-repeat #fff;
    cursor:pointer;
	}
	.section.all-go .jcarousel-next-horizontal:hover {
		background-position:-8px -28px;
		}
	.section.all-go .jcarousel-next-horizontal.jcarousel-next-disabled {
		background-position:-8px -56px;
		cursor:default;
		}
ul.carousel-all-go li {
	float:left;
	width:166px;
	}
h2.poster {
	margin:0 -3px 30px 190px;
	padding:7px 0 15px;
	border-bottom:1px solid #000;
	font-size:18px;
	font-weight:bold;
	}
ul.poster-nav {
	position:absolute;
	bottom:17px;
	right:5px;
	}
	ul.poster-nav li {
		float:left;
		margin-left:13px;
		}
dl.posters {
	margin:0 -3px 29px 0;
	}
	dl.posters dt {
		float:left;
		display:inline;
		margin-left:20px;
		width:170px;
		}
	dl.posters dd {
		position:relative;
		margin-left:190px;
		padding:0 15px 30px 0;
		border-bottom:1px solid #c8c8c8;
		*height:1%;
		}
		dl.posters dd div {
			margin-left:127px;
			}
			dl.posters dd div .title-line {
				margin:0;
				height:90px;
				}
				dl.posters dd div .title-line h4 {
					overflow:hidden;
					margin:0;
					width:233px;
					height:75px;
					line-height:1.5em;
					}
				dl.posters dd div .title-line .poster-info {
					float:right;
					margin:0;
					padding-top:7px;
					width:141px;
					}
					dl.posters dd div .title-line .poster-info .clock,
					.page-post .poster-date .poster-info ul.clock {
						float:left;
						margin:0 8px 0 0;
						width:12px;
						height:12px;
						background:url(../images/layouts/clock-small.png);
						}
						dl.posters dd div .title-line .poster-info .clock .min,
						.page-post .poster-date .poster-info ul.clock li.min {
							top:0px;
							left:6px;
							margin:0;
							padding:0;
							width:1px;
							height:12px;
							background:url(../images/layouts/min-small.gif);
							}
						dl.posters dd div .title-line .poster-info .clock .hour,
						.page-post .poster-date .poster-info ul.clock li.hour {
							top:0px;
							left:6px;
							margin:0;
							padding:0;
							width:1px;
							height:12px;
							background:url(../images/layouts/hour-small.gif);
							}
					dl.posters dd div .title-line .poster-info p.fg,
					.page-post .poster-date .poster-info p.fg {
						margin-bottom:5px;
						padding-left:20px;
						background:url(../images/layouts/fg-star.png) 0 2px no-repeat;
						color:#7452b9;
						}
					dl.posters dd div .title-line .poster-info p.time,
					.page-post .poster-date .poster-info p.time {
						margin-bottom:7px;
						line-height:12px;
						}
					dl.posters dd div .title-line .poster-info p.place,
					.page-post .poster-date .poster-info p.place {
						clear:left;
						padding-left:20px;
						background:url(../images/layouts/place.png) 0 1px no-repeat;
						}
				dl.posters dd div .title-line a.poster-action {
					position:absolute;
					top:76px;
					left:0;
					padding-left:17px;
					color:#c8c8c8;
					background:url(../images/layouts/check.png) 0 0 no-repeat;
					font-weight:bold;
					}
					dl.posters dd div .title-line a.poster-action:hover,
					dl.posters dd div .title-line a.poster-action.checked:hover {
						background-position:0 -30px;
						color:#000;
						text-decoration:none;
						}
					dl.posters dd div .title-line a.poster-action.checked {
						background-position:0 -15px;
						color:#6c9;
						}
			dl.posters dd div .poster-desc {
				display:none;
				margin:0;
				padding-top:24px;
				}
				dl.posters dd div .poster-desc p {
					line-height:1.4em;
					}
				dl.posters dd div .poster-desc a.poster-more {
					display:block;
					margin:15px 0 28px;
					}
				dl.posters dd div .poster-desc ul.poster-face {
					margin:13px 0 0 -2px;
					height:45px;
					}
					dl.posters dd div .poster-desc ul.poster-face li {
						float:left;
						margin-right:5px;
						}
			dl.posters dd a.arrow-spoiler {
				display:none;
				position:absolute;
				bottom:12px;
				right:7px;
				width:7px;
				height:11px;
				background:url(../images/layouts/arrow-spoiler.png) -7px 0 no-repeat;
				}
				dl.posters dd a.arrow-spoiler.open {
					background-position:0 0;
					}
.page-post,
.page-post-creating {
	padding:0 81px 0 84px;
	}
.page-post .post-nav-btns {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	}
	.page-post .post-nav-btns div {
		position:relative;
		top:204px;
		_top:14px;
		left:-126px;
		_left:0;
		margin:0 auto;
		width:560px;
		}
	.page-post .post-nav-btns a.prev {
		position:absolute;
		top:0;
		left:-57px;
		display:block;
		width:14px;
		height:21px;
		background:url(../images/layouts/arrow-big.png) 0 0 no-repeat;
		cursor:pointer;
		}
		.page-post .post-nav-btns a.prev:hover,
		#gallery .gallery-nav-btns a.prev:hover,
		.profile-mail .profile-info a.back:hover,
		.profile-gallery .profile-info a.back:hover {
			background-position:0 -21px;
			}
	.page-post .post-nav-btns a.next {
		position:absolute;
		top:0;
		right:-54px;
		display:block;
		width:14px;
		height:21px;
		background:url(../images/layouts/arrow-big.png) -14px 0 no-repeat;
		cursor:pointer;
		}
		.page-post .post-nav-btns a.next:hover,
		#gallery .gallery-nav-btns a.next:hover {
			background-position:-14px -21px;
			}
.page-post .post-nav {
	position:relative;
	margin-bottom:24px;
	padding:10px 0 22px;
	border-bottom:1px solid #000;
	}
	.page-post .post-nav a.prev {
		float:left;
		overflow:hidden;
		padding-left:5px;
		width:185px;
		height:30px;
		color:#000;
		}
	.page-post .post-nav a.next {
		float:right;
		overflow:hidden;
		padding-right:8px;
		width:185px;
		height:30px;
		color:#000;
		text-align:right;
		}
	.page-post .post-nav a.search-btn {
		display:block;
		margin:3px 0 5px 274px;
		width:23px;
		height:22px;
		background:url(../images/layouts/search-btn-big.png) 0 0 no-repeat;
		}
	.page-post .post-nav .search-line {
		display:none;
		margin-top:11px;
		padding-top:9px;
		background:url(../images/layouts/corner-search-up.png) 274px 0 no-repeat;
		}
		.page-post .post-nav .search-line form {
			padding-left:15px;
			height:40px;
			background:#f5f5f5;
			}
			.page-post .post-nav .search-line form label {
				display:inline-block;
				width:70px;
				line-height:40px;
				}
			.page-post .post-nav .search-line form select {
				margin-right:20px;
				width:165px;
				height:18px;
				color:#333333;
				font:12px/16px Arial,Helvetica,sans-serif;
				}
.page-post h1 {
	margin:0 auto 32px;
	width:450px;
	color:#7452b9;
	font-size:18px;
	line-height:1.3em;
	font-weight:bold;
	text-align:center;
	}
.page-post h2,
.page-post-creating h2 {
	margin:35px 0 15px;
	font-size:16px;
	font-weight:bold;
	}
.page-post h3.category {
	margin-bottom:37px;
	text-align:center;
	}
.page-post img.cover {
	display:block;
	margin:0 auto 25px;
	max-width:490px;
	}
.page-post p,
.page-post-creating p {
	margin-bottom:15px;
	font-size:14px;
	line-height:1.55em;
	}
.page-post ul,
.page-post-creating ul {
	margin:0 0 0 -14px;
	}
	.page-post ul li,
	.page-post-creating ul li {
		padding-left:14px;
		margin-bottom:10px;
		background:url(../images/layouts/arrow-list.png) 0 7px no-repeat;
		font-size:14px;
		line-height:1.55em;
		}
.page-post .post-desc {
	margin:0 auto 24px;
	width:360px;
	font:normal 16px/1.3em 'Times New Roman';
	font-style:italic;
	text-align:center;
	}
.page-post .author-info,
.page-post-creating .author-info {
	margin-bottom:45px;
	text-align:center;
	}
	.page-post .author-info div,
	.page-post-creating .author-info div {
		position: relative;
		margin-bottom:13px;
		height:45px;
		}    
	.page-post .author-info p.date-created,
	.page-post-creating .author-info p.date-created {
		color:#010101;
		font: 10px 'Times New Roman';
		}    
.page-post .image-with-desc {
	margin:45px 0 5px;
	text-align:center;
	}
	.page-post .image-with-desc img {
		display:block;
		margin:0 auto;
		}
	.page-post .image-with-desc p {
		margin:0;
		padding:5px 0 30px;
		font:normal 14px/1.2em 'Times New Roman';
		font-style:italic;
		}
.page-post .poster-date {
	position:relative;
	margin:0 auto 35px;
	width:195px;
	}
	.page-post .poster-date .day {
		float:left;
		margin-bottom:5px;
		width:95px;
		height:115px;
		background:#3c9;
		color:#fff;
		font-size:85px;
		line-height:115px;
		font-weight:bold;
		text-align:center;
		}
		.page-post .poster-date .day:first-child {
			margin-right:5px;
			}
	.page-post .poster-date .mounth {
		clear:left;
		width:195px;
		height:70px;
		background:#3c9;
		color:#fff;
		font-size:37px;
		line-height:70px;
		font-weight:bold;
		text-align:center;
		}
	.page-post .poster-date .poster-info {
		position:absolute;
		top:5px;
		right:-156px;
		width:141px;
		}
		.page-post .poster-date .poster-info p {
			font-size:12px;
			line-height:normal;
			}
			.page-post .poster-date .poster-info p.place {
				margin:0;
				}
.page-post .video {
	margin:45px 0;
	}
.page-post ul.photo-gallery {
	float:left;
	margin:45px -10px 45px -6px;
	width:570px;
	}
	.page-post ul.photo-gallery li,
	.profile-gallery ul.photo-gallery li {
		position:relative;
		float:left;
		overflow:hidden;
		margin:0 20px 20px 0;
		padding:0;
		width:170px;
		height:170px;
		background:none;
		}
		.page-post ul.photo-gallery li div.block-1,
		.profile-gallery ul.photo-gallery li div.block-1 {
			display:table-cell;
			width:170px;
			height:170px;
			vertical-align:middle;
			}
			.page-post ul.photo-gallery li div.block-2,
			.profile-gallery ul.photo-gallery li div.block-2 {
				position:relative;
				left:50%;
				float:left;
				}
				.page-post ul.photo-gallery li div.block-3,
				.profile-gallery ul.photo-gallery li div.block-3 {
					position:relative;
					left:-50%;
					}
		.page-post ul.photo-gallery li img,
		.profile-gallery ul.photo-gallery li img {
			display:block;
			max-width:150px;
			max-height:150px;			
			}
.page-post .go-face {
	margin:45px 0 60px 4px;
	}
	.page-post .go-face ul {
		margin:13px 0 0 -2px;
		height:45px;
		}
		.page-post .go-face ul li {
			float:left;
			margin:0 5px 0 0;
			padding:0;
			background:none;
			}
.page-post ul.social-btns {
	margin:40px 0 92px 0;
	height:90px;
	}
	.page-post ul.social-btns li {
		float:left;
		margin:0 1px 0 0;
		padding:0;
		background:none;
		line-height:normal;
		}
		.page-post ul.social-btns li a {
			display:block;
			padding-top:23px;
			width:185px;
			height:67px;
			background:#f5f5f5;
			color:#000;
			font:normal 10px 'KievitCyr-MediumRegular';
			text-align:center;
			text-transform:uppercase;
			letter-spacing:2px;  
			}
			.page-post ul.social-btns li a:hover {
				background:#e9e9e9;
				text-decoration:none;
				}
			.page-post ul.social-btns li a span {
				position:relative;
				display:block;
				margin:0 auto 15px;
				width:11px;
				height:18px;
				}
				.page-post ul.social-btns li a span.facebook {
					width:10px;
					background:url(../images/layouts/facebook-big.png) 0 0 repeat;
					}
				.page-post ul.social-btns li a span.vkontakte {
					background:url(../images/layouts/vkontakte-big.png) 0 0 repeat;
					}
				.page-post ul.social-btns li a span.tweet {
					background:url(../images/layouts/tweet-big.png) 0 0 repeat;
					}
				.page-post ul.social-btns li a span span {
					position:absolute;
					top:-7px;
					left:15px;
					display:inline;
					font:normal 10px 'Times New Roman';
					letter-spacing:normal;
					}
.page-post .section.one {
	padding:0 9px 0 6px;
	width:545px;
	}
	.page-post .section .section-info p {
		font-size:10px;
		}
.page-post ul.stream {
	margin:0 -30px 0 0;
	padding:27px 0 60px;
	}
	.page-post ul.stream li {
		margin:0 30px 0 0;
		padding:0;
		background:none;
		font-size:12px;
		line-height:normal;
		}
.page-post ul.clock {
	margin: 0 0 9px 3px;
	}
	.page-post ul.clock li.hour {
		margin:0;
		padding:0;
		background:url(../images/layouts/hour.gif);
		}
	.page-post ul.clock li.min {
		margin:0;
		padding:0;
		background:url(../images/layouts/min.gif);
		}
.section.one .add-comment {
	margin:42px 0 58px;
	}
	.section.one .add-comment .author-info,
	.profile-mail .section.one.tape-mail .send-message .author-info {
		float:left;
		padding:0 0 0 20px;
		padding-top:3px;
		width:100px;
		}
		.section.one .add-comment .author-info a.name,
		.section.one ul.comment li .author-info a.name,
		#gallery .section.one .photo-author a.name,
		.profile-mail .section.one.mail ul li .author-info a.name,
		.profile-mail .section.one.tape-mail .send-message .author-info a.name,
		.profile-mail .section.one.tape-mail ul li .author-info a.name {
			display:block;
			margin:-3px 0 0 35px;
			color:#666;
			text-align: left;
			}
	.section.one .add-comment .comment-form,
	.profile-mail .section.one.tape-mail .send-message .message-form {
		margin-left:180px;
		}
	.section.one .add-comment textarea,
	.section.one ul.comment li textarea,
	.profile-mail .section.one.tape-mail .send-message textarea {
		margin-bottom:21px;
		width:351px;
		height:83px;
		padding:6px;
		border:1px solid #000;
		font:12px/18px Arial,Helvetica,sans-serif;
		}
	.section.one .add-comment input.add-btn,
	.section.one ul.comment li input.add-btn,
	.profile-mail .section.one.tape-mail .send-message input.send-btn {
		padding:0 15px;
		height:24px;
		background:#000;
		border:none;
		color:#fff;
		font:normal 12px/24px Arial, Helvetica, sans-serif;
		cursor:pointer;
		}
		.section.one .add-comment input.add-btn:hover,
		.section.one ul.comment li input.add-btn:hover,
		.page-post-creating div.load div.load-process input.save-btn:hover,
		.page-post-creating div.load.video input.save-btn:hover,
		.page-post-creating div.load.audio input.save-btn:hover,
		.page-post-creating div.add-text input.save-btn:hover,
		.page-post-creating input.publish-btn:hover,
		.profile-mail .section.one.tape-mail .send-message input.send-btn:hover {
			background:#7452b9;
			}
.section.one ul.comment {
	margin:0;
    padding:14px 0 0 180px;
	}
	.section.one ul.comment li {
		position:relative;
		margin:0;
		padding:0;
		*height:1%;
		background:none;
		font-size:12px;
		line-height:normal;
		}
		.section.one ul.comment li ul {
			margin:0;
			}
			.section.one ul.comment li ul li {
				padding-left:22px;
				background:url(../images/layouts/arrow-comment.gif) 4px 22px no-repeat;
				}
	.section.one ul.comment li .author-info {
		position:absolute;
		top:23px;
		right:425px;
		margin:0;
		width:100px;
		text-align:left;
		}
	.section.one ul.comment li .comment-border{
		position:absolute;
		top:0;
		right:0;
		width:365px;
		border-top:1px solid #000;
		}
		.section.one ul.comment > li:first-child .comment-border {
			border:none;
			}
	.section.one ul.comment li a.answer {
		float:right;
		margin:20px 25px 0 0;
		color:#000;
		}
		.section.one ul.comment li a.answer.active {
			margin-right:2px;
			padding-right:23px;
			background:url(../images/layouts/answer-btn.png) 100% 3px no-repeat;
			color:#7452b9;
			}
	.section.one ul.comment li a.grid {
		float:right;
		margin:20px 35px 0 0;
		color:#000;
		}
	.section.one ul.comment li .comment-content {
		margin:0 100px 0 4px;
		padding-top:20px;
		padding-bottom:22px;
		}
		.section.one ul.comment li .comment-content p {
			margin:0;
			font-size:12px;
			line-height:1.3em;
			}
		.section.one ul.comment li .comment-content .date {
			padding-left:10px;
			font:normal 10px 'Times New Roman';
			}
		.section.one ul.comment li .comment-content .date-old {
			margin-top:3px;
			font:normal 10px 'Times New Roman';
			text-transform:uppercase;
			}
	.section.one ul.comment li .answer-form {
		position:relative;
		display:none;
		width:100%;
		height:175px;
		}
		.section.one ul.comment li .answer-form form {
			position:absolute;
			top:0;
			right:0;
			width:365px;
			padding-top:3px;
			}
#gallery {
    position:absolute;
    top:0;
	left:0;
    width:100%;
    min-width:1000px;
	height:100%;
    z-index: 10000;
	}
	#gallery .gallery-back {
		position:fixed;
		top:0;
		left:0;
		width:100%;	
		height:100%;
		background:url(../images/layouts/opacity-grey.png) 0 0 repeat;
		}
	#gallery .gallery-wrap {
		position:relative;
		margin:101px auto 0;
		padding:60px 0;
        width:1000px;
		background:#fff;
		}
#gallery a.name {
	color:#777;
	}
#gallery .gallery-nav-btns {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	}
	#gallery .gallery-nav-btns div {
		position:relative;
		top:477px;
		_top:14px;
		left:0;
		_left:0;
		margin:0 auto;
		width:1000px;
		}
	#gallery .gallery-nav-btns a.prev {
		position:absolute;
		top:0;
		left:45px;
		display:block;
		width:14px;
		height:21px;
		background:url(../images/layouts/arrow-big.png) 0 0 no-repeat;
		cursor:pointer;
		}
	#gallery .gallery-nav-btns a.next {
		position:absolute;
		top:0;
		right:45px;
		display:block;
		width:14px;
		height:21px;
		background:url(../images/layouts/arrow-big.png) -14px 0 no-repeat;
		cursor:pointer;
		}
#gallery a.close {
	position:absolute;
	display:block;
	top:42px;
	right:41px;
	width:19px;
	height:19px;
	background:url(../images/layouts/close-btn.png) 0 0 no-repeat;
	}
	#gallery a.close:hover {
		background:url(../images/layouts/close-btn.png) 0 -19px no-repeat;
		}
#gallery .photo-info {
	position:relative;
	margin:0 auto 26px;
	padding-bottom:5px;
	width:600px;
	}
	#gallery .photo-info h1 {
		margin-bottom:10px;
		width:354px;
		font-size:13px;
		line-height:1.3em;
		font-weight:bold;
		}
		#gallery .photo-info h1 a {
			color:#000;
			}
	#gallery .photo-info p {
		color:#666;
		}
	#gallery a.mark-btn {
		position:absolute;
		bottom:0;
		right:57px;
		display:block;
		padding:0 15px;
		height:24px;
		background:#000;
		border:none;
		color:#fff;
		line-height:24px;
		}
		#gallery a.mark-btn:hover {
			text-decoration:none;
			background:#7452b9;
			}
#gallery img#main-img {
	display:block;
	margin:0 auto;
	max-width:800px;
	max-height:800px;
	}
#gallery .section.one {
	margin:35px auto 0;
	padding-right:145px;
	width:455px;
	}
	#gallery .section.one .photo-author {
		position:absolute;
		top:0;
		left:465px;
		padding-top: 3px;
		width:100px;
		}
	#gallery .section.one ul.mark-face {
		float:left;
		margin:10px 0 50px;
		}
		#gallery .section.one ul.mark-face li {
			float:left;
			margin-right:5px;
			color:#777;
			line-height:1.3em;
			}
	#gallery .section.one .add-comment textarea,
	#gallery .section.one ul.comment li textarea {
		width:261px;
		}
	#gallery .section.one ul.comment li .author-info {
		right:335px;
		}
	#gallery .section.one ul.comment li .comment-border {
		width:275px;
		}
#image-tagging {
	position:relative;
	}
	#image-tagging form {
		display:none;
		position:absolute;
		padding:38px 0 34px 42px;
		width:208px;
		background:#f5f5f5;
		z-index:10000;
		}
		#image-tagging form input {
			float:left;
			margin-right:10px;
			padding:0 6px;
			width:138px;
			height:18px;
			background:url(../images/search-bg.gif) 0 0 repeat;
			border:none;
			font: 12px/18px Arial,Helvetica,sans-serif;
			}
		#image-tagging form input.search-btn {
			position:relative;
			top:1px;
			padding:0;
			width:15px;
			height:15px;
			background:url(../images/search.gif);
			cursor:pointer;
			}
		#image-tagging form ul {
			clear:left;
			padding-top:20px;
			}
			#image-tagging form ul li {
				margin-bottom:5px;
				width:150px;
				}
				#image-tagging form ul li img {
					float:left;
					overflow:hidden;
					}
				#image-tagging form ul li a {
					display:block;
					margin-left:34px;
					height:25px;
					line-height:25px;
					color:#000;
					}
					#image-tagging form ul li a:hover {
						color:#7452b9;
						text-decoration:none;
						}
	#image-tagging #area-tagging {
		position:absolute;
		background:url(../images/layouts/opacity-purple.png) 0 0 repeat;
		z-index:10000;
		}	
.imgareaselect-selection {
	background:url(../images/layouts/opacity-purple.png) 0 0 repeat;
	}
.page-post-creating form {
	padding-bottom:45px;
	}
.page-post-creating h1 {
	margin:0 auto 28px;
	width:450px;
	text-align:center;
	}
	.page-post-creating h1 a {
		padding-left:15px;
		background:url(../images/layouts/click-text-btn.png) 0 5px no-repeat;
		color:#7452b9;
		font-size:18px;
		font-weight:bold;
		}
		.page-post-creating h1 a:hover,
		.page-post-creating .post-desc a:hover {
			text-decoration:none;
			}
.page-post-creating p.create-post {
	margin-bottom:25px;
	padding-bottom:12px;
	border-bottom:1px solid #000;
	font-size:12px;
	line-height:normal;
	}
.page-post-creating textarea.resize-title {
	display:none;
	margin:0 auto 32px;
	width:450px;
	height:25px;
	border:none;
	color:#7452b9;
	font:bold 18px/1.3em Arial, Helvetica, sans-serif;
	text-align:center;
	}
.page-post-creating .category {
	position:relative;
	margin-bottom:30px;
	}
	.page-post-creating .category select {
		display:block;
		margin:0 auto;
		width:142px;
		height:18px;
		color:#000;
		font:normal 11px/16px Arial, Helvetica, sans-serif;
		}
.page-post-creating .post-desc {
	margin:0 auto 28px;
	width:360px;
	text-align:center;
	}
	.page-post-creating .post-desc a {
		padding-left:15px;
		background:url(../images/layouts/click-text-btn.png) 0 5px no-repeat;
		color:#000;
		font:normal 16px/1.3em 'Times New Roman';
		font-style:italic;
		}
.page-post-creating textarea.resize-desc {
	display:none;
	margin:0 auto 24px;
	width:360px;
	height:20px;
	border:none;
	color:#000;
	font:normal 16px/1.3em 'Times New Roman', Arial, Helvetica, sans-serif;
	font-style:italic;
	text-align:center;
	}
.page-post-creating div.load {
	padding-top:188px;
	width:560px;
	height:212px;
	background:url(../images/search-bg.gif) 0 0 repeat;
	}
	.page-post-creating div.load.cover {
		margin:0 auto 25px;
		padding-top:153px;
		width:490px;
		height:177px;
		}
	.page-post-creating div.load.video,
	.page-post-creating div.load.audio {
		padding:176px 128px 0 128px;
		width:304px;
		height:224px;
		}
	.page-post-creating div.load div.input-load {
		position:relative;
		overflow:hidden;
		margin:0 auto;
		width:85px;
		height:24px;
		}
		.page-post-creating div.load.cover div.input-load {
			width:170px;
			}
		.page-post-creating div.load.photo div.input-load {
			width:116px;
			}
		.page-post-creating div.load.gallery div.input-load {
			width:136px;
			}
		.page-post-creating div.load div.input-load input.load {
			position:absolute;
			top:-10px;
			left:-550px;
			height:50px;
			font-size:50px;
			cursor:pointer;
			-moz-opacity:0;
			filter:alpha(opacity=0);
			opacity:0;
			}
		.page-post-creating div.load div.input-load a {
			display:inline-block;
			padding:0 15px;
			height:24px;
			background:#000;
			border:none;
			color:#fff;
			line-height:24px;
			}
			.page-post-creating div.load div.input-load a.hover {
				text-decoration:none;
				background:#7452b9;
				}
	.page-post-creating div.load div.load-process {
		display:none;
		margin:-8px auto 0;
		width:304px;
		}
		.page-post-creating div.load div.load-process p {
			margin:0 40px 20px 0;
			overflow:hidden;
			height:15px;
			font-size:12px;
			line-height:normal;
			}
			.page-post-creating div.load div.load-process p.percent {
				float:right;
				margin:0 5px 0 0;
				}
		
		.page-post-creating div.load div.load-process input,
		.page-post-creating div.load.video input,
		.page-post-creating div.load.audio input {
			float:left;
			margin-right:10px;
			padding:0 6px;
			width:183px;
			height:22px;
			background:#fff;
			border:1px solid #000;
			font:12px/22px Arial,Helvetica,sans-serif;
			}
			.page-post-creating div.load div.load-process input.save-btn,
			.page-post-creating div.load.video input.save-btn,
			.page-post-creating div.load.audio input.save-btn,
			.page-post-creating div.add-text input.save-btn,
			.page-post-creating input.publish-btn {
				margin:0;
				padding:0 15px;
				width:auto;
				height:24px;
				background:#000;
				border:none;
				color:#fff;
				font:normal 12px/24px Arial, Helvetica, sans-serif;
				cursor:pointer;
				}
		.page-post-creating div.load.video input,
		.page-post-creating div.load.audio input {
			width:193px;
			}
			.page-post-creating div.load.video input.radio,
			.page-post-creating div.load.audio input.radio {
				margin:0 6px 18px 18px;
				width:auto;
				height:auto;
				}
			.page-post-creating div.load.audio input.radio {
				margin-left:14px;
				}
				.page-post-creating div.load.video input.radio:first-child,
				.page-post-creating div.load.audio input.radio:first-child {
					margin-left:0;
					}
	.page-post-creating div.load.video label,
	.page-post-creating div.load.audio label {
		float:left;
		line-height:13px;
		}
.page-post-creating div.add-text,
.page-post-creating div.text-block,
.page-post-creating div.load,
.page-post-creating div.video-block {
	position:relative;
	margin:45px 0;
	}
.page-post-creating div.image-block {
	position:relative;
	}
div.add-text,
div.load {
	display:none;
	}
	.page-post-creating div.add-text,
	.page-post-creating div.load {
		display:block;
		}
.page-post-creating .image-block img {
	display:block;
	margin:0 auto;
	max-width:560px;
	}
.markItUpHeader ul {
	margin:0;
	}
	.markItUpHeader ul li {
		float:left;
		margin:0 1px 0 0;
		padding:0;
		background:none;
		}
		.markItUpHeader ul li a {
			display:block;
			width:40px;
			height:40px;
			background:url(../images/layouts/mark-it-up.png) 0 0 no-repeat #f5f5f5;
			}
			.markItUpHeader ul li.bold a {background-position:15px 11px;}
			.markItUpHeader ul li.italic a {background-position:-26px 11px;}
			.markItUpHeader ul li.link a {background-position:-67px 11px;}
			.markItUpHeader ul li.h1 a {background-position:-108px 11px;}
			.markItUpHeader ul li.list a {background-position:-149px 11px;}
			.markItUpHeader ul li a:hover,
			.page-post-creating ul.control-panel li a:hover {
				background-color:#e9e9e9;
				}
.markItUpContainer textarea {
	margin-bottom:20px;
	padding:24px;
	width:510px;
	height:190px;
	border:1px solid #000;
	font:14px/1.5em Arial,Helvetica,sans-serif;
	}
ul.control-panel {
	display:none;
	}
.page-post-creating ul.control-panel {
	position:absolute;
	top:0;
	right:-35px;
	display:block;
	margin:0;
	z-index:1000;
	}
	.page-post-creating div.add-text ul.control-panel {
		top:40px;
		}
	.page-post-creating ul.control-panel li {
		overflow:hidden;
		margin:0 0 1px;
		padding:0;
		width:35px;
		height:35px;
		background:url(../images/layouts/control-panel.png) 0 0 no-repeat #f5f5f5;
		}
		.page-post-creating ul.control-panel li a {
			display:block;
			padding-left:45px;
			width:100px;
			height:35px;
			background:url(../images/layouts/control-panel.png) 0 0 no-repeat #f5f5f5;
			color:#000;
			font-size:12px;
			line-height:35px;
			text-decoration:none;
			}
			.page-post-creating ul.control-panel li.edit a {background-position:0 -36px;}
			.page-post-creating ul.control-panel li.up a {background-position:0 -72px;}
			.page-post-creating ul.control-panel li.down a {background-position:0 -108px;}
			.page-post-creating ul.control-panel li.delete a {background-position:0 -144px;}
			.page-post-creating ul.control-panel li:hover {
				overflow:visible;
				}
.page-post-creating ul.post-creating-btns {
	margin:40px 0 22px;
	height:90px;
	}
	.page-post-creating ul.post-creating-btns li {
		float:left;
		margin:0 1px 0 0;
		padding:0;
		line-height:normal;
		}
		.page-post-creating ul.post-creating-btns li a {
			display:block;
			width:111px;
			height:90px;
			background:url(../images/layouts/post-creating-btns.png) 0 0 no-repeat#f5f5f5;
			}
			.page-post-creating ul.post-creating-btns li a:hover {
				background-color:#e9e9e9;
				}
			.page-post-creating ul.post-creating-btns li.add-text a {background-position:45px 30px;}
			.page-post-creating ul.post-creating-btns li.photo a {background-position:-69px 30px;}
			.page-post-creating ul.post-creating-btns li.gallery a {background-position:-180px 30px;}
			.page-post-creating ul.post-creating-btns li.video a {background-position:-291px 30px;}
			.page-post-creating ul.post-creating-btns li.audio a {background-position:-402px 30px;}
.page-post-creating input.publish-btn.no-active {
	background:#e9e9e9;
	cursor:default;
	}
.page-post-creating ul.post-action-btns {
	float:right;
	margin:0 5px 0 0;
	}
	.page-post-creating ul.post-action-btns li {
		float:right;
		margin:0 0 0 20px;
		padding:0;
		background:none;
		}
		.page-post-creating ul.post-action-btns li input {
			padding:0;
			background:none;
			border:none;
			color:#7452b9;
			font:normal 12px/24px Arial, Helvetica, sans-serif;
			cursor:pointer;
			}
			.page-post-creating ul.post-action-btns li input:hover {
				text-decoration:underline;
				}
#container .sidebar-right .section.friends h3 {
    margin-bottom:15px;
    text-align:center;
	}
#container .sidebar-right .section.rate-user h3 {
    margin-bottom:20px;
    text-align:center;
	}
#container .sidebar-right .section.friends ul {
	margin:0 10px 20px 6px;
	}
	#container .sidebar-right .section.friends ul li {
		margin-bottom:5px;
		height:25px;
		}
		#container .sidebar-right .section.friends ul li.online {
			background:url(../images/layouts/online.png) 100% 50% no-repeat;
			}
		#container .sidebar-right .section.friends ul li img,
		#container .sidebar-right .section.rate-user ul li img {
			float:left;
			margin-right:8px;
			}
		#container .sidebar-right .section.friends ul li a {
			display:block;
			overflow:hidden;
			width:149px;
			color:#000;
			line-height:25px;
			}
#container .sidebar-right .section.friends a.all-friends {
    margin-left:6px;
	font:italic 14px 'Times New Roman';
	}
#container .sidebar-right .section.rate-user ul {
	margin-bottom:10px;
	}
	#container .sidebar-right .section.rate-user ul li {
		margin-bottom:10px;
		height:25px;
		}
		#container .sidebar-right .section.rate-user ul li a {
			float:left;
			overflow:hidden;
			margin-right:24px;
			width:113px;
			color:#000;
			line-height:25px;
			}
		#container .sidebar-right .section.rate-user ul li span {
			float:left;
			width:40px;
			color:#3c9;
			line-height:25px;
			}
#container .sidebar-right .section.rate-user a.all-rate {
	font:italic 14px 'Times New Roman';
	}
.profile-mail,
.profile-gallery {
	padding:0 75px 0 100px;
	}
.profile-mail .profile-menu,
.profile-gallery .profile-menu {
	height:24px;
	border-bottom:1px solid #000;
	}
	.profile-mail .profile-menu  ul,
	.profile-gallery .profile-menu  ul {
		float:left;
		margin-left:10px;
		}
		.profile-mail .profile-menu ul li,
		.profile-gallery .profile-menu ul li {
			float:left;
			margin-right:27px;
			}
			.profile-mail .profile-menu ul li a,
			.profile-gallery .profile-menu ul li a {
				color:#000;
				}
	.profile-mail .profile-menu a.edit-profile,
	.profile-gallery .profile-menu a.edit-profile {
		float:right;
		margin-right:7px;
		}
.profile-mail .profile-info,
.profile-gallery .profile-info {
	position:relative;
	margin:31px 0 40px;
	}
	.profile-mail .profile-info a.back,
	.profile-gallery .profile-info a.back {
		position:absolute;
		top:10px;
		left:-62px;
		display:block;
		width:14px;
		height:21px;
		background:url(../images/layouts/arrow-big.png) 0 0 no-repeat;
		cursor:pointer;
		}
	.profile-mail .profile-info div,
	.profile-gallery .profile-info div {
		margin-left:64px;
		padding-top:3px;
		width:221px;
		}
		.profile-mail .profile-info div h1,
		.profile-gallery .profile-info div h1 {
			font:normal 14px 'KievitCyr-MediumRegular';
			text-transform:uppercase;
			letter-spacing:3px;
			}
		.profile-mail .profile-info div span,
		.profile-gallery .profile-info div span {
			padding-left:15px;
			background:url(../images/layouts/offline.png) 2px 50% no-repeat;
			color:#777;
			font:italic 14px 'Times New Roman';
			}
			.profile-mail .profile-info div span.online,
			.profile-gallery .profile-info div span.online {
				background:url(../images/layouts/online.png) 2px 50% no-repeat;
				color:#7452b9;
				}
	.profile-mail .profile-info ul,
	.profile-gallery .profile-info ul {
		float:right;
		padding-top:3px;
		width:144px;
		}
		.profile-mail .profile-info ul li,
		.profile-gallery .profile-info ul li {
			margin-bottom:3px;
			}
.profile-mail .section.one,
.profile-gallery .section.one {
	width:550px;
	}
.profile-mail .section.one.mail ul,
.profile-mail .section.one.tape-mail ul {
	padding:16px 0 20px 180px;
	}
	.profile-mail .section.one.mail ul li {
		position:relative;
		border-top:1px solid #c8c8c8;
		}
		.profile-mail .section.one.mail ul li:first-child {
			border:none;
			}
		.profile-mail .section.one.mail ul li .author-info,
		.profile-mail .section.one.tape-mail ul li .author-info {
			position:absolute;
			top:20px;
			left:-180px;
			padding-left:20px;
			width:135px;
			}
			.profile-mail .section.one.mail ul li .author-info.online,
			.profile-mail .section.one.tape-mail .send-message .author-info.online,
			.profile-mail .section.one.tape-mail ul li .author-info.online {
				background:url(../images/layouts/online.png) 2px 50% no-repeat;
				}
		.profile-mail .section.one.mail ul li .message,
		.profile-mail .section.one.tape-mail ul li .message {
			position:relative;
			padding:24px 0 25px 7px;
			}
			.profile-mail .section.one.mail ul li .message a.msg {
				float:left;
				overflow:hidden;
				max-width:250px;
				height:15px;
				color:#000;
				line-height:15px;
				}
			.profile-mail .section.one.mail ul li .message .date,
			.profile-mail .section.one.tape-mail ul li .message .date {
				padding-left:14px;
				font:normal 10px/15px 'Times New Roman';
				}
			.profile-mail .section.one.mail ul li .message .count {
				float:right;
				width:48px;
				}
				.profile-mail .section.one.mail ul li .message .count a {
					display:block;
					margin-left:24px;
					font-size:10px;
					line-height:15px;
					}
					.profile-mail .section.one.mail ul li .message .count a.new {
						float:left;
						margin:0;
						width:15px;
						height:15px;
						background:url(../images/layouts/new.png) 0 0 no-repeat;
						}
					.profile-mail .section.one.mail ul li .message .count.new a {
						color:#3c9;
						}
.page-nav {
	padding:12px 18px 50px 15px;
	border-top:1px solid #000;
	}
	.page-nav div {
		float:right;
		}
		.page-nav div a {
			padding-left:15px;
			color:#000;
			font:normal 10px 'KievitCyr-MediumRegular';
			text-transform:uppercase;
			letter-spacing:2px;
			}
			.page-nav div a:hover {
				color:#7452b9;
				text-decoration:none;
				}
	.page-nav ul {
		margin-top:-1px;
		}
		.page-nav ul li {
			float:left;
			margin-right:7px;
			padding:0 3px;
			}
			.page-nav ul li.active {
				position:relative;
				font-weight:bold;
				}
			.page-nav ul li a {
				color:#000;
				}
				.page-nav ul li a:hover {
					color:#7452b9;
					text-decoration:none;
					}
.profile-mail .section.one.tape-mail .send-message {
	position:relative;
	margin:32px 0 13px;
	}
	.profile-mail .section.one.tape-mail .send-message ul.smile {
		position:absolute;
		bottom:2px;
		right:12px;
		padding:0 11px 0 0;
		background:url(../images/layouts/arrow-down-black.png) 100% 6px no-repeat;
		}
		.profile-mail .section.one.tape-mail .send-message ul.smile li {
			border:none;
			}
.profile-mail .section.one.tape-mail ul li {
	position:relative;
	border-top:1px solid #c8c8c8;
	}
	.profile-mail .section.one.tape-mail ul li .message a.arrow-spoiler {
		display:block;
		position:absolute;
		top:27px;
		right:10px;
		width:7px;
		height:11px;
		background:url(../images/layouts/arrow-spoiler.png) -7px 0 no-repeat;
		}
		.profile-mail .section.one.tape-mail ul li .message.open a.arrow-spoiler {
			display:none;
			background-position:0 0;
			}
			.profile-mail .section.one.tape-mail ul li .message.open:hover a.arrow-spoiler {
				display:block;
				}
	.profile-mail .section.one.tape-mail ul li .message.open .shortcut {
		display:none;
		}
	.profile-mail .section.one.tape-mail ul li .message .total {
		display:none;
		width:340px;
		}
		.profile-mail .section.one.tape-mail ul li .message.open .total {
			display:block;
			}
	.profile-mail .section.one.tape-mail ul li .message a.msg {
		float:left;
		overflow:hidden;
		max-width:250px;
		height:15px;
		color:#555;
		line-height:15px;
		}
	.profile-mail .section.one.tape-mail ul li .message p {
		margin-bottom:12px;
		line-height:1.5em;
		}
	.profile-mail .section.one.tape-mail ul li ul {
		padding:0;
		height:15px;
		}
		.profile-mail .section.one.tape-mail ul li ul li {
			float:left;
			margin-right:14px;
			border:none;
			}
.profile-gallery .section.one.album ul li {
	position:relative;
	padding-top:29px;
	margin-bottom:30px;
	border-top:1px solid #c8c8c8;
	}
	.profile-gallery .section.one.album ul li:first-child {
		border:none;
		}
	.profile-gallery .section.one.album ul li .section-info {
		position:absolute;
		top:32px;
		left:-89px;
		float:none;
		}
		.profile-gallery .section.one.album ul li .section-info ul.clock li {
			position:absolute;
			margin:0;
			padding:0;
			border:none; 
			}
	.profile-gallery .section.one.album ul li .section-content {
		overflow:hidden;
		margin:0;
		height:170px;
		}
		.profile-gallery .section.one.album ul li .section-content div {
			margin-left:326px;
			padding-top:7px;
			}
			.profile-gallery .section.one.album ul li .section-content div h4,
			.profile-gallery .section.one.gallery h4 {
				font-size:15px;				
				}
			.profile-gallery .section.one.gallery h4 {
				margin-top:25px;
				width:354px;
				}
				.profile-gallery .section.one.album ul li .section-content div h4 a,
				.profile-gallery .section.one.gallery h4 a {
					color:#000;
					}
			.profile-gallery .section.one.album ul li .section-content div p.album-info,
			.profile-gallery .section.one.gallery p.album-info {
				color:#666;
				}
			.profile-gallery .section.one.album ul li .section-content div ul {
				margin-top:20px;
				}
				.profile-gallery .section.one.album ul li .section-content div ul li {
					margin:0 0 3px;
					padding:0;
					border:none;
					}
.profile-gallery .section.one.gallery .section-info {
	position:absolute;
	top:37px;
	left:-89px;
	float:none;
	}
.profile-gallery ul.photo-gallery {
	float:left;
	margin:25px -10px 25px -6px;
	width:570px;
	}
	.profile-gallery ul.photo-gallery li a.delete {
		display:none;
		position:absolute;
		top:10px;
		right:10px;
		width:15px;
		height:14px;
		background:url(../images/layouts/delete-btn.png) 0 0 no-repeat;
		}
		.profile-gallery ul.photo-gallery li:hover a.delete {
			display:block;
			}
.section.one.places {
	float:left;
	margin-bottom:45px;
	padding:20px 0 40px;
	background:#f5f5f5;
	}
	.section.one.places .title-line a.link-with-title {
		padding-right:53px;
		background:#f5f5f5;
		}
	.section.one.places ul {
		margin:25px 0 0 45px;
		}
		.section.one.places ul li {
			position:relative;
			float:left;
			margin-right:15px;
			width:115px;
			height:115px;
			}
			.section.one.places ul li .tip {
				display:none;
				position:absolute;
				top:-15px;
				left:-15px;
				padding:15px;
				width:270px;
				background:#333;
				color:#fff;
				z-index:100;
				}
				.section.one.places ul li .tip div {
					margin-left:132px;
					}
					.section.one.places ul li .tip div h5 {
						margin-bottom:10px;
						font-size:13px;
						font-weight:bold;
						}
.section a.image-with-date {
	position:relative;
	display:block;
	margin-bottom:7px;
	width:300px;
	height:170px;
	color:#fff;
	text-decoration:none;
	}
	.section a.image-with-date img {
		margin:0;
		}
	.section a.image-with-date .poster-date {
		position:absolute;
		top:15px;
		left:14px;
		width:70px;
		}
		.section a.image-with-date .poster-date .day {
			float:left;
			margin-bottom:2px;
			width:34px;
			height:40px;
			background:#3c9;
			font-size:30px;
			line-height:40px;
			font-weight:bold;
			text-align:center;
			}
			.section a.image-with-date .poster-date .day:first-child {
				margin-right:2px;
				}
		.section a.image-with-date .poster-date .mounth {
			clear:left;
			width:70px;
			height:24px;
			background:#3c9;
			font-size:13px;
			line-height:24px;
			font-weight:bold;
			text-align:center;
			}
		.section a.image-with-date .poster-date p {
			margin-top:5px;
			font-size:13px;
			font-weight:bold;
			}
	.section .image-with-date  .clock {
		position:relative;
		float:left;
		width:12px;
		height:12px;
		margin:8px 8px 0 9px;
		background:url(../images/layouts/clock-on-image.png) 0 0 no-repeat;
		}
		.section a.image-with-date .clock .min {
			position:absolute;
			top:0px;
			left:5px;
			width:1px;
			height:12px;
			background:url(../images/layouts/min-on-image.gif);
			}
		.section a.image-with-date .clock .hour {
			position: absolute;
			top:0px;
			left:5px;
			width:1px;
			height:12px;
			background:url(../images/layouts/hour-on-image.gif);
			}
.section a.image-with-icon {
	position:relative;
	display:block;
	width:110px;
	height:90px;
	margin-bottom:7px;
	}
	.section a.image-with-icon img {
		margin:0;
		}
		.section a.image-with-icon img.icon {
			position:absolute;
			top:7px;
			left:8px;
			}
.section.one ul.stream-posts {
	margin:5px 0 45px;
	padding-top:34px;
	border-top:1px solid #c8c8c8;
	}
	.section.one ul.stream-posts li {
		padding-bottom:25px;
		}
		.section.one ul.stream-posts li .section-info {
			float:left;
			}
			.section.one ul.stream-posts .section-info li {
				padding-bottom:0;
				}
		.section.one ul.stream-posts li .section-content {
			margin:0 0 0 90px;
			}
				.section.one ul.stream-posts li .section-content h4 {
					width:400px;
					font-size:15px;
					}
					.section.one ul.stream-posts li .section-content h4 a {
						color:#000;
						}
.section.one.users {
	float:left;
	margin-bottom:45px;
	padding:20px 0 40px 45px;
	width:680px;
	background:#f5f5f5;
	}
	.section.one.users ul {
		margin:20px 0 30px;
		height:50px;
		}
		.section.one.users ul li {
			position:relative;
			float:left;
			margin-right:15px;
			width:50px;
			height:50px;
			}
			.section.one.users ul li .tip {
				display:none;
				position:absolute;
				top:-15px;
				left:-15px;
				padding:15px;
				width:190px;
				background:#333;
				color:#fff;
				z-index:100;
				}
				.section.one.users ul li .tip div {
					margin-left:64px;
					}
					.section.one.users ul li .tip div h5 {
						margin:0 9px 5px 0;
						padding-right:10px;
						font-size:13px;
						font-weight:bold;
						}
						.section.one.users ul li .tip div h5.online {
							background:url(../images/layouts/online.png) 100% 6px no-repeat;
							}
						.section.one.users ul li .tip div h5 a {
							color:#fff;
							}
	.section.one.users .section.half {
		position:relative;
		float:left;
		margin-right:33px;
		width:300px;
		}
		.section.one.users .section.half h3 {
			margin-bottom:20px;
			}
		.section.one.users .section.half h4 {
			margin:15px 0 5px;
			width:190px;
			}
			.section.one.users .section.half h4 a {
				color:#000;
				}