<div class="inner">
  <div class="head">
    <h5 class="subhead">
      <%= link_to_unless_current h(blog.title), blog_path(:id => blog.id, :user_id => blog.user_id) %></h5>

        <% unless @user and @user == blog.user %>
		<%= link_to blog.user.displayname, user_path(blog.user) %> /
		<% end %>

      <span class="time"><%= l(blog.created_at, :format => :short) %></span>&nbsp;<%= link_to blog.comment_threads.count, blog_path(:id => blog.id, :user_id => blog.user_id), :class => 'comment' %>

  </div>
  <div class="blog_text">
    <% if controller.action_name == 'show' %>
    <%= blog.text %>
    <% else %>
    <%= blog.text_shortened %>
    <% end %>
  </div>

        <div class="blog_footer">
        <div class="blog_footer_container">
    <p>
      <%= render :partial => 'votes/vote', :locals => {:object => blog} %>
    </p>
          <% if current_user && (current_user.id == blog.user_id) %>
            <%= link_to image_tag('/img/icon-edit.gif', :alt=> t('edit')), edit_blog_path(:id => blog.id, :user_id => blog.user_id), :title=>t('edit') %>
            <span style="vertical-align: bottom;margin-left:7px"><%= link_to image_tag('/img/delete-cross.png'), blog_path(:id => blog.id, :user_id => blog.user_id), :method => :delete, :confirm => t('really_delete') %></span>
          <% end %>
        </div>
        </div>

</div>


