<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.blog') }  %>
<% content_for(:head) do %>
<%= stylesheet_link_tag 'jquery.wysiwyg' %>
<%= javascript_include_tag 'jquery.wysiwyg' %>
<% end %>

<div id="userpage-container">
<h3><%= t('.edit_blog') %></h3>
<% form_for :blog, @blog, :url => blog_url(:id => @blog.id), :html => {:id => 'blog_form', :method => :put} do |f| %>
  <p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %></p>
  <!--<%= f.label :blog, :tag_list %><br/>
  <%= f.text_field :tag_list %></p>-->
  <p>  <%= f.label :text %><br/>
  <%= f.text_area :text %></p>
  
  <script>
  $('#blog_text').wysiwyg();
  </script>
  <p><%= submit_tag t('save') %></p>
<% end %>
</div>
