<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.blog') }  %>
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<% end %>
<div id="userpage-container">
<% if is_owner? %>
<%= link_to t('.new_blog_record'), {:action => 'new'}, :class => 'edit bigger' %>
<% end %>
<%= will_paginate %>
<div id="blog-container">
<%= render :partial => 'blog', :collection => @blog %>
</div>
<script>
	$('.sub_blog_div').corner("round 3px").parent().css('padding', '1px').corner("round 5px");
</script>
</div>
	<% if @blog.size == 0 %>
	<div class="gallery-pad"><%= t('.empty_blog_message') %></div>
	<% end %>