<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.blog') }  %>
<% content_for(:head) do %>
<%= stylesheet_link_tag 'jquery.wysiwyg' %>
<%= javascript_include_tag 'jquery.wysiwyg' %>
<% end %>
<div id="userpage-container">
<div id="blog-container">
<h3><%= t('.write_into_da_blog') %></h3>
<% form_for :blog, Blog.new, :url => blogs_url, :html => {:id => 'blog_form'} do |f| %>
  <p>
  <%= f.label(:title) %><br/>
  <%= f.text_field :title %></p>
<!--  <%= f.label :tag_list %><br/>
  <%= f.text_field :tag_list %></p>-->
  <p> <%= f.label(:text) %><br/>
  <%= f.text_area :text %></p>
  
  <script>
  $('#blog_text').wysiwyg();
  </script>
  <p><%= submit_tag t('create_post') %></p>
<% end %>
</div>
</div>