<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.blog') }  %>
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<% end %>

<div id="blog-container">
<%= render :partial => 'blog', :locals => {:blog => @blog} %>
</div>

<script>
	$('.sub_blog_div').corner("round 3px").parent().css('padding', '1px').corner("round 5px");
</script>

<%= render :partial => 'comments/comments', :locals => { :object => @blog }  %>