.active-scaffold textarea {
	width:463px;
	height:450px;
}

.active-scaffold input.text-input {
	width:450px;
}
.active-scaffold .sub-form input.text-input {
	width: 200px;
}
.markItUp{
  width:470px;
}
.markItUp textarea {
  border:0;
}