#daily_events_calendar div {
 position: relative;
 text-align: center;
 zoom: 1;
 width: 1.6em;
}

  #daily_events_calendar div a {
   position: relative;
   display: block;
   z-index: 2;
  }

  #daily_events_calendar div a.de_date_selected {
   /*color: #FFF;*/
  }

  #daily_events_calendar div img {
   position: absolute;
   top: -.2em;
   left: 0;
   z-index: 1;
   width: 1.6em;
  }

#logo a.variant-fourth {
 background: url("/img/logo-4.gif") top center no-repeat;
}

div.main-menu {
 background: url("/img/main-menu-back-2.gif") top left no-repeat;
 height: 43px;
 padding: 40px 15px 5px 15px;
 width: 166px;
}

#bottom .item {
 margin-top: 10px;
}

  #bottom .item p,
  #bottom .item a {
   font-size: 1.2em;
   text-decoration: none;
   color: #8A8A8A;
  }

  #bottom .item a {
   font-size: 1em;
  }

#top .service {
 float: left;
 margin: 0 36px 0 0;
}

#top .subline {
 overflow: hidden;
 padding: 9px 5px 0 12px;
 background: #231F20 url("/img/subline.gif") bottom left no-repeat;
 color: #FFF;
 font-size: 1.2em;
 line-height: 0.9;
}

  #top .subline .slogan {
   height: 20px;
   background: url("/img/subline-slogan.gif") top right no-repeat;
  }

    #top .subline .slogan .info {
     overflow: hidden;
     white-space: nowrap;
     margin-right: 135px;
    }

      #top .subline .slogan .info span {
       margin-right: 9px;
       font-style: italic;
      }

      #top .subline .slogan .info a {
       color: #FFF;
      }
