#center div.report h3 {
 margin-bottom: 15px;
}

.jw-box {
 width: 490px;
 margin: 0 0 30px 0;
 padding: 0 5px 15px 5px;
 background: #231F20;
 text-align: right;
}

  .jw-box .head {
   background: url("/img/jw-line.gif") bottom left no-repeat;
  }

  .jw-box img {
   margin-top: 15px;
  }

    .jw-box .head img {
     margin-bottom: 7px;
    }

span.event-users-count {
 background: url("/img/afisha-going-icon.png") left center no-repeat !important;
}

#center .jw {
 overflow: hidden;
 padding: 10px 15px 10px 0;
 background: #231F20;
}

  #center .jw .item {
   min-height: 80px;
   margin: 0;
   background: url("/img/jw-afisha.gif") bottom right no-repeat;
  }

  #center .jw a,
  #center .jw span,
  #center .jw p {
   color: #D3B368 !important;
  }

  #center .jw p {
   font-size: 1.1em;
  }

    #center .jw span.event-users-count {
     background: url("/img/afisha-going-icon-jw.gif") left center no-repeat !important;
    }

    #center .who-go {
     overflow: hidden;
     margin: 0 0 25px 0;
    }

    #center .jw .item .de_event_info .who-go {
     margin: 40px 0 30px 0;
    }

      #center .who-go img {
       float: left;
       margin: 0 5px 5px 0;
      }

h1.afisha-in {
 line-height: 0.75em;
 margin-bottom: 25px;
 padding-bottom: 30px;
 background: url("/img/subline.gif") bottom left no-repeat;
 zoom: 1;
}

  h1.afisha-in span.time {
   font-size: 0.47em;
  }

#afisha-jw {
 overflow: hidden;
 padding-bottom: 70px;
 background: url("/img/afisha-jw.gif") bottom right no-repeat;
}

