
.jimgMenu {
	position: relative;
	width: 490px;
	height: 240px;
	overflow: hidden;
	margin: 15px 0px 0px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 240px;
	width: 1340px;
	
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#000 none repeat scroll 0%;
	border-right: 3px solid #1D1D1D;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:78px;
	height: 240px;
}

.jimgMenu ul li.last a {
	min-width:320px;	
}

.clear {
	clear: both;
}


div.friend-invites div.user-list {
  padding-bottom:13px;
}

div.friend-invites div.user-list div div a:first-child{
  display:block;
  height:18px;
  overflow:hidden;
  line-height:20px;
  padding-top:4px;
  margin-bottom:-20px
}

div#reports_right_column .item div { margin-left:110px; }

    div.tag_area{
        position:absolute;
        border:none;

    }
    div.tag_area span{
        background-color:#7452b9;
        color:white;
        padding:1px 4px;
        font-size:1.2em;
    }

  a.photo-navlink{
   display:block;
   height:150px;
   text-indent:-1000px;
   outline:none;
  }
  a.photo-prev{
      background:url(/img/photo-prev-p.png) no-repeat center center;
  }
  a.photo-prev:hover{
      background:url(/img/photo-prev-a.png) no-repeat center center;
  }
  a.photo-next{
      background:url(/img/photo-next-p.png) no-repeat center center;
  }
  a.photo-next:hover{
      background:url(/img/photo-next-a.png) no-repeat center center;
  }
  table#photo-table{
    background-color:#f4f4f4;
  }
  div#image_container img{
      display:block;
  }
  div#taggable_users li{
      list-style-image: url(/img/photo-tag-user-list-p.png);
      list-style-position: inside;
      font-size:1.4em;
      margin-bottom:15px;
  }
  div#taggable_users li:hover{
      list-style-image: url(/img/photo-tag-user-list-a.png);
  }
  div#tagged-people{
      font-size:1.2em;
      padding:10px 0;
  }

div#magazine-content{
	overflow:hidden;
}

div#big-user-top h5{
	border-bottom:1px dotted gray;
	padding-top:4px;
}
div#big-user-top div.big-rating{
	float:right;
}
div#big-user-top img{
	background:white;
	padding-right:10px;
	margin-right:0px;
}

div#daily_events h3{
	margin-top: -25px; margin-bottom: 5px;
}
#bottom span {
    margin-right:20px;
}
#bottom a {
    margin-right:8px;
    font-size:1.1em;
    text-decoration:underline;
}
div.bio-hb-container{
	position:relative;display:inline;
}
div.bio-hb-icon{
	position:absolute !important;
	top:5px;left:5px;
	width:19px;
	height:18px;
	background:url(/img/birthday-icon.png) no-repeat;
}
div.bio-hb-icon-f{
	background:url(/img/birthday-icon-f.png) no-repeat !important;
}
body#mainpage-body #logo{
	padding-top:18px;
}
body#mainpage-body #top{
	margin-left:24px;
}

/*mainpage scroll*/
    #btdata{
        color:white;
        font-size:1.2em;
        padding:20px 25px;
        z-index:70;
    }

    #btname{
        font-size:1.4em;
        font-weight:bold;
    }
    #btoccupation{
        font-size:0.9em;
    }
    #btquote{
        font-size:0.9em;
        padding-top:15px;
    }


    div#bio-scroll-container{
    	clear:both; width: 100%; position: absolute; left: 0px;
    }

    div.scrollableArea *
        {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
        }
    /*	Invisible left hotspot */
    div.scrollingHotSpotLeft
    {
        /* 	The hotspots have a minimum width of 100 pixels
        and if there is room the will grow and occupy 15%
        of the scrollable area (30% combined). Adjust it
        to your own taste. */
        min-width: 75px;
        width: 10%;
        height: 100%;
        /*	There is a big background image and it's used
            to solve some problems I experienced
            with Internet Explorer 6. */
       /* background-image: url(../images/big_transparent.gif);*/
        background-repeat: repeat;
        background-position: center center;
        position: absolute;
        z-index: 200;
        left: 0;
        /*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
       /* cursor: url(../images/cursors/cursor_arrow_left.cur), url(images/cursors/cursor_arrow_left.cur),w-resize;*/
    }

    /*	Visible left hotspot */
    div.scrollingHotSpotLeftVisible
    {
        /*background-image: url(../images/arrow_left.gif);*/
        background-color: #fff;
        background-repeat: no-repeat;
        opacity: 0.35; /* Standard CSS3 opacity setting */
        -moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
        filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
        zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
    }

    /* Invisible right hotspot */
    div.scrollingHotSpotRight
    {
        min-width: 75px;
        width: 10%;
        height: 100%;
        /*background-image: url(../images/big_transparent.gif);*/
        background-repeat: repeat;
        background-position: center center;
        position: absolute;
        z-index: 200;
        right: 0;
        /*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
       /* cursor: url(../images/cursors/cursor_arrow_right.cur), url(images/cursors/cursor_arrow_right.cur),e-resize;*/
    }

    /* Visible right hotspot */
    div.scrollingHotSpotRightVisible
    {
        /*background-image: url(../images/arrow_right.gif);*/
        background-color: #fff;
        background-repeat: no-repeat;
        opacity: 0.35;
        filter: alpha(opacity = 35);
        -moz-opacity: 0.35;
        zoom: 1;
    }

    /*	The scroll wrapper is always the same width and
        height as the containing element (div). Overflow
        is hidden because you don't want to show all of
        the scrollable area.
    */
    div.scrollWrapper
    {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    div.scrollableArea
    {
        position: relative;
        width: auto;
        height: 100%;
    }

    div.bioscroll{
        border-bottom: 1px solid #7452b9;
        position:relative;
    }
    #bios1{
        height:180px;
    }
    #bios2{
        padding-top:15px;
        height:150px;
    }
    #bios3{
        padding-top:15px;
        height:80px;
        margin-bottom:50px;
    }
    #bios3 img{
        margin-right:5px;
    }
/*mainpage scroll end */


div#footer div#rightbanner{
	padding-top:40px;
}
div#user-gallery-nav{
  font-size:2.1em;
  text-align:center;
  margin-bottom:5px;
}
div#user-gallery-nav a{
  text-decoration:none;
}

div.places a{
  color:black;
}
div.places {
  color:#767676;
}
div.places p.event-name{
	padding-bottom:7px;
}
div.places p.event-time{
	font-style:italic;
}

          #center ul.afisha li.go div.go-not a.here-go {
           color: #FFF !important;
           background: url(./../img/status-left-corner.gif) 0 1px no-repeat;
          }

            #center ul.afisha li div.go-not a.here-go-not {
             color: #FFF !important;
             background: url(./../img/status-left-corner-grey.gif) 0 1px no-repeat;
            }
          
          #center ul.afisha li.go div.go-not a.here-go-not {
           color: #656565 !important;
           background: none;
          }

#right-sidebar div.portfolio div{
	height:141px;
}
		div.search_section {
			/*display:inline;*/
			padding: 0px 3px;
			height:15px;
			
			font-size: 12px;
			/*font-weight: bold;*/
			float:left;
			margin: 0px 12px 0 0;
			text-transform:uppercase;
			color:black;
			width:60px;
		}
		div.search_result {
		  margin: 30px 0;
		  font-size:14px;
		}
		div.search_excerpt{
		  padding-top:8px;
		  padding-left:78px;
		  font-size:14px;
		}

a.purple{
	color:#7452B9;
	text-decoration:none;
}
a.white{
	color:white;
	text-decoration:none;
}

img#bio-link-img{
	padding-bottom:4px;
}

div.fashion div p.author {
margin-top:-15px;
}

		div.beauty div {
			margin:0 !important;
		}
		
		#center div.fusion{
			margin-top:40px !important;
		}
		
		.author-biglist{
			padding:0 !important;
			margin:0 !important;
			padding-top:8px !important;
		}
		
		.author-left {
			text-align:left !important;
		}
		
		em{
			font-style:italic;
		}
		
		strong{
			font-weight:bold;
		}
		
		table.interviews td{
			overflow:hidden;
		}
		table.interviews p{
			width:122px;
			overflow:hidden;
		}
		div.interviews div{
			margin-right:5%;
			height:260px;
		}
		h3#interview-quote{
			/*padding-top:5px;
			margin-bottom:-8px;*/
			line-height:1.4em;
		}

		div#interview-topblock{
			overflow:hidden;
			font-size:1.4em;
			line-height:1.4;
			margin:20px 0;
		}

		div#interview-photo{
			float:left;
			width:250px;
			text-align:center;
			padding-right:12px;
			padding-bottom:12px;
		}
		div#interview-preface{
			/*float:right;
			width:250px;*/
			clear:both;
			overflow:hidden;
		}
		div#interview-container{
			/*text-align: justify;*/
		}
		div.interview-rightbar{
			margin: 10px 0;
		}
		div.interview-rightbar span a{
			padding-left:8px;
			color: #545454;
			text-decoration:none;
			text-transform:uppercase;
		}

#magazine .right{
	top:60px;
}

div.interview h1{
	float:none;
}
div.blogers{
	font-size:0.8em
}
div.blogers h4{
	padding-bottom: 5px;
}
		h5.small-album-title a{
			font-size: 12px;
			color: #515151;
			text-decoration:none;
			font-weight:bold;
		}
		div.right-album-preview{
			border: 1px solid #e4e4e4;
			background-color: #f4f4f4;
			width: 150px;
			height: 100px;
			margin-bottom:12px;
		}
		div.right-album-preview img{
			margin: 12px 0px 12px 18px;
			float:left;
		}
		div.album-photo-count{
			float:right;
			text-align:center;
			margin:33px 13px 0 0 ;
		}
		div.album-photo-count div{
			font-size:18px;
			font-weight:bold;
		}
.friend-invites{
	padding-bottom:20px;
	overflow:hidden;
}
.friend-invites h4{
	font-size:1.1em;
	color: #7452b9;
}
.invite-message{
	font-style:italic;
	padding-top:17px;
}

#search input{
	margin:2px 10px 0 8px;
	width:134px;
}
div.logo-mainpage {
	margin:10px 0 0 5px !important;
}

div.wysiwyg div{
	clear:none !important;
}
input#blog_title{
	width:471px;
}
textarea#blog_text{
	width:480px;
}

div#daily_events_calendar{
	height:250px;position:relative
}
div#daily_events_calendar a{
	text-decoration:none;
}
#center ul.afisha li span.de_place{
	font-size:0.7em;
}
#center ul.afisha li a.event-link{
	font-size:18px;
	line-height:100%;
	text-decoration:none;
	
}
#center ul.afisha li h5{
	line-height:1em;
}
#center ul.afisha li.go a.event-link{
	color:white !important;
	background-color:#7552ba;
}
#center ul.afisha li a.here-go{
	display:inline;
}
#center ul.afisha li a.here-go-not{
	display:none !important;
}
#center ul.afisha li.go a.here-go{
	display:none;
}
#center ul.afisha li.go a.here-go-not{
	display:inline !important;
}
span.go-not{
	padding-right:15px;
}
span.go-not a.here-go img{
	vertical-align:bottom;
}
div.event-functions{
	margin: 12px 0;
}
span.event-users-count{
	background:url(/img/afisha-going-icon.png) no-repeat left center;
	padding-left:12px;
	padding-right:15px;
	color:#575757 !important;
}
.de_event_info{
	padding:0em 0 2em 140px;
	display:none;
}
a.de_date_selected{
	color:#7452b9;
}

/*div#edit-profile{
	font-size:1.2em;
}*/
/*div#edit-profile input{
	width:30%;
	font-size:1.2em;
}*/

  #upload-photo-form{
  	padding-top:18px;
  }
  div#friend_invite_form{
  	display:none;
  	padding:8px 0;
  	font-size:1.2em;
  }
  ul.user-functions{
  	padding-top:22px;
  }
  ul.user-functions li{
  	padding-bottom:5px;
  }
  ul.user-functions a{
  	vertical-align: top;
    padding: 0 0 0 30px;
    color:#7452b9;
    font-style:italic;
    text-decoration:underline;
    font-size: 1.2em;
  }
  a.profile-add {
   background: url(/img/icon-plus.gif) 4px center no-repeat;
  }
  a.profile-write {
   background: url(/img/icon-write.gif) 2px 3px no-repeat;
  }
  a.profile-delete {
   background: url(/img/icon-close.gif) 4px 2px no-repeat;
  }
  a.profile-edit {
   background: url(/img/icon-edit.gif) 4px 2px no-repeat;
  }

.profile div.main-photo {
float:left;
margin:20px 20px 10px 0;
}

div.last-post strong a{
	color:black;
}

a.profile-bio-link{
	color: #7452b9;
	text-decoration:none !important;
	font-style:italic;
}
#message-form-container #message_text{
	width:400px;
	height:150px;
}

    #smilies-list{
      padding-top:0px;
      padding-bottom:8px;
    }
    #smilies-list img{
      cursor:pointer;
    }

.dottedform{
	border: 1px #7452b9 dotted;
	border-right:0px;
	border-left:0px;
}

div.last-bio div p.citation, div.profile p.citation {
	font-size:1.8em;
	overflow:hidden;
}
#center div.item {
	margin:70px 0 0;
}

.profile p span.rate {
font-size:2em;
}

ul#comments div.recent_comment{
	background:#f7f4fb;
}

    .comments_form_header{
    	margin-bottom:12px;
    }
    .comments_form_header a{
    	text-decoration:none;
    	border-bottom:1px dashed gray;
    }
		h3.comments_header{
			padding-bottom:20px;
		}
		
		input.login-button{
			background:transparent url(/img/sign-in-out.gif?1) no-repeat scroll left top;
			height:21px;
			margin:-1px 0 0 18px;
			padding: 1px 0 0 0;
			padding-bottom:3px;
			text-align:center;
			width:56px;
		}
		input.login-button:hover{
			background-position: 0 -23px;
		}
		input.login-button:focus{
			background-position: 0 -46px;
			color:black;
		}
			input.login-button {
/*font-size:10px;
margin-left:10px;
width:30px;

border-bottom: 1px dotted black;
background: transparent;*/
}
		
		input.login-button::-moz-focus-inner /*Remove button padding in FF*/
		{ 
    	border: 0;
    	padding: 0;
		}
    
		div.magazine-list-big{
			overflow: hidden;
		}
		
		div.magazine-inner-list{
    	padding-top:25px;
    }
    div.magazine-inner-list div.magazine-list-big{
    	padding-bottom:31px;
    }
		
		div.magazine-list-big img{
			float: left;
      margin: 0 10px 5px 0;
		}
		div.magazine-list-big p{
			padding-top:10px;
		}
		div.magazine-list-big p.author{
			margin-top: -15px;
		}
		div.magazine-list-big h3{
			color:#121212;
			font-style:italic;
			line-height:1em;
		}
		
		div.m-left{
			float:left;
			margin: 0 10px 7px 0;
			background: #f2f0ff;
			color: #48005d;
			padding: 10px 14px;
			width: 200px;
		}
		.m-pic-left{
   			float:left;
			margin: 7px 15px 5px 0;
		}
		.m-pic-right{
   			float:right;
			margin: 7px 0 5px 15px;
		}
		div.m-hl-1{
			padding:0px;
			font-size:18px;
			text-align:center;
			text-transform: uppercase;
			color:#242424;
		}
		div.m-hl-2{
			padding:5px 12px;
			font-size:13px;
			text-align:left;
			background-color:#f0eef3;
			/*border: 1px solid #c8c0d3;*/
			color:#242424;
		}
		div.m-hl-left{
			margin: 7px 15px 5px 0pt;
			float: left;
			width:240px;
		}
		div.m-hl-right{
			margin: 7px 0 5px 15px;
			float: right;
			width:240px;
		}
		div.m-hl-center{
			padding: 15px 0px;
			/*color:#33145a;*/
		}


#center div.address div{
	margin: 0 35px 0 0;
}
#center div.place-head div.gallery {
text-align:left;
}
#center div.place-head div.gallery div img {
margin-right:3px;
}
#place-info{
	font-size:13px;
	padding-top:10px;
}
#place-info div{
    padding: 4px 0;
}
.inner h5{
	font-weight:bold;
}
a.edit{
	color:#808080;
}
a.edit.bigger{
	/*color:#656565;*/
	font-size:1.2em;
}
div#profile-data{
	overflow:hidden;
	padding-bottom:10px;
}
div#profile-data span{
	color:black;
}
.inner table{
	width:90%;
}
.inner table td{
	text-align:left;
}
div.flash_message{
	padding: 10px 20px;
	margin-bottom:27px;
	border: 1px #eeeaf0 dashed;
	font-size:13px;
}
#documents_content{
	font-size:12px;
}
body {
 /*font: 12px Arial, Arial, Helvetica, sans-serif;*/
}
.fieldWithErrors input{
			border: 1px solid red;
		}
.errorExplanation li{
	display:list-item;
}
div.secondary ul{
	/*font-size:14px;*/
	line-height:1.4;
}
div.secondary label{
	font-size:14px;
	line-height:1.4;
}
#center div.posts p {
	font-size:1.4em;
}

div.secondary p{
	/*font-size:14px;*/
	line-height:1.4;
}
#center ul.comments li p {
	margin:0.3em 0;
}
label{
/*	font-size:1.2em;*/
}
div.report-list {
	width:49%;
	float:left;
	height:170px;
}
div.report-list img {
	margin: 0 auto 3px;
}
.placegallery-list{
	overflow:hidden;
}

#center div.report{
	overflow:hidden;
}

#center div.posts p b{
	color: #7452B9;
	font-size: 1.6em;
	font-weight:normal;
}

#center div.posts p strong{
	color: #7452B9;
	font-size: 1.6em;
	font-weight:normal;
}

.profile div.status {
	height: 17px;	
}

span.user_rating a.rating-arrow {
font-size:25px;
line-height:34px;
vertical-align:top;
}

h5 a.rating-arrow {
font-size:12px;
line-height:12px;
vertical-align:top;
}

div.more_articles {
	margin-top:20px;
	overflow:hidden;
}
div.more_articles img{
	float:left;
	margin:0 10px 5px 0;
}
div.more_articles div.article-small{
	overflow:hidden;
	margin-bottom:12px;
	font-size:1.1em;
}
div.more_articles div.article-small p.author{
	font-size:1em;
	display:none;
}

div.brief {
	margin-top:20px;
	overflow:hidden;
}
div.brief img{
	float:left;
	margin:0 10px 5px 0;
}
div.brief div.article-small{
	width:47%;
	float:left;
	padding-right:3%;
	height:80px;
}
h1.magazine-article-header{
	font-size:5.5em;
	padding-bottom:10px;
}
div#right-sidebar div.bio-authors{
	padding-bottom:25px;
}
div.bio-authors{
	overflow:hidden;
}
		div.bio-list{
			font-size:14px;
			overflow:hidden;
		}
		div.bio-list-item {
			/*width:24%;*/
			width:120px;
			margin-right: 1%;
			height:137px;
			
			float:left;
			margin-top:10px;
			margin-bottom:10px;
			padding-bottom:15px;
		}

		div.bio-list-item a{
			text-decoration:none;
		}

		div.bio-list-item img {
			
			margin-right:9px;
		}

		div.bio-list-item div{
			/*padding-top:27px;
			line-height:13px;*/
			padding-top:5px;
			width:110px;
		}
		
		div.user-list{
			font-size:14px;
			overflow:hidden;
		}

		div.user-list-item {
			width:240px;
			height:57px;
			float:left;
			margin-top:10px;
		}

		div.user-list-item a{
			text-decoration:none;
		}

		div.user-list-item img {
			float:left;
			margin-right:9px;
		}

		div.user-list-item div{
			line-height:29px;
		}
		div.user-list-item div a{
			color:#222;
		}
		div.blog_text{
			font-size: 14px !important;
			line-height:1.4;
			margin: 0.4em 0;
		}
		div.blog_text p{
			font-size: 14px !important;
		}
		#center .inner{
			/*clear:left;*/
		}
		#blog-container .subhead {
			font-size:32px;
		}

		#submenu {
			height: 24px;
			padding: 1px 0px;
			
			overflow:hidden;
		}

		#submenuspace {
			height:7px;
		}

		#submenu ul
		{
		list-style: none;
		padding: 0;
		margin: 0;
		}

		#submenu li
		{
		display: inline;
		margin: 0;
		}
		#submenu li a
		{
		height: 24px;
		line-height: 20px;
		float: left;
		display: block;
		border: 0;
		padding: 0px 9px;
		margin: 0px 0px;
		text-decoration: underline;
		font-style: italic;
		text-align: center;
		font-size: 11px;
		color: #8b8b8b;
		}
		#submenu li a.submenu_active
		{
		text-decoration: none;
		background: url('/img/submenu-active-bg.png') #fff no-repeat center;
		color: white;
		font-style: normal;
		}

div.pl-entry{
	width:49%;
	height:85px;
	float:left;
}
div.pl-entry h5{
	font-weight:bold;
	font-size:12px;
}
div.pl-entry a{
	/*color:black;*/
}
img.fgc-icon{
	vertical-align:middle;
	float:none !important;
}
.placelist-address{
	width:80%;
	font-size:11px;
}
h1.user-header{
	color:#656565;
	font-size:19px;
	font-weight: normal;
	padding-bottom:17px;
}
h1.user-header a{
	text-decoration:underline;
}
#sortable_photos { list-style-type: none; margin: 0; padding: 0; overflow:hidden}
#sortable_photos li { margin: 3px 3px 3px 0; 
	padding: 1px; 
	float: left; 
	width: 160px; 
	height: 160px; 
	text-align: center; 
	}
#sortable_photos li img{
	vertical-align:middle;
}
#sortable_photos .content{
	line-height:160px;
}
#sortable_photos .content div{
	line-height:100%;
}
.valigner
{
height:100% !important;
width: 0px !important;
vertical-align: middle;
visibility: hidden;
} 
		.gallery-pad {
			margin-top: 15px;
		}
/*pagination*/
.pagination {
  /*font-family: 'century gothic', Futura, Verdana, sans-serif;*/
  font-size:15px;
  background: none;
  padding-top:17px;
  text-align:center;
  height:37px;
  
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .0em .3em;
    /*display: block;*/
    /*float: left;*/
    margin-right: 0px;
	 }
  .pagination span.disabled {
    color: #999;
    border: 1px solid transparent; }
  .pagination span.current {
    
    background: #7452b9;
    color: white;
    border: 1px solid #7452b9; }
  .pagination a {
    text-decoration: none;
    color: #909090;
    border: 1px solid transparent; }
    .pagination a:hover, .pagination a:focus {
      color: #505050;
      /*border-color: #909090;*/ }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
	.pagination .next_page{
		line-height:15px;
		font-size:25px;
		color:#7452b9;
	}
	.pagination .prev_page{
		line-height:15px;
		font-size:25px;
		color:#7452b9;
	}

