body,
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, p, blockquote, hr,
form, fieldset, input {
 margin: 0;
 padding: 0;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

fieldset, img {
 border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
 font-style: normal;
 font-weight: normal;
}

ol, ul {
 list-style: none;
}

caption, th {
 text-align: left;
}

h1, h2, h3, h4, h5, h6 {
 font-size: 100%;
 font-weight: normal;
}

button {
 overflow: visible;
 padding: 0;
 margin: 0;
}

img {/* behavior: url("/css/iepngfix.htc")*/ }

body {
 font: 10px Arial, Arial, Helvetica, sans-serif;
 color: #121212;
 min-width: 100em;
 max-width: 124em;
 margin: 0 auto;
}

h1 {
 font-size: 3em;
 margin-bottom: 20px;
}

h3 {
 font-size: 1.8em;
 line-height: 2.4em;
 color: #656565;
}

h4 {
 font-size: 1.5em;
 line-height: 1.7em;
 color: #656565;
}

h4.different a {
 font-size: 1em;
 color: #7452B9;
 text-decoration: underline;
}

h5 {
 font-size: 1.4em;
 line-height: 1.7em;
 color: #656565;
}

  h1.color,
  h2.color,
  h3.color,
  h4.color,
  h5.color,
  h1.color a
  h2.color a
  h3.color a
  h4.color a
  h5.color a,
  p.color {
   color: #7452B9 !important;
  }

.dark {
 color: #121212;
}

.subhead {
 font-style: italic;
}

strong {
 font-weight: bold;
}

p {
 font-size: 1.1em;
 margin: 0.3em 0;
}

a {
 color: #767676;
 text-decoration: none;
}

/* черные ссылки */
a.text {
 color: #121212;
 text-decoration: none;
}
/* черные ссылки */

a:hover {
 text-decoration: underline;
}

  a.set {
   font-style: italic;
  }

  a.here,
  span.here {
   color: #FFF !important;
   background: #7452B9;
  }

  a.head {
   font-weight: bold;
  }

  a.music {
   display: block;
   background : url(./../img/music.gif) center left no-repeat;
   padding-left: 10px;
   color: #777;
   font-style: italic;
  }

  a.color {
   padding: 4px;
   background: #7452B9;
   color: #FFF;
  }

span.author,
span.time {
 font-size: 1.1em;
}

  #right-sidebar p span,
  span.time {
   font-style: italic;
   color: #767676;
  }

  p span.time  {
   font-size: 1em;
  }

#top {
 position: relative;
 overflow: hidden;
 width: 98%;
 margin: 8px 0 4px 2%;
}

  .signin {
   float: left;
   width: auto;
   height: 34px;
   margin-right: 15px;
   padding: 0;
   background: url(./../img/signin-left-corner.gif) top left no-repeat;
   font-size: 1.1em;
  }

    .signin div.right-corner {
     float: left;
     width: 13px;
     height: 34px;
     background: url(./../img/signin-right-corner.gif) top left no-repeat;
    }

    .signin div.content {
     overflow: hidden;
     position: relative;
     float: left;
     height: 26px;
     margin: 0 0 0 13px;
     padding: 8px 0 0 2px;
     background: #F4F4F4;
    }

    .signin input {
     float: left;
     height: 17px;
     margin-right: 3px;
     padding: 0px 3px;
     border: 0;
     font-size: 1.1em;
     color: #616161;
    }

      .signin input.login {
       width: 65px;
       margin-right: 7px;
       background: #FFF;
      }

      .signin input.password {
       width: 74px;
      }

      .signin a.sign-in-out {
       display: block;
       float: left;
       width: 56px;
       height: 21px;
       margin: -1px 0 0 18px;
       padding: 3px 0 0 0;
       background: url(./../img/sign-in-out.gif?1) top left no-repeat;
       color: #616161;
       font-family: Tahoma, Geneva, sans-serif;
       text-align: center;
       text-decoration: none !important;
      }
      .signin a.sign-in-out:hover {
      	background-position: 0 -23px;
      }
      .signin a.sign-in-out:focus {
      	background-position: 0 -46px;
      }
      .signin a.output {
       margin-left: 13px;
       background: url(./../img/output.gif) top left no-repeat;
      }

      #top div.signup {
       float: left;
       height: 18px;
       margin: 0 30px 0 15px;
       padding: 8px 0;
      }

        #top div.signup a {
         color: #616161;
         font: 1.1em Tahoma, Geneva, sans-serif;
         border-bottom: 1px dotted #616161;
         text-decoration: none !important;
        }

  #search {
   position: relative;
   float: left;
   width: 154px;
   height: 22px;
   margin-top: 5px;
   background: url(./../img/search.gif) 0 0 no-repeat;
  }

    #search input {
     display: block;
     width: 110px;
     color: #AEAEAE;
     font: 1.3em Tahoma, Geneva, sans-serif;
     margin: 2px 10px 0 34px;
     background: none;
     border: none;
    }

  #header {
   position: relative;
   overflow: hidden;
   clear: both;
   margin: 10px 2% 15px 2%;
  }

  div.right {
   position: relative;
   float: right;
   width: 23%;
  }

  div.left {
   position: relative;
   float: left;
   width: 24%;
   margin-right: 1.3%;
  }

  *html .left { width: 23.6%; }

    #logo {
     position: relative;
     margin: 42px 0 0 10%;
    }

      #logo a {
       display: block;
       width: 190px;
       height: 107px;
       text-indent: -9999px;
       background: url(./../img/logo.gif) top left no-repeat;
      }

    ul.main-menu {
     position: relative;
     width: 196px;
     height: 55px;
     margin: 20px 0 10px 10%;
     background: url(./../img/main-menu.gif) top left no-repeat;
    }

    div.main-menu {
     width: 196px;
     height: 55px;
     margin: 20px 0 10px 10%;
     padding: 5px 15px;
     background: url(./../img/main-menu-back-1.gif) top left no-repeat;
    }

      div.main-menu ul li {
       float: left;
       margin-right: 13px;
       font-size: 1.2em;
       line-height: 1.7em;
       white-space: nowrap;
      }

        div.main-menu ul li a {
         color: #FFF;
         text-decoration: underline;
        }

          div.main-menu ul li a.here {
           font-style: italic;
           background: none !important;
          }

        div.main-menu ul li span {
         color: #FFF;
         font-style: italic;
        }

    .left .back,
    #right-sidebar .back {
     background: #F0F0F0;
    }

    .left .border,
    #right-sidebar .border {
     border-bottom: 2px solid #7452B9;
    }

    .left .item,
    #right-sidebar .item {
     overflow: hidden;
     position: relative;
     width: 100%;
     clear: both;
     margin: 6px 0 13px 0;
    }

      .left .item img,
      #right-sidebar .item img {
       position: relative;
       float: left;
      }

      .left .item div,
      #right-sidebar .item div {
       margin-left: 65px;
       padding: 5px;
      }

      .left .back div,
      .left .border div {
       margin-left: 110px;
      }

      left .item img.prev-next {
       float: right;
      }

ul.list {
 margin: 18px 0;
}

  ul.list li {
   float: left;
   margin: 0 8px;
   font-size: 1.1em;
  }

    ul.list li a {
     text-decoration: underline;
    }

  #main {
   position: relative;
   width: 100%;
   height: 420px;
   clear: both;
   background: url(./../img/people.jpg) top center no-repeat;
  }

#footer {
 position: relative;
 overflow: hidden;
 clear: both;
 margin: 15px 2%;
}

  .prev-next {
   position: relative;
   margin: 0 !important;
   padding: 0 !important;
   width: 100%;
  }
    .prev-next a {
     font-size: 1.1em;
    }

    .prev-next a.prev,
    .prev-next a.next {
     position: absolute;
     top: 2px;
     width: 12px;
     height: 9px;
     background-position: top left;
     background-repeat: no-repeat;
    }

    .prev-next a.prev {
     right: 20px;
     background-image: url(./../img/prev.gif);
    }

    .prev-next a.next {
     right: 7px;
     background-image: url(./../img/next.gif);
    }

  #users {
   overflow: hidden;
   width: 95%;
   padding: 0 2.5%;
  }

  #users div {
   float: left;
   width: 30%;
   margin-left: 5%;
   overflow:hidden;
  }

    #users div.first {
     margin-left: 0;
    }

    #users div h6 a {
     display: block;
     width: 57px;
     background: #F0F0F0;
     padding: 0 3px;
     color: #777;
     font-size: 1.1em;
     font-style: italic;
    }

#bottom {
 clear: both;
 width: 96%;
 margin: 0 2% 20px 2% !important;
 padding-top:25px;
}

  #bottom span {
   font: 1.1em Tahoma, Geneva, sans-serif;
   color: #8567C2;
  }









#frame {
 padding: 0 2%;
}

h3 a:hover,
h5 a:hover {
 text-decoration: none !important;
}

.author {
 text-align: right;
 font-style: italic;
 color: #656565;
}

p.author {
 font-size: 1.2em;
}

a.edit {
 font-size: 1.1em;
 font-style: italic;
 border-bottom: 1px dotted #656565;
 text-decoration: none !important;
}

span.withback {
 display: inline;
 background: #7452B9;
 padding: 0 3px 2px 3px;
 color: #FEFEFE;
 font-size: 1.5em;
 font-style: italic;
}

  span.withback a {
   color: #FEFEFE;
  }

    span.withback a:hover {
     text-decoration: none !important;
    }

  .signin span.name {
   color: #B1B1B1;
   float: left;
  }

  .signin span.icon {
   display: block;
   float: left;
   margin-left: 13px;
   color: #656565;
  }

  .signin span.mailto {
   background: url(./../img/icon-mailto.gif) center left no-repeat;
   margin-left: 20px;
   padding-left: 15px;
  }

  .signin span.comments {
   background: url(./../img/icon-comments-2.gif) center left no-repeat;
   padding-left: 13px;
  }

  .signin span.people {
   background: url(./../img/icon-people.gif) center left no-repeat;
   padding-left: 12px;
  }

  .signin span.arrow {
   background: url(./../img/icon-arrow.gif) center left no-repeat;
   padding-left: 12px;
  }

#right-sidebar {
 position: relative;
 float: right;
 width: 23em;
}

  #right-sidebar p.author {
   font-size: 1.1em;
  }

  img.banner {
   margin: 35px 0 25px 0;
  }

  div.tagcloud {
   margin-bottom: 40px;
  }

    div.tagcloud a {
     padding-right: 5px;
     color: #9E9E9E;
     text-decoration: underline;
    }

  div.bio-authors {
   position: relative;
   margin-bottom: 25px;
   zoom: 1;
  }

    div.bio-authors img {
     float: left;
     margin-right: 10px;
    }

    div.bio-authors div {
     position: relative;
     overflow: hidden;
    }

    div.bio-authors div h3,
    div.bio-authors div h4,
    div.bio-authors div h5 {
     line-height: 1em;
    }

    div.bio-authors div h3 {
     font-size: 4em;
     font-style: italic;
     color: #7452B9;
    }

      div.bio-authors div h3 a{
       color: #7452B9 !important;
      }

    div.bio-authors a.set {
     font-size: 1.2em;
    }

  div.project {
   margin-bottom: 30px;
  }

    div.project img {
     display: block;
     margin: 20px auto 10px auto;
    }

    div.project h5.subhead {
     line-height: 1em;
     color: #0E0E0E;
    }

  div.places {
   margin: 25px 0;
  }

  div.places h4 a,
  div.comments h4 a {
   font-style: italic;
   color: #656565;
   text-decoration: none;
  }

  div.comments {
  }

    div.comments h4 a {
     padding: 0 0 0 20px;
     background: url(./../img/icon-comments.gif) 2px 50% no-repeat;
    }

    div.comments div {
     margin-bottom: 15px;
    }

  #users {
   padding: 0;
  }

  #right-sidebar div.gallery,
  #right-sidebar div.portfolio {
   margin-top: 40px;
  }

    #right-sidebar div.gallery div {
     overflow: hidden;
     margin-bottom: 7px;
    }

      #right-sidebar div.gallery img {
       float: left;
       margin: 0 10px 5px 0;
      }

    #right-sidebar div.portfolio div {
     float: left;
     width: 110px;
     margin: 0 5px 10px 0;
    }

  ul.submenu {
   overflow: hidden;
   margin-bottom: 30px;
  }

    ul.submenu li {
     float: left;
     margin: 0 0 0 6px;
     font-size: 1.4em;
    }

      ul.submenu li a {
       color: #7452B9;
       text-decoration: underline;
      }

        ul.submenu li .here {
         padding: 3px;
         font-style: italic;
        }

  div.central {
   text-align: center;
  }

    div.central h5 a {
     color: #000;
    }

    div.central div {
     margin-top: 25px;
     text-align: center;
    }

#left-sidebar {
 position: relative;
 float: left;
 width: 20em;
}

  #top,
  #logo,
  #main-menu {
   margin-left: 0;
  }

    #logo a.variant-first {
     background: url(./../img/logo-second.gif) top center no-repeat;
    }

    #logo a.variant-second {
     height: 127px;
     background: url(./../img/logo-2.gif) top center no-repeat;
    }

    #logo a.variant-third {
     height: 130px;
     background: url(./../img/logo-3.gif) top center no-repeat;
    }

  .main-menu {
   height: 198px;
   margin-left: 0;
   background: url(./../img/main-menu-second.gif) top left no-repeat;
  }

    div.variant-first {
     height: 190px;
     background: url(./../img/main-menu-2.gif) top left no-repeat;
    }

    div.variant-second {
     height: 164px;
     background: url(./../img/main-menu-3.gif) top left no-repeat;
    }

    div.variant-third {
     height: 164px;
     background: url(./../img/main-menu-4.gif) top left no-repeat;
    }

  div.main-menu {
   width: 196px;
   height: 55px;
   margin-left: 0;
   padding: 5px 15px;
   background: url(./../img/main-menu-back-1.gif) top left no-repeat;
  }

    div.main-menu ul li {
     float: left;
     margin-right: 13px;
     font-size: 1.2em;
     line-height: 1.7em;
     white-space: nowrap;
    }

      div.main-menu ul li a {
       color: #FFF;
       text-decoration: underline;
      }

        div.main-menu ul li a.here {
         font-style: italic;
         background: none !important;
        }

      div.main-menu ul li span {
       color: #FFF;
       font-style: italic;
      }

  ul.menu {
   margin: 0 0 40px 15px;
  }

    ul.menu li {
     font-size: 1.4em;
     line-height: 1.7em;
    }

      ul.menu li a {
       color: #7452B9;
       text-decoration: underline;
      }

        ul.menu li a.here,
        ul.menu li span.here {
         color: #656565 !important;
         font-style: italic;
         background: none !important;
        }

      ul.menu li span {
       color: #656565;
      }

      ul.menu li ul {
       margin-left: 8px;
      }

        ul.menu li ul li {
         font-size: 1em;
        }

  div.choice {
   margin-bottom: 25px;
  }

    div.choice h3 {
     line-height: 1em;
     margin-bottom: 1em;
    }

    div.choice div {
     position: relative;
     margin-bottom: 10px;
     zoom: 1;
    }

      div.choice div img {
       margin: 0 10px;
      }

      div.choice div div {
       position: absolute;
       bottom: 3px;
       left: 0;
       margin-bottom: 0;
      }

  .friends {
   overflow: hidden;
   clear: both;
   margin: 25px 0 0 0;
  }

    .friends img {
     position: relative;
     float: left;
     margin: 0 3px 3px 0;
    }

  div.person,
  div.bio-reaction {
   margin-bottom: 30px;
  }

    div.person h4 {
     display: inline;
    }

    div.person span.time {
     padding-left: 10px;
    }

  div.bio-reaction h5 {
   margin: 10px 0;
  }

  div.about {
   overflow: hidden;
   margin-bottom: 10px;
  }

    div.about img {
     float: left;
     margin: 0 5px 3px 0;
    }

    div.about h6 {
     font-weight: bold;
     font-size: 1.1em;
     line-height: 1em;
    }

      div.about h6 a{
       color: #121212;
      }

 div.top-bio {
  overflow: hidden;
  margin: 0 0 25px 0;
 }

   div.top-bio img {
    float: left;
    margin-right: 10px;
   }

   div.top-bio h4 {
    font-size: 1.6em;
    line-height: 1.1em;
   }

     div.top-bio h4 a {
      color: #000;
     }

   div.top-bio span {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #7452B9;
   }

#center {
 position: relative;
 margin: 45px 230px 0 200px;
 min-width: 500px;
 padding: 0 1.3%;
 zoom: 1;
}

  div.secondary p {
   font-size: 1.4em;
   margin: 0 0 0.8em 0;
  }

  #center p.author {
   font-size: 1.1em;
  }

  #magazine {
   position: relative;
   overflow: hidden;
   border-bottom: 2px solid #7452B9;
  }

    #magazine h1 {
     display: block;
     width: 500px;
     height: 74px;
     margin: 0 auto;
     background: url(./../img/magazine-head.png) top left no-repeat;
     text-indent: -9999em !important;
    }

    * html #magazine h1 { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/magazine-head.png', sizingMethod='crop'); }

    #magazine img.cover {
     display: block;
     margin: -60px auto 0 auto;
    }

    #magazine h2 {
     color: #656565;
     font-size: 2.8em;
     line-height: 1em;
    }

      #magazine h2.pict {
       display: block;
       width: 209px;
       height: 79px;
       background: url(/img/artem.png) 25px top  no-repeat;
       text-indent: -9999em !important;
      }

      * html #magazine h2.pict { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/artem.png', sizingMethod='crop'); }

    #magazine h3 {
     color: #656565;
     font-size: 2.5em;
     line-height: 1em;
    }

      #magazine h3.color {
       color: #7452B9;
      }

    #magazine h4 {
     color: #7452B9;
     font-size: 1.9em;
     line-height: 1em;
    }

    #magazine h5 {
     color: #7452B9;
     font-size: 1.6em;
     line-height: 1.3em;
    }

    #magazine p.back {
     display: inline;
     padding: 3px;
     background: #7452B9;
     color: #FFF;
     font-style: italic;
     font-size: 1.6em;
    }

    #magazine .right {
     position: absolute;
     right: 2%;
     top: 140px;
     width: auto;
     text-align: right;
    }

      #magazine .right .middle {
       margin-top: 120px;
      }

      #magazine .right .footer {
       margin-top: 210px;
      }

        #magazine .right .footer h2 {
         margin-bottom: 0 !important;
        }

    #magazine .left {
     position: absolute;
     left: 1%;
     top: 175px;
     width: auto;
    }

      #magazine .left .citation {
       margin: 5px 55px 15px 0;
       text-align: right;
       font-size: 1.4em;
      }

        #magazine .left .citation img.quot-left {
         vertical-align: baseline;
         margin-right: 4px;
        }

        #magazine .left .citation img.quot-right {
         position: absolute;
         right: 33px;
         vertical-align: top;
        }

      #magazine .left .footer {
       margin: 65px 33px 0 0;
       text-align: right;
      }

        #magazine .left p.author {
         margin-right: 33px;
        }

        #magazine .left .footer h5 {
         margin-bottom: 5px;
        }

        #magazine .left .footer p.author {
         margin: 5px 0 0 0;
        }

  #center div.item {
    margin: 20px 0 0 0;
  }

    #center div.item h3 {
     color: #121212;
     font-style: italic;
     line-height: 1em;
    }

    #center div.item h1 {
     display: block;
     height: 21px;
     margin-bottom: 15px;
     background-position: top left;
     background-repeat: no-repeat;
     text-indent: -9999em !important;
    }

    div.interview h1 {
     float: left;
     width: 136px;
     background-image: url(./../img/head-interview.gif)
    }

    div.fusion h1 {
     width: 96px;
     background-image: url(./../img/head-fusion.gif)
    }

    div.fashion h1 {
     width: 112px;
     background-image: url(./../img/head-fashion.gif)
    }

    div.beauty h1 {
     width: 99px;
     background-image: url(./../img/head-beauty.gif)
    }

    div.travel h1 {
     width: 90px;
     background-image: url(./../img/head-travel.gif)
    }

    /*.prev-next {
     position: relative;
     margin: 0 0 0 145px !important;
     padding: 0 !important;
     width: 33px;
     height: 21px;
    }

      .prev-next a.prev,
      .prev-next a.next {
       position: absolute;
       top: 5px;
       width: 14px;
       height: 11px;
       background-position: top left;
       background-repeat: no-repeat;
      }

      .prev-next a.prev {
       left: 0;
       background-image: url(./../img/arrow-left.gif);
      }

      .prev-next a.next {
       right: 0;
       background-image: url(./../img/arrow-right.gif);
      }*/

    table.interviews {
     display: block;
     position: relative;
     width: 100%;
     padding: 0;
     margin: 20px 0;
    }

    table.interviews td {
     width: 18%;
     padding: 0 2% 30px 0;
     vertical-align: top;
    }

      table.interviews td img,
      div.interviews img {
       margin: 10px 0;
      }

      table.interviews td h4,
      div.interviews h4 {
       line-height: 1.1em;
      }

        table.interviews h4.color,
        table.interviews h4.color a {
         color: #7452B9 !important;
        }

        table.interviews p.cost {
         font-size: 2.5em;
         color: #656565;
        }

          table.interviews p.cost img {
           vertical-align: top;
           margin: 5px 0 0 3px !important;
          }

        table.interviews span.star,
        div.interviews span.star {
         font-size: 2.5em;
         line-height: 1em;
        }

        table.interviews span.one,
        div.interviews span.one {
         color: #B4B4B5;
        }

        table.interviews span.two,
        div.interviews span.two {
         color: #AAA4B6;
        }

        table.interviews span.three,
        div.interviews span.three {
         color: #9987BB;
        }

        table.interviews span.four,
        div.interviews span.four {
         color: #7D5FB8;
        }

        table.interviews span.five,
        div.interviews span.five {
         color: #7452B9;
        }

      table.interviews td div {
       vertical-align: center;
      }

      div.interviews {
       width: 500px;
       overflow: hidden;
       margin: 20px 0;
      }

        div.interviews div {
         float: left;
         width: 120px;
         margin-right: 5px;
        }

          div.interviews div div {
           float: none;
          }

  a.comment {
   vertical-align: top;
   padding: 0 0 0 14px;
   background: url(./../img/icon-comments.gif) 2px center no-repeat;
   font-size: 1.1em;
  }

    div.fusion div,
    div.travel div {
     overflow: hidden;
    }

    div.fusion div img,
    div.travel div img {
     float: left;
     margin: 0 10px 5px 0;
    }

    div.travel div h3 {
     line-height: 2em;
    }

    div.fusion div p.author,
    div.travel div p.author {
     margin-top: -15px;
    }

    table.brief {
     width: 100%;
     margin-top: 20px;
     vertical-align: top;
    }

      table.brief td {
       width: 50%;
      }

        table.brief td img {
         float: left;
         margin: 0 10px 5px 0;
        }

        table.brief td p.author {
         margin-top: 0;
         text-align: left;
        }

        table.brief td a {
         text-decoration: underline !important;
        }

     div.fashion div.page {
      position: relative;
      width: 500px;
      margin: 0 auto;
     }

     div.fashion div.buttons {
      position: absolute;
      top: 28px;
      right: 25px;
     }

      div.fashion a.left-arrow,
      div.fashion a.right-arrow,
      div.fashion a.fullscreen {
       float: left;
       width: 9px;
       height: 9px;
       background-position: top left;
       background-repeat: no-repeat;
      }

      div.fashion a.left-arrow {
       background-image: url(./../img/fashion-arrow-left.gif);
      }

      div.fashion a.right-arrow {
       background-image: url(./../img/fashion-arrow-right.gif);
      }

      div.fashion a.fullscreen {
       background-image: url(./../img/fashion-fullscreen.gif);
      }

      table.catalog {
       width: 100%;
       margin: 15px 0;
      }

      table.catalog td {
       padding: 4px;
       text-align: center;
      }

        table.catalog td a.left,
        table.catalog td a.right {
         width: 17px;
         height: 12px;
         background-position: top left;
         background-repeat: no-repeat;
        }

        table.catalog td a.left {
         background-image: url(./../img/arrow-left-grey.gif);
        }

        table.catalog td a.right {
         background-image: url(./../img/arrow-right-grey.gif);
        }

    div.fashion ul {
     overflow: hidden;
     width: 100%;
     margin: 0;
    }

      div.fashion ul li {
       float: left;
       margin-right: 15px;
       font-size: 1.1em;
       line-height: 1.5em;
      }

        div.fashion ul li a {
         text-decoration: underline !important;
        }

    div.beauty div {
     overflow: hidden;
     width: 500px;
     margin: 0 auto;
    }

    div.beauty div img {
     float: left;
     margin: 0 1px 1px 0;
    }

  .profile {
   overflow: hidden;
   margin: -20px 0 0 0;
  }

    .profile img.main-photo {
     margin: 20px 20px 10px 0;
     float: left;
    }

 span.status {
  color: #7452B9 !important;
 }
    .profile div.status {
     overflow: hidden;
     position: relative;
     margin-bottom: 10px;
    }

      .profile div.status span.variant {
       display: block;
       float: left;
       width: 35px;
       height: 17px;
       margin: 0 20px 0 0;
       background: url(./../img/status.gif) top left no-repeat;
       text-align: center;
       color: #FFF !important;
      }

      .profile div.status  a {
       font-size: 1.2em;
       text-decoration: underline;
      }

    .profile h1 {
     font-size: 2.5em;
     line-height: 1.2em;
     color: #656565;
    }

    .profile h2 {
     font-size: 1.4em !important;
     line-height: 1.4em;
     color: #000;
    }

    .profile div.bio {
     margin: 10px 0 10px 0;
    }

      .profile div.bio img {
       margin: 0 10px 0 0;
       vertical-align: middle;
      }

      .profile div.bio span {
       font-size: 2.5em;
       line-height: 0.5em;
       color: #9E9E9E;
       vertical-align: middle;
      }

    .profile p {
     color: #818181;
    }

      .profile p a,
      .profile p span {
       color: #121212;
      }

      .profile p.citation {
       margin: 30px 0;
       zoom: 1;
      }

      .profile p span.rate {
       font-size: 2.2em;
       color: #7452B9;
      }

  #center .inner {
   overflow: hidden;
   margin-top: 20px;
  }

    .inner h3 {
     float: left;
     line-height: 1.2em;
    }

    .inner a.edit {
     margin: 0 0 0 10px;
     line-height: 2.1em;
    }

    .inner table {
     width: 100%;
     margin: 10px 0;
    }

      .inner table td {
       padding: 0 4px;
       text-align: center;
      }

        .inner table td a.left,
        .inner table td a.right {
         display: block;
         width: 18px;
         height: 18px;
         background-position: top left;
         background-repeat: no-repeat;
        }

        .inner table td a.left {
         background-image: url(./../img/arrow-left-in-circle.gif);
        }

        .inner table td a.right {
         background-image: url(./../img/arrow-right-in-circle.gif);
        }

    .inner div.head {
     margin-top: 5px;
     vertical-align: center;
    }

    .inner h5 {
     display: inline;
     line-height: 1em;
    }

  #center .blogers h3 {
   line-height: 1em;
  }

  #center .last-post div {
   margin-bottom: 15px;
  }

  #center .recomendation table {
   margin: 15px 0;
   width: 100%;
  }

    #center .recomendation table td {
     text-align: center;
    }

      #center .recomendation table td h5 {
       display: inline;
      }

    #center .marketplace table td div img {
     margin: 0 auto;
    }

    div.room h1 {
     display: block;
     width: 342px;
     height: 92px;
     background: url(./../img/room-head.png) top left no-repeat;
     text-indent: -9999em !important;
    }

    * html div.room h1 { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/room-head.png', sizingMethod='crop'); }

    div.room img {
     display: block;
     margin: 35px auto;
    }

    div.room p {
     margin: 0 0 1.4em 0;
    }

  #center h2 {
   font-size: 2em;
   margin-bottom: 25px;
  }

  div.news,
  div.card {
   margin-bottom: 30px;
  }

    div.news h3 {
     font-size: 3em;
     line-height: 1.2em;
    }

      div.news h3 a {
       color: #7452B9 !important;
      }

      div.news h3 span.time {
       font-size: 0.47em;
      }

  div.card {
   overflow: hidden;
   margin-top: -30px;
   zoom: 1;
  }

    div.card img {
     display: block;
     margin: 0 auto 10px;
    }

    div.card div.button {
     position: relative;
     float: right;
     width: 160px !important;
     margin: 10px 40px 10px 0;
    }

  div.last-bio {
   overflow: hidden;
   width: 100%;
   margin-bottom: 25px;
  }

    div.last-bio img {
     float: left;
     margin-right: 15px;
    }

    div.last-bio div {
     position: relative;
     overflow: hidden;
    }

      div.last-bio div h3 {
       font-size: 2.5em;
       line-height: 2.5em;
      }

        div.last-bio div h3 a {
         color: #000;
        }

      div.last-bio div p.citation,
      div.profile p.citation {
       padding-right: 5%;
       font-size: 1.6em;
       font-style: italic;
       color: #818181;
      }

        div.last-bio div p.citation span.quot,
        div.profile p.citation span.quot {
         font: 1.7em Arial;
         font-style: italic;
         line-height: 0.6em;
         color: #818181;
        }

        div.last-bio div p.citation span.left,
        div.profile p.citation span.left {
         margin: 0 4px 0 0;
        }

        div.last-bio div p.citation span.right,
        div.profile p.citation span.right {
         margin: 0 0 0 4px;
         vertical-align: middle;
        }

  div.contest {
   margin-bottom: 30px;
  }

    div.contest p {
     font-size: 1.2em;
    }

      div.contest div p {
       font-size: 1.1em;
      }

    div.contest img.present {
     display: block;
     margin: 20px auto 30px auto;
    }

  div.button {
   width: 127px;
   margin: 0 auto;
   zoom: 1;
  }

    div.button div.head {
     position: relative;
     overflow: hidden;
     margin-bottom: -26px;
     background: url(./../img/button-corners.gif) 0 0 no-repeat;
     zoom: 1;
    }

    div.button div.foot {
     overflow: hidden;
     margin-top: -26px;
     background: url(./../img/button-corners.gif) 0 -26px no-repeat;
     zoom: 1;
    }

      div.button div.head div,
      div.button div.foot div {
       float: right;
       width: 24px;
       height: 26px;
       background: url(./../img/button-corners.gif) 0 -52px no-repeat;
      }

      div.button div.foot div {
       background: url(./../img/button-corners.gif) 0 -78px no-repeat;
      }

    div.button div.content {
     min-height: 24px;
     height: auto !important;
     height: 24px;
     padding: 12px 18px;
     border: 2px solid #7452B9;
     zoom: 1;
    }

      div.button div.content form {
       overflow: hidden;
      }

      div.button div.content a {
       float: right;
       margin-right: 10px;
       color: #7452B9;
       font-size: 1.8em;
       text-decoration: none !important;
      }

  div.opened {
   position: relative;
   width: 100%;
   margin-top: 10px;
   /*display: none; */
  }

    div.opened img {
     float: left;
     margin-top: 5px;
    }

    div.opened div.answer {
     margin: 0 130px 0 25px;
     border-right: 1px dotted #7452B9;
    }

      div.opened div.answer textarea {
       border: 0;
       margin: 3px 0;
       width: 99.5%;
       height: 20px;
       font: 1.2em Arial, Arial, Helvetica, sans-serif;
      }

  #center div.posts {
   margin-bottom: 50px;
  }

    #center div.posts p {
     font-size: 1.2em;
     margin-bottom: 1em;
    }

      #center div.posts p span {
       font-size: 1.6em;
       color: #656565;
      }

  #center div.report {
   margin: 10px 0 50px 0;
  }

    #center div.report img {
     float: left;
     margin: 0 12px 5px 0;
    }

    #center div.report h3 {
     line-height: 1.3em;
     margin-bottom: 10px;
    }

      #center div.report h3 a {
       /*text-decoration: underline !important;*/
      }

    #center div.report p.date {
     font-style: italic;
     margin-bottom: 25px;
    }

  #center table.reports-gallery {
   width: 100%;
   margin: 20px 0 30px 0;
  }

    #center table.reports-gallery td {
     padding: 0 0 20px 0;
     vertical-align: top;
    }

      #center table.reports-gallery td div {
       width: 245px;
       margin: 0 auto;
      }

      #center table.reports-gallery td img {
       margin: 0 auto 3px auto;
      }

  #center div.pages {
   margin: 0 auto;
   text-align: center;
   font-size: 1.5em;
  }

    #center div.pages a {
     padding: 0 10px;
    }

      #center div.pages a.arrow {
       font-size: 1.8em;
       color: #7452B9;
      }

        #center div.pages a.arrow:hover {
         text-decoration: none !important;
        }

    #center div.pages span {
     padding: 1px 6px;
     background: #7452B9;
     color: #FFF;
    }

  #center div.place-head {
   margin-bottom: 20px;
  }

    #center div.place-head div.top {
     overflow: hidden;
     margin-bottom: 30px;
    }

    #center div.place-head div.top div {
     float: left;
    }

      #center div.place-head div.top div h2 {
       margin-bottom: 0;
       line-height: 2.5em;
       color: #000;
      }

      #center div.place-head div.top div span {
       height: 16px;
       padding: 0 0 0 45px;
       background: url(./../img/place-FGC.gif) 5px 50% no-repeat;
       color: #7452B9;
       font-size: 1.8em;
      }

     #center div.place-head div.gallery {
      text-align: center;
     }

       #center div.place-head div.gallery div {
        margin-top: 10px;
       }

         #center div.place-head div.gallery div img {
          margin-right: 10px;
         }

    #center div.place-head img.place-logo {
     display: block;
     margin: 20px auto 0 auto;
    }

  #center div.address {
   overflow: hidden;
   width: 100%;
   margin: 30px 0 20px 0;
  }

    #center div.address div {
     float: left;
     height: 60px;
     margin: 0 13px 0 0;
    }

  #right-sidebar div.button {
   width: 185px;
   margin: 30px auto;
  }

    div.button div.content {
     padding: 12px;
    }

      #right-sidebar div.button div.content a {
       float: none;
       font-size: 1.4em;
      }

  #center div.message {
   margin: 2em 0 4em 0;
  }

    #center div.message img.message-avatar {
     float: left;
     margin-right: 10px;
    }

    #center div.message div {
     overflow: hidden;
     position: relative;
    }

      #center div.message div p {
       margin: 0 0 0.3em 0;
      }

      #center div.message div.icons {
       margin: 1em 0 0 0;
      }

        #center div.message div.icons a {
         font-size: 1.1em;
         color: #7452B9;
         text-decoration: underline !important;
        }

          #center div.message div.icons a.close,
          #center div.message div.icons a.write {
           display: block;
           float: left;
           width: 11px;
           height: 12px;
           margin: 0.2em 1em 0 0;
           background: url(./../img/icon-close.gif) center left no-repeat;
           text-indent: -9999pt !important;
          }

          #center div.message div.icons a.write {
           width: 14px;
           background: url(./../img/icon-write.gif) center left no-repeat;
          }

  #center ul.type-mess {
   overflow: hidden;
   position: relative;
   width: 100%;
   margin: 0 0 3em 0;
  }

    #center ul.type-mess li {
     position: relative;
     float: left;
     margin-right: 2em;
     font-size: 1.1em;
    }

      #center ul.type-mess li span {
       display: block;
       height: 24px;
       background: url(./../img/ul-back.gif) top center no-repeat;
       padding: 3px;
       color: #FFF;
      }

      #center ul.type-mess li a {
       font-style: italic;
       text-decoration: underline;
       line-height: 1.7em;
      }

  #center ul.comments {
   position: relative;
   width: 100%;
   zoom: 1;
  }

  #center ul.comments ul {
   margin-left: 25px;
  }

  #center ul.comments li p {
   font-size: 1.2em;
  }

  #center div.functions {
   z-index: 256;
   position: absolute;
   top: 0.3em;
   right: 0;
   padding: 0 0 1px 0;
   zoom: 1;
  }

    #center div.functions a.answer {
     font-size: 1.2em;
     color: #7452B9;
     border-bottom: 1px dotted #7452B9;
     text-decoration: none !important;
    }

    #center div.functions a.plus,
    #center div.functions a.minus {
     display: block;
     float: left;
     width: 10px;
     height: 10px;
     margin: 0.2em 1em 0 0;
     background: url(./../img/icon-plus.gif) center left no-repeat;
     text-indent: -9999pt !important;
    }

      #center div.functions a.minus {
       background: url(./../img/icon-minus.gif) center left no-repeat;
      }

  #center div.path-line {
   font-size: 1.8em;
   color: #656565;
   margin-bottom: 25px;
  }

    #center div.path-line span.status {
     float: left;
     display: block;
     height: 14px;
     width: 32px;
     margin: 5px 10px 0 0;
     padding: 0 5px 0 3px;
     background: url(./../img/status-right-corner.gif) top right no-repeat;
     color: #FFF !important;
     font-size: 0.6em;
    }

    #center div.path-line a {
     text-decoration: underline !important;
    }

  #center div.album {
   overflow: hidden;
   margin-bottom: 30px;
  }

    #center div.album h1 {
     line-height: 1.5em;
     font-style: italic;
     margin-bottom: 0;
    }

    #center div.album span {
     margin-left: 10px;
    }

    #center div.album img {
     display: block;
     margin: 10px auto;
    }

    #center div.album a.edit {
     float: right;
     margin-right: 5%;
    }

    #center div.album div.pagelist {
     position: absolute;
     top: 87px;
     right: 7%;
     font-size: 1.8em;
    }

  #center ul.afisha {

  }

    #center ul.afisha li {
     position: relative;
     margin-bottom: 25px;
     padding-right: 60px;
     font-size: 1.2em;
     zoom: 1;
    }

      #center ul.afisha li span {
       font-size: 1.1em;
      }

      #center ul.afisha li a {
       color: #000;
       text-decoration: underline;
      }

        #center ul.afisha li span.time,
        #center ul.afisha li a.set {
         font-size: 0.7em;
         color: #656565;
        }

        #center ul.afisha li h5 a {
         text-decoration: none;
        }

          #center ul.afisha li h5 a:hover {
           text-decoration: underline !important;
          }

      #center ul.afisha li p {
       margin: 2em 0;
      }

      #center ul.afisha li div.go-not {
       /*position: absolute;
       top: 0;
       right: 0;*/
       display:inline;
      }

        #center ul.afisha li div.go-not a {
         /*display: block;*/
         width: 45px;
         height: 16px;
         margin: 0 0 5px 0;
         text-align: center;
         font-size: 0.92em;
         text-decoration: none;
         color: #656565 !important;
        }

          #center ul.afisha li div.go-not a:hover {
           text-decoration: none;
          }

          #center ul.afisha li.go div.go-not a.here-go {
           color: #FFF !important;
           background: url(./../img/status-left-corner.gif) 0 1px no-repeat;
          }

            #center ul.afisha li div.go-not a.here-go-not {
             color: #FFF !important;
             background: url(./../img/status-left-corner-grey.gif) 0 1px no-repeat;
            }
          
          #center ul.afisha li.go div.go-not a.here-go-not {
           color: #656565 !important;
           background: none;
          }

      #center ul.afisha li.go a,
      #center ul.afisha li.go span {
       color: #7452B9 !important;
      }

      #center ul.afisha li div.plan {
       overflow: hidden;
       padding: 10px 0 15px 0;
      }

        #center ul.afisha li div.plan p {
         color: #656565;
         font-style: italic;
         margin: 1em 0;
        }

        #center ul.afisha li div.plan img {
         float: left;
         margin: 0 5px 3px 0;
        }

#bottom {
 width: 100%;
 margin: 30px 0 20px 0 !important;
}

#center div.report h3 {
 margin-bottom: 15px;
}

.jw-box {
 width: 490px;
 margin: 0 0 30px 0;
 padding: 0 5px 15px 5px;
 background: #231F20;
 text-align: right;
}

  .jw-box .head {
   background: url("/img/jw-line.gif") bottom left no-repeat;
  }

  .jw-box img {
   margin-top: 15px;
  }

    .jw-box .head img {
     margin-bottom: 7px;
    }

span.event-users-count {
 background: url("/img/afisha-going-icon.png") left center no-repeat !important;
}

#center .jw {
 overflow: hidden;
 padding: 10px 15px 10px 0;
 background: #231F20;
}

  #center .jw .item {
   min-height: 80px;
   margin: 0;
   background: url("/img/jw-afisha.gif") bottom right no-repeat;
  }

  #center .jw a,
  #center .jw span,
  #center .jw p {
   color: #D3B368 !important;
  }

  #center .jw p {
   font-size: 1.1em;
  }

    #center .jw span.event-users-count {
     background: url("/img/afisha-going-icon-jw.gif") left center no-repeat !important;
    }

    #center .who-go {
     overflow: hidden;
     margin: 0 0 25px 0;
    }

    #center .jw .item .de_event_info .who-go {
     margin: 40px 0 30px 0;
    }

      #center .who-go img {
       float: left;
       margin: 0 5px 5px 0;
      }

h1.afisha-in {
 line-height: 0.75em;
 margin-bottom: 25px;
 padding-bottom: 30px;
 background: url("/img/subline.gif") bottom left no-repeat;
 zoom: 1;
}

  h1.afisha-in span.time {
   font-size: 0.47em;
  }

#afisha-jw {
 overflow: hidden;
 padding-bottom: 70px;
 background: url("/img/afisha-jw.gif") bottom right no-repeat;
}




.jimgMenu {
	position: relative;
	width: 490px;
	height: 240px;
	overflow: hidden;
	margin: 15px 0px 0px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 240px;
	width: 1340px;
	
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#000 none repeat scroll 0%;
	border-right: 3px solid #1D1D1D;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:78px;
	height: 240px;
}

.jimgMenu ul li.last a {
	min-width:320px;	
}

.clear {
	clear: both;
}


div.friend-invites div.user-list {
  padding-bottom:13px;
}

div.friend-invites div.user-list div div a:first-child{
  display:block;
  height:18px;
  overflow:hidden;
  line-height:20px;
  padding-top:4px;
  margin-bottom:-20px
}

div#reports_right_column .item div { margin-left:110px; }

    div.tag_area{
        position:absolute;
        border:none;

    }
    div.tag_area span{
        background-color:#7452b9;
        color:white;
        padding:1px 4px;
        font-size:1.2em;
    }

  a.photo-navlink{
   display:block;
   height:150px;
   text-indent:-1000px;
   outline:none;
  }
  a.photo-prev{
      background:url(/img/photo-prev-p.png) no-repeat center center;
  }
  a.photo-prev:hover{
      background:url(/img/photo-prev-a.png) no-repeat center center;
  }
  a.photo-next{
      background:url(/img/photo-next-p.png) no-repeat center center;
  }
  a.photo-next:hover{
      background:url(/img/photo-next-a.png) no-repeat center center;
  }
  table#photo-table{
    background-color:#f4f4f4;
  }
  div#image_container img{
      display:block;
  }
  div#taggable_users li{
      list-style-image: url(/img/photo-tag-user-list-p.png);
      list-style-position: inside;
      font-size:1.4em;
      margin-bottom:15px;
  }
  div#taggable_users li:hover{
      list-style-image: url(/img/photo-tag-user-list-a.png);
  }
  div#tagged-people{
      font-size:1.2em;
      padding:10px 0;
  }

div#magazine-content{
	overflow:hidden;
}

div#big-user-top h5{
	border-bottom:1px dotted gray;
	padding-top:4px;
}
div#big-user-top div.big-rating{
	float:right;
}
div#big-user-top img{
	background:white;
	padding-right:10px;
	margin-right:0px;
}

div#daily_events h3{
	margin-top: -25px; margin-bottom: 5px;
}
#bottom span {
    margin-right:20px;
}
#bottom a {
    margin-right:8px;
    font-size:1.1em;
    text-decoration:underline;
}
div.bio-hb-container{
	position:relative;display:inline;
}
div.bio-hb-icon{
	position:absolute !important;
	top:5px;left:5px;
	width:19px;
	height:18px;
	background:url(/img/birthday-icon.png) no-repeat;
}
div.bio-hb-icon-f{
	background:url(/img/birthday-icon-f.png) no-repeat !important;
}
body#mainpage-body #logo{
	padding-top:18px;
}
body#mainpage-body #top{
	margin-left:24px;
}

/*mainpage scroll*/
    #btdata{
        color:white;
        font-size:1.2em;
        padding:20px 25px;
        z-index:70;
    }

    #btname{
        font-size:1.4em;
        font-weight:bold;
    }
    #btoccupation{
        font-size:0.9em;
    }
    #btquote{
        font-size:0.9em;
        padding-top:15px;
    }


    div#bio-scroll-container{
    	clear:both; width: 100%; position: absolute; left: 0px;
    }

    div.scrollableArea *
        {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
        }
    /*	Invisible left hotspot */
    div.scrollingHotSpotLeft
    {
        /* 	The hotspots have a minimum width of 100 pixels
        and if there is room the will grow and occupy 15%
        of the scrollable area (30% combined). Adjust it
        to your own taste. */
        min-width: 75px;
        width: 10%;
        height: 100%;
        /*	There is a big background image and it's used
            to solve some problems I experienced
            with Internet Explorer 6. */
       /* background-image: url(../images/big_transparent.gif);*/
        background-repeat: repeat;
        background-position: center center;
        position: absolute;
        z-index: 200;
        left: 0;
        /*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
       /* cursor: url(../images/cursors/cursor_arrow_left.cur), url(images/cursors/cursor_arrow_left.cur),w-resize;*/
    }

    /*	Visible left hotspot */
    div.scrollingHotSpotLeftVisible
    {
        /*background-image: url(../images/arrow_left.gif);*/
        background-color: #fff;
        background-repeat: no-repeat;
        opacity: 0.35; /* Standard CSS3 opacity setting */
        -moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
        filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
        zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
    }

    /* Invisible right hotspot */
    div.scrollingHotSpotRight
    {
        min-width: 75px;
        width: 10%;
        height: 100%;
        /*background-image: url(../images/big_transparent.gif);*/
        background-repeat: repeat;
        background-position: center center;
        position: absolute;
        z-index: 200;
        right: 0;
        /*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
       /* cursor: url(../images/cursors/cursor_arrow_right.cur), url(images/cursors/cursor_arrow_right.cur),e-resize;*/
    }

    /* Visible right hotspot */
    div.scrollingHotSpotRightVisible
    {
        /*background-image: url(../images/arrow_right.gif);*/
        background-color: #fff;
        background-repeat: no-repeat;
        opacity: 0.35;
        filter: alpha(opacity = 35);
        -moz-opacity: 0.35;
        zoom: 1;
    }

    /*	The scroll wrapper is always the same width and
        height as the containing element (div). Overflow
        is hidden because you don't want to show all of
        the scrollable area.
    */
    div.scrollWrapper
    {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    div.scrollableArea
    {
        position: relative;
        width: auto;
        height: 100%;
    }

    div.bioscroll{
        border-bottom: 1px solid #7452b9;
        position:relative;
    }
    #bios1{
        height:180px;
    }
    #bios2{
        padding-top:15px;
        height:150px;
    }
    #bios3{
        padding-top:15px;
        height:80px;
        margin-bottom:50px;
    }
    #bios3 img{
        margin-right:5px;
    }
/*mainpage scroll end */


div#footer div#rightbanner{
	padding-top:40px;
}
div#user-gallery-nav{
  font-size:2.1em;
  text-align:center;
  margin-bottom:5px;
}
div#user-gallery-nav a{
  text-decoration:none;
}

div.places a{
  color:black;
}
div.places {
  color:#767676;
}
div.places p.event-name{
	padding-bottom:7px;
}
div.places p.event-time{
	font-style:italic;
}

          #center ul.afisha li.go div.go-not a.here-go {
           color: #FFF !important;
           background: url(./../img/status-left-corner.gif) 0 1px no-repeat;
          }

            #center ul.afisha li div.go-not a.here-go-not {
             color: #FFF !important;
             background: url(./../img/status-left-corner-grey.gif) 0 1px no-repeat;
            }
          
          #center ul.afisha li.go div.go-not a.here-go-not {
           color: #656565 !important;
           background: none;
          }

#right-sidebar div.portfolio div{
	height:141px;
}
		div.search_section {
			/*display:inline;*/
			padding: 0px 3px;
			height:15px;
			
			font-size: 12px;
			/*font-weight: bold;*/
			float:left;
			margin: 0px 12px 0 0;
			text-transform:uppercase;
			color:black;
			width:60px;
		}
		div.search_result {
		  margin: 30px 0;
		  font-size:14px;
		}
		div.search_excerpt{
		  padding-top:8px;
		  padding-left:78px;
		  font-size:14px;
		}

a.purple{
	color:#7452B9;
	text-decoration:none;
}
a.white{
	color:white;
	text-decoration:none;
}

img#bio-link-img{
	padding-bottom:4px;
}

div.fashion div p.author {
margin-top:-15px;
}

		div.beauty div {
			margin:0 !important;
		}
		
		#center div.fusion{
			margin-top:40px !important;
		}
		
		.author-biglist{
			padding:0 !important;
			margin:0 !important;
			padding-top:8px !important;
		}
		
		.author-left {
			text-align:left !important;
		}
		
		em{
			font-style:italic;
		}
		
		strong{
			font-weight:bold;
		}
		
		table.interviews td{
			overflow:hidden;
		}
		table.interviews p{
			width:122px;
			overflow:hidden;
		}
		div.interviews div{
			margin-right:5%;
			height:260px;
		}
		h3#interview-quote{
			/*padding-top:5px;
			margin-bottom:-8px;*/
			line-height:1.4em;
		}

		div#interview-topblock{
			overflow:hidden;
			font-size:1.4em;
			line-height:1.4;
			margin:20px 0;
		}

		div#interview-photo{
			float:left;
			width:250px;
			text-align:center;
			padding-right:12px;
			padding-bottom:12px;
		}
		div#interview-preface{
			/*float:right;
			width:250px;*/
			clear:both;
			overflow:hidden;
		}
		div#interview-container{
			/*text-align: justify;*/
		}
		div.interview-rightbar{
			margin: 10px 0;
		}
		div.interview-rightbar span a{
			padding-left:8px;
			color: #545454;
			text-decoration:none;
			text-transform:uppercase;
		}

#magazine .right{
	top:60px;
}

div.interview h1{
	float:none;
}
div.blogers{
	font-size:0.8em
}
div.blogers h4{
	padding-bottom: 5px;
}
		h5.small-album-title a{
			font-size: 12px;
			color: #515151;
			text-decoration:none;
			font-weight:bold;
		}
		div.right-album-preview{
			border: 1px solid #e4e4e4;
			background-color: #f4f4f4;
			width: 150px;
			height: 100px;
			margin-bottom:12px;
		}
		div.right-album-preview img{
			margin: 12px 0px 12px 18px;
			float:left;
		}
		div.album-photo-count{
			float:right;
			text-align:center;
			margin:33px 13px 0 0 ;
		}
		div.album-photo-count div{
			font-size:18px;
			font-weight:bold;
		}
.friend-invites{
	padding-bottom:20px;
	overflow:hidden;
}
.friend-invites h4{
	font-size:1.1em;
	color: #7452b9;
}
.invite-message{
	font-style:italic;
	padding-top:17px;
}

#search input{
	margin:2px 10px 0 8px;
	width:134px;
}
div.logo-mainpage {
	margin:10px 0 0 5px !important;
}

div.wysiwyg div{
	clear:none !important;
}
input#blog_title{
	width:471px;
}
textarea#blog_text{
	width:480px;
}

div#daily_events_calendar{
	height:250px;position:relative
}
div#daily_events_calendar a{
	text-decoration:none;
}
#center ul.afisha li span.de_place{
	font-size:0.7em;
}
#center ul.afisha li a.event-link{
	font-size:18px;
	line-height:100%;
	text-decoration:none;
	
}
#center ul.afisha li h5{
	line-height:1em;
}
#center ul.afisha li.go a.event-link{
	color:white !important;
	background-color:#7552ba;
}
#center ul.afisha li a.here-go{
	display:inline;
}
#center ul.afisha li a.here-go-not{
	display:none !important;
}
#center ul.afisha li.go a.here-go{
	display:none;
}
#center ul.afisha li.go a.here-go-not{
	display:inline !important;
}
span.go-not{
	padding-right:15px;
}
span.go-not a.here-go img{
	vertical-align:bottom;
}
div.event-functions{
	margin: 12px 0;
}
span.event-users-count{
	background:url(/img/afisha-going-icon.png) no-repeat left center;
	padding-left:12px;
	padding-right:15px;
	color:#575757 !important;
}
.de_event_info{
	padding:0em 0 2em 140px;
	display:none;
}
a.de_date_selected{
	color:#7452b9;
}

/*div#edit-profile{
	font-size:1.2em;
}*/
/*div#edit-profile input{
	width:30%;
	font-size:1.2em;
}*/

  #upload-photo-form{
  	padding-top:18px;
  }
  div#friend_invite_form{
  	display:none;
  	padding:8px 0;
  	font-size:1.2em;
  }
  ul.user-functions{
  	padding-top:22px;
  }
  ul.user-functions li{
  	padding-bottom:5px;
  }
  ul.user-functions a{
  	vertical-align: top;
    padding: 0 0 0 30px;
    color:#7452b9;
    font-style:italic;
    text-decoration:underline;
    font-size: 1.2em;
  }
  a.profile-add {
   background: url(/img/icon-plus.gif) 4px center no-repeat;
  }
  a.profile-write {
   background: url(/img/icon-write.gif) 2px 3px no-repeat;
  }
  a.profile-delete {
   background: url(/img/icon-close.gif) 4px 2px no-repeat;
  }
  a.profile-edit {
   background: url(/img/icon-edit.gif) 4px 2px no-repeat;
  }

.profile div.main-photo {
float:left;
margin:20px 20px 10px 0;
}

div.last-post strong a{
	color:black;
}

a.profile-bio-link{
	color: #7452b9;
	text-decoration:none !important;
	font-style:italic;
}
#message-form-container #message_text{
	width:400px;
	height:150px;
}

    #smilies-list{
      padding-top:0px;
      padding-bottom:8px;
    }
    #smilies-list img{
      cursor:pointer;
    }

.dottedform{
	border: 1px #7452b9 dotted;
	border-right:0px;
	border-left:0px;
}

div.last-bio div p.citation, div.profile p.citation {
	font-size:1.8em;
	overflow:hidden;
}
#center div.item {
	margin:70px 0 0;
}

.profile p span.rate {
font-size:2em;
}

ul#comments div.recent_comment{
	background:#f7f4fb;
}

    .comments_form_header{
    	margin-bottom:12px;
    }
    .comments_form_header a{
    	text-decoration:none;
    	border-bottom:1px dashed gray;
    }
		h3.comments_header{
			padding-bottom:20px;
		}
		
		input.login-button{
			background:transparent url(/img/sign-in-out.gif?1) no-repeat scroll left top;
			height:21px;
			margin:-1px 0 0 18px;
			padding: 1px 0 0 0;
			padding-bottom:3px;
			text-align:center;
			width:56px;
		}
		input.login-button:hover{
			background-position: 0 -23px;
		}
		input.login-button:focus{
			background-position: 0 -46px;
			color:black;
		}
			input.login-button {
/*font-size:10px;
margin-left:10px;
width:30px;

border-bottom: 1px dotted black;
background: transparent;*/
}
		
		input.login-button::-moz-focus-inner /*Remove button padding in FF*/
		{ 
    	border: 0;
    	padding: 0;
		}
    
		div.magazine-list-big{
			overflow: hidden;
		}
		
		div.magazine-inner-list{
    	padding-top:25px;
    }
    div.magazine-inner-list div.magazine-list-big{
    	padding-bottom:31px;
    }
		
		div.magazine-list-big img{
			float: left;
      margin: 0 10px 5px 0;
		}
		div.magazine-list-big p{
			padding-top:10px;
		}
		div.magazine-list-big p.author{
			margin-top: -15px;
		}
		div.magazine-list-big h3{
			color:#121212;
			font-style:italic;
			line-height:1em;
		}
		
		div.m-left{
			float:left;
			margin: 0 10px 7px 0;
			background: #f2f0ff;
			color: #48005d;
			padding: 10px 14px;
			width: 200px;
		}
		.m-pic-left{
   			float:left;
			margin: 7px 15px 5px 0;
		}
		.m-pic-right{
   			float:right;
			margin: 7px 0 5px 15px;
		}
		div.m-hl-1{
			padding:0px;
			font-size:18px;
			text-align:center;
			text-transform: uppercase;
			color:#242424;
		}
		div.m-hl-2{
			padding:5px 12px;
			font-size:13px;
			text-align:left;
			background-color:#f0eef3;
			/*border: 1px solid #c8c0d3;*/
			color:#242424;
		}
		div.m-hl-left{
			margin: 7px 15px 5px 0pt;
			float: left;
			width:240px;
		}
		div.m-hl-right{
			margin: 7px 0 5px 15px;
			float: right;
			width:240px;
		}
		div.m-hl-center{
			padding: 15px 0px;
			/*color:#33145a;*/
		}


#center div.address div{
	margin: 0 35px 0 0;
}
#center div.place-head div.gallery {
text-align:left;
}
#center div.place-head div.gallery div img {
margin-right:3px;
}
#place-info{
	font-size:13px;
	padding-top:10px;
}
#place-info div{
    padding: 4px 0;
}
.inner h5{
	font-weight:bold;
}
a.edit{
	color:#808080;
}
a.edit.bigger{
	/*color:#656565;*/
	font-size:1.2em;
}
div#profile-data{
	overflow:hidden;
	padding-bottom:10px;
}
div#profile-data span{
	color:black;
}
.inner table{
	width:90%;
}
.inner table td{
	text-align:left;
}
div.flash_message{
	padding: 10px 20px;
	margin-bottom:27px;
	border: 1px #eeeaf0 dashed;
	font-size:13px;
}
#documents_content{
	font-size:12px;
}
body {
 /*font: 12px Arial, Arial, Helvetica, sans-serif;*/
}
.fieldWithErrors input{
			border: 1px solid red;
		}
.errorExplanation li{
	display:list-item;
}
div.secondary ul{
	/*font-size:14px;*/
	line-height:1.4;
}
div.secondary label{
	font-size:14px;
	line-height:1.4;
}
#center div.posts p {
	font-size:1.4em;
}

div.secondary p{
	/*font-size:14px;*/
	line-height:1.4;
}
#center ul.comments li p {
	margin:0.3em 0;
}
label{
/*	font-size:1.2em;*/
}
div.report-list {
	width:49%;
	float:left;
	height:170px;
}
div.report-list img {
	margin: 0 auto 3px;
}
.placegallery-list{
	overflow:hidden;
}

#center div.report{
	overflow:hidden;
}

#center div.posts p b{
	color: #7452B9;
	font-size: 1.6em;
	font-weight:normal;
}

#center div.posts p strong{
	color: #7452B9;
	font-size: 1.6em;
	font-weight:normal;
}

.profile div.status {
	height: 17px;	
}

span.user_rating a.rating-arrow {
font-size:25px;
line-height:34px;
vertical-align:top;
}

h5 a.rating-arrow {
font-size:12px;
line-height:12px;
vertical-align:top;
}

div.more_articles {
	margin-top:20px;
	overflow:hidden;
}
div.more_articles img{
	float:left;
	margin:0 10px 5px 0;
}
div.more_articles div.article-small{
	overflow:hidden;
	margin-bottom:12px;
	font-size:1.1em;
}
div.more_articles div.article-small p.author{
	font-size:1em;
	display:none;
}

div.brief {
	margin-top:20px;
	overflow:hidden;
}
div.brief img{
	float:left;
	margin:0 10px 5px 0;
}
div.brief div.article-small{
	width:47%;
	float:left;
	padding-right:3%;
	height:80px;
}
h1.magazine-article-header{
	font-size:5.5em;
	padding-bottom:10px;
}
div#right-sidebar div.bio-authors{
	padding-bottom:25px;
}
div.bio-authors{
	overflow:hidden;
}
		div.bio-list{
			font-size:14px;
			overflow:hidden;
		}
		div.bio-list-item {
			/*width:24%;*/
			width:120px;
			margin-right: 1%;
			height:137px;
			
			float:left;
			margin-top:10px;
			margin-bottom:10px;
			padding-bottom:15px;
		}

		div.bio-list-item a{
			text-decoration:none;
		}

		div.bio-list-item img {
			
			margin-right:9px;
		}

		div.bio-list-item div{
			/*padding-top:27px;
			line-height:13px;*/
			padding-top:5px;
			width:110px;
		}
		
		div.user-list{
			font-size:14px;
			overflow:hidden;
		}

		div.user-list-item {
			width:240px;
			height:57px;
			float:left;
			margin-top:10px;
		}

		div.user-list-item a{
			text-decoration:none;
		}

		div.user-list-item img {
			float:left;
			margin-right:9px;
		}

		div.user-list-item div{
			line-height:29px;
		}
		div.user-list-item div a{
			color:#222;
		}
		div.blog_text{
			font-size: 14px !important;
			line-height:1.4;
			margin: 0.4em 0;
		}
		div.blog_text p{
			font-size: 14px !important;
		}
		#center .inner{
			/*clear:left;*/
		}
		#blog-container .subhead {
			font-size:32px;
		}

		#submenu {
			height: 24px;
			padding: 1px 0px;
			
			overflow:hidden;
		}

		#submenuspace {
			height:7px;
		}

		#submenu ul
		{
		list-style: none;
		padding: 0;
		margin: 0;
		}

		#submenu li
		{
		display: inline;
		margin: 0;
		}
		#submenu li a
		{
		height: 24px;
		line-height: 20px;
		float: left;
		display: block;
		border: 0;
		padding: 0px 9px;
		margin: 0px 0px;
		text-decoration: underline;
		font-style: italic;
		text-align: center;
		font-size: 11px;
		color: #8b8b8b;
		}
		#submenu li a.submenu_active
		{
		text-decoration: none;
		background: url('/img/submenu-active-bg.png') #fff no-repeat center;
		color: white;
		font-style: normal;
		}

div.pl-entry{
	width:49%;
	height:85px;
	float:left;
}
div.pl-entry h5{
	font-weight:bold;
	font-size:12px;
}
div.pl-entry a{
	/*color:black;*/
}
img.fgc-icon{
	vertical-align:middle;
	float:none !important;
}
.placelist-address{
	width:80%;
	font-size:11px;
}
h1.user-header{
	color:#656565;
	font-size:19px;
	font-weight: normal;
	padding-bottom:17px;
}
h1.user-header a{
	text-decoration:underline;
}
#sortable_photos { list-style-type: none; margin: 0; padding: 0; overflow:hidden}
#sortable_photos li { margin: 3px 3px 3px 0; 
	padding: 1px; 
	float: left; 
	width: 160px; 
	height: 160px; 
	text-align: center; 
	}
#sortable_photos li img{
	vertical-align:middle;
}
#sortable_photos .content{
	line-height:160px;
}
#sortable_photos .content div{
	line-height:100%;
}
.valigner
{
height:100% !important;
width: 0px !important;
vertical-align: middle;
visibility: hidden;
} 
		.gallery-pad {
			margin-top: 15px;
		}
/*pagination*/
.pagination {
  /*font-family: 'century gothic', Futura, Verdana, sans-serif;*/
  font-size:15px;
  background: none;
  padding-top:17px;
  text-align:center;
  height:37px;
  
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .0em .3em;
    /*display: block;*/
    /*float: left;*/
    margin-right: 0px;
	 }
  .pagination span.disabled {
    color: #999;
    border: 1px solid transparent; }
  .pagination span.current {
    
    background: #7452b9;
    color: white;
    border: 1px solid #7452b9; }
  .pagination a {
    text-decoration: none;
    color: #909090;
    border: 1px solid transparent; }
    .pagination a:hover, .pagination a:focus {
      color: #505050;
      /*border-color: #909090;*/ }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
	.pagination .next_page{
		line-height:15px;
		font-size:25px;
		color:#7452b9;
	}
	.pagination .prev_page{
		line-height:15px;
		font-size:25px;
		color:#7452b9;
	}



/* global */
#cluetip-close img {
  border: 0;
}
#cluetip-title {
  overflow: hidden;
}
#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}
#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(/img/wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  height: 22px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#cluetip-extra {
  display: none;
}
/***************************************
   =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #fcfcfc;
}
.cluetip-default #cluetip-outer {
  position: relative;
  margin: 0;
  background-color: #fcfcfc;
}
.cluetip-default h3#cluetip-title {
  margin: 0 0 0px;
  padding: 0px;
  font-size: 1.5em;
  font-weight: normal;
  background-color: #7452b9;
  color: #fff;
  text-align:center
}
.cluetip-default #cluetip-title a {
  color: #7452b9;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: 10px;
}
.cluetip-default div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* default arrows */

.clue-right-default .cluetip-arrows {
  background-image: url(images/darrowleft.gif);
}
.clue-left-default .cluetip-arrows {
  background-image: url(images/darrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-default .cluetip-arrows {
  background-image: url(images/darrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-default .cluetip-arrows {
  background-image: url(images/darrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
  background-color: transparent;
}
.cluetip-jtip #cluetip-outer {
  border: 2px solid #ccc;
  position: relative;
  background-color: #fff;
}

.cluetip-jtip h3#cluetip-title {
  margin: 0 0 5px;
  padding: 2px 5px;
  font-size: 16px;
  font-weight: normal;
  background-color: #ccc;
  color: #333;
}

.cluetip-jtip #cluetip-inner {
  padding: 0 5px 5px;
  display: inline-block;
}
.cluetip-jtip div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* jtip arrows */

.clue-right-jtip .cluetip-arrows {
  background-image: url(images/arrowleft.gif);
}
.clue-left-jtip .cluetip-arrows {
  background-image: url(images/arrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-jtip .cluetip-arrows {
  background-image: url(images/arrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-jtip .cluetip-arrows {
  background-image: url(images/arrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}

/***************************************
   =cluetipClass: 'rounded'
-------------------------------------- */

.cluetip-rounded {
  background: transparent url(images/bl.gif) no-repeat 0 100%;
  margin-top: 10px;
  margin-left: 12px;
}

.cluetip-rounded #cluetip-outer {
  background: transparent url(images/tl.gif) no-repeat 0 0;
  margin-top: -12px;
}

.cluetip-rounded #cluetip-title {
  background-color: transparent;
  padding: 12px 12px 0;
  margin: 0 -12px 0 0;
  position: relative;
}
.cluetip-rounded #cluetip-extra {
  position: absolute;
  display: block;
  background: transparent url(images/tr.gif) no-repeat 100% 0;
  top: 0;
  right: 0;
  width: 12px;
  height: 30px;
  margin: -12px -12px 0 0;
}
.cluetip-rounded #cluetip-inner {
  background: url(images/br.gif) no-repeat 100% 100%;
  padding: 5px 12px 12px;
  margin: -18px -12px 0 0;
  position: relative;
}

.cluetip-rounded div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #009;
  background: transparent;
}
.cluetip-rounded div#cluetip-close a {
  color: #777;
}

/* rounded arrows */

.clue-right-rounded .cluetip-arrows {
  background-image: url(images/rarrowleft.gif);
}
.clue-left-rounded .cluetip-arrows {
  background-image: url(images/rarrowright.gif);
  left: 100%;
  margin-left: 12px;
}
.clue-top-rounded .cluetip-arrows {
  background-image: url(images/rarrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-rounded .cluetip-arrows {
  background-image: url(images/rarrowup.gif);
  top: -23px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}



/* stupid IE6 HasLayout hack */
.cluetip-rounded #cluetip-title,
.cluetip-rounded #cluetip-inner {
  zoom: 1;
}


div.jGrowl {
	padding: 			10px;
	z-index: 			9999;
	color: 				#fff;
	font-size: 			12px;
}

/** Special IE6 Style Positioning **/
div.ie6 {
	position: 			absolute;
}

div.ie6.top-right {
	right: 				auto;
	bottom: 			auto;
	left: 				expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
  	top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.top-left {
	left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.bottom-right {
	left: 				expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.bottom-left {
	left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

div.ie6.center {
	left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 				100%;
}

/** Normal Style Positions **/
body > div.jGrowl {
	position:			fixed;
}

body > div.jGrowl.top-left {
	left: 				0px;
	top: 				0px;
}

body > div.jGrowl.top-right {
	right: 				0px;
	top: 				0px;
}

body > div.jGrowl.bottom-left {
	left: 				0px;
	bottom:				0px;
}

body > div.jGrowl.bottom-right {
	right: 				0px;
	bottom: 			0px;
}

body > div.jGrowl.center {
	top: 				0px;
	width: 				50%;
	left: 				25%;
}

/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
	margin-left: 		auto;
	margin-right: 		auto;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	background-color: 		#000;
	opacity: 				.85;
    -ms-filter: 			"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; 
    filter: 				progid:DXImageTransform.Microsoft.Alpha(Opacity=85); 
	zoom: 					1;
	width: 					235px;
	padding: 				10px;
	margin-top: 			5px;
	margin-bottom: 			5px;
	font-family: 			Tahoma, Arial, Helvetica, sans-serif;
	font-size: 				1em;
	text-align: 			left;
	display: 				none;
	-moz-border-radius: 	5px;
	-webkit-border-radius:	5px;
}

div.jGrowl div.jGrowl-notification {
	min-height: 			40px;
}

div.jGrowl div.jGrowl-notification div.header {
	font-weight: 			bold;
	font-size:				.85em;
}

div.jGrowl div.jGrowl-notification div.close {
	z-index:				99;
	float: 					right;
	font-weight: 			bold;
	font-size: 				1em;
	cursor:					pointer;
}

div.jGrowl div.jGrowl-closer {
	padding-top: 			4px;
	padding-bottom: 		4px;
	cursor: 				pointer;
	font-size:				.9em;
	font-weight: 			bold;
	text-align: 			center;
}

/** Hide jGrowl when printing **/
@media print {
	div.jGrowl {
		display: 			none;
	}
}