/* ñòèëè äëÿ ñåâåðíîé ýêñïåäèöèè*/

#logo {
 margin-top: 0;
}

  #logo a.variant-ne {
   height: 156px;
   background: url("./../img/logo-ne.jpg") top center no-repeat;
  }

  #left-sidebar .categories {
   margin: 0 18px 0 10px;
  }

    #left-sidebar .categories h2,
    .ne #right-sidebar h2,
    #center .ne .add-comments h2 {
     font: 14px/23px 'BodoniCond', Times New Roman, Times, serif;
     text-align: center;
     border-top: 1px solid #8D8D8D;
     border-bottom: 1px solid #8D8D8D;
     letter-spacing: 1px;
     text-transform: uppercase;
    }

    #left-sidebar .categories ul,
    .ne #right-sidebar ul {
     margin: 1px 0 20px 0;
     padding-bottom: 30px;
     border-top: 1px solid #8D8D8D;
     background: url("./../img/icon-1.gif") bottom center no-repeat;
    }

      #left-sidebar .categories ul li {
       line-height: 20px;
       border-bottom: 1px solid #CCC;
       text-align: center;
      }

        #left-sidebar .categories ul li span {
         display: block;
         line-height: 20px;
         background: #ECECEC;
        }

        #left-sidebar .categories ul li a,
        #left-sidebar .categories ul li span {
         font: 14px Times New Roman, Times, serif;
         color: #444;
         text-decoration: none !important;
        }

  #left-sidebar .search-ne {
   margin: 0 18px 0 10px;
   padding-bottom: 30px;
   background: url("./../img/icon-1.gif") bottom center no-repeat;
  }

    #left-sidebar .search-ne input {
     width: 150px;
     padding: 2px 10px;
     border: 1px solid #A9A9A9;
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     -khtml-border-radius: 10px;
     border-radius: 10px;
     color: #767676;
     font: 12px Arial, Arial, Helvetica, sans-serif;
    }

    .ne #right-sidebar ul li {
     margin-bottom: 5px;
     padding: 12px 0 0 0px;
    }

      .ne #right-sidebar ul li img,
      #center .ne ul.ne-comments li .comm img {
       display: block;
       position: relative;
       float: left;
      }

      .ne #right-sidebar ul li div,
      #center .ne ul.ne-comments li .comm text {
       overflow: hidden;
       margin-left: 0px;
       text-align:center;
       zoom: 1;
      }

        .ne #right-sidebar ul li div p {
         font-size: 14px;
         margin: 0;
        }

        .ne #right-sidebar ul li div span {
         font-size: 12px;
         color: #767676;
        }

  .ne #right-sidebar h2 {
   margin-top: 20px;
  }

  .ne #right-sidebar ul {
   margin-bottom: 40px;
  }

    .ne #right-sidebar ul.tag-cloud {
     text-align: center;
    }

      .ne #right-sidebar ul.tag-cloud li {
       display: inline;
      }

  #center .with-icon {
   padding-bottom: 40px;
   margin-bottom: 30px;
   background: url("./../img/icon-1.gif") bottom center no-repeat;
  }

  #center .ne {
   position: relative;
  }

    #center .ne h1 {
     position: absolute;
     top: -85px;
     left: 50%;
     width: 280px;
     margin-left: -170px;
     padding: 20px 30px 10px 30px;
     background: #FFF;
     font: 18px/1.2 Times New Roman, Times, serif;
     text-align: center;
     text-transform: uppercase;
    }

      #center .ne h1.unique {
       width: 200px;
       height: 68px;
       margin-left: -140px;
       padding: 42px 40px 0 40px;
       background: url("./../img/head-ne.jpg") 0 0 no-repeat;
       font-family: 'BodoniCond', Times New Roman, Times, serif;
      }

    #center .ne p {
     margin: 0 5px 10px 5px;
     line-height: 1.2;
    }

    #center .ne .with-borders {
     border: 1px solid #8D8D8D;
     margin-top: 95px;
     padding: 1px;
    }

      #center .ne .with-borders .inner {
       border: 1px solid #8D8D8D;
       margin: 0;
       padding: 30px 10px 50px 10px;
      }

        #center .ne .with-borders .inner img,
        #center .ne .with-icon img {
         display: block;
         margin: 0 auto;
        }

        #center .ne .with-borders .inner .element {
         position: relative;
         display: -moz-inline-box;
         display: inline-block;
         //display: inline;
         //zoom: 1;
         width: 44.7%;
         margin: 0 2.5% 25px 2.5%;
         padding-bottom: 15px;
         border-bottom: 1px solid #8D8D8D;
         vertical-align: top;
         font-size: 0;
         letter-spacing: -1px;
         text-align: center;
        }

          #center .ne .with-borders .inner .element i,
          #center .ne .add-comments h2 i {
           display: block;
           position: absolute;
           bottom: 1px;
           left: 0;
           width: 100%;
           height: 1px;
           border-bottom: 1px solid #8D8D8D;
          }

          #center .ne .with-borders .inner .element .serv-line {
           margin: 5px 0 12px 0;
           font-size: 10px;
          }

            #center .ne .with-borders .inner .element .serv-line a {
             padding-left: 10px;
             background: url("./../img/icon-comments-1.gif") 0 50% no-repeat;
            }

            #center .ne .with-borders .inner .element .serv-line span {
             text-transform: uppercase;
            }

          #center .ne .with-borders .inner .element img {
           margin-bottom: 15px;
          }

          #center .ne .with-borders .inner .element div,
          #center .ne .with-borders .inner .element p,
          #center .ne .with-borders .inner .element h2 {  
           letter-spacing: normal;
           font-size: 14px;
          }

          #center .ne .with-borders .inner .element h2 {
           margin-bottom: 0;
           font: 14px/1 'BodoniCond', Times New Roman, Times, serif;
           text-transform: uppercase;
          }

            #center .ne .with-borders .inner .element h2 a {
             font: 14px/1 Times New Roman, Times, serif;
             color: #000;
             text-decoration: underline;
            }

          #center .ne .with-borders .inner .element p {
           text-align: left;
          }

          #center .ne .all {
           overflow: hidden;
           margin: 15px 0 25px 0;
           text-align: center;
          }

          #center .ne .icons {
           overflow: hidden;
          }

            #center .ne .all .icons {
             position: relative;
             display: -moz-inline-box;
             display: inline-block;
             //display: inline;
             //zoom: 1;
            }

            #center .ne .icons a {
             display: block;
             float: left;
             height: 20px;
             margin: 0 8px 0 5px;
             background-position: 0 0;
             background-repeat: no-repeat;
             text-indent: -9999pt !important;
            }

              #center .ne .icons a.vkontakte {
               width: 44px;
               background-image: url("./../img/icon-b-like.gif");
              }

              #center .ne .icons a.facebook {
               width: 54px;
               background-image: url("./../img/icon-f-like.gif");
              }

              #center .ne .icons a.send {
               width: 54px;
               background-image: url("./../img/icon-send.gif");
              }

              #center .ne .icons a.tweet {
               width: 54px;
               background-image: url("./../img/icon-tweet.gif");
              }

          #center .ne .sum {
           position: relative;
           float: left;
           margin-right: 8px;
          }

            #center .ne .sum b {
             display: block;
             position: absolute;
             top: 0;
             left: -4px;
             width: 5px;
             height: 18px;
             background: url("./../img/sum-corner.gif") 0 50% no-repeat;
            }

            #center .ne .sum a {
             display: block;
             height: 18px;
             line-height: 16px;
             margin: 0;
             padding: 0 3px;
             border: 1px solid #000;
             font-size: 12px;
             text-indent: 0 !important;
             color: #000;
            }

    #center .ne .gallery-pict,
    #center .ne .statement {
     margin: 25px 0;
    }

      #center .ne .gallery-pict h3 {
       background: url("./../img/ne-header-line.gif") 0 60% repeat-x;
       font: italic bold 16px/1 Times New Roman, Times, serif;
       margin-bottom: 12px;
       text-align: center;
       letter-spacing: 1px;
      }

        #center .ne .gallery-pict h3 span {
         padding: 0 5px;
         background: #FFF;
         color: #000;
        }

      #center .ne .gallery-pict .numbers {
       position: relative;
       height: 25px;
       margin: 12px 0 20px 0;
       background: url("./../img/ne-header-line.gif") 0 50% repeat-x;
      }

        #center .ne .gallery-pict .numbers div {
         position: absolute;
         top: 0;
         left: 50%;
         width: 110px;
         height: 25px;
         margin-left: -55px;
         padding: 0;
         background: #FFF url("./../img/quotes.gif") 50% 0 no-repeat;
         font: italic bold 12px/1 Times New Roman, Times, serif;
         text-align: center;
        }

          #center .ne .gallery-pict .numbers div span {
           display: -moz-inline-box;
           display: inline-block;
           //display: inline;
           //zoom: 1;
           vertical-align: top;
           padding: 0 4px;
           line-height: 12px;
          }

          #center .ne .gallery-pict .numbers div .under {
           line-height: 25px;
          }

      #center .ne .statement h2 {
       margin: 0 20px;
       font: 18px/1.3 Times New Roman, Times, serif;
       text-transform: uppercase;
       text-align: center;
      }

    #center .ne .add-comments {
     border-bottom: 1px solid #8D8D8D;
    }

      #center .ne .add-comments h2 {
       position: relative;
      }

    #center .ne .add-comments
    #center .ne .pages {
     position: relative;
     margin-top: 10px;
     padding-bottom: 5px;
     border-bottom: 1px solid #8D8D8D;
    }

    #center .ne .add-comments {
     padding-bottom: 25px;
     margin-bottom: 50px;
    }

      #center .ne .add-comments input,
      #center .ne .add-comments label,
      #center .ne .add-comments textarea {
       display: block;
       font: 12px Arial,Arial,Helvetica,sans-serif;
       color: #000;
      }

      #center .ne .add-comments label {
       margin-bottom: 2px;
       text-align: center;
      }

      #center .ne .add-comments input,
      #center .ne .add-comments textarea {
       width: 90%;
       margin: 0 auto 10px auto;
       padding: 2px;
       border: 1px solid #8D8D8D;
      }

    #center .ne ul.ne-comments {
     margin-bottom: 20px;
    }

      #center .ne ul.ne-comments li {
       position: relative;
       margin-bottom: 25px;
      }

        #center .ne ul.ne-comments li .comm {
         overflow: hidden;
        }

          #center .ne ul.ne-comments li .comm .text {
           position: relative;
           margin-left: 60px;
           z-index: 20;
          }

            #center .ne ul.ne-comments li .comm .text p {
             line-height: 1.2;
             font-size: 12px;
            }

            #center .ne ul.ne-comments li .comm .text .author {
             text-align: left;
             font-size: 14px;
             margin-bottom: 4px;
            }

              #center .ne ul.ne-comments li .comm .text .author span {
               font-size: 12px;
              }

        #center .ne ul.ne-comments li .answ {
         position: absolute;
         top: 0;
         right: 0;
         z-index: 250;
        }

          #center .ne ul.ne-comments li .answ a {
           display: block;
           float: right;
           color: #8567C2;
           border-bottom: 1px dotted #8567C2;
           font-size: 14px;
          }

            #center .ne ul.ne-comments li .answ a:hover {
             text-decoration: none;
            }

          #center .ne ul.ne-comments li .answ .rating {
           position: relative;
           float: right;
           width: 20px;
           margin: 4px 10px 0 0;
           padding: 0 6px;
           text-align: center;
          }

            #center .ne ul.ne-comments li .answ .rating a {
             position: absolute;
             top: 0;
             width: 4px;
             height: 12px;
             background-position: 0 50%;
             background-repeat: no-repeat;
             border-bottom: none;
             text-indent: -9999pt !important;
             font-size: 0;
            }

            #center .ne ul.ne-comments li .answ .rating a.pick-up {
             left: 0;
             background-image: url("./../img/uarr.gif");
            }

            #center .ne ul.ne-comments li .answ .rating a.put-down {
             right: 0;
             background-image: url("./../img/darr.gif");
            }

        #center .ne ul.ne-comments li ul {
         margin: 25px 0 0 25px;
        }

    #center .ne .pages {
     margin-top: 20px;
    }

      #center .ne .pages .center {
       position: relative;
       margin: 0 95px;
       text-align: center;
       font-size: 14px;
      }

      #center .ne .cross {
       position: relative;
       padding: 0 6px;
       vertical-align: middle;
       font-size: 12px;
       background: none;
       color: #000;
       line-height: 18px;
      }

        #center .ne .prev {
         float: left;
        }

        #center .ne .next {
         float: right;
        }

        #center .ne .pages .center span,
        #center .ne .pages .center a {
         padding: 0 2px;
         background: none;
         color: #000;
         font: 14px/1 'BodoniCond', Times New Roman, Times, serif;
        }

        @media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
          #center .ne .pages .center span, #center .ne .pages .center a{ font: 14px/1 Times New Roman, Times, serif;}
        }

        #center .ne .pages .center span {
         background: #000;
         color: #FFF;
        }




/* ñòèëè äëÿ ñåâåðíîé ýêñïåäèöèè*/