#center {
 padding: 0 1%;
}

div.choice div div {
 bottom: 3px;
}

#right-sidebar div.portfolio div {
 width: 100px;
}

div.last-bio div p.citation span.quot,
div.profile p.citation span.quot {
 line-height: normal;
}

div.last-bio div p.citation span.right,
div.profile p.citation span.right {
 vertical-align: center;
}
