img {/* behavior: url("/css/iepngfix.htc")*/ }

body {
 font: 10px Arial, Arial, Helvetica, sans-serif;
 color: #121212;
 min-width: 100em;
 max-width: 124em;
 margin: 0 auto;
}

h1 {
 font-size: 3em;
 margin-bottom: 20px;
}

h3 {
 font-size: 1.8em;
 line-height: 2.4em;
 color: #656565;
}

h4 {
 font-size: 1.5em;
 line-height: 1.7em;
 color: #656565;
}

h4.different a {
 font-size: 1em;
 color: #7452B9;
 text-decoration: underline;
}

h5 {
 font-size: 1.4em;
 line-height: 1.7em;
 color: #656565;
}

  h1.color,
  h2.color,
  h3.color,
  h4.color,
  h5.color,
  h1.color a
  h2.color a
  h3.color a
  h4.color a
  h5.color a,
  p.color {
   color: #7452B9 !important;
  }

.dark {
 color: #121212;
}

.subhead {
 font-style: italic;
}

strong {
 font-weight: bold;
}

p {
 font-size: 1.1em;
 margin: 0.3em 0;
}

a {
 color: #767676;
 text-decoration: none;
}

/* черные ссылки */
a.text {
 color: #121212;
 text-decoration: none;
}
/* черные ссылки */

a:hover {
 text-decoration: underline;
}

  a.set {
   font-style: italic;
  }

  a.here,
  span.here {
   color: #FFF !important;
   background: #7452B9;
  }

  a.head {
   font-weight: bold;
  }

  a.music {
   display: block;
   background : url(./../img/music.gif) center left no-repeat;
   padding-left: 10px;
   color: #777;
   font-style: italic;
  }

  a.color {
   padding: 4px;
   background: #7452B9;
   color: #FFF;
  }

span.author,
span.time {
 font-size: 1.1em;
}

  #right-sidebar p span,
  span.time {
   font-style: italic;
   color: #767676;
  }

  p span.time  {
   font-size: 1em;
  }

#top {
 position: relative;
 overflow: hidden;
 width: 98%;
 margin: 8px 0 4px 2%;
}

  .signin {
   float: left;
   width: auto;
   height: 34px;
   margin-right: 15px;
   padding: 0;
   background: url(./../img/signin-left-corner.gif) top left no-repeat;
   font-size: 1.1em;
  }

    .signin div.right-corner {
     float: left;
     width: 13px;
     height: 34px;
     background: url(./../img/signin-right-corner.gif) top left no-repeat;
    }

    .signin div.content {
     overflow: hidden;
     position: relative;
     float: left;
     height: 26px;
     margin: 0 0 0 13px;
     padding: 8px 0 0 2px;
     background: #F4F4F4;
    }

    .signin input {
     float: left;
     height: 17px;
     margin-right: 3px;
     padding: 0px 3px;
     border: 0;
     font-size: 1.1em;
     color: #616161;
    }

      .signin input.login {
       width: 65px;
       margin-right: 7px;
       background: #FFF;
      }

      .signin input.password {
       width: 74px;
      }

      .signin a.sign-in-out {
       display: block;
       float: left;
       width: 56px;
       height: 21px;
       margin: -1px 0 0 18px;
       padding: 3px 0 0 0;
       background: url(./../img/sign-in-out.gif?1) top left no-repeat;
       color: #616161;
       font-family: Tahoma, Geneva, sans-serif;
       text-align: center;
       text-decoration: none !important;
      }
      .signin a.sign-in-out:hover {
      	background-position: 0 -23px;
      }
      .signin a.sign-in-out:focus {
      	background-position: 0 -46px;
      }
      .signin a.output {
       margin-left: 13px;
       background: url(./../img/output.gif) top left no-repeat;
      }

      #top div.signup {
       float: left;
       height: 18px;
       margin: 0 30px 0 15px;
       padding: 8px 0;
      }

        #top div.signup a {
         color: #616161;
         font: 1.1em Tahoma, Geneva, sans-serif;
         border-bottom: 1px dotted #616161;
         text-decoration: none !important;
        }

  #search {
   position: relative;
   float: left;
   width: 154px;
   height: 22px;
   margin-top: 5px;
   background: url(./../img/search.gif) 0 0 no-repeat;
  }

    #search input {
     display: block;
     width: 110px;
     color: #AEAEAE;
     font: 1.3em Tahoma, Geneva, sans-serif;
     margin: 2px 10px 0 34px;
     background: none;
     border: none;
    }

  #header {
   position: relative;
   overflow: hidden;
   clear: both;
   margin: 10px 2% 15px 2%;
  }

  div.right {
   position: relative;
   float: right;
   width: 23%;
  }

  div.left {
   position: relative;
   float: left;
   width: 24%;
   margin-right: 1.3%;
  }

  *html .left { width: 23.6%; }

    #logo {
     position: relative;
     margin: 42px 0 0 10%;
    }

      #logo a {
       display: block;
       width: 190px;
       height: 107px;
       text-indent: -9999px;
       background: url(./../img/logo.gif) top left no-repeat;
      }

    ul.main-menu {
     position: relative;
     width: 196px;
     height: 55px;
     margin: 20px 0 10px 10%;
     background: url(./../img/main-menu.gif) top left no-repeat;
    }

    div.main-menu {
     width: 196px;
     height: 55px;
     margin: 20px 0 10px 10%;
     padding: 5px 15px;
     background: url(./../img/main-menu-back-1.gif) top left no-repeat;
    }

      div.main-menu ul li {
       float: left;
       margin-right: 13px;
       font-size: 1.2em;
       line-height: 1.7em;
       white-space: nowrap;
      }

        div.main-menu ul li a {
         color: #FFF;
         text-decoration: underline;
        }

          div.main-menu ul li a.here {
           font-style: italic;
           background: none !important;
          }

        div.main-menu ul li span {
         color: #FFF;
         font-style: italic;
        }

    .left .back,
    #right-sidebar .back {
     background: #F0F0F0;
    }

    .left .border,
    #right-sidebar .border {
     border-bottom: 2px solid #7452B9;
    }

    .left .item,
    #right-sidebar .item {
     overflow: hidden;
     position: relative;
     width: 100%;
     clear: both;
     margin: 6px 0 13px 0;
    }

      .left .item img,
      #right-sidebar .item img {
       position: relative;
       float: left;
      }

      .left .item div,
      #right-sidebar .item div {
       margin-left: 65px;
       padding: 5px;
      }

      .left .back div,
      .left .border div {
       margin-left: 110px;
      }

      left .item img.prev-next {
       float: right;
      }

ul.list {
 margin: 18px 0;
}

  ul.list li {
   float: left;
   margin: 0 8px;
   font-size: 1.1em;
  }

    ul.list li a {
     text-decoration: underline;
    }

  #main {
   position: relative;
   width: 100%;
   height: 420px;
   clear: both;
   background: url(./../img/people.jpg) top center no-repeat;
  }

#footer {
 position: relative;
 overflow: hidden;
 clear: both;
 margin: 15px 2%;
}

  .prev-next {
   position: relative;
   margin: 0 !important;
   padding: 0 !important;
   width: 100%;
  }
    .prev-next a {
     font-size: 1.1em;
    }

    .prev-next a.prev,
    .prev-next a.next {
     position: absolute;
     top: 2px;
     width: 12px;
     height: 9px;
     background-position: top left;
     background-repeat: no-repeat;
    }

    .prev-next a.prev {
     right: 20px;
     background-image: url(./../img/prev.gif);
    }

    .prev-next a.next {
     right: 7px;
     background-image: url(./../img/next.gif);
    }

  #users {
   overflow: hidden;
   width: 95%;
   padding: 0 2.5%;
  }

  #users div {
   float: left;
   width: 30%;
   margin-left: 5%;
   overflow:hidden;
  }

    #users div.first {
     margin-left: 0;
    }

    #users div h6 a {
     display: block;
     width: 57px;
     background: #F0F0F0;
     padding: 0 3px;
     color: #777;
     font-size: 1.1em;
     font-style: italic;
    }

#bottom {
 clear: both;
 width: 96%;
 margin: 0 2% 20px 2% !important;
 padding-top:25px;
}

  #bottom span {
   font: 1.1em Tahoma, Geneva, sans-serif;
   color: #8567C2;
  }




