body,
div,
dl, dt, dd,
ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, p, blockquote, hr,
form, fieldset, input {
 margin: 0;
 padding: 0;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

fieldset, img {
 border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
 font-style: normal;
 font-weight: normal;
}

ol, ul {
 list-style: none;
}

caption, th {
 text-align: left;
}

h1, h2, h3, h4, h5, h6 {
 font-size: 100%;
 font-weight: normal;
}

button {
 overflow: visible;
 padding: 0;
 margin: 0;
}