


#frame {
 padding: 0 2%;
}

h3 a:hover,
h5 a:hover {
 text-decoration: none !important;
}

.author {
 text-align: right;
 font-style: italic;
 color: #656565;
}

p.author {
 font-size: 1.2em;
}

a.edit {
 font-size: 1.1em;
 font-style: italic;
 border-bottom: 1px dotted #656565;
 text-decoration: none !important;
}

span.withback {
 display: inline;
 background: #7452B9;
 padding: 0 3px 2px 3px;
 color: #FEFEFE;
 font-size: 1.5em;
 font-style: italic;
}

  span.withback a {
   color: #FEFEFE;
  }

    span.withback a:hover {
     text-decoration: none !important;
    }

  .signin span.name {
   color: #B1B1B1;
   float: left;
  }

  .signin span.icon {
   display: block;
   float: left;
   margin-left: 13px;
   color: #656565;
  }

  .signin span.mailto {
   background: url(./../img/icon-mailto.gif) center left no-repeat;
   margin-left: 20px;
   padding-left: 15px;
  }

  .signin span.comments {
   background: url(./../img/icon-comments-2.gif) center left no-repeat;
   padding-left: 13px;
  }

  .signin span.people {
   background: url(./../img/icon-people.gif) center left no-repeat;
   padding-left: 12px;
  }

  .signin span.arrow {
   background: url(./../img/icon-arrow.gif) center left no-repeat;
   padding-left: 12px;
  }

#right-sidebar {
 position: relative;
 float: right;
 width: 23em;
}

  #right-sidebar p.author {
   font-size: 1.1em;
  }

  img.banner {
   margin: 35px 0 25px 0;
  }

  div.tagcloud {
   margin-bottom: 40px;
  }

    div.tagcloud a {
     padding-right: 5px;
     color: #9E9E9E;
     text-decoration: underline;
    }

  div.bio-authors {
   position: relative;
   margin-bottom: 25px;
   zoom: 1;
  }

    div.bio-authors img {
     float: left;
     margin-right: 10px;
    }

    div.bio-authors div {
     position: relative;
     overflow: hidden;
    }

    div.bio-authors div h3,
    div.bio-authors div h4,
    div.bio-authors div h5 {
     line-height: 1em;
    }

    div.bio-authors div h3 {
     font-size: 4em;
     font-style: italic;
     color: #7452B9;
    }

      div.bio-authors div h3 a{
       color: #7452B9 !important;
      }

    div.bio-authors a.set {
     font-size: 1.2em;
    }

  div.project {
   margin-bottom: 30px;
  }

    div.project img {
     display: block;
     margin: 20px auto 10px auto;
    }

    div.project h5.subhead {
     line-height: 1em;
     color: #0E0E0E;
    }

  div.places {
   margin: 25px 0;
  }

  div.places h4 a,
  div.comments h4 a {
   font-style: italic;
   color: #656565;
   text-decoration: none;
  }

  div.comments {
  }

    div.comments h4 a {
     padding: 0 0 0 20px;
     background: url(./../img/icon-comments.gif) 2px 50% no-repeat;
    }

    div.comments div {
     margin-bottom: 15px;
    }

  #users {
   padding: 0;
  }

  #right-sidebar div.gallery,
  #right-sidebar div.portfolio {
   margin-top: 40px;
  }

    #right-sidebar div.gallery div {
     overflow: hidden;
     margin-bottom: 7px;
    }

      #right-sidebar div.gallery img {
       float: left;
       margin: 0 10px 5px 0;
      }

    #right-sidebar div.portfolio div {
     float: left;
     width: 110px;
     margin: 0 5px 10px 0;
    }

  ul.submenu {
   overflow: hidden;
   margin-bottom: 30px;
  }

    ul.submenu li {
     float: left;
     margin: 0 0 0 6px;
     font-size: 1.4em;
    }

      ul.submenu li a {
       color: #7452B9;
       text-decoration: underline;
      }

        ul.submenu li .here {
         padding: 3px;
         font-style: italic;
        }

  div.central {
   text-align: center;
  }

    div.central h5 a {
     color: #000;
    }

    div.central div {
     margin-top: 25px;
     text-align: center;
    }

#left-sidebar {
 position: relative;
 float: left;
 width: 20em;
}

  #top,
  #logo,
  #main-menu {
   margin-left: 0;
  }

    #logo a.variant-first {
     background: url(./../img/logo-second.gif) top center no-repeat;
    }

    #logo a.variant-second {
     height: 127px;
     background: url(./../img/logo-2.gif) top center no-repeat;
    }

    #logo a.variant-third {
     height: 130px;
     background: url(./../img/logo-3.gif) top center no-repeat;
    }

  .main-menu {
   height: 198px;
   margin-left: 0;
   background: url(./../img/main-menu-second.gif) top left no-repeat;
  }

    div.variant-first {
     height: 190px;
     background: url(./../img/main-menu-2.gif) top left no-repeat;
    }

    div.variant-second {
     height: 164px;
     background: url(./../img/main-menu-3.gif) top left no-repeat;
    }

    div.variant-third {
     height: 164px;
     background: url(./../img/main-menu-4.gif) top left no-repeat;
    }

  div.main-menu {
   width: 196px;
   height: 55px;
   margin-left: 0;
   padding: 5px 15px;
   background: url(./../img/main-menu-back-1.gif) top left no-repeat;
  }

    div.main-menu ul li {
     float: left;
     margin-right: 13px;
     font-size: 1.2em;
     line-height: 1.7em;
     white-space: nowrap;
    }

      div.main-menu ul li a {
       color: #FFF;
       text-decoration: underline;
      }

        div.main-menu ul li a.here {
         font-style: italic;
         background: none !important;
        }

      div.main-menu ul li span {
       color: #FFF;
       font-style: italic;
      }

  ul.menu {
   margin: 0 0 40px 15px;
  }

    ul.menu li {
     font-size: 1.4em;
     line-height: 1.7em;
    }

      ul.menu li a {
       color: #7452B9;
       text-decoration: underline;
      }

        ul.menu li a.here,
        ul.menu li span.here {
         color: #656565 !important;
         font-style: italic;
         background: none !important;
        }

      ul.menu li span {
       color: #656565;
      }

      ul.menu li ul {
       margin-left: 8px;
      }

        ul.menu li ul li {
         font-size: 1em;
        }

  div.choice {
   margin-bottom: 25px;
  }

    div.choice h3 {
     line-height: 1em;
     margin-bottom: 1em;
    }

    div.choice div {
     position: relative;
     margin-bottom: 10px;
     zoom: 1;
    }

      div.choice div img {
       margin: 0 10px;
      }

      div.choice div div {
       position: absolute;
       bottom: 3px;
       left: 0;
       margin-bottom: 0;
      }

  .friends {
   overflow: hidden;
   clear: both;
   margin: 25px 0 0 0;
  }

    .friends img {
     position: relative;
     float: left;
     margin: 0 3px 3px 0;
    }

  div.person,
  div.bio-reaction {
   margin-bottom: 30px;
  }

    div.person h4 {
     display: inline;
    }

    div.person span.time {
     padding-left: 10px;
    }

  div.bio-reaction h5 {
   margin: 10px 0;
  }

  div.about {
   overflow: hidden;
   margin-bottom: 10px;
  }

    div.about img {
     float: left;
     margin: 0 5px 3px 0;
    }

    div.about h6 {
     font-weight: bold;
     font-size: 1.1em;
     line-height: 1em;
    }

      div.about h6 a{
       color: #121212;
      }

 div.top-bio {
  overflow: hidden;
  margin: 0 0 25px 0;
 }

   div.top-bio img {
    float: left;
    margin-right: 10px;
   }

   div.top-bio h4 {
    font-size: 1.6em;
    line-height: 1.1em;
   }

     div.top-bio h4 a {
      color: #000;
     }

   div.top-bio span {
    font-size: 1.1em;
    line-height: 1.5em;
    color: #7452B9;
   }

#center {
 position: relative;
 margin: 45px 230px 0 200px;
 min-width: 500px;
 padding: 0 1.3%;
 zoom: 1;
}

  div.secondary p {
   font-size: 1.4em;
   margin: 0 0 0.8em 0;
  }

  #center p.author {
   font-size: 1.1em;
  }

  #magazine {
   position: relative;
   overflow: hidden;
   border-bottom: 2px solid #7452B9;
  }

    #magazine h1 {
     display: block;
     width: 500px;
     height: 74px;
     margin: 0 auto;
     background: url(./../img/magazine-head.png) top left no-repeat;
     text-indent: -9999em !important;
    }

    * html #magazine h1 { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/magazine-head.png', sizingMethod='crop'); }

    #magazine img.cover {
     display: block;
     margin: -60px auto 0 auto;
    }

    #magazine h2 {
     color: #656565;
     font-size: 2.8em;
     line-height: 1em;
    }

      #magazine h2.pict {
       display: block;
       width: 209px;
       height: 79px;
       background: url(/img/artem.png) 25px top  no-repeat;
       text-indent: -9999em !important;
      }

      * html #magazine h2.pict { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/artem.png', sizingMethod='crop'); }

    #magazine h3 {
     color: #656565;
     font-size: 2.5em;
     line-height: 1em;
    }

      #magazine h3.color {
       color: #7452B9;
      }

    #magazine h4 {
     color: #7452B9;
     font-size: 1.9em;
     line-height: 1em;
    }

    #magazine h5 {
     color: #7452B9;
     font-size: 1.6em;
     line-height: 1.3em;
    }

    #magazine p.back {
     display: inline;
     padding: 3px;
     background: #7452B9;
     color: #FFF;
     font-style: italic;
     font-size: 1.6em;
    }

    #magazine .right {
     position: absolute;
     right: 2%;
     top: 140px;
     width: auto;
     text-align: right;
    }

      #magazine .right .middle {
       margin-top: 120px;
      }

      #magazine .right .footer {
       margin-top: 210px;
      }

        #magazine .right .footer h2 {
         margin-bottom: 0 !important;
        }

    #magazine .left {
     position: absolute;
     left: 1%;
     top: 175px;
     width: auto;
    }

      #magazine .left .citation {
       margin: 5px 55px 15px 0;
       text-align: right;
       font-size: 1.4em;
      }

        #magazine .left .citation img.quot-left {
         vertical-align: baseline;
         margin-right: 4px;
        }

        #magazine .left .citation img.quot-right {
         position: absolute;
         right: 33px;
         vertical-align: top;
        }

      #magazine .left .footer {
       margin: 65px 33px 0 0;
       text-align: right;
      }

        #magazine .left p.author {
         margin-right: 33px;
        }

        #magazine .left .footer h5 {
         margin-bottom: 5px;
        }

        #magazine .left .footer p.author {
         margin: 5px 0 0 0;
        }

  #center div.item {
    margin: 20px 0 0 0;
  }

    #center div.item h3 {
     color: #121212;
     font-style: italic;
     line-height: 1em;
    }

    #center div.item h1 {
     display: block;
     height: 21px;
     margin-bottom: 15px;
     background-position: top left;
     background-repeat: no-repeat;
     text-indent: -9999em !important;
    }

    div.interview h1 {
     float: left;
     width: 136px;
     background-image: url(./../img/head-interview.gif)
    }

    div.fusion h1 {
     width: 96px;
     background-image: url(./../img/head-fusion.gif)
    }

    div.fashion h1 {
     width: 112px;
     background-image: url(./../img/head-fashion.gif)
    }

    div.beauty h1 {
     width: 99px;
     background-image: url(./../img/head-beauty.gif)
    }

    div.travel h1 {
     width: 90px;
     background-image: url(./../img/head-travel.gif)
    }

    /*.prev-next {
     position: relative;
     margin: 0 0 0 145px !important;
     padding: 0 !important;
     width: 33px;
     height: 21px;
    }

      .prev-next a.prev,
      .prev-next a.next {
       position: absolute;
       top: 5px;
       width: 14px;
       height: 11px;
       background-position: top left;
       background-repeat: no-repeat;
      }

      .prev-next a.prev {
       left: 0;
       background-image: url(./../img/arrow-left.gif);
      }

      .prev-next a.next {
       right: 0;
       background-image: url(./../img/arrow-right.gif);
      }*/

    table.interviews {
     display: block;
     position: relative;
     width: 100%;
     padding: 0;
     margin: 20px 0;
    }

    table.interviews td {
     width: 18%;
     padding: 0 2% 30px 0;
     vertical-align: top;
    }

      table.interviews td img,
      div.interviews img {
       margin: 10px 0;
      }

      table.interviews td h4,
      div.interviews h4 {
       line-height: 1.1em;
      }

        table.interviews h4.color,
        table.interviews h4.color a {
         color: #7452B9 !important;
        }

        table.interviews p.cost {
         font-size: 2.5em;
         color: #656565;
        }

          table.interviews p.cost img {
           vertical-align: top;
           margin: 5px 0 0 3px !important;
          }

        table.interviews span.star,
        div.interviews span.star {
         font-size: 2.5em;
         line-height: 1em;
        }

        table.interviews span.one,
        div.interviews span.one {
         color: #B4B4B5;
        }

        table.interviews span.two,
        div.interviews span.two {
         color: #AAA4B6;
        }

        table.interviews span.three,
        div.interviews span.three {
         color: #9987BB;
        }

        table.interviews span.four,
        div.interviews span.four {
         color: #7D5FB8;
        }

        table.interviews span.five,
        div.interviews span.five {
         color: #7452B9;
        }

      table.interviews td div {
       vertical-align: center;
      }

      div.interviews {
       width: 500px;
       overflow: hidden;
       margin: 20px 0;
      }

        div.interviews div {
         float: left;
         width: 120px;
         margin-right: 5px;
        }

          div.interviews div div {
           float: none;
          }

  a.comment {
   vertical-align: top;
   padding: 0 0 0 14px;
   background: url(./../img/icon-comments.gif) 2px center no-repeat;
   font-size: 1.1em;
  }

    div.fusion div,
    div.travel div {
     overflow: hidden;
    }

    div.fusion div img,
    div.travel div img {
     float: left;
     margin: 0 10px 5px 0;
    }

    div.travel div h3 {
     line-height: 2em;
    }

    div.fusion div p.author,
    div.travel div p.author {
     margin-top: -15px;
    }

    table.brief {
     width: 100%;
     margin-top: 20px;
     vertical-align: top;
    }

      table.brief td {
       width: 50%;
      }

        table.brief td img {
         float: left;
         margin: 0 10px 5px 0;
        }

        table.brief td p.author {
         margin-top: 0;
         text-align: left;
        }

        table.brief td a {
         text-decoration: underline !important;
        }

     div.fashion div.page {
      position: relative;
      width: 500px;
      margin: 0 auto;
     }

     div.fashion div.buttons {
      position: absolute;
      top: 28px;
      right: 25px;
     }

      div.fashion a.left-arrow,
      div.fashion a.right-arrow,
      div.fashion a.fullscreen {
       float: left;
       width: 9px;
       height: 9px;
       background-position: top left;
       background-repeat: no-repeat;
      }

      div.fashion a.left-arrow {
       background-image: url(./../img/fashion-arrow-left.gif);
      }

      div.fashion a.right-arrow {
       background-image: url(./../img/fashion-arrow-right.gif);
      }

      div.fashion a.fullscreen {
       background-image: url(./../img/fashion-fullscreen.gif);
      }

      table.catalog {
       width: 100%;
       margin: 15px 0;
      }

      table.catalog td {
       padding: 4px;
       text-align: center;
      }

        table.catalog td a.left,
        table.catalog td a.right {
         width: 17px;
         height: 12px;
         background-position: top left;
         background-repeat: no-repeat;
        }

        table.catalog td a.left {
         background-image: url(./../img/arrow-left-grey.gif);
        }

        table.catalog td a.right {
         background-image: url(./../img/arrow-right-grey.gif);
        }

    div.fashion ul {
     overflow: hidden;
     width: 100%;
     margin: 0;
    }

      div.fashion ul li {
       float: left;
       margin-right: 15px;
       font-size: 1.1em;
       line-height: 1.5em;
      }

        div.fashion ul li a {
         text-decoration: underline !important;
        }

    div.beauty div {
     overflow: hidden;
     width: 500px;
     margin: 0 auto;
    }

    div.beauty div img {
     float: left;
     margin: 0 1px 1px 0;
    }

  .profile {
   overflow: hidden;
   margin: -20px 0 0 0;
  }

    .profile img.main-photo {
     margin: 20px 20px 10px 0;
     float: left;
    }

 span.status {
  color: #7452B9 !important;
 }
    .profile div.status {
     overflow: hidden;
     position: relative;
     margin-bottom: 10px;
    }

      .profile div.status span.variant {
       display: block;
       float: left;
       width: 35px;
       height: 17px;
       margin: 0 20px 0 0;
       background: url(./../img/status.gif) top left no-repeat;
       text-align: center;
       color: #FFF !important;
      }

      .profile div.status  a {
       font-size: 1.2em;
       text-decoration: underline;
      }

    .profile h1 {
     font-size: 2.5em;
     line-height: 1.2em;
     color: #656565;
    }

    .profile h2 {
     font-size: 1.4em !important;
     line-height: 1.4em;
     color: #000;
    }

    .profile div.bio {
     margin: 10px 0 10px 0;
    }

      .profile div.bio img {
       margin: 0 10px 0 0;
       vertical-align: middle;
      }

      .profile div.bio span {
       font-size: 2.5em;
       line-height: 0.5em;
       color: #9E9E9E;
       vertical-align: middle;
      }

    .profile p {
     color: #818181;
    }

      .profile p a,
      .profile p span {
       color: #121212;
      }

      .profile p.citation {
       margin: 30px 0;
       zoom: 1;
      }

      .profile p span.rate {
       font-size: 2.2em;
       color: #7452B9;
      }

  #center .inner {
   overflow: hidden;
   margin-top: 20px;
  }

    .inner h3 {
     float: left;
     line-height: 1.2em;
    }

    .inner a.edit {
     margin: 0 0 0 10px;
     line-height: 2.1em;
    }

    .inner table {
     width: 100%;
     margin: 10px 0;
    }

      .inner table td {
       padding: 0 4px;
       text-align: center;
      }

        .inner table td a.left,
        .inner table td a.right {
         display: block;
         width: 18px;
         height: 18px;
         background-position: top left;
         background-repeat: no-repeat;
        }

        .inner table td a.left {
         background-image: url(./../img/arrow-left-in-circle.gif);
        }

        .inner table td a.right {
         background-image: url(./../img/arrow-right-in-circle.gif);
        }

    .inner div.head {
     margin-top: 5px;
     vertical-align: center;
    }

    .inner h5 {
     display: inline;
     line-height: 1em;
    }

  #center .blogers h3 {
   line-height: 1em;
  }

  #center .last-post div {
   margin-bottom: 15px;
  }

  #center .recomendation table {
   margin: 15px 0;
   width: 100%;
  }

    #center .recomendation table td {
     text-align: center;
    }

      #center .recomendation table td h5 {
       display: inline;
      }

    #center .marketplace table td div img {
     margin: 0 auto;
    }

    div.room h1 {
     display: block;
     width: 342px;
     height: 92px;
     background: url(./../img/room-head.png) top left no-repeat;
     text-indent: -9999em !important;
    }

    * html div.room h1 { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./img/room-head.png', sizingMethod='crop'); }

    div.room img {
     display: block;
     margin: 35px auto;
    }

    div.room p {
     margin: 0 0 1.4em 0;
    }

  #center h2 {
   font-size: 2em;
   margin-bottom: 25px;
  }

  div.news,
  div.card {
   margin-bottom: 30px;
  }

    div.news h3 {
     font-size: 3em;
     line-height: 1.2em;
    }

      div.news h3 a {
       color: #7452B9 !important;
      }

      div.news h3 span.time {
       font-size: 0.47em;
      }

  div.card {
   overflow: hidden;
   margin-top: -30px;
   zoom: 1;
  }

    div.card img {
     display: block;
     margin: 0 auto 10px;
    }

    div.card div.button {
     position: relative;
     float: right;
     width: 160px !important;
     margin: 10px 40px 10px 0;
    }

  div.last-bio {
   overflow: hidden;
   width: 100%;
   margin-bottom: 25px;
  }

    div.last-bio img {
     float: left;
     margin-right: 15px;
    }

    div.last-bio div {
     position: relative;
     overflow: hidden;
    }

      div.last-bio div h3 {
       font-size: 2.5em;
       line-height: 2.5em;
      }

        div.last-bio div h3 a {
         color: #000;
        }

      div.last-bio div p.citation,
      div.profile p.citation {
       padding-right: 5%;
       font-size: 1.6em;
       font-style: italic;
       color: #818181;
      }

        div.last-bio div p.citation span.quot,
        div.profile p.citation span.quot {
         font: 1.7em Arial;
         font-style: italic;
         line-height: 0.6em;
         color: #818181;
        }

        div.last-bio div p.citation span.left,
        div.profile p.citation span.left {
         margin: 0 4px 0 0;
        }

        div.last-bio div p.citation span.right,
        div.profile p.citation span.right {
         margin: 0 0 0 4px;
         vertical-align: middle;
        }

  div.contest {
   margin-bottom: 30px;
  }

    div.contest p {
     font-size: 1.2em;
    }

      div.contest div p {
       font-size: 1.1em;
      }

    div.contest img.present {
     display: block;
     margin: 20px auto 30px auto;
    }

  div.button {
   width: 127px;
   margin: 0 auto;
   zoom: 1;
  }

    div.button div.head {
     position: relative;
     overflow: hidden;
     margin-bottom: -26px;
     background: url(./../img/button-corners.gif) 0 0 no-repeat;
     zoom: 1;
    }

    div.button div.foot {
     overflow: hidden;
     margin-top: -26px;
     background: url(./../img/button-corners.gif) 0 -26px no-repeat;
     zoom: 1;
    }

      div.button div.head div,
      div.button div.foot div {
       float: right;
       width: 24px;
       height: 26px;
       background: url(./../img/button-corners.gif) 0 -52px no-repeat;
      }

      div.button div.foot div {
       background: url(./../img/button-corners.gif) 0 -78px no-repeat;
      }

    div.button div.content {
     min-height: 24px;
     height: auto !important;
     height: 24px;
     padding: 12px 18px;
     border: 2px solid #7452B9;
     zoom: 1;
    }

      div.button div.content form {
       overflow: hidden;
      }

      div.button div.content a {
       float: right;
       margin-right: 10px;
       color: #7452B9;
       font-size: 1.8em;
       text-decoration: none !important;
      }

  div.opened {
   position: relative;
   width: 100%;
   margin-top: 10px;
   /*display: none; */
  }

    div.opened img {
     float: left;
     margin-top: 5px;
    }

    div.opened div.answer {
     margin: 0 130px 0 25px;
     border-right: 1px dotted #7452B9;
    }

      div.opened div.answer textarea {
       border: 0;
       margin: 3px 0;
       width: 99.5%;
       height: 20px;
       font: 1.2em Arial, Arial, Helvetica, sans-serif;
      }

  #center div.posts {
   margin-bottom: 50px;
  }

    #center div.posts p {
     font-size: 1.2em;
     margin-bottom: 1em;
    }

      #center div.posts p span {
       font-size: 1.6em;
       color: #656565;
      }

  #center div.report {
   margin: 10px 0 50px 0;
  }

    #center div.report img {
     float: left;
     margin: 0 12px 5px 0;
    }

    #center div.report h3 {
     line-height: 1.3em;
     margin-bottom: 10px;
    }

      #center div.report h3 a {
       /*text-decoration: underline !important;*/
      }

    #center div.report p.date {
     font-style: italic;
     margin-bottom: 25px;
    }

  #center table.reports-gallery {
   width: 100%;
   margin: 20px 0 30px 0;
  }

    #center table.reports-gallery td {
     padding: 0 0 20px 0;
     vertical-align: top;
    }

      #center table.reports-gallery td div {
       width: 245px;
       margin: 0 auto;
      }

      #center table.reports-gallery td img {
       margin: 0 auto 3px auto;
      }

  #center div.pages {
   margin: 0 auto;
   text-align: center;
   font-size: 1.5em;
  }

    #center div.pages a {
     padding: 0 10px;
    }

      #center div.pages a.arrow {
       font-size: 1.8em;
       color: #7452B9;
      }

        #center div.pages a.arrow:hover {
         text-decoration: none !important;
        }

    #center div.pages span {
     padding: 1px 6px;
     background: #7452B9;
     color: #FFF;
    }

  #center div.place-head {
   margin-bottom: 20px;
  }

    #center div.place-head div.top {
     overflow: hidden;
     margin-bottom: 30px;
    }

    #center div.place-head div.top div {
     float: left;
    }

      #center div.place-head div.top div h2 {
       margin-bottom: 0;
       line-height: 2.5em;
       color: #000;
      }

      #center div.place-head div.top div span {
       height: 16px;
       padding: 0 0 0 45px;
       background: url(./../img/place-FGC.gif) 5px 50% no-repeat;
       color: #7452B9;
       font-size: 1.8em;
      }

     #center div.place-head div.gallery {
      text-align: center;
     }

       #center div.place-head div.gallery div {
        margin-top: 10px;
       }

         #center div.place-head div.gallery div img {
          margin-right: 10px;
         }

    #center div.place-head img.place-logo {
     display: block;
     margin: 20px auto 0 auto;
    }

  #center div.address {
   overflow: hidden;
   width: 100%;
   margin: 30px 0 20px 0;
  }

    #center div.address div {
     float: left;
     height: 60px;
     margin: 0 13px 0 0;
    }

  #right-sidebar div.button {
   width: 185px;
   margin: 30px auto;
  }

    div.button div.content {
     padding: 12px;
    }

      #right-sidebar div.button div.content a {
       float: none;
       font-size: 1.4em;
      }

  #center div.message {
   margin: 2em 0 4em 0;
  }

    #center div.message img.message-avatar {
     float: left;
     margin-right: 10px;
    }

    #center div.message div {
     overflow: hidden;
     position: relative;
    }

      #center div.message div p {
       margin: 0 0 0.3em 0;
      }

      #center div.message div.icons {
       margin: 1em 0 0 0;
      }

        #center div.message div.icons a {
         font-size: 1.1em;
         color: #7452B9;
         text-decoration: underline !important;
        }

          #center div.message div.icons a.close,
          #center div.message div.icons a.write {
           display: block;
           float: left;
           width: 11px;
           height: 12px;
           margin: 0.2em 1em 0 0;
           background: url(./../img/icon-close.gif) center left no-repeat;
           text-indent: -9999pt !important;
          }

          #center div.message div.icons a.write {
           width: 14px;
           background: url(./../img/icon-write.gif) center left no-repeat;
          }

  #center ul.type-mess {
   overflow: hidden;
   position: relative;
   width: 100%;
   margin: 0 0 3em 0;
  }

    #center ul.type-mess li {
     position: relative;
     float: left;
     margin-right: 2em;
     font-size: 1.1em;
    }

      #center ul.type-mess li span {
       display: block;
       height: 24px;
       background: url(./../img/ul-back.gif) top center no-repeat;
       padding: 3px;
       color: #FFF;
      }

      #center ul.type-mess li a {
       font-style: italic;
       text-decoration: underline;
       line-height: 1.7em;
      }

  #center ul.comments {
   position: relative;
   width: 100%;
   zoom: 1;
  }

  #center ul.comments ul {
   margin-left: 25px;
  }

  #center ul.comments li p {
   font-size: 1.2em;
  }

  #center div.functions {
   z-index: 256;
   position: absolute;
   top: 0.3em;
   right: 0;
   padding: 0 0 1px 0;
   zoom: 1;
  }

    #center div.functions a.answer {
     font-size: 1.2em;
     color: #7452B9;
     border-bottom: 1px dotted #7452B9;
     text-decoration: none !important;
    }

    #center div.functions a.plus,
    #center div.functions a.minus {
     display: block;
     float: left;
     width: 10px;
     height: 10px;
     margin: 0.2em 1em 0 0;
     background: url(./../img/icon-plus.gif) center left no-repeat;
     text-indent: -9999pt !important;
    }

      #center div.functions a.minus {
       background: url(./../img/icon-minus.gif) center left no-repeat;
      }

  #center div.path-line {
   font-size: 1.8em;
   color: #656565;
   margin-bottom: 25px;
  }

    #center div.path-line span.status {
     float: left;
     display: block;
     height: 14px;
     width: 32px;
     margin: 5px 10px 0 0;
     padding: 0 5px 0 3px;
     background: url(./../img/status-right-corner.gif) top right no-repeat;
     color: #FFF !important;
     font-size: 0.6em;
    }

    #center div.path-line a {
     text-decoration: underline !important;
    }

  #center div.album {
   overflow: hidden;
   margin-bottom: 30px;
  }

    #center div.album h1 {
     line-height: 1.5em;
     font-style: italic;
     margin-bottom: 0;
    }

    #center div.album span {
     margin-left: 10px;
    }

    #center div.album img {
     display: block;
     margin: 10px auto;
    }

    #center div.album a.edit {
     float: right;
     margin-right: 5%;
    }

    #center div.album div.pagelist {
     position: absolute;
     top: 87px;
     right: 7%;
     font-size: 1.8em;
    }

  #center ul.afisha {

  }

    #center ul.afisha li {
     position: relative;
     margin-bottom: 25px;
     padding-right: 60px;
     font-size: 1.2em;
     zoom: 1;
    }

      #center ul.afisha li span {
       font-size: 1.1em;
      }

      #center ul.afisha li a {
       color: #000;
       text-decoration: underline;
      }

        #center ul.afisha li span.time,
        #center ul.afisha li a.set {
         font-size: 0.7em;
         color: #656565;
        }

        #center ul.afisha li h5 a {
         text-decoration: none;
        }

          #center ul.afisha li h5 a:hover {
           text-decoration: underline !important;
          }

      #center ul.afisha li p {
       margin: 2em 0;
      }

      #center ul.afisha li div.go-not {
       /*position: absolute;
       top: 0;
       right: 0;*/
       display:inline;
      }

        #center ul.afisha li div.go-not a {
         /*display: block;*/
         width: 45px;
         height: 16px;
         margin: 0 0 5px 0;
         text-align: center;
         font-size: 0.92em;
         text-decoration: none;
         color: #656565 !important;
        }

          #center ul.afisha li div.go-not a:hover {
           text-decoration: none;
          }

          #center ul.afisha li.go div.go-not a.here-go {
           color: #FFF !important;
           background: url(./../img/status-left-corner.gif) 0 1px no-repeat;
          }

            #center ul.afisha li div.go-not a.here-go-not {
             color: #FFF !important;
             background: url(./../img/status-left-corner-grey.gif) 0 1px no-repeat;
            }
          
          #center ul.afisha li.go div.go-not a.here-go-not {
           color: #656565 !important;
           background: none;
          }

      #center ul.afisha li.go a,
      #center ul.afisha li.go span {
       color: #7452B9 !important;
      }

      #center ul.afisha li div.plan {
       overflow: hidden;
       padding: 10px 0 15px 0;
      }

        #center ul.afisha li div.plan p {
         color: #656565;
         font-style: italic;
         margin: 1em 0;
        }

        #center ul.afisha li div.plan img {
         float: left;
         margin: 0 5px 3px 0;
        }

#bottom {
 width: 100%;
 margin: 30px 0 20px 0 !important;
}