		body{
			margin:0;
			font-family: 'Trebuchet MS','century gothic', Futura, Verdana, sans-serif;
			/*font-family: Tahoma, sans-serif;*/
			/*color: #858585;*/
			color: black;
			font-size: 13px;
			background-attachment: fixed;
			background-color: white;
		}

		.cgothic {
			font-family: 'century gothic', Futura, Verdana, sans-serif;
		}

		a, a:visited, a:active {
			color:#6b5984;

			}
		a:hover {color:#4e4160}

		a img {border: 0;}

		p {line-height: 160%}

		form {
			margin: 0;
			padding: 0;
		}

		input[type="button"], input[type="submit"] {
			border: 1px solid #eae5ef; background-color: #ccc4d5; color: #594385; font-family: 'Trebuchet MS'; height: 26px; font-size: 13px; padding-bottom: 2px;
		}

		input[type="checkbox"] {
			border: 1px solid white;
		}
		.fieldWithErrors input{
			border: 1px solid red;
		}
		input:focus {
			background:#fafafa;
			border:1px solid #9d97a4;
		}
		input{
			border:1px solid #ccc4d5;
		}

		h3 {font-size: 18px;color:#888;font-weight:normal;}

		h3.subheader {
			font-size: 22px;
			font-weight: normal;
		}

		h3.subheader a{
			color: #888;
		}

		hr{
			border: none;
			border-bottom:1px solid;
			height:1px;
			color: #776989;
			margin: 5px 0;
			display:block;
		}
		.ptop6{
			padding-top: 6px;
		}
		.ptop8{
			padding-top: 8px;
		}
		.ptop14{
			padding-top: 14px;
		}

		div.blue-grad-button {
			width: 90px;
			height: 26px;
			text-align: center;
			font-size: 14px;
			background: url('/i/blue-button-grad.png') repeat-x;
		}

		div.blue-grad-button a{
			line-height: 26px;
			display:block;
			text-decoration:none;
			color: white;
			background: url('/i/blue-button-grad.png') repeat-x;
		}

		.justify { text-align: justify }

		div.flash_message{
			padding: 10px 20px;
			margin-bottom:10px;
			background: #eeeaf0;
		}
		div.notice {
			background: #eeeaf0;
		}

		/*userbar*/
		div#topbar-container {
			height: 31px;
			width: 100%;
			border-bottom: 1px solid #a69eb9;
			text-align: center;
		}
		div#topbar {
			width: 996px;
			margin: 0 auto;
		}

		div#userbar {
			float:left;
			/*padding-left: 190px;*/
			font-size: 14px;
			padding-top: 4px;
			/*padding-bottom:3px;*/
		}
		div#userbar #email{
		  width:115px;
		}
		div#userbar #password{
		  width:85px;
	  }
		div#userbar.userbar-mainpage {
		/*	float:right;*/
			padding-bottom:5px;
		
		}
		div#userbar.userbar-mainpage li{
			/*padding-right:0px;
			padding-left:38px;*/
		}

		div#userbar li form{
			/*margin-top:-3px;*/
		}

		div#userbar ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		div#userbar li{
			float:left;
			padding-right:25px;
		}

		div#userbar a{
			text-decoration: none;
		}

		div#userbar a.nickname {
			color: #9f9f9f;
		}

		li.userbar-icon img{
			margin-bottom:-8px;
		}

		li#reg_link {
			padding-top:3px;
		}
		li#locale_link {
			padding-top:3px;
		}


		#bodycontainer{
			padding-top:20px;
			width:996px;
			margin:0 auto;
		}
		#menu-bottom-container {
			position:fixed;
			bottom:0px;
			width:100%;
			background-color:white;
		}
		#menu-bottom {
			width:955px;
			margin:0 auto;
			height:30px;
			padding-top:5px;
		}

    #mainmenu {
			height:29px;
			margin-left:12px;
			margin-top:5px;
			margin-bottom:23px;
			padding-top:5px;
			padding-left:7px;
			background: url('/i/mainmenu-bg.gif')  no-repeat;
		}

		#mainmenu ul
		{
		list-style: none;
		padding: 0;
		margin: 0;
		}

		#mainmenu li
		{
		float: left;
		margin: 0;
		}

		#mainmenu li a
		{
		background: url('/i/mainmenu-sprite-3.png') #f5f2f8 no-repeat;
		height: 24px;
		line-height: 24px;
		float: left;
		display: block;
		border: 0;
		text-decoration: none;
		text-align: center;
		}

    #mainmenu li a {border-right: 1px solid #d7c4ee;outline:none}

    #mainmenu li#menu-li-facegallery a		{ background-position: 1px 5px;	width: 48px;}
		#mainmenu li#menu-li-fgc a		{ background-position: -49px 5px;	width: 71px; }
		#mainmenu li#menu-li-magazine a		{ background-position: -121px 5px;	width: 125px;}
		#mainmenu li#menu-li-placegallery a		{ background-position: -247px 5px;	width: 160px;}
		#mainmenu li#menu-li-community a		{ background-position: -407px 5px;	width: 130px; border-right:0px;}
		
		#mainmenu li#menu-li-facegallery a:hover		{ background-position: 1px -26px;}
		#mainmenu li#menu-li-fgc a:hover		{ background-position: -49px -26px;}
		#mainmenu li#menu-li-magazine a:hover		{ background-position: -121px -26px;}
		#mainmenu li#menu-li-placegallery a:hover		{ background-position: -247px -26px}
		#mainmenu li#menu-li-community a:hover		{ background-position: -407px -26px; border-right:0px;}

		#menu-bottom-nav {
			height:31px;
		}

		#menu-bottom-nav ul
		{
		list-style: none;
		padding: 0;
		margin: 0;
		}

		#menu-bottom-nav li
		{
		float: left;
		margin: 0;
		}
		#menu-bottom-nav li a
		{
		background: url('/i/mainmenu-front-sprite.png') #fff no-repeat;
		height: 26px;
		line-height: 26px;
		float: left;
		display: block;
		border: 0;
		text-decoration: none;
		text-align: center;
		}
		#menu-bottom-nav li#menu-li-facegallery a		{ background-position: 0px 0px;	width: 54px;}
		#menu-bottom-nav li#menu-li-fgc a		{ background-position: -161px 0px;	width: 54px;}
		#menu-bottom-nav li#menu-li-magazine a		{ background-position: -218px 0px;	width: 129px;}
		#menu-bottom-nav li#menu-li-placegallery a		{ background-position: -350px 0px;	width: 175px;}
		#menu-bottom-nav li#menu-li-community a		{ background-position: -527px 0px;	width: 150px;}

		#menu-bottom-nav li#menu-li-facegallery a:hover		{ background-position: 0px -26px;}
		#menu-bottom-nav li#menu-li-fgc a:hover		{ background-position: -161px -26px;}
		#menu-bottom-nav li#menu-li-magazine a:hover		{ background-position: -218px -26px;}
		#menu-bottom-nav li#menu-li-placegallery a:hover		{ background-position: -350px -26px;}
		#menu-bottom-nav li#menu-li-community a:hover		{ background-position: -527px -26px;}

		li.b-menu-sep {width:98px;}
		
		#bottom-links {
			height:14px;
			font-size:13px;
			clear:both;
			overflow:hidden;
		}
		#bottom-links ul {
		list-style: none;
		padding: 0;
		margin: 0;
		}
		#bottom-links li
		{
		float: left;
		margin: 0;
		margin-right:35px;
		}
		#bottom-links a, #bottom-links a:visited, #bottom-links a:active {color:#5c5c5c;text-decoration:none;}
		#bottom-links a:hover {color:#888;text-decoration:none}

		.layoutcolumns{
			overflow:hidden;
		}
		#leftcol {
			width:170px;
			float:left;
		}
		#rightcol {
			float:right;
			width:250px;
		}
		#middlecol {
			width:556px;
			float:left;
		}
		#middlerightcontainer{
			float:left;
			width:826px;
		}
		#middlecontent {
			padding:0px 20px;
		}

		h1,h2,h3,h4,h5,h6 {padding:0; margin:0}


		h1 {
			color:#7c7c7c;
			/*font-size:36px;*/
			font-size:22px;
		}
		h1.bigheader {
			font-weight: normal;
			letter-spacing: 0px;
			/*padding-top:9px;
			line-height:92%;*/
		}

		#middlecontent h2 {
			font-size: 30px;
			font-weight: normal;
		}

		#leftmenu {
			margin-top:-2px;
			letter-spacing: -1px;
			float:none;
		}
		#leftmenu a, #bottom-links a:visited, #bottom-links a:active {color:#9d9d9d;text-decoration:none;}
		#leftmenu a:hover, #leftmenu a.leftmenu_active {color:#442685;text-decoration:none}
		#leftmenu h2 {font-size:16px; padding-bottom:2px; font-weight:normal;line-height:22px;letter-spacing:0px;}

		#fg-logo-img {display:block}

		#submenu {
			height: 21px;
			padding: 1px 0px;
			border: 1px solid #cacaca;
			float:left;
		}

		#submenuspace {
			height:7px;
		}

		#submenu ul
		{
		list-style: none;
		padding: 0;
		margin: 0;
		}

		#submenu li
		{
		/*float: left;*/
		display: inline;
		margin: 0;
		}
		#submenu li a
		{
		/*background: url('submenu-bg-grad.png') #fff repeat-x;*/
		height: 21px;
		line-height: 21px;
		float: left;
		display: block;
		border: 0;
		padding: 0px 9px;
		margin: 0px 1px;
		text-decoration: none;
		text-align: center;
		font-size: 14px;
		}
		#submenu li a.submenu_active
		{
		background: url('/i/submenu-bg-grad.png') #fff repeat-x;
		color: white;
		}
    
		div.breadcrumbs-div{
		  margin-bottom:10px;
		}
		
		span.top-sectionlink {
			background: url('/i/small-blue-left-arrow.png') no-repeat right 7px;
			padding-right:6px;

		}

        div#documents_content {
            text-align: justify;
        }

		.pl50 {
			padding-left: 50px;
		}

    /* place gallery */
    /* daily events */
    		div#date-scroll-container{
			overflow:hidden;
		}

		a.nextPage{
			width:30px;
			height:30px;
			background-image:url('/i/fancy/fancy_right.png');
			display:block;
			cursor:pointer;
			float:left;
		}
		a.prevPage{
			width:30px;
			height:30px;
			background-image:url('/i/fancy/fancy_left.png');
			display:block;
			cursor:pointer;
			float:left;
		}

		div#date-scroll{
		  position:relative;
		  overflow:hidden;
		  width: auto;
		  height:50px;
			padding-top:5px;
			padding-left:10px;
			padding-right:10px;
			font-size:15px;
			margin:0 auto;
		}
		div#date-scroll a{
		  text-decoration:none;
		  outline:none;
		}
		div#date-scroll ul{
			width:20000em;
    	position:absolute;
			margin:0;
			padding:0;
			left:10px;
		}
		div#date-scroll li{
			list-style:none;
			margin: 0px 0px;
			float:left;
			width:33px;
			/*border:1px solid white;*/
		}
		div#date-scroll a{
			display:block;
		}
		.de_event_info{
		  display:none;
		  padding:10px;
		  padding-top:0px;
		  width:450px;
		}
		#daily-events-header{
		  background:url('/i/daily-event-bg.png') #eee4fd repeat-x;
		  text-align:center;
		}
		div.ds-weekday{
		  color:white;
		  text-align:center;
		}
		div.ds-day{
		  color:#2a094e;
		  background:white;
		  text-align:center;
		  margin-top:2px;
		}
		.de_date_selected div.ds-day{
		  color:white;
		  background:url('/i/de-selected-day-bg.png') white center no-repeat;
		}
		#daily-events-table tr.de_event td{
		  padding:10px 0px;
		  border-top:1px solid #bbbac0;
		}
		#daily-events-table td.de_event_info_td{
		  border-top:0px;
		}

    .de-small-time{
      font-size:11px;
      color:#666;
    }
    .de-small-name a{
      font-size:12px;
    }
    .de-small{
      border-bottom:1px solid #bbbac0;
      margin-top:6px;
      padding-bottom:4px;
      margin-left:10px;
      margin-right:10px;
    }

    /* pg - lists */
		.placegallery-list{
			padding-top: 20px;
			color: #606060;
			font-size: 12px;
		}

		.placegallery-list h3 {
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0px;
			font-weight: normal;
		}

		.placegallery-list a {
			text-decoration: none;
			color: #665788;
		}

		a.link_to_place {
			text-decoration: underline;
			color: #949494;
			font-size: 11px;
		}

		.placegallery-list div.pl-entry {
			padding-bottom: 20px;
		}
		.placegallery-list div.event-entry{
		  height:200px;
		  padding-bottom: 20px;
		}

		.placegallery-list div.pl-fgc {
			float:left;width:210px;height:150px;
			margin-bottom:10px;
		}

		div.fgc-discount-text {
			width:165px;line-height:110%;
		}

		img#fgc-link-img{
			margin-bottom:-8px;

		}
		img#fgc-link-img-small{
			margin-bottom:-5px;

		}

		div.fgc-smallform{
		  background: url('/i/fgc-smallform-bg.png') repeat-x;
		  background-color:#eeedf2;
		  padding: 8px 15px 3px 15px;
		  color:white;
		  font-size:14px;
		  margin-top:15px;
		}
		div.fgc-smallform h5{
		  font-weight:normal;
		  font-size:16px;
	  }
	  div.fgc-smallform input, div.fgc-smallform textarea{
		  width:217px;
	  }
	  div.fgc-smallform #no_discount_submit{
	    font-size:12px; width:auto;
	  }
	  .fgc-smallform h5{
	      padding: 8px 0 12px;
	      text-align:center;
	      color:white;
	  }
  	  .fgc-smallform h5 a{
  	      color:white;
  	  }

        div#place-description{
            text-align:justify;
        }

		div.afisha-div {
			float:left;
			width:230px;
			padding-right: 25px;
		}

		.photo_link {
			/*margin-right: 6px;
			margin-bottom: 4px;
			float:left;*/
		}
		.gal_photo_offset {
			margin-left: 82px;
		}

		div.reportlist-div {
			overflow:hidden;
			width:435px;
			height:200px;
			position:relative;
			margin-bottom:20px;
		}
		div.reportlist-div div{
			position:absolute;
			width:100%;
			bottom:0px;
			padding:8px;
			color:white;
			background-image: url('/i/reportimgbg.png');
			font-size:12px;
			left:0px;
		}
		div.reportlist-div div a{
			color:white;
			font-size:18px;
		}
		/* fgc */
		div.fgc_categories {
			margin-top:20px;font-size:18px;line-height:30px;
		}
		div.fgc_categories a{
			color:#9d9d9d;
		}
		div.fgc_categories a:hover{
			color:#4d4d4d;
		}

		/* bio */
/*		body.beauty_health {
			background:url('/i/nina-ricci-bg.jpg') no-repeat;
			background-position:top;
		}*/
		body.beauty_health #bodycontainer{
			height:670px;
		}
		body.beauty #bodycontainer{
			height:670px;
		}
		/*body.beauty {
			background:url('/i/nina-ricci-bg.jpg') no-repeat;
			background-position:top;
		}*/
		div.rightcolumn_bio{
			clear:both;margin: 10px 0; overflow:hidden;
		}
		div.rightcolumn_bio img{
			float:left;
		}
		div.rightcolumn_bio div{
			float:right;width:170px;
			font-size:12px;
		}
		div.rightcolumn_bio p{
			margin:5px 0 ;
		}
		div.bio-list{
			font-size:13px;
		}

		div.bio-list-item {
			width:255px;
			height:80px;
			float:left;
			margin-top:10px;
		}

		div.bio-list-item a{
			text-decoration:none;
		}

		div.bio-list-item img {
			float:left;
			margin-right:9px;
		}

		div.bio-list-item div{
			padding-top:27px;
			line-height:13px;
		}

		a.gray-link{
			color:#636363;
		}
		a.gray-link:active {
			color:#442685;
		}

		div.bio-text-container{
			position:relative;
			/*width:;
			height:;*/
			background:url(/i/bio-bg-sprite.png) repeat-x;
			background-position: 0 -7px;
			clear:both;
		}
		div.bio-plashka{
			width:138px;
			height:26px;
			background:url(/i/bio-tongue.png) no-repeat;
			position:absolute;
			right:15px;
			top:-25px;
		}
		div.bio-leftcorner{
			float:left;
			width:8px;
			height:7px;
			background:url(/i/bio-bg-sprite.png) no-repeat;
		}
		div.bio-rightcorner{
			float:right;
			width:8px;
			height:7px;
			background:url(/i/bio-bg-sprite.png) no-repeat;
			background-position: -8px 0;
		}
		div.bio-text{
			clear:both;
			padding:10px 22px;
			text-align:justify;
			font-size:13px;
			color:#574560;
			line-height:150%;
		}
		div.bio-text > p{
			margin-top:0px;
		}
    
		div.bio-votes{
		  position:absolute;
		  right:176px;
		  top:-30px;
		  height:26px;
		  width:70px;
		}
		div.bio-votes span{
		  padding-left:2px;
		  font-weight:bold;
		  font-size:15px;
		}
		
		h1#bio-name{
			font-size:30px;
			font-weight:normal;
			line-height:30px;
			padding-bottom:3px;
		}
		h2#bio-area{
			/*text-transform:lowercase;*/
			color:#a5a5a5;
			font-size:18px;
			font-weight:normal;
		}

		div#bio-info div.userpage-button {
			margin-top:8px;
		}

		div#biopage-container {
			padding-top:18px;
		}

		#biopage-container div#bio-photo {
			width: 265px;
			float:left;
			text-align:center;
			padding-bottom:1px;
		}

		#biopage-container div#bio-info {
			width: 245px;
			float:right;
			padding-bottom:30px;
		}

		#biopage-container div#bio-quote{
			font-size:12px;
			text-align:justify; /*!*/
			color:#545454;
			padding-top:20px;
		}
		.biopage-index div#bio-quote{
		    padding-right: 10px;
		}
		.biopage-index a{
		    text-decoration: none;
		    color: #545454;
		}

		div.fg-quote-container{
			width:540px;
			overflow:hidden;
			margin-bottom: 20px;
		}
		div.fg-quote-picture{
			width:80px;
		}
		div.fg-quote-text{
			width:450px;
			margin-right:4px;
		}
		div.fg-quote{
			background: #d7cce4;
			padding:7px 11px;
			font-size: 11px;
			color: #4d4d4d;
			height: 44px;
		}
		div.fg-quote-name{
			font-size: 14px;
			padding-bottom:3px;
		}

		div.fg-quote-name a{
			text-decoration:none;
		}

		/* magazine */
		div.author {
			font-size:11px;
			padding-top:20px;
			color:#6f6f6f;
		}

		div.author span {
			text-transform: uppercase;
		}
		div.author span a{
			text-decoration:none;
			color: #463064;
		}

		div#magazine-article-list {
			color:#39215c;
			margin-top:20px;
		}

		div#magazine-article-list ul{
			margin-top:5px;
			margin-bottom:20px;
			color:#7c7c7c;
		}

		div#magazine-article-list h3 {
			color:#39215c;
		}

		div#magazine-article-list div {
			width:230px;
      position:relative;
			/*float:left;*/
		}
		div#magazine-article-list a{
			color:#7c7c7c;
			font-size:12px;
		}
		div#magazine-article-list a:hover{
			color:#3c3c3c;
		}

		div#magazine-article-list ul{
			padding-left:15px;
			margin-right:15px;
		}


		div#magazine-previews {
			margin: 21px 0;
		}

		div#bio-list-container {
			padding-top:20px;
		}

		div#interview-previews{
			margin:22px 0;
		}
		div.interview-preview-pic{
			width:225px;
			height:225px;
			overflow:hidden;
		}
		div.interview-bigpic{
			float:left;
			margin:0 15px 15px 0;
		}
		div.interview-bigpic h3{
			text-transform: uppercase;
			font-weight:normal;
		}
		div.interview-bigpic h3 a{
			color:#545454;
		}
		div.interview-bigpic h4{
			width:238px;
			height:60px;
		}
		div.interview-bigpic a{
			text-decoration:none;
			font-weight:normal;
		}

		h3#interview-quote{
			padding-top:5px;
			margin-bottom:-8px;
		}

		div#interview-topblock{
			overflow:hidden;
			width:500px;
			margin:20px 0;
		}

		div#interview-photo{
			float:left;
			width:250px;
			text-align:center;
			padding-right:12px;
			padding-bottom:12px;
		}
		div#interview-preface{
			/*float:right;
			width:250px;*/
			clear:both;
			overflow:hidden;
		}
		div#interview-container{
			text-align: justify;
		}
		div.interview-rightbar{
			margin: 10px 0;
		}
		div.interview-rightbar span a{
			padding-left:8px;
			color: #545454;
			text-decoration:none;
			text-transform:uppercase;
		}

		div.m-left{
			float:left;
			margin: 0 10px 7px 0;
			background: #f2f0ff;
			color: #48005d;
			padding: 10px 14px;
			width: 200px;
		}
		.m-pic-left{
   			float:left;
			margin: 7px 15px 5px 0;
		}
		.m-pic-right{
   			float:right;
			margin: 7px 0 5px 15px;
		}
		div.m-hl-1{
			padding:0px;
			font-size:18px;
			text-align:center;
			text-transform: uppercase;
			color:#242424;
		}
		div.m-hl-2{
			padding:5px 12px;
			font-size:13px;
			text-align:left;
			background-color:#f0eef3;
			/*border: 1px solid #c8c0d3;*/
			color:#242424;
		}
		div.m-hl-left{
			margin: 7px 15px 5px 0pt;
			float: left;
			width:240px;
		}
		div.m-hl-right{
			margin: 7px 0 5px 15px;
			float: right;
			width:240px;
		}
		div.m-hl-center{
			padding: 15px 0px;
			/*color:#33145a;*/
		}
		div#magazine-content{
			margin-top:10px;
			text-align:justify;
			line-height:160%;
			font-family:arial, sans-serif;
		}
		div#magazine-content p{
			/*text-indent: 2em;*/
		}
		div.article-list a{
			display:block;
			background: url('/i/small-blue-right-arrow.png') no-repeat left 7px;
			padding-left:8px;
		}
		div.article-list{
			clear:both;
		}

		/* userpage */
		a.user-header-link{
		  text-decoration:none;
		  color:#7C7C7C;
		}
		a.user-header-link:hover{
		  text-decoration:underline;
		}
		img#bio-link-img{
			margin-bottom:-10px;
			margin-left:5px;
		}
		div#userpage-container {
			padding-top:25px;
		}

		h1.bigheader + div#userpage-container {
			padding-top:22px;
		}

		h3.user-subtitle {
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 24px;
			color: #bbb;
		}

		h3.user-subtitle a{
			color: #bbb;
		}

		div#userprofile-photo {
			width: 265px;
			float:left;
		}

		div#userprofile-info {
			width: 245px;
			float:right;
		}

		div#userprofile-info div{
			padding-bottom: 10px;
			font-size: 16px;
			color: #727272;
			letter-spacing: 1px;
		}
		div#userprofile-info h3{
			font-size: 13px;
			color:#4d3868;
			font-weight: normal;
		}

		ul.user-functions{
			list-style: none;
			margin: 0;
			padding: 0;
		}

		ul.user-functions li{
			margin: 4px 0;
		}

		div.userpage-button {
			width: 148px;
			height: 20px;
			text-align: center;
			font-size: 11px;
			background: url('/i/userpage-button-bg.png') no-repeat;
		}

		div.userpage-button a{
			line-height: 20px;
			display:block;
			text-decoration:none;
			color: white;
			background: url('/i/userpage-button-bg.png') no-repeat;
		}

		div.preferences-menu-line{
			margin-bottom:2px;
			background-color:#ede9f7;
			width:518px;
			padding:2px;
			height:20px;
			overflow:hidden;
		}

		div.preferences-menu-line h2{
			float:left;
			width:150px;
		}
		div.preferences-menu-line select{
			float:right;
			width:330px;
		}
		div.preferences-leftmenu{
			position:absolute;
			width: 518px;
		}
		h5.small-album-title a{
			font-size: 12px;
			color: #515151;
			text-decoration:none;
			font-weight:bold;
		}
		div.right-album-preview{
			border: 1px solid #e4e4e4;
			background-color: #f4f4f4;
			width: 150px;
			height: 100px;
			margin-bottom:12px;
		}
		div.right-album-preview img{
			margin: 12px 0px 12px 18px;
			float:left;
		}
		div.album-photo-count{
			float:right;
			text-align:center;
			margin:33px 13px 0 0 ;
		}
		div.album-photo-count div{
			font-size:18px;
			font-weight:bold;
		}

		ul#user-gallery-icons{
			list-style: none;
			overflow:hidden;
			margin: 0 15px 0 0;
			padding:0px;
		}
		ul#user-gallery-icons li{
			width:25px;
			height:28px;
			float:left;
			margin-right:5px;
		}
		ul#user-gallery-icons a{
			background-image:url('/i/gallery-icons-sprite.png');
			display:block;
			width:100%;
			height:100%;
			background-repeat:no-repeat;
		}
		ul#user-gallery-icons a#delete_image_link{
			background-position:-106px 0px;

		}
		.gallery_title_hint{
			font-weight:normal;
			font-style:italic;
			color:#ccc;
		}

		div#gallery-scroll-container{
			overflow:hidden;
		}
		div#gallery-scroll-container > a{
			margin:30px 4px 0px 4px;
		}

		a.nextPage{
			width:30px;
			height:30px;
			background-image:url('/i/fancy/fancy_right.png');
			display:block;
			cursor:pointer;
			float:left;
		}
		a.prevPage{
			width:30px;
			height:30px;
			background-image:url('/i/fancy/fancy_left.png');
			display:block;
			cursor:pointer;
			float:left;
		}

		div#gallery-scroll{
		    position:relative;
		    overflow:hidden;
		    width: 440px;
		    height:85px;
			padding-top:5px;
			float:left;
		}
		div#gallery-scroll .active{
			border:1px solid black
		}
		div#gallery-scroll img{
			display:block;
		}
		div#gallery-scroll ul{
			width:20000em;
    		position:absolute;
			margin:0;
			padding:0;
		}
		div#gallery-scroll li{
			list-style:none;
			margin: 0px 5px;
			float:left;
			width:75px;
			border:1px solid white;
		}
    
		/* portfolio */
		.portfolio-delete-photo-div{
		  text-align: left;
		}
		
		.portfolio-delete-photo-div a img{
	    cursor:pointer!important;
		}
		.portfolio-delete-photo-div span{
		  display:none; 
		}
    
		div#add_photo_form{
			border-bottom:1px solid #bfbfbf;
			margin-bottom:10px;
			padding:10px 0;

		}
		#friend_invite_form {
			width: 230px;
			padding: 5px 0;
			display:none;
		}

		div.user_friend{
			width: 250px;
			float:left;
			padding-bottom: 17px;
		}

		div.friend_invite_div {
			height: auto;
			padding: 5px 12px;
			background: #887f99;
			color:white;
			font-size: 12px;
			margin-top:15px;
			overflow:hidden;
		}

		div.friend_invite_div a{
			color: white;
		}
		div.friend_invite_div a:hover{
			color: #f0e8ff;
		}
		div.friend_invite_div img{
			float:left
		}
		div.friend_invite_div div{
			float:left;
			padding: 0px 15px;
			width:380px;
		}
		div.friend_invite_div p > a:first-child{
			font-size: 14px;
		}

		div#friends_container{
			padding-top: 5px;
			overflow:hidden;
		}

		#blog_form input, #blog_form textarea {
			width: 100%;
		}
    
		div#blog-container{
		  margin-top:15px;
		}
		
		div.blog_div {
			margin: 0px 0px 15px 0px;
			background: #acacac;
		}
		div.sub_blog_div {
			background: white;
		}

		div.blog_header {
			background: #d5cfe0 url('/i/blog-gradients.png') repeat-x;
			background-position: 0 -30px;
			/*height: 60px;*/
		}

		div.blog_header_container{ padding:10px 6px; overflow:hidden;}

		div.blog_date {	float:left; width:350px; }
		div.blog_tags { float:left;width: 330px; }
		div.blog_comments_link { float:right;width:110px; }

		div.blog_text {
			padding: 2px 17px;
			line-height:160%;
			overflow:hidden;
		}

		div.blog_footer_container{ padding:4px 6px; }

		div.blog_footer {
			background: url('/i/blog-gradients.png');
			height:30px;
		}

		.message_table {
			width: 530px;
			border-bottom: 1px solid #e4e4e4;
			margin-top: 10px;
			padding: 5px 0px;
		}
		.message-unread {
			background: #ECE8EF;
		}
		td.message_info {
			width: 130px;
		}
		td.message_text {
			width: 290px;
		}
		td.message_text div{
			width: 290px;
			overflow:auto;
		}
		td.message_functions{

		}

		#message_form input, #message_form textarea {width:350px;}
		#message_form input[type="submit"] { width:auto;}
		#message_form textarea {height:157px;}

    #smilies-list{
      width:124px;  
      float:right;
      border:1px solid #aaa;
      padding:10px;
      margin-top:35px;
      padding-left:14px;
    }
    #smilies-list img{
      cursor:pointer;
    }
    #message-form-container{
      width:100%;
      overflow:hidden;
    }
    #message_form{
      float:left;
    }

		/* community */
		div#community-container{
			padding-top:0px;
		}
		div.post_div {
			margin: 10px 0 25px 0;
		}

		h3.post_header {
			font-size: 22px;
			font-weight: normal;
			padding: 5px 0px;
		}

		h3.post_header a{
			color: #616161
		}
		h3.post_header a:hover{
			color: #4e4160
		}

		div.post_contents {
			line-height:150%;
			margin:20px 0 10px;
		}

		div.post_info {
			margin: 0px 0px 5px 0px;
			font-size: 12px;
		}

		div.post_tags {
			font-size: 12px;
		}

		span.post_comments {
			padding-left: 22px;
		}
		span.post_comments a{
			text-decoration: none;
			color: #4d4d4d
		}

		div.post_section {
			/*display:inline;*/
			padding: 0px 3px;
			height:15px;
			background: url('/i/comm-section-grad.png');
			font-size: 11px;
			/*font-weight: bold;*/
			float:left;
			margin: 8px 12px 0 0;
			text-transform:uppercase;
			color:white;
		}

		div.post_section a{
			color:white;
			text-decoration:none;
		}

		div.post_section a:hover{
			color:#e6e6e6;
		}
    


		div.post_small {
			margin: 16px 0;
		}

		div.post_small_square{
		  margin: 0 15px 15px 0;
		  width:250px;
		}
		div.post_small_square h3{
		  font-size:16px;
		}

		div.blog_mini {
		  margin-bottom:10px;
		}
    div.blog_mini h3{
		  margin-bottom:3px;
		}
		div.blog_mini h3 a{
		  color: #4e4160;
		  font-size:16px;
		}
		div.blog_mini h3 a:hover{
		  color: #616161;
		}

		.clear_both { clear:both; }

		h4.comments_form_header{
			margin-top:10px; padding:0;height:12px;
		}
		div.comment_div {
			border-bottom: 1px solid #e4e4e4;
			padding: 12px 0;
		}
		div.comment_info {
			float:left;
			width: 125px;
		}
		div.comment_text {
			float:left;
			padding-left: 5px;
			width:380px;
		}
		.delete-comment-icon{
			float:right;
		}
		div.comment_avatar {
			position:absolute;
			margin-left:-95px;
			margin-top:9px;
			background:url('/i/comment-avatar-bg.gif') no-repeat;
			padding: 2px 0 0 2px;
			width:89px;
			height:84px;
		}

		.comment_date {
			font-style: italic;
			font-size: 11px;
			line-height:100%;
			padding-top:3px;
		}

		textarea#comment_comment{
			width:355px;
		}

		h3.comments_header {
			font-size: 20px;
			color: #5b24aa;
			font-weight: normal;
		}

		#sortable_photos { list-style-type: none; margin: 0; padding: 0; }
		#sortable_photos li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 160px; height: 160px; /*font-size: 4em;*/ text-align: center; }

		.gallery-pad {
			margin-top: 15px;
		}

		.ajax_anim_small {
			position:absolute;
			background:white url(/i/ajax-small-anim.gif) center no-repeat;
			opacity:0.8;
			filter: alpha(opacity = 80);
			width:100%;
			height:100%;
		}

		/* main page */
		div.mainpage-smallpic{
			border: 1px solid #cacaca;
			width:70px;
			height:70px;
			position: absolute;
		}
		div.mainpage-smallpic img{
		  display:block;
		}
		div.mainpage-bigpic{
			border: 1px solid #cacaca;
			width:150px;
			height:150px;
			position: absolute;
		}
		div.mainpage-fglogo{
			border: 0px solid #cacaca;
			width:550px;
			height:150px;
			position: absolute;
		}
.rest_in_place_input:hover {
	background-color:#ffffd3;
	cursor:text;
}
.rest_in_place_textarea:hover {
	background-color:#ffffd3;
	cursor:text;
}
h3 input {
	font-size:20px;
	margin-top:-4px;
	width:99%;
}
h4 input {
	width:99%;
}

/* search */

		div.search_section {
			/*display:inline;*/
			padding: 0px 3px;
			height:15px;
			background: url('/i/comm-section-grad.png');
			font-size: 11px;
			/*font-weight: bold;*/
			float:left;
			margin: 2px 12px 0 0;
			text-transform:uppercase;
			color:white;
			width:60px;
		}
		div.search_result {
		  margin: 15px 0;
		}
		div.search_excerpt{
		  padding-top:8px;
		  padding-left:78px;
		}
    
		#search_form{
		  padding-top:5px;
		  float:right;
		  width:250px;
		}
    #search_input{
      margin:0;
      padding:0;
      height:19px;
      width:226px;
      border: 1px solid #a9a9a9;
      border-right: 0px;
      float:left;
      padding-top: 1px;
      padding-left:1px;
    }
    #search_input:focus {
			background:#fff;
			border-color: #a9a9a9;
		}
    input#search_form_submit{
      border:0;
      margin:0;
      padding:0;
      float:right;

/*      cursor:pointer;
      font-size:5px;*/
    }

/*pagination*/
.pagination {
  font-family: 'century gothic', Futura, Verdana, sans-serif;
  font-size:15px;
  background: none;
  padding-top:17px;
  
  /* self-clearing method: */ }
  .pagination a, .pagination span {
    padding: .0em .4em;
    display: block;
    float: left;
    margin-right: 1px;
	 }
  .pagination span.disabled {
    color: #999;
    border: 1px solid transparent; }
  .pagination span.current {
    font-weight: bold;
    background: #665788;
    color: white;
    border: 1px solid #665788; }
  .pagination a {
    text-decoration: none;
    color: #6b5984;
    border: 1px solid transparent; }
    .pagination a:hover, .pagination a:focus {
      color: #003;
      border-color: #003; }
  .pagination .page_info {
    background: #2E6AB1;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }
	.pagination .next_page{
		line-height:20px
	}
	.pagination .prev_page{
		line-height:20px
	}

