<div id="login_errors"></div>
<% form_remote_tag :url => url_for( :action => :check_login ) do -%>
<p><%= label_tag 'email' %><br />
<%= text_field_tag 'email' %></p>

<p><%= label_tag t('activerecord.attributes.user.password') %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= submit_tag t('sessions.new.log_in') %></p>
<% end -%>
