<h1 class="bigheader cgothic"><%= t('users.new.registration') %></h1>
<p>Поздравляем Вас со вступлением в сообщество привилегированных пользователей FaceGallery!</p>
<p>Чтобы стать полноправным членом сообщества, Вам необходимо зарегистрировать свой личный профайл на сайте.</p>
<% if logged_in? %>
<p>Вы авторизованы как <%= current_user.displayname %>. Связать BIO "<%= @bio.displayname %>" с профайлом "<%= current_user.displayname %>"?</p>
<p>
<%= button_to "Связать", url_for(:action => :connect_current_user) %>
</p>
<% else %>


<div id="register_new_user">
<% @user.password = @user.password_confirmation = nil %>
<p><b>Регистрация нового пользователя:</b> &nbsp;&nbsp; <span style="font-size:10px;padding-left:15px;"><a href="#" onclick="$('#login_existing_user').show();$('#register_new_user').hide();return false;">Уже регистрировались?</a></span></p>
<%= error_messages_for :user, :header_message => nil %>
<% form_for :user do |f| -%>

<p><%= label_tag 'name', t('activerecord.attributes.user.name') %><br/>
<%= f.text_field :name, :value => @bio.name %></p>

<p><%= label_tag 'surname', t('activerecord.attributes.user.surname') %><br/>
<%= f.text_field :surname, :value => @bio.surname %></p>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email, :value => @bio.email %></p>

<p><%= label_tag 'password', t('activerecord.attributes.user.password') %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', t('activerecord.attributes.user.password_confirmation') %><br/>
<%= f.password_field :password_confirmation %></p>
<p><%= t('users.new.all_fields_required') %></p>
<p><%= submit_tag t('users.new.sign_up_button') %></p>
<% end -%>
</div>
<div id="login_existing_user" style="display:none">
<p><b>Уже регистрировались?</b> &nbsp;&nbsp; <span style="font-size:10px;padding-left:15px;"><a href="#" onclick="$('#login_existing_user').hide();$('#register_new_user').show();return false;">Регистрация нового пользователя</a></span></p>
Если Вы уже регистрировались, пожалуйста, авторизуйтесь ниже, и Ваш BIO автоматически свяжется с Вашим профайлом.
<%= render :partial => 'login_form' %>
</div>
<% end %>