<div class="place-head">
  <div class="top">
    <div>
      <h2><%= place.name %> <%= "&rarr; " + subtitle if defined? subtitle %></h2>
      <% if place.fgc %>
      <span>
		<%= place.fgc_discount.to_s %><%= ", " if place.fgc_discount? && place.fgc_text %><%= place.fgc_text.to_s %>
      </span>
      <% end %>
    </div>
    <% if place.fgc %>
    <div style="text-align:center;float:none;clear:left;padding-top:15px;">
    <%= image_tag place.main_photo.url, :class => 'place_logo' %>
    </div>
    <% end %>
  </div>

  <div class="gallery">
    <div>
	<% place.place_photos.each_with_index do |p, index| %>
	<%= link_to image_tag(p.photo.url(:thumbnail)), p.photo.url, :rel => 'gallery', :class => 'photo_link' %>
	<% end %>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".photo_link").fancybox();
		});
	</script>
  </div>
  </div>
</div>
