<%= render :partial => 'fgc/fgc_menu' %>
<%= render :partial => 'place_header', :locals => { :place => @place, :subtitle => 'Афиша' } %>

<div class="placegallery-list">
<%= render :partial => 'place_gallery/events/event_list', :collection => @events %>
</div>
<%= will_paginate @events %>