<%= render :partial => 'place_gallery/menu' %>
<%= render :partial => 'place_header', :locals => { :place => @place } %>
<% if @photos %>
	<%= render :partial => 'place_gallery/photo_gallery', :locals => { :photo_gallery => @photos } %>
<% end %>