<%= render :partial => 'fgc/fgc_menu' %>
<%= render :partial => 'place_header', :locals => { :place => @place, :subtitle => "Новости" } %>

<%= render :partial => 'fgc/news/news_list', :collection => @news %>
<%= will_paginate @news %>