<%= render :partial => 'place_gallery/category_menu', :locals => { :place_categories => @place_categories }  %>
<%= render :partial => 'place_header', :locals => { :place => @place } %>
<br><br>
<img src="/i/temp_panorama.png">
