<%= render :partial => 'fgc/fgc_menu' %>
<%= render :partial => 'place_header', :locals => { :place => @place, :subtitle => "Репортажи" } %>

<div class="placegallery-list">
<%= render :partial => 'place_gallery/reports/report_list', :collection => @reports %>
</div>
<%= will_paginate @reports %>