<%= render :partial => 'fgc/fgc_menu' %>
<%= render :partial => 'place_header', :locals => { :place => @place } %>

<%= simple_format(@place.description) %>

	<div id="place-info">
		<% if @place.fgc? && (@place.fgc_discount? || @place.fgc_text) %>
		<div>
		<b><%= "FGC" %></b>:
		<%= @place.fgc_discount.to_s %><%= ", " if @place.fgc_discount? && @place.fgc_text %><%= @place.fgc_text.to_s %>
		</div>
		<% end %>
		<% if @place.place_type? %>
		<div>
		<b><%= "Тип заведения" %></b>:
		<%= @place.place_type.to_s %>
		</div>
		<% end %>
      	<% if @place.address? %>
		<div>
		<b><%= t :"activerecord.attributes.place.address" %></b>:
		<%= @place.address.to_s %>
		</div>
		<% end %>
		<% if @place.phone? %>
		<div>
		<b><%= t :"activerecord.attributes.place.phone" %></b>:
		<%= @place.phone.to_s %>
		</div>
		<% end %>
		<% if @place.webpage? %>
		<div>
		<b><%= t :"activerecord.attributes.place.webpage" %></b>:
		<%= link_to @place.webpage.to_s, ("http://" + @place.webpage.to_s) %>
		</div>
		<% end %>
		<% if @place.working_hours? %>
		<div>
		<b><%= t :"activerecord.attributes.place.working_hours" %></b>:
		<%= @place.working_hours.to_s %>
		</div>
		<% end %>
		<% if @place.food? %>
		<div>
		<b><%= t :"activerecord.attributes.place.food" %></b>:
		<%= @place.food.to_s %>
		</div>
		<% end %>
		<% if @place.parking? %>
		<div>
		<b><%= t :"activerecord.attributes.place.parking" %></b>:
		<%= @place.parking.to_s %>
		</div>
		<% end %>
	</div>
    <% unless @news.empty? %>
    <br><br>
    <h4 class="different"><%= link_to "Новости", {:action => :news } %></h4>
    <%= render :partial => 'fgc/news/news_list', :collection => @news %>
    <% end %>
    <table class="reports-gallery" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <% unless @events.empty? %>
        <td>
          <div>
            <h4 class="different"><%= link_to "Афиша", {:action => :events } %></h4>
            <%= render :partial => 'place_gallery/events/event_list', :collection => @events %>
          </div>
        </td>
        <% end %>
        <% unless @reports.empty? %>
        <td>
          <div>
            <h4 class="different"><%= link_to "Репортажи", {:action => :reports } %></h4>
            <%= render :partial => 'place_gallery/reports/report_list', :collection => @reports %>
          </div>
        </td>
        <% end %>

      </tr>
    </table>


