<% content_for(:right) do %>
<% if params[:id].to_i != album_list.id %>
<h5 class="small-album-title c1gothic"><%= link_to album_list.title, user_album_url(:id => album_list.id)  %></h5>
<div class="right-album-preview">
<% photo_count = album_list.user_gallery_photos.count %>
<% if photo_count > 0 %>
<%= link_to image_tag(album_list.user_gallery_photos.first.photo.url(:thumbnail), :alt => album_list.title), user_album_url(:id => album_list.id)  %>
<% end %>
<div class="album-photo-count">
<div class="cgothic"><%= photo_count %></div><%= 'photos' %>
</div>
</div>
<% end %>
<% end %>
