<li id="photo_<%= photo.id %>"><%= link_to image_tag(photo.photo.url(:small)), user_image_path(:user_id => @user.id, :id=>photo.user_album.id, :image_id=>photo.id), :rel => 'gallery', :class => 'portfolio_photo_link' %></li>