<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.gallery') }  %>
<%= render :partial => 'album_list', :collection => @user.user_albums %>

<div id="userpage-container">
<% if is_owner? %>
<%=  link_to_function t('.create_album'), :class => 'edit' do |page| page.visual_effect :toggle_blind, 'create_album_form' end %>

<div id="create_album_form" style="position:relative;display:none;padding-top:10px;">
<div class="ajax_anim_small" id="cr_album_anim" style="display:none">&nbsp;</div>
<% form_for :user_album, :url => url_for(:action => "create_album"), :html => {:id => 'CreateAlbumForm'} do |f| %>

<div><%= t('.album_name') %>:</div>
<%= f.text_field :title %>
<% f.submit t('create'), :onclick => "$('#cr_album_anim').show()" %>
<%=  link_to t('create'), "#", :class => 'edit', :onclick => '$("#CreateAlbumForm").submit();return false;' %>
<%=  link_to_function t('cancel'), :class => 'edit' do |page|
    page.visual_effect :toggle_blind, 'create_album_form'
  end %>
  
<% end %>

</div>
<% end %>

	<% if @photos.size > 0 %>

	<div class="gallery-pad">
	<h3 class="user-subtitle cgothic"><%= t('.latest_photos') %>:</h3>
	<ul id="sortable_photos">
	<%= render :partial => 'photo', :collection => @photos %>
	</ul>
	</div>
	<script type="text/javascript">
		/*$(document).ready(function() {
			$(".portfolio_photo_link").fancybox();
		});*/
	</script>
	<% elsif is_owner? %>
	<div class="gallery-pad"><%= t('.empty_own_gallery') %></div>
	<% else %>
	<%= t('.empty_gallery') %>
	<% end %>


</div>