<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.gallery') }  %>
<%= render :partial => 'album_list', :collection => @user.user_albums %>
<% content_for :head do %>
    <%= javascript_include_tag 'jquery.Jcrop.min' %>
    <%= stylesheet_link_tag 'jquery.Jcrop' %>
<% end %>
<div id="userpage-container">
<h3 class="user-subtitle cgothic"><%= link_to h(@album.title), user_album_path %></h3>

<% if is_owner? || !@current_image.title.empty? %>
<h4 class="<%= ' rest_in_place_input' if is_owner? %> <%= ' gallery_title_hint' if @current_image.title.empty? %>" object="user_gallery_photo" attribute="title" clear="<%= "1" if @current_image.title.empty? %>"><%= (!@current_image.title.empty? && h(@current_image.title)) || "Щелкните, чтобы ввести название фотографии" %></h4>
<% end %>
<div id="user-gallery-nav" style="text-align:right">
<%= link_to image_tag("/img/photo-zoom.png", :alt=>"Увеличить"), @current_image.photo.url, :class=> 'original_photo_link', :title => "Увеличить" %>
<% if logged_in? %>
<%= link_to_function image_tag("/img/photo-tag.png", :alt=>"Отметить на фото"), 'startTagging()', :class=> '', :title=>"Отметить на фото" %>
<% end %>
<% if is_owner? %>
<%= link_to image_tag("/img/photo-delete.png", :alt=>"Удалить фото"), user_image_delete_path, :confirm => t('really_delete'),:id => "delete_image_link", :class => '', :title => "Удалить фото", :method => :post %>
<% end %>
</div>

<table cellpadding="0" cellspacing="0" border="0" width="100%" id="photo-table">
<tr>
<td width="49%">
<% if @current_image.higher_item %>
<%= link_to "&nbsp;", user_image_path(:user_id => @user.id, :id=>@current_image.higher_item.user_album.id, :image_id=>@current_image.higher_item.id), :title=>'Предыдущее фото', :class => 'photo-navlink photo-prev' %>
<% end %>
</td>
<td align="center">
  <div id="image_container">
  <div id="photo_tags" style="position:absolute">
    <% @current_image.photo_tags.each do |t| %>
    <%= content_tag "div", content_tag("span", t.displayname), :class => 'tag_area', :id => "photo_tag_#{t.id}", :style => "top:#{t.y}px;left:#{t.x}px;width:#{t.w}px;height:#{t.h}px;display:none;" %>
    <% end %>
  </div>
  <%= image_tag(@current_image.photo.url(:smaller), :class => 'taggable_photo') %>
  <div id="tagging_container" style="position:absolute;overflow:hidden;width:240px;height:369px;background:url(/img/photo-tag-bg.png) no-repeat top left;display:none;text-align:left;z-index:300;">
  <input id="inline_search" class="dottedform" style="border-top: none; margin-left: 17px; margin-top: 13px; width: 206px;" value="Поиск">
  <div id="taggable_users" style="overflow:auto;height:265px;margin:10px 16px;">
  </div>
  <center><%= button_to_function "Отмена", 'cancelTagging()' %></center>
  </div></div>
</td>
<td width="49%">
<% if @current_image.lower_item %>
<%= link_to "&nbsp;", user_image_path(:user_id => @user.id, :id=>@current_image.lower_item.user_album.id, :image_id=>@current_image.lower_item.id), :title=>'Следующее фото', :class => 'photo-navlink photo-next' %>
<% end %>
</td>
</tr>
</table>

<% if @current_image.photo_tags.length > 0 %>
<div id="tagged-people">
  На фото
<% onphoto_array = @current_image.photo_tags.collect do |t|
   link_to(t.displayname, user_path(t.person_taggable), :tag_id => t.id, :class => 'photo_tag_user_link') + ( (logged_in? and (t.person_taggable == current_user or t.tagger_id == current_user.id)) ? " (" + link_to("удалить", url_for(:controller => '/photo_tags', :action => :delete, :id => t.id), :confirm => "Удалить отметку?") + ")": "")
 end %>
<%= onphoto_array.to_sentence %>
</div>
<% end %>

<div id="gallery-scroll-container" style="display:none">
<a  class="prevPage"></a>

<div id="gallery-scroll">
<ul>
<% @album.user_gallery_photos.each do |p| %>
<li class="<%= "active" if p.id==@current_image.id %>"><%= link_to image_tag(p.photo.url(:thumbnail)), user_image_path(:image_id => p.id), :title => p.title %></li>
<% end %>
</ul>
</div>

<a  class="nextPage"></a>
</div>

<script>
// execute your scripts when the DOM is ready. this is a good habit
$(function() {

    // initialize scrollable
    var api = $("div#gallery-scroll").scrollable({api: true, keyboard:false});
	api.move(<%= @current_image_index.to_i - 2 %>, 1);

});
</script>

	<script type="text/javascript">
		var tagPhotoTop;
        var tagPhotoLeft;
        var jcrop_api;
        var tagCoords = new Object;
        var photo_taggable_id = <%= @current_image.id %>;
        var photo_taggable_type = '<%= @current_image.type %>';

        $(document).ready(function() {
			$(".original_photo_link").fancybox();
            tagPhotoLeft = $('.taggable_photo').position().left;
            tagPhotoTop = $('.taggable_photo').position().top;
            $("div.tag_area").live("mouseover", function(){ $(this).css('visibility', 'visible'); });
            $("div.tag_area").live("mouseout", function(){ $(this).css('visibility', 'hidden'); });

            $("a.photo_tag_user_link").live("mouseover", function(){ $('div#photo_tag_' + $(this).attr('tag_id')).show(); });
            $("a.photo_tag_user_link").live("mouseout", function(){ $('div#photo_tag_' + $(this).attr('tag_id')).hide(); });
		});


	</script>
<%= render :partial => 'comments/comments', :locals => { :object => @current_image }  %>

</div>