<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => t('user.user_leftmenu.gallery') }  %>
<%= render :partial => 'album_list', :collection => @user.user_albums %>

<div id="userpage-container">
<h3 class="user-subtitle cgothic<%= ' rest_in_place_input' if is_owner? %>" object="user_album" attribute="title"><%=h @album.title %></h3>
<% if is_owner? %>
<%=  link_to_function t('.add_photo'), :class => 'edit' do |page| page.visual_effect :toggle_blind, 'add_photo_form' end %>

<div id="add_photo_form" style="position:relative;display:none;padding-top:15px">
<div class="ajax_anim_small" id="cr_photo_anim" style="display:none">&nbsp;</div>
<% form_for :photo, :url => url_for(:action => "upload_photo", :id => @album.id, :user_id => @user.id), :html => {:multipart => true} do |f| %>

<div><%= t('.choose_image') %>:</div>
<%= f.file_field :photo, :size => '25' %>
<%= f.submit t('.upload_photo'), :onclick => "$('#cr_photo_anim').show()" %>
  
<% end %>

</div>
<% end %>

	<% if !@album.user_gallery_photos.nil? %>
	<div class="gallery-pad">
	<ul id="sortable_photos">
	<%= render :partial => 'photo', :collection => @album.user_gallery_photos %>
	</ul>
	<script type="text/javascript">
		/*$(document).ready(function() {
			$(".portfolio_photo_link").fancybox();
		});*/
	</script>
	</div>
	<% end %>
</div>
<% if is_owner? %>
<%= link_to "Удалить альбом",  url_for(:id => @album.id, :action => 'delete_album'), :confirm => "Действительно удалить альбом? Будут удалены все фотографии в этом альбоме, это действие невозможно отменить.",:id => "delete_album_link", :class=>'edit', :method => :post %>
<% end %>