<% content_for :right do %>
<div class="fgc-smallform">
<h5><%= link_to_function "Где бы вы хотели иметь скидку FGC?" do |page| page.visual_effect :toggle_blind, 'no_discount_form'  end  %></h5>
<div id="no_discount_form" style="display:none">
<% remote_form_for :no_discount, :url => url_for(:action => 'submit_wish') do |f| %>
<p>
  <%= f.text_area :comments, :rows => 5 %>
</p>
<p>
  <%= f.submit "Отправить" %>
</p>
<% end %>
</div>
</div>

<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<% end %>
<% end %>
