<h2>FG Events</h2>
<!-- submenu -->
<div id="submenu" style="margin-top:22px;margin-bottom:20px;">
    <ul>
    	<% if ["events", "reports"].include? controller.action_name %>
        <li><%= link_to "Репортажи", fgc_path(:action => 'reports'), ( submenu_active?(controller.action_name, "reports") ) %></li>
		<li><%= link_to "Афиша", fgc_path(:action => 'events'), ( submenu_active?(controller.action_name, "events") ) %></li>
		<% else %>
		<li><%= link_to "О карте", fgc_path(:action => 'card'), ( submenu_active?(controller.action_name, "card") ) %></li>
		<li><%= link_to "Места", fgc_places_path(:action => 'places', :place_category => nil), ( submenu_active?(controller.action_name, "places") ) %></li>
		<li><%= link_to "Новости", url_for(:controller => 'fgc/news'), ( submenu_active?(controller.controller_name, "news") ) %></li>
		<% end %>
    </ul>
</div>
<!-- submenu end -->