<% content_for(:left) do %>
    <ul class="menu">
          <li><%= link_to 'Новости FG', "/fgc/news", leftmenu_active?(:controller_name => 'news') %></li>
          <li><%= link_to 'FG Card', "/fgc/card", leftmenu_active?(:controller_name => 'fgc', :action_name => 'card') %></li>
          <li><%= link_to 'FG Events', "/fgc/reports", leftmenu_active_if( (controller.action_name == 'events' or controller.action_name == 'reports') ) %></li>
          <!--<li><%= link_to 'FG Room', "/fgc/fgroom", leftmenu_active?(:controller_name => 'fgc', :action_name => 'fgroom') %></li>-->
          <!--<li><%= link_to 'FG Travel', "/fgc/travel", leftmenu_active?(:controller_name => 'travel') %></li>-->
          <li>
          <span>FG Места</span>
          <ul>
            <%- PlaceCategory.find(:all).each do |c| -%>
            <li><%= link_to c.name, { :controller => ('place_gallery/place_gallery') || controller.controller_name, :place_category => c }, (category_leftmenu_active?(params[:place_category], c.urlname)) %></li>
            <%- end -%>
          </ul>
          </li>
          <% if false %>
          <li><a href="#" title="FAQ">FAQ</a></li>
          <% end %>
    </ul>
<% end %>
