<% content_for :right do %>
<div class="fgc-smallform">
<h5><%= link_to_function "Вам отказали в скидке?" do |page| page.visual_effect :toggle_blind, 'no_discount_form' end %></h5>
<div id="no_discount_form" style="display:none">
<% remote_form_for :no_discount, :url => "/fgc/no_discount" do |f| %>
<p>
  <%= f.label :bio_id, "Номер BIO" %>
  <%= f.text_field :bio_id %>
</p>
<p>
  <%= f.label :place_name, "Название заведения" %>
  <%= f.text_field :place_name %>
</p>
<p>
  <%= f.label :comments, "Комментарии" %>
  <%= f.text_area :comments, :rows => 5 %>
</p>
<p>
  <%= f.submit "Отправить" %>
</p>
<% end %>
</div>
</div>
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<% end %>
<% end %>

