<div class="pl-entry pl-fgc">
<h3>
	
	<%= link_to place_list.name,  place_path({ :id => place_list, :place_category => place_list.place_category }) %>
	<% if place_list.fgc && controller.controller_name != 'fgc' && false %>
		<%= link_to image_tag('/i/fgc-link-icon-small.png', :alt => 'FGC', :id => 'fgc-link-img-small'), fgc_places_path %>
	<% end %>
	<b><%= place_list.fgc_discount.to_s %></b>	
</h3>

<div><%= link_to image_tag(place_list.place_photos.first.photo.url(:thumbnail)),  place_path({ :id => place_list, :place_category => place_list.place_category }) %></div>
<div class="fgc-discount-text"><%= link_to "(специальные условия)",  place_path({ :id => place_list, :place_category => place_list.place_category }) if place_list.fgc_text %></div>
</div>

