<%= render :partial => 'fgc_menu' %>

<% render :partial => 'no_discount_form' %>

<h2>FG Card</h2>
<div style="overflow:hidden">
<img src="/img/card-FG.png" alt="" />
<div style="float:right;margin-top:90px;display:none;">
	<ul>
		<li><%= link_to "Получить карту FGC", url_for(:action => 'get_card') %></li>
		<li><%= link_to "Вступить в систему FGC", url_for(:action => 'join_fgc') %></li>
	</ul>
</div>
</div>
<style>
  #documents_content li{
      font-size: 14px;
      line-height: 1.4;
  }
  #documents_content li p{
      font-size: 14px;
      line-height: 1.4;
  }
</style>
<div id="documents_content">
	<%= simple_format(@fgc_text.text) if @fgc_text %>
</div>

