<%= render :partial => 'fgc_menu' %>
<%= render :partial => 'fgc_header' %>

<div class="placegallery-list">
<%= render :partial => 'place_gallery/events/event_list', :collection => @events %>
</div>