<%= render :partial => 'fgc_menu' %>
<% content_for(:head) do %>
<%= javascript_include_tag 'jquery.corner' %>
<%= javascript_include_tag 'cufon-yui' %>
<%= javascript_include_tag 'KievitCyr-ExtraLightSC_400-KievitCyr-ExtraLightItaSC_italic_400.font' %>
    <script type="text/javascript">
        Cufon.replace('h1');
    </script>

<% end %>
<% content_for(:left) do %>
<h3>События</h3>
    <% @events.each do |e| %>
    <div class="choice">
      <div>
        <%= link_to image_tag(e.event_picture.url(:thumbnail), :width => '190'), event_path(e) %>
        <div>
          <span class="withback"><%= link_to e.name, event_path(e) %></span>

        </div>
      </div>
      <p><span class="time"><%=l e.date%></span></p>
    </div>
    <% end %>
    
    <% @reports.each do |r| %>
    <div class="choice">
      <%= link_to image_tag(r.picture.url(:thumbnail), :width => '190'), report_path(r) %>
      <p><span class="time"><%=l r.date, :format => :short_date%></span> <%= link_to "Репортаж", report_path(r), :class => 'head' %> <%= link_to r.name, report_path(r) %></p>
    </div>
    <% end %>

<% end %>

<% content_for(:bottom) do %>
<script type="text/javascript"> Cufon.now(); </script>
<% end %>
<h1 style="font-size:14.6em;color:#aaa;margin-top:-32px;margin-left:-10px">ROOM</h1>
<div class="room">
<img src="/img/photo-31.jpg">

<p>В последнее время люди все реже выбирают классический шопинг, который, скорее, вызывает стресс, нежели радость покупки. Теперь модников все чаще можно застать за разговорами о секретных местах, где можно найти нечто «не-ре-альное» по столь же нереальным ценам.</p>

<p>Шоурумы уже давно прячутся в укромных уголках Москвы, но лишь недавно они буквально ворвались в нашу жизнь, став по-настоящему модным трендом. Поскольку Face Gallery поддерживает актуальные тенденции, одним из наших проектов является уникальный <strong>FGRoom</strong>.</p>

<p>Это место сочетает в себе все самые приятные эмоции, которые могут быть связаны с покупкой одежды. Поскольку концепция Face Gallery - объединение ярких, интересных, приятных во всех отношениях, образованных людей, обладающих сформировавшимся вкусом и стилем, мы предусмотрели все нюансы, от стилистики представленных коллекций до ценовой ниши.</p>

<p>Мы понимаем, насколько вы разные, однако это не мешает нам ставить своей целью желание угодить каждому. Именно поэтому мы под завязку наполнили шоурум самыми разными брендами: итальянскими и русскими, американскими и корейскими, известными и не очень, классическими и концептуальными. Но в одном вы можете быть уверенны на 100% - каждый сможет найти здесь что-то, что придется ему по душе.</p>

<p>Стиль всех представленных марок призван стать отличительной чертой каждого человека в отдельности. Концептуальный шоурум в историческом центре столицы, на Яузском бульваре открыт для каждого, кто захочет пополнить свой гардероб качественными и красивыми вещами. Но лишь для BIO-пользователей сайта Facegallery.ru здесь действует скидка 20%.</p>

<p><strong>FGRoom</strong> &mdash; это не просто место продажи одежды, а своеобразный клуб, где можно приятно провести время с друзьями, совместив процесс покупки с чаепитием, общением или посиделками в баре, а также переждать пробки. Мы в свою очередь планируем обеспечить для клиентов шоурума и пользователей сайта постоянную event-fashion-активность, чтобы этот уголок стал еще одним местом наших и без того частых встреч.</p>

<p>Часы работы: <b>с 12:00 до 21:00</b> (ежедневно)<br />
Адрес: <b>Яузский б-р, д. 3</b> (вход с Большого Николоворобинского пер.)<br />
Телефон: <b>+ 7 (495) 626 40 97</b><br />
Сайт: <a href="http://www.fgroom.ru/">www.fgroom.ru</a></p>  
</div>


<% content_for :right do %>
Карта проезда:
<a href="/img/room-map.png" id="maplink">
<img src="/img/room-map-thumb.png">
</a>
<script>
$('#maplink').fancybox();
</script>
<% end %>