<%= render :partial => 'fgc/fgc_menu' %>


<h2><%= link_to "FG News", {:controller => 'fgc/news'}%></h2>
<%= render :partial => 'fgc/news/news_list', :collection => @news %>


<% if @top_event %>
<h2><a href="/fgc/events">Афиша FGC</a></h2>
<%= render :partial => 'place_gallery/events/event_big', :locals => { :event_big => @top_event} unless params[:page].to_i > 1 %>
<div class="placegallery-list">
<%= render :partial => 'place_gallery/events/event_list', :collection => @events %>
</div>
<% end %>

<% if @top_report %>
<br><br>
<h2><a href="/fgc/reports">Репортажи FGC</a></h2>
<%= render :partial => 'place_gallery/reports/report_big', :locals => { :report_big => @top_report} unless params[:page].to_i > 1 %>
<div class="placegallery-list">
<%= render :partial => 'place_gallery/reports/report_list', :collection => @reports %>
</div>
<% end %>

<% content_for :right do %>
<% if false %>
<h2><%= link_to "FG Card", {:action => 'card'}%></h2>
<div class="card">
      <a href="/fgc/card" title=""><img src="/img/card-FG-small.png" alt="" /></a>
      <p>Face Gallery Card — это не просто клубная карта привилегированного пользователя сайта Face Gallery. Это пропуск в мир успешных и интересных людей — Face Gallery Club, ключ к одному из самых достойных сообществ в Рунете. Face Gallery Card — это новый способ формирования реального коммьюнити, в котором нет случайных людей. Мы знаем лично каждого обладателя карты.</p>
      <div class="button">

        <div class="head" style="display:none">
          <div></div>
        </div>
        <div class="content" style="display:none">
          <form><a href="/fgc/card" title="" style="white-space: nowrap;">Хочу FG Card</a></form>
        </div>
        <div class="foot" style="display:none">
          <div></div>

        </div>
      </div>
</div>
<% end %>
<% end %>

<% content_for :topbar do %>
<% if @johnywalker %>
<div class="subline">
  <div class="slogan">
    <div class="info">
      <span><%= l(@johnywalker.date, :format => :short) %></span><%= link_to @johnywalker.name, daily_event_path(:id => @johnywalker.id) %>
    </div>
  </div>
</div>
<% end %>
<% end %>
