<%= render :partial => 'fgc_menu' %>
<%= render :partial => 'fgc_header' %>
<!--<div class="breadcrumbs-div"><span class="top-sectionlink"><a href="/fgc/">FGC</a> / <%= link_to "Places", url_for(:action => 'places', :place_category => nil) %><% if @current_category %> / <%= link_to @current_category.name, url_for(:place_category => @current_category) %><% end %></span></div>-->
<% render :partial => 'fgc_wishes' %>

<% unless @current_category %>
<div id="places-flash" style="margin-top:20px;">
</div>
<script>
$(document).ready(function(){
    $('#places-flash').flash(
        {
          src: '/swf/magazinepreviews.swf',
          width: 530,
          height: 350,
		  wmode:'transparent',
          flashvars: { 
		  	xmlurl: '/i/places/fgc_places_index_<%= I18n.locale.to_s %>.xml'
			}
        },
        { version: 9 }
    );
});
</script>
<% else %>
<div class="placegallery-list">
<%= render :partial => 'place_list', :collection => @places %>
</div>
<% end %>
