<%= render :partial => 'fgc_menu' %>
<%= render :partial => 'fgc_header' %>

<div class="placegallery-list">
<% if @reports.empty? %>
Здесь вскоре появятся фоторепортажи с мероприятий FaceGallery
<% end %>
<%= render :partial => 'place_gallery/reports/report_list', :collection => @reports %>
</div>

<%= will_paginate @reports %>