<ul>
<li><%= link_to_function "Я", "tagUser(#{current_user.id}, 'User')" %></li>
<% @users.each do |u| %>
<li><%= link_to_function u.displayname, "tagUser(#{u.id}, 'User')" %></li>
<% end %>
</ul>



