<%= render :partial => 'fg_talent_hunt/left_menu' %>
<h1><%= link_to "FG Talent Hunting", contest_sessions_path %></h1>

<% if @session.photographer %>
<p><b>ФОТОГРАФ</b>: <%= link_to @session.photographer.displayname, user_path(@session.photographer) %></p>
<% end %>
<% if @session.model %>
<p><b>МОДЕЛЬ</b>: <%= link_to @session.model.displayname, user_path(@session.model) %></p>
<% end %>
<%= simple_format(@session.info) %>
<div class="profile" style="margin:0">
<p>Голосов: <span class="rate"><%= @session.votes_for %></span> <%= link_to "&uarr;", vote_contest_session_path(@session), :title => "Голосовать за фотосессию (Осталось голосов: #{ContestSession.votes_remaining})", :class => 'rating-arrow' if @session.current_user_can_vote? %></p>
</div>
<br>
<p>
<%= link_to image_tag(@photo.photo.url(:smaller)), @photo.photo.url, :class => 'photo_link' %>
</p>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
<% @other_photos.each do |o| %>
<td align="left" valign="middle" width="130"><%= link_to image_tag(o.photo.url(:small)), contest_session_photo_url(@session, o) %></td>
<% end %>
</tr>
</table>
<br>
<%= render :partial => 'comments/comments', :locals => {:object => @photo} %>
<script>
$('.photo_link').fancybox();
</script>