<%= render :partial => 'fg_talent_hunt/left_menu' %>

<h1>FG Talent Hunting part 1</h1>

<p>Проект Talent Hunting создан с целью объединения пользователей сайта FaceGallery.ru в креативные группы и раскрытия их творческого потенциала.</p>

<p>Первый конкурс прошел в 2010 году. Он собрал вместе талантливых фотографов, стилистов, моделей и визажистов из сообщества FG для создания профессиональных фотосессий.</p>

<p>Перед вами работы десяти команд-участников. Все они одинаково талантливы и свободны от стереотипов. Все они с одинаковым рвением пытались передать свое видение жизни и мира в целом. Работая над воплощением своих творческих идей, они выложились на 100%.</p>

<p>Команда фотографа Екатерины Сеземиной всего на один балл обошла ближайших конкурентов - команду Дмитрия Золотарева. Эта ситуация продемонстрировала нам всем, насколько для участников важен КАЖДЫЙ ВАШ ГОЛОС!</p>

<p>В любом случае, без призов не ушел никто! Как это было, смотрите, пройдя по ссылке:</p>

<p><a href="http://www.facegallery.ru/magazine/reports/show/85">http://www.facegallery.ru/magazine/reports/show/85</a></p>




<style>
ul#sortable_photos p{
  width:140px;
  /*margin:0 auto;*/
  font-size:1.3em;
  font-style:italic;
}
ul#sortable_photos p a{
  color:black;
  font-weight:bold;
  font-style:normal;
}
ul#sortable_photos li{
  height:210px;
  text-align:left;
}
</style>
<ul id="sortable_photos">
<% @sessions.each do |s| %>
  <li>
  <%= link_to image_tag(s.contest_photos.first.photo.url(:small)), contest_session_photo_url(s, s.contest_photos.first) %>
  <p><%= link_to "Фотограф: " + s.photographer.displayname, contest_session_photo_url(s, s.contest_photos.first) %><br />
  Голосов: <%= s.votes_for %></p>
  </li>
<% end %>
</ul>
