.section.small {margin-left: expression(this.previousSibling==null?'0':'30');}
.tabs-wrap ul.tabs li {padding-left: expression(this.previousSibling==null?'0':'1');}
.page-post-creating div.load.video input.radio {margin-left: expression(this.previousSibling==null?'0':'18');}
.page-post-creating div.load.audio input.radio{margin-left: expression(this.previousSibling==null?'0':'14');}
.profile-mail .section.one.mail ul li, .profile-gallery .section.one.album ul li {border-top: expression(this.previousSibling==null?'none':'1px solid #c8c8c8');}