<div>
  <p><strong><%= link_to video_list.title, video_path(video_list) %></strong> <span class="time">, <%= l(video_list.created_at, :format => 'short_date') %></span> <%= link_to video_list.comments.count, video_path(video_list), :class => 'comment', :style => 'vertical-align:baseline' %></p>
  <p><%= link_to image_tag(video_list.thumbnail.url), video_path(video_list) %></p>
  <p><%= link_to video_list.description, video_path(video_list), :class => 'text' %></p>
</div>
