<%= render :partial => 'community/left_menu' %>

<h2><%= @video.title %></h2>
<p><i><%= l(@video.created_at, :format => 'short_date') %></i></p>
<div>
  <p><%= @video.embed_code %></p>
  <p><%= link_to @video.description, video_path(@video), :class => 'text' %></p>
</div>

<%= render :partial => 'comments/comments', :locals => { :object => @video }  %>