<div class="news">
  <h3>
    <%= link_to news_list.title,  url_for({ :controller => 'fgc/news', :action => "show", :id => news_list.id }) %>
    <span class="time"><%= l(news_list.date, :format => :short) %></span>
  </h3>
  <p><%= link_to shorten_text(news_list.text),  url_for({ :controller => 'fgc/news', :action => "show", :id => news_list.id }) %></p>
  <% if news_list.place && news_list.place.place_category %>
    <%= link_to news_list.place.name, place_path(:place_category => news_list.place.place_category.urlname, :id => news_list.place.id), :class => 'link_to_place' if (news_list.place and controller.controller_name != 'place') %>
  <% end %>
</div>
