<%= render :partial => 'fgc/fgc_menu' %>

<div class="news">
  <h3>
    <%=  @news_item.title %>
    <span class="time"><%= l(@news_item.date, :format => :short) %></span>
  </h3>
  <p><%= simple_format(@news_item.text) %></p>
  <% if @news_item.place && @news_item.place.place_category %>
    <%= link_to @news_item.place.name, place_path(:place_category => @news_item.place.place_category.urlname, :id => @news_item.place.id), :class => 'link_to_place' if (@news_item.place and controller.controller_name != 'place') %>
    <% end %>
</div>
