<div class="bio-list-item">
<%= link_to image_tag(bio_list.photo.url(:thumb80)),  bio_path({ :bio_category => bio_list.bio_category, :action => "show", :id => bio_list }) %>
<div>
<%= link_to bio_list.displayname,  bio_path({ :bio_category => bio_list.bio_category, :action => "show", :id => bio_list }), :class => 'gray-link' %>
</div>
</div>