<div id="biopage-container" class="biopage-index" style="padding:0">
	<div id="bio-photo" style="width:160px;">

	<%= link_to image_tag(bio.photo.url(:thumb150)), bio_path(:id => bio, :bio_category => bio.bio_category) %>

	</div>
	<div id="bio-info">
		<h1 id="bio-name" class="cgothic"><%= link_to bio.displayname, bio_path(:id => bio, :bio_category => bio.bio_category) %></h1>
		<h2 id="bio-area" class="cgothic"><%= bio.occupation %></h2>
		<div id="bio-quote">&laquo;<%= bio.quote %>&raquo;</div>
	</div>
</div>

