<% content_for(:left) do %>
    <ul class="menu">
      <%- bio_categories.each do |c| -%>
        <li><%= link_to c.name, { :controller => controller.controller_name, :bio_category => c.urlname, :action => :list }, (category_leftmenu_active?(params[:bio_category], c.urlname)) %></li>
      <%- end -%>
    </ul>
<% end %>
