<% content_for(:right) do %>
<div class="bio-authors">
      <%= link_to image_tag(rightcolumn_bio.photo.url(:thumb80)), bio_path(:id=>rightcolumn_bio) %>
      <div>
        <p><%= link_to rightcolumn_bio.displayname, bio_path(:id => rightcolumn_bio), :class => 'set' %></p>
        <p><%= link_to "&laquo" + rightcolumn_bio.quote + "&raquo;", bio_path(:id => rightcolumn_bio), :class => 'text' %></p>
      </div>
</div>
<% end %>