<%= render :partial => 'category_menu', :locals => { :bio_categories => @bio_categories }  %>
<h2><%= t('.new_bios') %></h2>


<% @bios.each do |bio| %>
      <div class="last-bio">
          <%= link_to image_tag(bio.photo.url(:smaller)), bio_path(:id=> bio, :bio_category => bio.bio_category) %>
          <div>
            <h3><%= link_to bio.displayname, bio_path(:id=> bio, :bio_category => bio.bio_category) %></h3>
            <p class="citation"><span class="quot left">«</span><%= bio.quote %><span class="quot right">»</span></p>

          </div>
        </div>
<% end %>
<% if @contest_question %>

    <h2>Конкурс</h2>
        <div class="contest">
          <div class="bio-authors">
            <%= link_to image_tag(@contest_question.author.photo.url(:thumbnail)), bio_path(:id=> @contest_question.author, :bio_category => @contest_question.author.bio_category) %>

            <div>
              <p><%= link_to @contest_question.author.displayname, bio_path(:id=> @contest_question.author, :bio_category => @contest_question.author.bio_category) %></p>

              <h3><%= @contest_question.text %></h3>
            </div>
          </div>
             <div id="prize">
                <%= @contest_question.prize %>
             </div>
        </div>



<% unless @contest_question.fg_contest_winners.present? %>
    <% if logged_in? %>
    <div id="answer_form" class="button opened" style="width:115px;">
      <div class="head">
        <div></div>
      </div>
      <div class="content">
        <% form_for :comment, :url => "", :html => {:id => 'contest_form'} do |f| %>
          <input type="hidden" name="contest_id" value="<%= @contest_question.id %>">
          <a href="#" title="" id="answer_button" style="z-index:50;bottom:16px;position:absolute;right:9px;">Ответить</a>

          <div class="answer" style="border-right:none;display:none">
            <%= f.text_area :body, :rows=>1, :style => 'display:block;overflow:hidden', :id => 'answer' %>
          </div>
        <% end %>
      </div>
      <div class="foot">
        <div></div>
      </div>

    </div>
    <script>
    function openAnswerForm(){
        $('textarea#answer').val("");
        $('div.answer').css("border-right", "1px dotted #7452B9");
        $('div.answer').css("display", "block");
        $('#answer_form').animate({width: '100%'}, 250, function(){
            $('textarea#answer').autoResize({animateDuration : 300});
            $('textarea#answer').focus();
            $('#answer_button').click(function(){
                $('#contest_form').submit();
                return false;
            });
        });

        return false;
    }
        $('#answer_form').one('click', openAnswerForm);

    </script>
    <% end %>
<% else %>
<h3 style="text-align: center;color:black;"><%= @contest_question.fg_contest_winners.length > 1 ? 'Победители' : 'Победитель' %> конкурса:</h3>

<% @contest_question.fg_contest_winners.each do |winner| %>

<div id="answer_form" class="button opened">
      <div class="head">
        <div></div>
      </div>
      <div class="content" style="overflow:hidden">
          <div style="width:120px;float:right;text-align:right">
            <%= link_to winner.comment.user.displayname, user_path(winner.comment.user) %>
            <%= link_to image_tag(winner.comment.user.avatar.url(:small)), user_path(winner.comment.user) %>
          </div>

          <div class="answer">
            <%= simple_format(winner.comment.body) %>
          </div>
      </div>
      <div class="foot">
        <div></div>
      </div>

    </div>
    
<% end %>

<% end %>
<style>
  div.functions{
      display:none;
  }
</style>
<ul class="comments" id="comments" style="padding-top:30px">
<%= render :partial => 'comments/comment', :collection => @contest_question.comment_threads.reverse %>
</ul>



<% end %>
<% cache 'top_bios' do %>
<% if @top_bios && @top_bios.length > 0 && false %>
<% content_for :left do %>
<h3>TOP10 BIO</h3>
<% @top_bios.each do |bio| %>
   <div class="top-bio">
   <%= link_to image_tag(bio.photo.url(:thumb80), :style=>"width:50px"), bio_path(:id=> bio, :bio_category => bio.bio_category) %>
   <h4><%= link_to bio.displayname, bio_path(:id=> bio, :bio_category => bio.bio_category) %></h4>
   <span><%= bio.votes.count %></span>
   </div>
<% end %>
<% end %>
<% end %>
<% end %>

<% content_for :right do %>

    <% if @latest_comments && @latest_comments.length > 0 %>
    <%= render :partial => 'user/latest_comments', :locals => {:comments => @latest_comments} %>
    <% end %>

<% end %>

