<%= render :partial => 'category_menu', :locals => { :bio_categories => @bio_categories }  %>
<%= content_tag ('h2', @current_category.name) if @current_category %>
<div class="bio-list">
<%= render :partial => 'bio_list', :collection => @bios %>
</div>
<%= will_paginate @bios %>

<% content_for :right do %>
    <% if @latest_comments && @latest_comments.length > 0 %>
    <%= render :partial => 'user/latest_comments', :locals => {:comments => @latest_comments} %>
    <% end %>
<% end %>