<%= render :partial => 'category_menu', :locals => { :bio_categories => @bio_categories }  %>
<%= render :partial => 'rightcolumn_bio', :collection => @more_bio %>


<div class="profile">
  <%= link_to image_tag(@bio.photo.url(:small), :class => 'main-photo'), @bio.photo.url, :id => 'photo_link' %>

  <div class="status">
    <% if @bio.user %>
        <% if @bio.user.is_online? %><span class="variant">online</span><% end %>
        <%= link_to t('.personal_profile'), user_path(@bio.user) %>
    <% end %>
  </div>

  <h1><%= @bio.displayname %></h1>
  <%= content_tag 'h2', @bio.company.name if @bio.company.present? %>
  <h2><%= @bio.occupation %></h2>

  <% if @bio.user %><p>Рейтинг: <%= render :partial => 'user/vote', :locals => {:object => @bio.user} %></p><% end %>
  <p class="citation"><span class="quot left">«</span><%= mdash(@bio.quote) %><span class="quot right">»</span></p>

</div>
<% unless @bio.id==30 and !logged_in? %>
<div class="inner posts">
  <%= simple_format(mdash(@bio.text)) %>
</div>
<% if @bio.author %>
<div class="author">
<span>автор интервью</span>
<%= link_to @bio.author.displayname, user_path(@bio.author) %>
</div>
<% end %>
<% end %>
<script type="text/javascript">
	$(document).ready(function() {
		$("#photo_link").fancybox();
	});
</script>

<%= render :partial => 'comments/comments', :locals => { :object => @bio }  %>

<% content_for :right do %>
    <% if @latest_comments && @latest_comments.length > 0 %>
    <%= render :partial => 'user/latest_comments', :locals => {:comments => @latest_comments} %>
    <% end %>
<% end %>