<% reverse = false %>
<% showform = true if local_assigns[:showform].nil? %>

<% if logged_in? and current_user.comments_view_times and current_user.comments_view_times[object.type.to_s] and current_user.comments_view_times[object.type.to_s][object.id]
     comments_viewed_at = current_user.comments_view_times[object.type.to_s][object.id]
   else
     comments_viewed_at = nil
   end
%>
<style>
  #center ul#comments ul ul ul ul ul{
      margin-left:0px;
  }
  #center ul#comments ul ul ul ul li #comment_form{
      margin-left:0px;
  }
  #center ul#comments li #comment_form{
      margin-left:25px;
  }
  div.comment_deleted{
      color: #767676;
      font-size:1.2em;
      padding-bottom:15px;
  }
  #center ul#comments div.functions img{
      float:none;
      vertical-align:absmiddle;
  }
</style>

<a name="comments_top"></a>
      <h3><%= ((defined? comments_text) ? comments_text : t('.comments') ) if object.comment_threads.count > 0 %></h3>
      <ul class="comments" id="comments">
            <%= render :partial => "comments/comment", :collection => (( (defined? reverse) && (reverse==true)) ? object.root_comments.reverse : object.root_comments), :locals => {:comments_viewed_at => comments_viewed_at} %>           
      </ul>
	  <% if logged_in? && showform %>
<a name="comments_form"></a>
      <h4 class="comments_form_header cgothic"><%= link_to_function ((defined? write_comment_text) ? write_comment_text : t('.write_a_comment') ), "moveCommentFormTo(0)", :class=>'answer' %></h4>
<div id="comment_form_0">
<div class="bio-authors" id="comment_form">
  <%= link_to image_tag(current_user.avatar.url(:small)), user_path(:user_id => current_user.id) %>
  <div>
    <p style="font-size:1.2em"><%= link_to current_user.displayname, user_path(:user_id => current_user.id), :class => 'set' %></p>
    <% remote_form_for :comment, :url => comments_url(:action => 'new', :id => object.id) do |f| %>
        
	  <%= hidden_field 'option',"reverse", :value => defined? reverse %>
      <p><%= f.text_area "body", :rows=>5, :cols=>35, :style => 'display:block;width:350px;height:80px;' %></p>
      <p><%= submit_tag t('.add') %></p>

      <%= f.hidden_field :parent_id %>
	  <%= hidden_field 'commentable', 'commentable', :value => object.type %>
	  <%= hidden_field 'commentable', 'commentable_id', :value => object.id %>
    <% end %>
  </div>
</div>
</div>
	  <% end %>
<% if logged_in? %>
<% current_user.mark_comments_as_read(object) %>
<% end %>
<script>
$('textarea#comment_comment').autoResize({animateDuration : 300});
$('div#comment_form form').submit(function(){
    $('input[type=submit]', this).attr('disabled', 'disabled');
});
function moveCommentFormTo(comment_id){
  $('#comment_form').appendTo('#comment_form_' + comment_id);
  $('#comment_parent_id').val(comment_id)
}
</script>
