<li id="comment<%= comment.id %>">
<% unless comment.deleted == true %>
<div class="bio-authors">
  <%= link_to image_tag(comment.user.avatar.url(:small)), user_path(:user_id => comment.user.id) %>
  <div class="<%= "recent_comment" if defined?(comments_viewed_at) and comments_viewed_at and comments_viewed_at < comment.created_at and comment.user_id != current_user.id %>">
    <p><%= link_to comment.user.displayname, user_path(:user_id => comment.user.id), :class => 'set' %>, <span class="time"><%= time_ago_in_words(comment.created_at) %> <%= t '.ago' %></span></p>
    <p><%= simple_format(convert_links( strip_tags(comment.body))) %></p>
    <div class="functions">
      <%= render :partial => 'votes/vote', :locals => {:object => comment} %>
      <%= link_to_remote image_tag('/i/delete-icon.png', :alt => t('delete'), :class => 'delete-comment-icon'), {:url => comments_path(:id => comment.id, :action => 'delete'), :confirm => t('really_delete')}, {:title => t('delete')} if logged_in? and current_user.id == comment.user_id %>
      <%= link_to_function "Ответить", "moveCommentFormTo(#{comment.id})", {:class => 'answer'} if logged_in? %>
    </div>
  </div>
</div>
<div id="comment_form_<%= comment.id %>">
</div>
<% if comment.has_children? %>
<ul>
<%= render :partial => 'comments/comment', :collection => comment.children, :locals => {:comments_viewed_at => comments_viewed_at}, :locals => {:comments_viewed_at => comments_viewed_at} %>
</ul>
<% end %>
<% else %>
<div class="comment_deleted"><p>Комментарий удален пользователем</p></div>
<% end %>
</li>