<li>
	<img src="images/shared/photo-109.jpg"/>
	<%= link_to carousel.title, post_path(:id => carousel, :post_section => carousel.post_section) %>
	<%= carousel.created_at.strftime('%d-%m, %H:%M') %>
</li>