<li>
	<%= image_tag places.main_photo.url(:original), :style=>'width:115px; height:115px;' %>
	<div class="tip">
		<%= image_tag places.main_photo.url(:original), :style=>'width:115px; height:115px;' %>
		<div>
			<h5><%= places.name %></h5>
			<p>
			<% if places.place_category %>
				<%= places.place_category.name %>
			<% end %>
			<% if places.webpage %>
				<br/><a href="http://<%=places.webpage%>"><%=places.webpage%></a>
			<% end %>
			</p>
		</div>
	</div>
</li>