<div class="section-info">
	<p class="comment"><%= post.root_comments.length %></p>
	<%= render :partial => 'widgets/date_clock', :locals => { :date => post.created_at }  %>
</div>
<div class="section-content">
	<% if defined? show_photo and show_photo %>
		<% if defined? photo_size and photo_size == 'big' %>
			<a href="#"><img src="images/shared/photo-17.jpg"/></a>
		<% else %>
			<a href="#"><img src="images/shared/photo-19.jpg"/></a>
		<% end %>
	<% end %>
	<h3><a href="#"><%= post.post_section.name %></a></h3>
	<h4><%= link_to post.title, post_path(:id => post, :post_section => post.post_section) %></h4>
	<p>
	<% if !defined? not_show_text or !not_show_text %>
		<%= shorten_text(post.text, text_length) %>
	<% end %> 
	<% if post.user %>
		<%= link_to post.user.displayname, user_path(post.user), :class => 'name' %>
	<% end %>
	</p>
</div>
