<li>
	<%= image_tag users.avatar.url(:small) %>
	<div class="tip">
		<%= link_to (image_tag users.avatar.url(:small)), user_path(users) %>
		<div>
			<h5><%= link_to users.displayname, user_path(users) %></h5>
			<p><%= users.city %>
			<br/><%= users.occupation %></p>
		</div>
	</div>
</li>