<div id="container" class="sidebar-right">
	<div class="center">
		<div class="content">
			<div class="filter-line">
				<ul class="bio-comm-filter">
					<li class="active"><a href="#">Все посты</a></li>
					<li><a href="#">Популярные</a></li>
					<li><a href="#">Новые</a></li>
					<li><a href="#">Блог редакции</a></li>						               
				</ul>
				<form method="get" class="life-form">
					<label>Поиск:</label>
					<input type="text" name="" class="text-arrow-search"/>
					<input type="submit" value="" class="arrow-search no-active" name="" disabled/>
				</form>
			</div>
			<div class="clearfix">
				<div class="section half-left">
					<%= render :partial => 'post', :locals => { :post => @main[0], :show_photo => true, :photo_size => 'big', :text_length => 160}  %>
				</div>
				<div class="section half-right">
					<div class="section half-left">
						<%= render :partial => 'post', :locals => { :post => @main[1], :show_photo => true, :text_length => 100}  %>
					</div>
					<div class="section half-right">
						<%= render :partial => 'post', :locals => { :post => @main[2], :show_photo => true, :text_length => 100}  %>
					</div>
				</div>
			</div>
			<div class="section one">
				<ul class="stream-posts">
					<li>
						<%= render :partial => 'post', :locals => { :post => @main[3], :text_length => 500}  %>
					</li>
					<li>
						<%= render :partial => 'post', :locals => { :post => @main[4], :text_length => 500}  %>
					</li>
					<li>
						<%= render :partial => 'post', :locals => { :post => @main[5], :text_length => 500}  %>
					</li>
				</ul>
			</div>
			<div class="section one recommend">
				<h3><a href="#">FG рекомендует</a><b></b></h3>
				<ul>
					<%= render :partial => 'carousel', :collection => @carousel %>
				</ul>
			</div>
			<div class="section one hidden">
				<div class="title-line">
					<h3><a href="#">Объявления</a><b></b></h3>
					<a href="#" class="link-with-title">Все объявления</a>
				</div>
				<ul class="stream">
					<%= render :partial => 'small_list', :collection => @stream %>
				</ul>
			</div>
			<div class="section one users">
				<h3><a href="#">Пользователи</a></h3>
				<ul>
					<%= render :partial => 'users', :collection => @users %>
				</ul>
				<div class="section half">
					<h3><a href="#">Галереи</a></h3>
					<div class="slideshow-wrap">
						<div class="slideshow">
							<div>
								<img src="images/shared/photo-132.jpg"/>
								<h4><a href="#">Море, песок, солце... Вечерний мартини:)</a></h4>
								<a href="#" class="name">Ирина Гурман</a>
							</div>
							<div>
								<img src="images/shared/photo-133.jpg"/>
								<h4><a href="#">Айдентика социальной сети для геймеров gamer.ru</a></h4>
								<a href="#" class="name">Ерохнович Рома</a>
							</div>
							<div>
								<img src="images/shared/photo-132.jpg"/>
								<h4><a href="#">Море, песок, солце... Вечерний мартини:)</a></h4>
								<a href="#" class="name">Ирина Гурман</a>
							</div>
							<div>
								<img src="images/shared/photo-133.jpg"/>
								<h4><a href="#">Айдентика социальной сети для геймеров gamer.ru</a></h4>
								<a href="#" class="name">Ерохнович Рома</a>
							</div>
						</div>
						<div class="slideshow-nav"></div>
					</div>
				</div>
				<div class="section half">
					<h3><a href="#">Проекты</a></h3>
					<div class="slideshow-wrap">
						<div class="slideshow">
							<div>
								<img src="images/shared/photo-133.jpg"/>
								<h4><a href="#">Айдентика социальной сети для геймеров gamer.ru</a></h4>
								<a href="#" class="name">Ерохнович Рома</a>
							</div>
							<div>
								<img src="images/shared/photo-132.jpg"/>
								<h4><a href="#">Море, песок, солце... Вечерний мартини:)</a></h4>
								<a href="#" class="name">Ирина Гурман</a>
							</div>
							<div>
								<img src="images/shared/photo-133.jpg"/>
								<h4><a href="#">Айдентика социальной сети для геймеров gamer.ru</a></h4>
								<a href="#" class="name">Ерохнович Рома</a>
							</div>
							<div>
								<img src="images/shared/photo-132.jpg"/>
								<h4><a href="#">Море, песок, солце... Вечерний мартини:)</a></h4>
								<a href="#" class="name">Ирина Гурман</a>
							</div>
						</div>
						<div class="slideshow-nav"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar-right">
		<div id="daily-events-calendar">
			<div style="font-size:34px; left:84px; top:0px;">
				<a href="#">19</a>
			</div>
			<div style="font-size:32px; left:149px; top:25px;">
				<a href="#">20</a>
			</div>
			<div style="font-size:31px; left:186px; top:80px;">
				<a href="#" class="selected">21</a>    
			</div>
			<div style="font-size:29px; left:185px; top:143px;">
				<a href="#">22</a>    
			</div>
			<div style="font-size:28px; left:151px; top:192px;">
				<a href="#">23</a>    
			</div>
			<div style="font-size:27px; left:98px; top:211px;">
				<a href="#">24</a>    
			</div>
			<div style="font-size:25px; left:46px; top:198px;">
				<a href="#">25<sup>*</sup></a>    
			</div>
			<div style="font-size:24px; left:14px; top:160px;">
				<a href="#">26</a>    
			</div>
			<div style="font-size:22px; left:9px; top:113px;">
				<a href="#">27</a>    
			</div>
			<div style="font-size:21px; left:30px; top:75px;">
				<a href="#">28</a>    
			</div>
			<div style="font-size:20px; left:66px; top:57px;">
				<a href="#">29<sup>*</sup></a>    
			</div>
			<div style="font-size:18px; left:103px; top:63px;">
				<a href="#">30</a>    
			</div>
			<div style="font-size:17px; left:127px; top:87px;">
				<a href="#">31</a>    
			</div>
			<div style="font-size:15px; left:133px; top:117px;">
				<a href="#">1<sup>*</sup></a>    
			</div>
			<div style="font-size:14px; left:121px; top:142px;">
				<a href="#">2</a>    
			</div>
		</div>
		<div class="soon-event">
			<a href="#">
				<img src="images/shared/photo-121.jpg"/>
			</a>
			<div>
				<p class="date">20 февраля, 16:00</p>
				<p><a href="#">Поздний завтрак:<br/>
				В погоне за удачей</a></p>
			</div>
		</div>
		<div class="right-banner">
			<a href="#"><img src="images/shared/banner-6.jpg"/></a>
		</div>
		<div class="section rate-user">
			<h3>Рейтинг пользователей<b></b></h3>
			<ul>
				<li><img src="images/shared/photo-75.jpg"/><a href="#">Екатерина Пекина</a><span>2304</span></li>
				<li><img src="images/shared/photo-76.jpg"/><a href="#">Людмила Петрова</a><span>2245</span></li>
				<li><img src="images/shared/photo-84.jpg"/><a href="#">Ольга Буянова</a><span>2134</span></li>
				<li><img src="images/shared/photo-77.jpg"/><a href="#">Анна Медведева</a><span>1998</span></li>
				<li><img src="images/shared/photo-78.jpg"/><a href="#">Леонид Исаев</a><span>1980</span></li>
				<li><img src="images/shared/photo-79.jpg"/><a href="#">Андрей Рындак</a><span>1670</span></li>
				<li><img src="images/shared/photo-80.jpg"/><a href="#">Анна Лука</a><span>1500</span></li>
				<li><img src="images/shared/photo-81.jpg"/><a href="#">Настес Конюхова</a><span>1456</span></li>
				<li><img src="images/shared/photo-82.jpg"/><a href="#">Василий Палама...</a><span>1245</span></li>
				<li><img src="images/shared/photo-83.jpg"/><a href="#">Катерина Чиннов...</a><span>1145</span></li>
			</ul>
			<a href="#" class="all-rate">Весь рейтинг</a>
		</div>
		<div class="section comment">
			<h3>Прямой эфир<b></b></h3>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Ты представляешь, а...</p>
				<p><a href="#" class="name">Олег Ким:</a> Учитесь быстро забывать то, что рассказали вам... <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Фото</a></h3>
				<p> / &nbsp;Андора 2011</p>
				<p><a href="#" class="name">Туров Майкл (Michail. T):</a> оFGенно какие алые губы ))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Oprah Восточной Европпы или how are you Liz</p>
				<p><a href="#" class="name">Станислав Меркулов(VN):</a> заткнитесь))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Ты представляешь, а...</p>
				<p><a href="#" class="name">Олег Ким:</a> Учитесь быстро забывать то, что рассказали вам... <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Фото</a></h3>
				<p> / &nbsp;Андора 2011</p>
				<p><a href="#" class="name">Туров Майкл (Michail. T):</a> оFGенно какие алые губы ))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Oprah Восточной Европпы или how are you Liz</p>
				<p><a href="#" class="name">Станислав Меркулов(VN):</a> заткнитесь))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Oprah Восточной Европпы или how are you Liz</p>
				<p><a href="#" class="name">Станислав Меркулов(VN):</a> заткнитесь))) <span>23/10, 23:45</span></p>
			</div>
			<ul class="comment-nav">
				<li>
					<a class="prev" href="#"></a>
				</li>
				<li>
					<a class="next" href="#"></a>
				</li>
			</ul>
		</div>
	</div>
</div>