<div id="container" class="sidebar-right">
	<div class="center">
		<div class="content">
			<div class="filter-line">
				<ul class="life-filter">
					<li class="active"><a href="#">Все посты</a></li>
					<li><a href="#">Анонсы</a></li>
					<li><a href="#">Репортажи</a></li>
					<li><a href="#">Новости</a></li>						               
				</ul>
				<form method="get" class="life-form">
					<label>Поиск:</label>
					<input type="text" name="" class="text-arrow-search"/>
					<input type="submit" value="" class="arrow-search no-active" name="" disabled/>
				</form>
			</div>
			<div class="clearfix">
				<div class="section half-left">
					<%= render :partial => 'post', :locals => { :post => @main[0], :show_photo => true, :photo_size => 'big', :text_length => 160}  %>
				</div>
				<div class="section half-right">
					<div class="section half-left">
						<%= render :partial => 'post', :locals => { :post => @main[1], :show_photo => true, :text_length => 100}  %>
					</div>
					<div class="section half-right">
						<%= render :partial => 'post', :locals => { :post => @main[2], :show_photo => true, :text_length => 100}  %>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<div class="section half-left">
					<%= render :partial => 'post', :locals => { :post => @main[3], :show_photo => true, :photo_size => 'big', :text_length => 160}  %>
				</div>
				<div class="section half-right">
					<div class="section half-left">
						<%= render :partial => 'post', :locals => { :post => @main[4], :show_photo => true, :text_length => 100}  %>
					</div>
					<div class="section half-right">
						<%= render :partial => 'post', :locals => { :post => @main[5], :show_photo => true, :text_length => 100}  %>
					</div>
				</div>
			</div>
			<div class="section one carousel">
				<h3><a href="#">FG news</a><b></b></h3>
				<ul class="carousel">
					<%= render :partial => 'carousel', :collection => @carousel %>
				</ul>
			</div>
			<div class="section one places">
				<div class="title-line">
					<h3><a href="#">Места</a></h3>
					<a class="link-with-title" href="#">Все места</a>
				</div>
				<ul>
					<%= render :partial => 'places', :collection => @places %>
				</ul>
			</div>
		</div>
	</div>
	<div class="sidebar-right">
		<div id="daily-events-calendar">
			<div style="font-size:34px; left:84px; top:0px;">
				<a href="#">19</a>
			</div>
			<div style="font-size:32px; left:149px; top:25px;">
				<a href="#">20</a>
			</div>
			<div style="font-size:31px; left:186px; top:80px;">
				<a href="#" class="selected">21</a>    
			</div>
			<div style="font-size:29px; left:185px; top:143px;">
				<a href="#">22</a>    
			</div>
			<div style="font-size:28px; left:151px; top:192px;">
				<a href="#">23</a>    
			</div>
			<div style="font-size:27px; left:98px; top:211px;">
				<a href="#">24</a>    
			</div>
			<div style="font-size:25px; left:46px; top:198px;">
				<a href="#">25<sup>*</sup></a>    
			</div>
			<div style="font-size:24px; left:14px; top:160px;">
				<a href="#">26</a>    
			</div>
			<div style="font-size:22px; left:9px; top:113px;">
				<a href="#">27</a>    
			</div>
			<div style="font-size:21px; left:30px; top:75px;">
				<a href="#">28</a>    
			</div>
			<div style="font-size:20px; left:66px; top:57px;">
				<a href="#">29<sup>*</sup></a>    
			</div>
			<div style="font-size:18px; left:103px; top:63px;">
				<a href="#">30</a>    
			</div>
			<div style="font-size:17px; left:127px; top:87px;">
				<a href="#">31</a>    
			</div>
			<div style="font-size:15px; left:133px; top:117px;">
				<a href="#">1<sup>*</sup></a>    
			</div>
			<div style="font-size:14px; left:121px; top:142px;">
				<a href="#">2</a>    
			</div>
		</div>
		<div class="soon-event">
			<a href="#">
				<img src="images/shared/photo-110.jpg"/>
			</a>
			<div>
				<p class="date">03 дек., 16:00</p>
				<p><a href="#">Поздний завтрак:<br/>
				В погоне за удачей</a></p>
			</div>
		</div>
		<div class="right-banner">
			<a href="#"><img src="images/shared/banner-5.jpg"/></a>
		</div>
		<div class="section rules clearfix">
			<a href="#"><img src="images/layouts/rules.png"/></a>
			<h4><a href="#">Устав Face Gallery</a></h4>
			<p>Главный документ сообщества</p>
		</div>
		<div class="section all-go">
			<h3><a href="#">Все идут</a><b></b></h3>
			<ul class="carousel-all-go">
				<li>
					<div class="poster-date">
						<div class="day">1</div>
						<div class="day">1</div>
						<div class="mounth">февраля</div>
					</div>
					<h4><a href="#">BMW. History of winners</a></h4>
					<p>Экспозиция «History of Winners» представляет собой соединение прошлого и настоящего...</p>
				</li>
				<li>
					<div class="poster-date">
						<div class="day">1</div>
						<div class="day">2</div>
						<div class="mounth">февраля</div>
					</div>
					<h4><a href="#">BMW. History of winners</a></h4>
					<p>Экспозиция «History of Winners» представляет собой соединение прошлого и настоящего...</p>
				</li>
				<li>
					<div class="poster-date">
						<div class="day">1</div>
						<div class="day">3</div>
						<div class="mounth">февраля</div>
					</div>
					<h4><a href="#">BMW. History of winners</a></h4>
					<p>Экспозиция «History of Winners» представляет собой соединение прошлого и настоящего...</p>
				</li>
			</ul>
		</div>
	</div>
</div>