<div id="container" class="sidebar-right">
	<div class="center">
		<div class="content">
			<div class="filter-line">
				<ul class="tribune-filter">
					<li class="active"><a href="#">Все статьи</a></li>
					<li><a href="#">Популярные</a></li>
					<li><a href="#">Последние</a></li>
				</ul>
				<form method="get" class="tribune-form">
					<label>Рубрика:</label>
					<select name="">
						<option>Все рубрики</option>
						<option>Кино</option>
						<option>FGPedia</option>
						<option>How to..</option>
						<option>Арт</option>
						<option>Авто</option>
					</select>
				</form>
			</div>
			<div class="clearfix">
				<div class="section half-left">
					<%= render :partial => 'post', :locals => { :post => @main[0], :show_photo => true, :photo_size => 'big', :text_length => 160}  %>
				</div>
				<div class="section half-right">
					<div class="section half-left">
						<%= render :partial => 'post', :locals => { :post => @main[1], :show_photo => true, :text_length => 100}  %>
					</div>
					<div class="section half-right">
						<%= render :partial => 'post', :locals => { :post => @main[2], :show_photo => true, :text_length => 100}  %>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<div class="section half-left">
					<%= render :partial => 'post', :locals => { :post => @main[3], :show_photo => true, :photo_size => 'big', :text_length => 160}  %>
				</div>
				<div class="section half-right">
					<div class="section half-left">
						<%= render :partial => 'post', :locals => { :post => @main[4], :show_photo => true, :text_length => 100}  %>
					</div>
					<div class="section half-right">
						<%= render :partial => 'post', :locals => { :post => @main[5], :show_photo => true, :text_length => 100}  %>
					</div>
				</div>
			</div>
			<div class="clearfix">
				<div class="section small">
					<a href="#"><img src="images/shared/photo-11.jpg"/></a>
					<div>
						<h3><a href="#">Трек дня</a><b></b></h3>
						<h4><a href="#">Moonbeam<br/>Forever Sun</a></h4>
					</div>
				</div>
				<div class="section small">
					<a href="#"><img src="images/shared/photo-23.jpg"/></a>
					<div>
						<h3><a href="#">Видео дня</a><b></b></h3>
						<h4><a href="#">Beyoncé<br/>Dance For You</a></h4>
					</div>
				</div>
				<div class="section small">
					<a href="#"><img src="images/shared/photo-12.jpg"/></a>
					<div>
						<h3><a href="#">Осьмой глаз</a><b></b></h3>
						<h4><a href="#">Политика</a></h4>
					</div>
				</div>
				<div class="section small">
					<a href="#"><img src="images/shared/photo-13.jpg"/></a>
					<img src="images/layouts/new-purple.png" class="new-post"/>
					<div>
						<h3><a href="#">Блог</a><b></b></h3>
						<h4><a href="#">Черный ящик Лари</a></h4>
					</div>
				</div>	
			</div>
			<div class="tabs-wrap">
				<ul class="tabs">
					<li class="active"><a href="#">Thelocals.ru</a></li>
					<li><a href="#">auto.ru</a></li>
					<li><a href="#">gazeta.ru</a></li>
					<li><a href="#">geometria.ru</a></li>
					<li><a href="#">behаnce.net</a></li>
					<li><a href="#">mail.ru</a></li>
					<li><a href="#">lookatme.ru</a></li>
				</ul>	                                                                                           
				<div class="box visible">
					<div><img src="images/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="images/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="images/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
				</div>
				<div class="box">
					<div><img src="images/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="images/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="images/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
				</div>
				<div class="box">
					<div><img src="images/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="images/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="images/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
				</div>
				<div class="box">
					<div><img src="images/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="images/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="images/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
				</div>
				<div class="box">
					<div><img src="images/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="images/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="images/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
				</div>
				<div class="box">
					<div><img src="images/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="images/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="images/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
				</div>
				<div class="box">
					<div><img src="images/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="images/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="images/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
				</div>
			</div>
			<div class="section one hidden">
				<div class="title-line">
					<h3><a href="#">Поток</a><b></b></h3>
					<a href="#" class="link-with-title">Все статьи</a>
				</div>
				<ul class="stream">
					<%= render :partial => 'small_list', :collection => @stream %>
				</ul>
			</div>
			<div class="section one carousel">
				<h3><a href="#">Светская хроника</a><b></b></h3>
				<ul class="carousel">
					<%= render :partial => 'carousel', :collection => @carousel %>
				</ul>
			</div>
		</div>
	</div>
	<div class="sidebar-right">
		<div id="daily-events-calendar">
			<div style="font-size:34px; left:84px; top:0px;">
				<a href="#">19</a>
			</div>
			<div style="font-size:32px; left:149px; top:25px;">
				<a href="#">20</a>
			</div>
			<div style="font-size:31px; left:186px; top:80px;">
				<a href="#" class="selected">21</a>    
			</div>
			<div style="font-size:29px; left:185px; top:143px;">
				<a href="#">22</a>    
			</div>
			<div style="font-size:28px; left:151px; top:192px;">
				<a href="#">23</a>    
			</div>
			<div style="font-size:27px; left:98px; top:211px;">
				<a href="#">24</a>    
			</div>
			<div style="font-size:25px; left:46px; top:198px;">
				<a href="#">25<sup>*</sup></a>    
			</div>
			<div style="font-size:24px; left:14px; top:160px;">
				<a href="#">26</a>    
			</div>
			<div style="font-size:22px; left:9px; top:113px;">
				<a href="#">27</a>    
			</div>
			<div style="font-size:21px; left:30px; top:75px;">
				<a href="#">28</a>    
			</div>
			<div style="font-size:20px; left:66px; top:57px;">
				<a href="#">29<sup>*</sup></a>    
			</div>
			<div style="font-size:18px; left:103px; top:63px;">
				<a href="#">30</a>    
			</div>
			<div style="font-size:17px; left:127px; top:87px;">
				<a href="#">31</a>    
			</div>
			<div style="font-size:15px; left:133px; top:117px;">
				<a href="#">1<sup>*</sup></a>    
			</div>
			<div style="font-size:14px; left:121px; top:142px;">
				<a href="#">2</a>    
			</div>
		</div>
		<div class="soon-event">
			<a href="#">
				<img src="images/shared/photo-1.jpg"/>
			</a>
			<div>
				<p class="date">03 декабря, 16:00</p>
				<p><a href="#">Поздний завтрак:<br/>
				В погоне за удачей</a></p>
			</div>
		</div>
		<div class="right-banner">
			<a href="#"><img src="images/shared/banner-2.jpg"/></a>
		</div>
		<div class="section advice">
			<h3>Совет дня<b></b></h3>
			<p class="quote">« Если казаться не тем, кто ты есть на самом деле, можно получить не ту работу, не тех друзей и вообще не ту жизнь. »</p>
			<div><img src="images/shared/photo-9.jpg"/><b></b></div>
			<p>Конфуций</p>
		</div>
		<div class="section comment">
			<h3>Комментарии<b></b></h3>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Ты представляешь, а...</p>
				<p><a href="#" class="name">Олег Ким:</a> Учитесь быстро забывать то, что рассказали вам... <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Фото</a></h3>
				<p> / &nbsp;Андора 2011</p>
				<p><a href="#" class="name">Туров Майкл (Michail. T):</a> оFGенно какие алые губы ))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Oprah Восточной Европпы или how are you Liz</p>
				<p><a href="#" class="name">Станислав Меркулов(VN):</a> заткнитесь))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Фото</a></h3>
				<p> / &nbsp;"Stand-Up Вечер". Вечеринка</p>
				<p><a href="#" class="name">Алёна Злобина:</a> красиво скрутило)) и красиво слилась с совета... <span>23/10, 23:45 </span></p>
			</div>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Oprah Восточной Европпы или how are you Liz</p>
				<p><a href="#" class="name">Станислав Меркулов(VN):</a> заткнитесь))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Фото</a></h3>
				<p> / &nbsp;"Stand-Up Вечер". Вечеринка</p>
				<p><a href="#" class="name">Алёна Злобина:</a> красиво скрутило)) и красиво слилась с совета... <span>23/10, 23:45 </span></p>
			</div>
			<div>
				<h3><a href="#">Блог</a></h3>
				<p> / &nbsp;Oprah Восточной Европпы или how are you Liz</p>
				<p><a href="#" class="name">Станислав Меркулов(VN):</a> заткнитесь))) <span>23/10, 23:45</span></p>
			</div>
			<div>
				<h3><a href="#">Фото</a></h3>
				<p> / &nbsp;"Stand-Up Вечер". Вечеринка</p>
				<p><a href="#" class="name">Алёна Злобина:</a> красиво скрутило)) и красиво слилась с совета... <span>23/10, 23:45 </span></p>
			</div>
			<ul class="comment-nav">
				<li>
					<a class="prev" href="#"></a>
				</li>
				<li>
					<a class="next" href="#"></a>
				</li>
			</ul>
		</div>
	</div>
</div>