<h1 class="bigheader cgothic"><%= t('.authorization') %></h1>

<% form_tag session_path do -%>
<p><%= label_tag 'email' %><br />
<%= text_field_tag 'email', @email %></p>

<p><%= label_tag t('activerecord.attributes.user.password') %><br/>
<%= password_field_tag 'password', nil %></p>

<p><%= label_tag 'remember_me', t('.remember_me') %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
<p style="font-size:10px">
	<%= link_to "Забыли пароль?", forgot_password_path %>
</p>

<p><%= submit_tag t('.log_in') %></p>
<% end -%>

