<h1 class="bigheader cgothic"><%= t('footer.feedback') %></h1>
<div id="userpage-container">
<% form_for :message, FeedbackMessage.new, :url => nil, :html => {:id => 'message_form'} do |f| %>
  <p>
  <%= f.label :subject %><br/>
  <%= f.text_field :subject %></p>
  <p><%= f.label :contacts %><br/>
  <%= f.text_field :contacts %></p>
  <p><%= f.label :text %><br/>
  <%= f.text_area :text %></p>
  
  <p><%= f.submit t('send') %></p>
<% end %>
</div>
