
<div class="left">
  <% if params[:barentz_test] == '1' %>
  <h4 class="different"><a title="Barentz" href="/barentz/">BIO-экспедиция</a></h4>
  <% @barentz_articles.each do |ba| %>
  <div class="item back border">
      <%= link_to image_tag(ba.image.url(:mainpage)), barentz_article_path(ba) %>

      <div>
        <p> <%= link_to ba.title, barentz_article_path(ba), :class => "head" %></p>
      </div>
    </div>
  <% end %>
  <% end %>
  <h4 class="different"><a href="/community/" title="Community">Community</a></h4>

  <% if editors_blog %>
  <div class="item back border">
    <%= link_to image_tag(editors_blog.user.editor.photo.url(:mainpage)),  blog_path(:user_id => editors_blog.user, :id => editors_blog.id) %>

    <div>
      <p><%= link_to "Блог редакции", blog_path(:user_id => editors_blog.user, :id => editors_blog.id), :class=>'head' %></p>

      <p>«<%= link_to editors_blog.title, blog_path(:user_id => editors_blog.user, :id => editors_blog.id) %>»</p>
    </div>
  </div>
  <% end %>

  <% if best_blogger && best_blogger.latest_blog && (params[:barentz_test] != '1') %>
  <div class="item">
    <%= link_to image_tag(best_blogger.photo.url(:small)), blog_path(:user_id => best_blogger.user, :id => best_blogger.latest_blog.id) %>

    <div>
      <p><%= link_to "Лучшие блогеры:", blog_path(:user_id => best_blogger.user, :id => best_blogger.latest_blog.id), :class => 'head' %></p>

      <p><%= link_to h(best_blogger.latest_blog.title), blog_path(:user_id => best_blogger.user, :id => best_blogger.latest_blog.id) %></p>
    </div>
  </div>
  <% end %>    

  <p><a href="/community/blogs/most_commented" class="head" title="">Популярные посты</a></p>
  <% top_blogs.each do |blog| %>
  <p><%=l blog.created_at, :format => :short_date %> <%= link_to h(blog.title), blog_url(:id => blog, :user_id => blog.user.id) %>
    <%= link_to blog.user.displayname, blog.user, :class=>'set' %></p>
  <% end %>

</div>
