<div class="left">
  <h4 class="different"><a href="/magazine/" title="Magazine">Magazine</a></h4>

  <div class="item back border">
    <%= link_to image_tag(magazine_toparticle.preview.url(:mainpage)), magazine_article_url(:id=>magazine_toparticle, :magazine_section => magazine_toparticle.magazine_section) %>

    <div>
      <p><%=l magazine_toparticle.created_at, :format => :short_date %> <%= link_to magazine_toparticle.title, magazine_article_url(:id=>magazine_toparticle, :magazine_section => magazine_toparticle.magazine_section) %></p>
    </div>
  </div>
  <div class="item back border">
    <%= link_to image_tag(magazine_interview.interview_photo.url(:mainpage)), magazine_interview_url(:id=>magazine_interview) %>

    <div>
      <p><%=l magazine_interview.created_at, :format => :short_date %> <%= link_to magazine_interview.name, magazine_interview_url(:id=>magazine_interview) %>:<br/><%= link_to magazine_interview.quote, magazine_interview_url(:id=>magazine_interview) %>
      </p>
    </div>
  </div>
  <% articles.each do |article| %>
  <p><%= link_to article.magazine_section.name + ":", magazine_section_url(article.magazine_section), :class => "head" %> <%= link_to article.title, magazine_article_url(:id=>article, :magazine_section => article.magazine_section) %></p>
  <% end %>

</div>