<div class="left">
  <h4 class="different"><a href="#" title="FG Music">FG Music</a></h4>

  <div class="item back border">
    <img src="./img/photo-8.jpg" alt=""/>

    <div>
      <p><a href="#" class="head" title="">Последний микс</a></p>

      <p>Мито Мелитонян</p>

      <p><a class="music" href="#" title="">Spase Disco</a></p>
    </div>
  </div>
  <div id="users">
    <div class="first">
      <img src="./img/avatar-1.jpg" alt=""/>

      <p>Стас<br/>Демидёнок</p>
      <h6><a href="#" title="">Psy Trance</a></h6>
    </div>
    <div>
      <img src="./img/avatar-2.jpg" alt=""/>

      <p>Егор<br/>Желудев</p>
      <h6><a href="#" title="">IDM</a></h6>
    </div>
    <div>
      <img src="./img/avatar-3.jpg" alt=""/>

      <p>Константин Сычев</p>
      <h6><a href="#" title="">Minimal</a></h6>
    </div>
  </div>
  <ul class="list">
    <li><a href="#" title="">Funk</a></li>
    <li><a href="#" title="">Techno</a></li>
    <li><a href="#" title="">House</a></li>
    <li><a href="#" title="">Minimal Techno</a></li>
    <li><a href="#" title="">Breaks</a></li>
    <li><a href="#" title="">Chill</a></li>
    <li><a href="#" title="">Lounge</a></li>
    <li><a href="#" title="">Jazz</a></li>
    <li><a href="#" title="">Electro</a></li>
  </ul>
</div>