<div class="left">
  <h4 class="different"><a href="/fgc/news/" title="Новости FG">Новости FG</a></h4>
  <!--<div class="item back border" style="background: none repeat scroll 0pt 0pt rgb(116, 82, 185); color: white;">
    <a href="/contest_quotes"><img alt="" src="/img/citati.jpg" /></a>
    <div>
      <p></p>
<h4 style="line-height: 144%; padding-top: 1px; text-decoration: none;"><a style="color: white; text-decoration: none;" href="/contest_quotes" class="head">Цитата недели</a></h4>
    </div>
  </div>-->

  <% news.each_with_index do |item, index| %>

  <% if index < 2 %>
  <div class="item back border">
    <%= link_to image_tag(item.image.url(:mainpage)),  url_for(:controller => 'fgc/news', :action => 'show', :id => item.id) %>
    <div>
      <p><%=l item.created_at, :format => :short_date %> <%= link_to item.title, url_for(:controller => 'fgc/news', :action => 'show', :id => item.id) %></p>
    </div>
  </div>
  <% else %>
  <p><%=l item.created_at, :format => :short_date %> <%= link_to item.title, url_for(:controller => 'fgc/news', :action => 'show', :id => item.id) %></p>
  <% end %>
  <% end %>
</div>
