<div class="left">
  <h4 class="different">Мероприятия</h4>
  <p><a href="/fgc/events" class="head" title="">Скоро:</a></p>
  <% events.each do |event| %>
  <p><%=l event.date, :format => :short_date %> <%= link_to event.name, daily_event_url(:id => event.id) %></p>
  <% end %>
  <br>
  <p><a href="/magazine/reports" class="head" title="">Светская хроника:</a></p>
  <% reports.each_with_index do |report, index| %>
  <div class="item back">
    <%= link_to image_tag(report.picture.url(:mainpage)), report_url(report) %>

    <div>
      <% if index == 0 and false %>
      <div class="prev-next">

      </div>
      <% end %>
      <p><%= link_to report.name, report_url(report) %></p>
    </div>
  </div>
  <% end %>
</div>