<li>
	<div class="section-info">
		<p class="comment"><%= post_list.root_comments.length %></p>
		<%= render :partial => 'widgets/date_clock', :locals => { :date => post_list.created_at }  %>
	</div>
	<div class="section-content">
		<h4><%= link_to post_list.title, post_path(:id => post_list, :post_section => post_list.post_section) %></h4>
		<p><%= shorten_text(post_list.text, 250) %> 
		<% if post_list.user %>
			<%= link_to post_list.user.displayname, user_path(post_list.user), :class => 'name' %>
		<% end %>
		</p>
	</div>
</li>