<div class="section <%= position %> interview">
	<h3><a href="#">Интервью</a><b></b></h3>
	<div class="section-info">
		<p class="comment"><%= bio.root_comments.length %></p>
		<%= render :partial => 'widgets/date_clock', :locals => { :date => bio.created_at }  %>
	</div>
	<div class="section-content">
		<%= image_tag(bio.photo.url(:small), :class => 'big-face', :style => "height:290px;width:170px") %>
		<div>
			<h4><%= link_to bio.displayname, bio_path(:id => bio, :bio_category => bio.bio_category) %></h4>
			<h3><%= bio.bio_category.name %></h3>
			<p class="quote">«<%= shorten_text(bio.quote, 165) %>»</p>
			<% if bio.author %>
				<%= link_to bio.author.displayname, user_path(bio.author), :class => 'name' %>
			<% end %>
		</div>
	</div>
</div>