<div class="section <%= position %> tribune">
	<h3><a href="#">Трибуна</a><b></b></h3>
	<div class="section-info">
		<p class="comment">34</p>
		<p>19/12</p>
		<ul class="clock" data-hour="14" data-min="20">
			<li class="hour"></li>
			<li class="min"></li>
		</ul>
	</div>
	<div class="section-content">
		<div class="slideshow-wrap">
			<div class="slideshow">
				<%= render :partial => 'tribune_list', :collection => tribune %>
			</div>
			<div class="slideshow-nav"></div>
		</div>
	</div>
</div>