<div id="container" class="sidebar-right">
	<div class="center">
		<div class="content">
			<div class="clearfix">
				<%= render :partial => 'section_bio', :locals => { :position => 'half-left', :bio => @bio }  %>
				<%= render :partial => 'section_tribune', :locals => { :position => 'half-right', :tribune => @tribune }  %>
			</div>
			<div class="clearfix">
				<div class="section small">
					<a href="#"><img src="/i/shared/photo-11.jpg"/></a>
					<div>
						<h3><a href="#">Трек дня</a><b></b></h3>
						<h4><a href="#">Moonbeam<br/>Forever Sun</a></h4>
					</div>
				</div>
				<div class="section small">
					<a href="#"><img src="/i/shared/photo-2.jpg"/></a>
					<div>
						<h3><a href="#">Видео дня</a><b></b></h3>
						<h4><a href="#">Beyoncé<br/>Dance For You</a></h4>
					</div>
				</div>
				<div class="section small">
					<a href="#"><img src="/i/shared/photo-12.jpg"/></a>
					<div>
						<h3><a href="#">FGPEDIA</a><b></b></h3>
						<h4><a href="#">Флешмоб — ...</a></h4>
					</div>
				</div>
				<div class="section small">
					<a href="#"><img src="/i/shared/photo-13.jpg"/></a>
					<img src="/i/layouts/new-post.png" class="new-post"/>
					<div>
						<h3><a href="#">Блог</a><b></b></h3>
						<h4><a href="#">Черный ящик Лари</a></h4>
					</div>
				</div>	
			</div>
			<div class="clearfix">
				<%= render :partial => 'section_competition', :locals => { :position => 'half-left', :post => @competition }  %>
				<%= render :partial => 'section_post_list', :locals => { :position => 'half-right', :posts => @posts }  %>
			</div>
			<div class="tabs-wrap">
				<ul class="tabs">
					<li class="active"><a href="#">Thelocals.ru</a></li>
					<li><a href="#">auto.ru</a></li>
					<li><a href="#">gazeta.ru</a></li>
					<li><a href="#">geometria.ru</a></li>
					<li><a href="#">behаnce.net</a></li>
					<li><a href="#">mail.ru</a></li>
					<li><a href="#">lookatme.ru</a></li>
				</ul>
				<div class="box visible">
					<div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
				</div>
				<div class="box">
					<div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
				</div>
				<div class="box">
					<div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
				</div>
				<div class="box">
					<div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
				</div>
				<div class="box">
					<div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
				</div>
				<div class="box">
					<div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
					<div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
				</div>
				<div class="box">
					<div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
					<div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
					<div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar-right">
		<div id="daily-events-calendar">
			<div style="font-size:34px; left:84px; top:0px;">
				<a href="#">19</a>
			</div>
			<div style="font-size:32px; left:149px; top:25px;">
				<a href="#">20</a>
			</div>
			<div style="font-size:31px; left:186px; top:80px;">
				<a href="#" class="selected">21</a>    
			</div>
			<div style="font-size:29px; left:185px; top:143px;">
				<a href="#">22</a>    
			</div>
			<div style="font-size:28px; left:151px; top:192px;">
				<a href="#">23</a>    
			</div>
			<div style="font-size:27px; left:98px; top:211px;">
				<a href="#">24</a>    
			</div>
			<div style="font-size:25px; left:46px; top:198px;">
				<a href="#">25<sup>*</sup></a>    
			</div>
			<div style="font-size:24px; left:14px; top:160px;">
				<a href="#">26</a>    
			</div>
			<div style="font-size:22px; left:9px; top:113px;">
				<a href="#">27</a>    
			</div>
			<div style="font-size:21px; left:30px; top:75px;">
				<a href="#">28</a>    
			</div>
			<div style="font-size:20px; left:66px; top:57px;">
				<a href="#">29<sup>*</sup></a>    
			</div>
			<div style="font-size:18px; left:103px; top:63px;">
				<a href="#">30</a>    
			</div>
			<div style="font-size:17px; left:127px; top:87px;">
				<a href="#">31</a>    
			</div>
			<div style="font-size:15px; left:133px; top:117px;">
				<a href="#">1<sup>*</sup></a>    
			</div>
			<div style="font-size:14px; left:121px; top:142px;">
				<a href="#">2</a>    
			</div>
		</div>
		<div class="soon-event">
			<a href="#">
				<img src="/i/shared/photo-1.jpg"/>
			</a>
			<div>
				<p class="date">03 декабря, 16:00</p>
				<p><a href="#">Поздний завтрак:<br/>
				В погоне за удачей</a></p>
			</div>
		</div>
		<div class="right-banner"></div>
		<script type="text/javascript" language=javascript>
			new adriver ("rightbanner", {sid:133467, bt:52, pz:2, bn:2 })
		</script>
		<div class="section advice">
			<h3>Совет дня<b></b></h3>
			<p class="quote">« Если казаться не тем, кто ты есть на самом деле, можно получить не ту работу, не тех друзей и вообще не ту жизнь. »</p>
			<div><img src="/i/shared/photo-9.jpg"/><b></b></div>
			<p>Конфуций</p>
		</div>
	</div>
</div>
<div class="clear"></div>