  <div id="header">
    <div class="right">
      <%= render :partial => 'layouts/daily_event_calendar' %>
    </div>
    <div class="left">
    <div id="logo" class="logo-mainpage">
    <a class="variant-second" href="/" title="Face Gallery">Face Gallery</a>
    </div>
    <div class="main-menu">
      <ul>
        <li><a href="/facegallery/" title="<%= t('mainmenu_titles.bio')%>">BIO</a></li>
        <li><a href="/fgc/" title="<%= t('mainmenu_titles.fgc')%>">FG Life</a></li>
        <li><a href="/magazine/" title="<%= t('mainmenu_titles.magazine')%>">Magazine</a></li>
        <li><a href="/placegallery/daily_events" title="Самые интересные мероприятия ближайших дней">Афиша дня</a></li>
        <li><a href="/community/" title="<%= t('mainmenu_titles.community')%>">Community</a></li>
      </ul>

    </div>
    </div>
    <%= render :partial => 'community', :locals => { :top_blogs => @top_blogs, :editors_blog => @editors_blog, :best_blogger => @best_blogger } %>
    <%= render :partial => 'news', :locals => { :news => @news } %>
  </div>

  <% if params[:lexus_test] && false %>
  <script>
  function showBioTooltip(displayname, occupation, quote)
  {
    $('#btname').text( displayname );
    $('#btoccupation').text( occupation );
    $('#btquote').html( "&laquo;" + quote + "&raquo;");
    $('#biotooltip').show();
  }
  
  function hideBioTooltip()
  {
      $('#biotooltip').hide();
  }
  $(document).ready(function()
  {
    $('#lexus_container').mouseout(function(event) {
      $('#biotooltip').hide();
    });
    $('#lexus_container').mousemove(function(event) {
        var left = event.pageX+15;
        if (left > $(window).width() - 15 - 223) left = $(window).width() - 15 - 223;
        $('#biotooltip').css( "left", left + "px" );
        $('#biotooltip').css( "top", event.pageY-15-223 + "px" );
    });
      $('#lexus_container').flash({ src: 'preloader.swf?1',version: 10, width:'100%', height:600, wmode: 'transparent', allowscriptaccess: 'always' }, {  });
      
  });
  </script>
<a name="lexus" />
<div style="height:600px;width:1000px;margin:0 auto;position:relative">
<div id="lexus_container"></div>
<div style="position:absolute;right:220px;bottom:37px;">
<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacegallery.ru%2F&amp;layout=button_count&amp;show_faces=false&amp;width=150&amp;action=like&amp;font&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:25px;" allowTransparency="true"></iframe>
</div>
</div>
  <% else %>
  <div id="bio-scroll-container">
  <div id="bios1" class="bioscroll">
      <div class="scrollingHotSpotLeft"></div>
      <div class="scrollingHotSpotRight"></div>
      <div class="scrollWrapper">
          <div class="scrollableArea">
              <% @bios0.each_with_index do |b, index| %>
                <%= link_to image_tag(b.photo.url(:thumb180)), bio_path(:id => b, :bio_category => b.bio_category), :displayname => b.displayname || "", :occupation => b.occupation || "", :quote => b.quote || "" %>
              <% end %>
              <% @birthday_bios.each_with_index do |b, index| %>
                <div class="bio-hb-container">
                <% link_to bio_path(:id => b, :bio_category => b.bio_category), :displayname => b.displayname || "", :occupation => b.occupation || "", :quote => b.quote || "" do %>
                  <%= image_tag(b.photo.url(:thumb180)) %>
                  <% if b.gender == 'f' %>
                  <div class="bio-hb-icon bio-hb-icon-f"></div>
                  <% else %>
                  <div class="bio-hb-icon"></div>
                  <% end %>
                <% end %>
                </div>
              <% end %>
              <% @bios1.each_with_index do |b, index| %>
                <%= link_to image_tag(b.photo.url(:thumb180), :id => (index == 0 ? "startAtMe1" : "")), bio_path(:id => b, :bio_category => b.bio_category), :displayname => b.displayname || "", :occupation => b.occupation || "", :quote => b.quote || "" %>
              <% end %>
          </div>
      </div>

  </div>
  <div id="bios2" class="bioscroll">
      <div class="scrollingHotSpotLeft"></div>
      <div class="scrollingHotSpotRight"></div>
      <div class="scrollWrapper">
          <div class="scrollableArea">
              <% @bios2.each_with_index do |b, index| %>
                <%= link_to image_tag(b.photo.url(:thumb150), :id => (index == 6 ? "startAtMe2" : "")), bio_path(:id => b, :bio_category => b.bio_category), :displayname => b.displayname || "", :occupation => b.occupation || "", :quote => b.quote || ""  %>
              <% end %>
          </div>
      </div>
  </div>
  <div id="bios3" class="bioscroll">
      <div class="scrollingHotSpotLeft"></div>
      <div class="scrollingHotSpotRight"></div>
      <div class="scrollWrapper">
          <div class="scrollableArea">
              <% @bios3.each_with_index do |b, index| %>
                <%= link_to image_tag(b.photo.url(:thumbnail), :id => (index == 9 ? "startAtMe3" : "")), bio_path(:id => b, :bio_category => b.bio_category), :displayname => b.displayname || "", :occupation => b.occupation || "", :quote => b.quote || "" %>
              <% end %>
          </div>
      </div>
  </div>
  </div>
  <script>
      $(function() {
          $("div#bios1").smoothDivScroll({scrollingSpeed: 12, mouseDownSpeedBooster: 3, hotSpotsVisibleTime: 9, startAtElementId: "startAtMe1"});
          $("div#bios2").smoothDivScroll({scrollingSpeed: 12, mouseDownSpeedBooster: 3,  hotSpotsVisibleTime: 9, startAtElementId: "startAtMe2"});
          $("div#bios3").smoothDivScroll({scrollingSpeed: 12, mouseDownSpeedBooster: 3,  hotSpotsVisibleTime: 9, startAtElementId: "startAtMe3"});
      });

  </script>
  <div style="height:472px;"></div>
  <% end %>

  
  <div id="footer">
    <div class="right">
    <div id="rightbanner">
    </div>
    <script type="text/javascript" language=javascript>
		new adriver ("rightbanner", {sid:133467, bt:52, pz:2, bn:2 })
	</script>
    </div>
    <%= render :partial => 'magazine', :locals => { :articles => @magazine_articles, :magazine_toparticle => @magazine_toparticle, :magazine_interview => @magazine_interview } %>

    <div class="left">
  <h4 class="different">&nbsp;</h4>
  
  <% if @more_magazine_articles %>
  <div class="item back border">
    <%= link_to image_tag(@more_magazine_articles[0].preview.url(:mainpage)), magazine_article_url(:id=>@more_magazine_articles[0], :magazine_section => @more_magazine_articles[0].magazine_section) %>

    <div>
      <p><%=l @more_magazine_articles[0].created_at, :format => :short_date %> <%= link_to @more_magazine_articles[0].title, magazine_article_url(:id=>@more_magazine_articles[0], :magazine_section => @more_magazine_articles[0].magazine_section) %></p>
    </div>
  </div>
  <div class="item back border">
    <%= link_to image_tag(@more_magazine_articles[1].preview.url(:mainpage)), magazine_article_url(:id=>@more_magazine_articles[1], :magazine_section => @more_magazine_articles[1].magazine_section) %>

    <div>
      <p><%=l @more_magazine_articles[1].created_at, :format => :short_date %> <%= link_to @more_magazine_articles[1].title, magazine_article_url(:id=>@more_magazine_articles[1], :magazine_section => @more_magazine_articles[1].magazine_section) %></p>
    </div>
  </div>

  <% @more_magazine_articles[2..7].each do |article| %>
  <p><%= link_to article.magazine_section.name + ":", magazine_section_url(article.magazine_section), :class => "head" %> <%= link_to article.title, magazine_article_url(:id=>article, :magazine_section => article.magazine_section) %></p>
  <% end %>

  </div>
  <% end %>
  
    <%= render :partial => 'place_gallery', :locals => { :events => @events, :reports => @reports } %>
    <% render :partial => 'music' %>
  </div>
