<div class="section <%= position %> competition">
	<h3><a href="#">Конкурс</a><b></b></h3>
	<div class="section-info">
		<p class="comment"><%= post.root_comments.length %></p>
		<%= render :partial => 'widgets/date_clock', :locals => { :date => post.created_at }  %>
	</div>
	<div class="section-content">
		<a href="#"><img src="/i/shared/photo-10.jpg"/></a>
		<h4><%= link_to post.title, post_path(:id => post, :post_section => post.post_section) %></h4>
		<p><%= shorten_text(post.text, 250) %> 
		<% if post.user %>
			<%= link_to post.user.displayname, user_path(post.user), :class => 'name' %>
		<% end %>
	</p>
	</div>
</div>