<span id="vote_<%= object.class.to_s.downcase %>_<%= object.id%>">
<%= link_to_remote "&darr;", :url => {:controller => '/votes', :action => :new}, :html => {:class => 'rating-arrow', :title => 'Проголосовать против'}, :with => "'voteable_type=#{object.class}&voteable_id=#{object.id}&vote=0'" %>
  <span class="rate"><%= object.votes_for - object.votes_against %></span>
<%= link_to_remote "&uarr;", :url => {:controller => '/votes', :action => :new}, :html => {:class => 'rating-arrow', :title => 'Проголосовать за'}, :with => "'voteable_type=#{object.class}&voteable_id=#{object.id}&vote=1'" %>

</span>