<% content_for :left do %>
<div class="categories">
  <h2>РУБРИКАТОР</h2>
  <ul class="menu">
    <% BarentzCategory.visible.all.each do |c| %>
    <li>
    <% if c.urlname == params[:category] %>
    <span><%= c.title %></span>
    <% else %>
    <%= link_to c.title, url_for(:controller => 'barentz', :action => :index, :category => c.urlname)%>
    <% end %>
    </li>
    <% end %>
  </ul>
</div>
<p>
<a href="http://www.severnash.ru/" target="_blank"><img src="/img/sever-nash_logo_1.jpg"></a>
</p>
<br>
<p><center>
	<a href="http://eu.thenorthface.com/" target="_blank"><img src="/img/tnflogo.png"></a></center></p>

<p><center>
<a href="http://domebar.blogspot.com/" target="_blank"><img src="/img/domebanner.jpg"></a>
</center></p>
<p><center>
<a href="http://www.national-geographic.ru/" target="_blank"><img src="/img/NG_logo.jpg"></a>
</center></p>
<% if false %>
<div class="search-ne">
  <input type="text" value="поиск по разделу" />
</div>
<% end %>
<% end %>
<% content_for :frame_class, 'ne' %>
<% content_for :right do %>
    <% members = [{:name => 'Д.Ф. Кравченко', :role => 'Руководитель экспедиции', :info => 'г.р. 1938, истфак МГУ им. М.В.Ломоносова, штурман дальнего плавания, историк, действительный член РГО, вице-президент Ассоциации путешественников, руководитель Арктической комплексной историко-географической экспедиции (АКИЭ ГО) с 1977 года (момента ее организации).'},
                  {:name => 'С.П. Тарасов', :role => 'Руководитель поисковой группы', :info => 'г.р 1957, зам.руководителя экспед., д.т.н., профессор, зав.каф. Гидроакустики Таганрогского радиотехнического института'},
                  {:name => 'А.М. Протопопов', :role => 'Геофизик', :info => 'г.р. 1981, геологический фак-т МГУ, НТФ «Гидромастер», геофизик ведущий инженер'},
                  {:name => 'А.Н. Бураков', :role => 'Руководитель водолазных работ', :info => 'Водолаз 1 класса, инструктор Воронежской водолазной школы '},
                  {:name => 'Я.Б. Богатых', :role => 'Водолаз 1 класса', :info => 'Инструктор Воронежской водолазной школы '},
                  {:name => 'В.Н. Комаров', :role => 'Водолаз 1 класса', :info => 'Инструктор Воронежской водолазной школы '},
                  {:name => 'С.С. Камышенко', :role => 'Водолаз 1 класса', :info => 'Инструктор Воронежской водолазной школы '},
                  {:name => 'П.Н. Зобов', :role => 'Водолаз 1 класса', :info => 'Инструктор Воронежской водолазной школы '},
                  {:name => 'В.В. Тяпков', :role => 'Водолаз 3 класса', :info => 'Инструктор Воронежской водолазной школы '},
                  {:name => 'С.Л. Покровский', :role => 'Руководитель видео-фото группы', :info => 'г.р.1939, режиссер 1-го Образовательного телеканала Современной гуманитарной академии'},
                  {:name => 'Д.П. Потапов', :role => 'Видео- и фото-оператор', :info => 'г.р.1966, МАИ, видео-оператор 1-го Образовательного телеканала Современной гуманитарной академии'},
                  {:name => 'К.М. Иванов', :role => 'Подводный видео-оператор', :info => 'г.р.1973, МАИ, оператор Центрального бюро информации Министерства природных ресурсов РФ'},
                  {:name => 'В.Н. Стогний', :role => 'Механик–моторист', :info => 'г.р.1975, ЛКИ, механик Арктической нефте-газовой разведочной экспедиции (АНГРЭ), Мурманск'},
                  {:name => 'С.В. Ковалевская', :role => 'Координатор', :info => 'г.р.1962, факультет  журналистики  МГУ'},]%>
    <h2>СОСТАВ&nbsp;ЭКСПЕДИЦИИ</h2>
    <style>
    div.member_desc{
      position:absolute;
      margin-top:5px;
      width:230px;
      padding:10px 5px;
      display:none;
      font-size:12px;
      background: white;
      border-bottom:1px solid black;
    }
    </style>
    <script>
    $(function(){
      $('ul.expedition li').mouseover(function(){
        $(this).find('div.member_desc').show();
      });
      $('ul.expedition li').mouseout(function(){
        $(this).find('div.member_desc').hide();
      });
    });
    </script>
    <ul class="expedition">
      <% members.each do |m| %>
      <li>
        <div>
          <p><%= m[:name] %></p>
          <span><%= m[:role] %></span>
        </div>
        <% if m[:info] && !m[:info].empty? %>
        <div class="member_desc">
          <%= m[:info] %>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>

<% end %>
