<%= render :partial => 'category_menu' %>
<% content_for :head do %>
<%= stylesheet_link_tag 'barentz' %>
<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?11" charset="windows-1251"></script>
<% end %>
<div class="ne with-icon">
	<h1 class="unique"><%= link_to_if (params[:category] && !params[:category].empty?), 'BIO ЭКСПЕДИЦИЯ', '/barentz', :style => 'color:black' %></h1>
  <div class="with-borders">
    <div class="inner">
<% if !params[:page] || params[:page] == '1' %>
            <p style="padding:15px">Раздел "BIO-экспедиция" посвящен событию мирового масштаба, которое состоится в сентябре 2011 года. На архипелаге Новая Земля на дне Карского моря начнутся работы по поиску останков каравеллы, на которой в 1596 году голландская экспедиция под руководством Виллема Баренца пыталась пройти Северным морским путём из Европы в Индию. Руководитель экспедиции - наш BIO-пользователь <a href="/facegallery/science/937-dmitriy-kravchenko">Дмитрий Федорович Кравченко</a>.
</p>
<% end %>
      <% @articles.each do |article| %>
      <div class="element">
        <h2><%= link_to article.title.upcase, barentz_article_path(article) %></h2>
        <div class="serv-line">
          <span class="date"><%=l article.created_at, :format => :short %></span>
          <%= link_to article.comments.count, barentz_article_path(article, :anchor => 'comments') %>
        </div>
       <%= link_to image_tag(article.image.url(:thumbnail)), barentz_article_path(article) %>
        <p><%= article.description %></p>
        <% if false %>
        <div class="icons">
          <script type="text/javascript"><!--
          document.write(VK.Share.button(false,{type: "button", text: "Сохранить"}));
          --></script>
          <a class="facebook" href="#">Facebook</a>
          <div class="sum">
            <a href="#">15</a>
            <b></b>
          </div>
        </div>
        <% end %>
        <i></i>
      </div>
      <% end %>
      
    </div>
  </div>
  <div class="pages" style="display:none">
    <span class="cross prev" href="#">ПРЕДЫДУЩАЯ</span>
    <a class="cross next" href="#">СЛЕДУЮЩАЯ</a>
    <div class="center">
      <a href="#">1</a>
      <a href="#">2</a>
      <span>3</span>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">...</a>
      <a href="#">25</a>
    </div>
  </div>
  <%= will_paginate @articles %>
</div>
