<%= render :partial => 'category_menu' %>
<% content_for :head do %>
<%= stylesheet_link_tag 'barentz' %>
<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?11" charset="windows-1251"></script>
<% end %>

<div class="ne">
  <h1><%= @article.title %></h1>
  <div class="with-borders">
    <div class="inner">
      <%= image_tag @article.image.url %>
    </div>
  </div>
  <div class="all">
    <div style="width:380px;margin:0 auto">

<div style="float:left;width:150px">
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=202486399801179&amp;xfbml=1"></script><fb:like  send="true" layout="button_count" width="100" show_faces="false" colorscheme="dark" font=""></fb:like>
</div>
<div style="float:left;width:130px">
<script type="text/javascript"><!--
document.write(VK.Share.button(false,{type: "button", text: "Сохранить"}));
--></script>
</div>
<div style="float:left;width:100px">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>


    </div>
  </div>
  <%= barentz_parse_codes(simple_format(@article.text), @article.barentz_images)%>
  </div>
  
<%= render :partial => 'comments/comments', :locals => { :object => @article }  %>

  <script type="text/javascript">
	$(document).ready(function() {
		$(".magazine-pic-link").fancybox();
	});
</script>
