<div class="report">
      <%= link_to image_tag(event_big.picture.url(:small)),  event_path({ :action => "show", :id => event_big.id }) %>
      <h3><%= link_to event_big.name,  event_path({ :action => "show", :id => event_big.id }) %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if event_big.fgc == true %></h3>
      <p class="date"><%= l(event_big.date, :format => :short) %>
      <% if event_big.place && event_big.place.fgc %>
      / <%= link_to event_big.place.name, place_path(:id => event_big.place, :place_category => event_big.place.place_category) %>
      <% end %>
      </p>

      <%= simple_format(shorten_text(event_big.text)) %>
</div>
