<div class="report-list">
  <%= link_to image_tag(event_list.picture.url(:small)),  event_path({ :action => "show", :id => event_list.id }) %>
  <p><span class="time"><%= l(event_list.date, :format => :short) %> </span><%= link_to event_list.name,  event_path({ :action => "show", :id => event_list.id }), :class => 'text' %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if event_list.fgc == true %></p>
</div>