<%= render :partial => 'fgc/fgc_menu' %>

<h2>Афиша</h2>
<%= render :partial => 'event_big', :locals => { :event_big => @top_event} unless params[:page].to_i > 1 %>
<div class="placegallery-list">
<%= render :partial => 'event_list', :collection => @events %>
</div>
<%= will_paginate @events %>
