<%= render :partial => 'fgc/fgc_menu' %>
<h2><%= link_to "Афиша FGC", url_for(:controller => '/fgc', :action => 'events') %></h2>
<div class="report">
      <%= image_tag(@event.picture.url(:small)) %>
      <h3><%= @event.name %>&nbsp;<%= image_tag "/img/place-FGC.gif", :class => 'fgc-icon', :alt => 'FGC' if @event.fgc == true %></h3>
      <p class="date"><%= l(@event.date, :format => :short) %>
      <% if @event.place and @event.place.fgc %>
      / <%= link_to @event.place.name, place_path(:id => @event.place, :place_category => @event.place.place_category) %>
      <% end %>
      </p>

      <%= @event.long_text ? simple_format(@event.long_text) : simple_format(@event.text) %>
</div>
