<% unless logged_in? %>
    <div id="popap-enter">
      <div class="popap-back">
        <div class="enter-wrap">
          <a class="close" href="#"></a>
          <% form_tag session_path, :id => 'enter' do -%>
              <%= text_field_tag 'email', '',  :class => 'login', :placeholder => 'E-mail' %>
              <%= password_field_tag 'password', '', :class => 'password', :placeholder => 'Пароль' %>
              <div class="bottom-line">
                <%= submit_tag 'Войти', :class => 'enter-btn no-active', :disabled => '1' %>
                <input type="checkbox" name="remember_me" value="1" class="checkbox"/>
                <label>Запомнить</label>

                <a href="#">Забыли пароль?</a>
              </div>
          <% end %>
          <% form_tag forgot_password_path, :id => 'remember' do -%>
            <%= text_field_tag 'email', '',  :class => 'login', :placeholder => 'E-mail, указанный при регистрации' %>
            <%= submit_tag 'Выслать пароль', :class => 'passwd-btn no-active', :disabled => '1' %>
            <p class="notice">На указанный e-mail будет выслано письмо с вашими данными.</p>
          <% end %>
        </div>
      </div>
    </div>
<% end %>