<% unless logged_in? %>
    <ul class="enter-menu">
      <li><a href="#"><span>Войти<b></b></span></a></li>
      <li><a href="/registration"><span>Регистрация<b></b></span></a></li>
    </ul>
<% else %>
    <ul class="top-menu">
      <li>
        <a href="#" class="dropdown"><span>Мой BIO<b></b></span></a>
        <div class="dropdown-menu my-bio">
          <div class="bio-name">
            <a href="#"><img src="images/shared/photo-6.jpg"/></a>
            <div>
              <a href="#">Ларрри фон<br/>Дрихтельбахер</a>
            </div>
          </div>
          <table>
            <tr><td><a href="#">Профиль</a></td><td>&nbsp;</td></tr>
            <tr><td>Интервью</td><td><a href="#">Хочу</a></td></tr>
            <tr><td><a href="#">Портфолио</a></td><td><a href="#">Добавить</a></td></tr>
            <tr><td><a href="#">Друзья</a></td><td>&nbsp;</td></tr>
            <tr><td><a href="#">Сообщения</a></td><td>&nbsp;</td></tr>
            <tr><td><a href="#">Блог</a></td><td>&nbsp;</td></tr>
            <tr><td><a href="#">Фотоальбомы</a></td><td>&nbsp;</td></tr>
            <tr><td>Объявления</td><td><a href="#">Добавить</a></td></tr>
          </table>
          <ul>
            <li class="settings"><a href="#">Настройки</a></li>
            <li class="logout"><a href="<%= logout_path %>">Выход</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <ul class="top-menu-small">
      <li class="mail">
        <a href="#" class="dropdown"></a>
        <div class="dropdown-menu">
          <ul>
            <li>
              <img src="images/shared/photo-89.jpg"/>
              <div>
                <a href="#" class="name">Анастасия Вьюхина</a>
                <p>Привет, полетим на ГОА?</p>
                <p class="date">07-10, 23:12</p>
              </div>
            </li>
            <li>
              <img src="images/shared/photo-165.jpg"/>
              <div>
                <a href="#" class="name">Анна Лука</a>
                <p>Сайт готов?</p>
                <p class="date">07-10, 23:12</p>
              </div>
            </li>
            <li>
              <img src="images/shared/photo-166.jpg"/>
              <div>
                <a href="#" class="name">Станислав Демидёнок</a>
                <p>ты просто не знакома с ...</p>
                <p class="date">07-10, 23:12</p>
              </div>
            </li>
            <li>
              <img src="images/shared/photo-167.jpg"/>
              <div>
                <a href="#" class="name">Ольга Буянова</a>
                <p>Отдохнули — шикарно!</p>
                <p class="date">07-10, 23:12</p>
              </div>
            </li>
          </ul>
          <a href="#" class="write">Написать</a>
          <a href="#" class="all">Все сообщения</a>
        </div>
      </li>
      <li class="friends">
        <a href="#" class="dropdown"></a>
        <div class="dropdown-menu">
          <ul>
            <li>
              <p><a href="#" class="name">Анастасия Вьюхина</a> хочет стать вашим другом. <a href="#">Добавить</a></p>
              <p class="date">07-10, 23:12</p>
            </li>
            <li>
              <p><a href="#" class="name">Анна Лука</a> подтвердила, что вы ее друг.</p>
              <p class="date">07-10, 23:12</p>
            </li>
            <li>
              <p><a href="#" class="name">Станислав Демидёнок</a> хочет стать вашим другом. <a href="#">Добавить</a></p>
              <p class="date">07-10, 23:12</p>
            </li>
            <li>
              <p><a href="#" class="name">Ольга Буянова</a> подтвердила, что вы ее друг.</p>
              <p class="date">07-10, 23:12</p>
            </li>
          </ul>
          <a href="#" class="all">Все друзья</a>
        </div>
      </li>
      <li class="comment">
        <a href="#" class="dropdown"></a>
        <div class="dropdown-menu">
          <ul>
            <li>
              <p><a href="#" class="name">Анастасия Вьюхина</a> празднует сегодня день рождения.</p>
              <p class="date">07-10, 23:12</p>
            </li>
            <li>
              <p><a href="#" class="name">Анна Лука</a> идет на Выставку современного дизайна во...</p>
              <p class="date">07-10, 23:12</p>
            </li>
            <li>
              <p><a href="#" class="name">Станислав Демидёнок</a> прокоментировал ваше фото</p>
              <p class="date">07-10, 23:12</p>
            </li>
            <li>
              <p><a href="#" class="name">Ольга Буянова</a> ответила вам в комментариях к блогу.</p>
              <p class="date">07-10, 23:12</p>
            </li>
          </ul>
          <a href="#" class="all">Все оповещения</a>
        </div>
      </li>
    </ul>
<% end %>