<div class="center">
  <div class="content">
    <div class="profile-edit">
      <p class="create-profile">Создание профайла</p>
      <form method="post">
        <div class="profile-info">
          <img src="/i/layouts/none-profile-photo.png"/>
          <div>
            <h2 class="last-name"><a href="#">Введите имя</a></h1>
              <textarea class="resize-last-name" name=""></textarea>
              <h2 class="first-name"><a href="#">Введите фамилию</a></h1>
                <textarea class="resize-first-name" name=""></textarea>
          </div>
        </div>
        <div class="section one profile-main">
          <div class="load avatar">
            <div class="input-load">
              <a href="#">Загрузить фото</a>
              <input type="file" name="" class="load"/>
            </div>
          </div>
          <div class="section-content">
            <dl>
              <dt><label>День рождения:</label></dt>
              <dd>
                <select name="">
                  <option value="">День</option>
                </select>
                <select name="">
                  <option value="">Месяц</option>
                </select>
                <select name="">
                  <option value="">Год</option>
                </select>
              </dd>
              <dt><label>Пол:</label></dt>
              <dd>
                <input type="radio" name="sex" value="" class="radio"/>
                <label>муж</label>
                <input type="radio" name="sex" value="" class="radio"/>
                <label>жен</label>
              </dd>
              <dt><label>Город:</label></dt>
              <dd><input type="text" name="" value="Москва"/></dd>
              <dt><label>Образование:</label></dt>
              <dd><input type="text" name="" value="отсутствует"/></dd>
              <dt><label>Должность:</label></dt>
              <dd><input type="text" name="" value=""/></dd>
              <dt><label>Интересы:</label></dt>
              <dd><input type="text" name="" value=""/></dd>
            </dl>
            <div class="slogan">
              <a href="#">« Кликните, чтобы ввести цитату »</a>
              <div><span class="before">«</span><textarea class="resize-slogan" name=""></textarea><span class="after">»</span></div>
            </div>
          </div>
        </div>
        <div class="section one clearfix">
          <div class="section half-left">
            <h3>Получать e-mail оповещения</h3>
            <input type="checkbox" name="" value=""/>
            <label>Новые сообщения</label>
            <input type="checkbox" name="" value=""/>
            <label>Комментарии в ваших блогах</label>
            <input type="checkbox" name="" value=""/>
            <label>Комментарии к вашим фотографиям</label>
            <input type="checkbox" name="" value=""/>
            <label>Комментариях к вашему BIO</label>
            <input type="checkbox" name="" value=""/>
            <label>Ответы на ваши комментарии</label>
            <input type="checkbox" name="" value=""/>
            <label>За вас проголосовали</label>
          </div>
          <div class="section half-right">
            <h3>Настройки приватности:</h3>
            <label>Друзья</label>
            <select name=""><option value="">Доступен для всех</option></select>
            <label>Портфолио</label>
            <select name=""><option value="">Доступен для всех</option></select>
            <label>Галерея</label>
            <select name=""><option value="">Доступен для всех</option></select>
            <label>Блог</label>
            <select name=""><option value="">Доступен для всех</option></select>
          </div>
        </div>
        <div class="section one passwd">
          <label>Пароль</label>
          <input type="password" name="" value=""/>
          <label>Подтверждение пароля</label>
          <input type="password" name="" value=""/>
        </div>
        <input type="submit" name="" class="save-btn" value="Сохранить"/>
        <a href="#" class="edit">Перейти к редактированию галереи</a>
      </form>
    </div>
  </div>
</div>
<div class="sidebar-right">
  <div id="daily-events-calendar">
    <div style="font-size:28px; left:84px; top:0;"><a href="#" style="width:38px; height:39px; background-position:-80px 0; color:#7452b9; line-height:39px;">23</a></div>
    <div style="font-size:27px; left:149px; top:25px;"><a href="#" style="width:37px; height:37px; background-position:-146px -25px; line-height:37px;" class="selected">24</a></div>
    <div style="font-size:26px; left:186px; top:80px;"><a href="#" style="width:38px; height:37px; background-position:-179px -80px; line-height:37px;" class="fg">25</a><sup>*</sup></div>
    <div style="font-size:25px; left:185px; top:143px;"><a href="#" style="width:36px; height:36px; background-position:-178px -142px; line-height:36px;" class="fg">26</a><sup>*</sup></div>
    <div style="font-size:24px; left:151px; top:192px;"><a href="#" style="width:34px; height:34px; background-position:-146px -185px; line-height:34px;">27</a></div>
    <div style="font-size:23px; left:98px; top:211px;"><a href="#" style="width:33px; height:33px; background-position:-92px -202px; line-height:33px;">28</a></div>
    <div style="font-size:22px; left:46px; top:198px;"><a href="#" style="width:33px; height:32px; background-position:-39px -191px; line-height:32px;" class="selected">29</a></div>
    <div style="font-size:21px; left:14px; top:160px;"><a href="#" style="width:31px; height:31px; background-position:-6px -153px; line-height:31px;">1</a></div>
    <div style="font-size:20px; left:9px; top:113px;"><a href="#" style="width:31px; height:30px; background-position:0 -111px; line-height:30px;" class="fg">2</a><sup>*</sup></div>
    <div style="font-size:19px; left:30px; top:75px;"><a href="#" style="width:29px; height:29px; background-position:-23px -75px; line-height:29px;">3</a></div>
    <div style="font-size:18px; left:66px; top:57px;"><a href="#" style="width:28px; height:28px; background-position:-62px -59px; line-height:28px;">4</a></div>
    <div style="font-size:17px; left:103px; top:63px;"><a href="#" style="width:27px; height:26px; background-position:-98px -66px; line-height:26px;">5</a></div>
    <div style="font-size:16px; left:127px; top:87px;"><a href="#" style="width:26px; height:25px; background-position:-125px -90px; line-height:25px;">6</a></div>
    <div style="font-size:15px; left:133px; top:117px;"><a href="#" style="width:24px; height:25px; background-position:-128px -122px; line-height:25px;">7</a></div>
    <div style="font-size:14px; left:121px; top:142px;"><a href="#" style="width:23px; height:23px; background-position:-105px -145px; line-height:23px;">8</a></div>
  </div>
  <div class="soon-event">
    <a href="#">
      <img src="/i/shared/photo-121.jpg"/>
    </a>
    <div>
      <p class="date">20 февраля, 16:00</p>
      <p><a href="#">Поздний завтрак:<br/>
        по-Гоански :)</a></p>
    </div>
  </div>
  <div class="right-banner">
    <a href="#"><img src="/i/shared/banner-7.jpg"/></a>
  </div>
</div>