<% content_for :left do %>
<ul class="menu">
    <li><%= link_to 'Fg Talent Hunting part 1', :controller => 'contest_sessions' %></li>
    <li><%= link_to 'Fg Talent Hunting part 2', :controller => 'fg_talent_hunt' %></li>
</ul>
<% end %>