<%= render :partial => 'left_menu' %>

<h1>FG Talent Hunting part 2</h1>

<h3>Голосуй!</h3>

<p>Месяц назад  мы объявили конкурс на создание лучшего принта  на тему «BIO-сообщества».<br>
Пора определиться с тем, кто же станет победителем!</p>

<p>Согласно условиям конкурса, выигрывают две работы:</p>

<p> - Участник, набравший наибольшее количество голосов (голосовать может любой незалогиненный пользователь интернета – 1 день = 2 голоса), получает в подарок iPod Touch.</p>

<p> - Работы победителя в номинации «Выбор Face Gallery» пускаются в производство фирменных изделий FG с указанием имени автора принта.</p>

<p> Для нас важен объективный выбор, поэтому работы не подписаны. Учитывая, что работ много и все они разные, у вас есть возможность проголосовать за ДВА понравившихся принта.</p>


<style>
ul#sortable_photos p{
  width:140px;
  /*margin:0 auto;*/
  font-size:1.3em;
  font-style:italic;
  margin-top:20px;
}
ul#sortable_photos p a{
  color:black;
  font-weight:bold;
  font-style:normal;
}
ul#sortable_photos li{
  height:245px;
  text-align:left;
}
</style>
<ul id="sortable_photos">
<% @pics.each_with_index do |s, index| %>
  <li>
  <p>
  <b><%= index + 1 %></b><br>
  <%= link_to image_tag(s.pic.url(:small)), s.pic.url, :class => 'thumb' %>
  </p>
  <p>Голосов: <%= s.contest_pic_votes.count %> 
  <% if cookies[:qptc] != "d" && cookies[:qptc] != s.id.to_s %>
  <% link_to '↑', url_for(:action => 'vote', :pic_id => s.id), :method => :post, :style => 'font-size:2em;padding-left:8px', :title => 'Голосовать' %>
  <% end %>
  </p>
  </li>
<% end %>
</ul>
<script>
$(function(){
  $('a.thumb').fancybox();
});
</script>
