.section.small {margin-left: expression(this.previousSibling==null?'0':'30');}
.tabs-wrap ul.tabs li {padding-left: expression(this.previousSibling==null?'0':'1');}
.page-post-creating div.load.video input.radio {margin-left: expression(this.previousSibling==null?'0':'18');}
.page-post-creating div.load.audio input.radio{margin-left: expression(this.previousSibling==null?'0':'14');}
.profile-mail .section.one.mail ul li, .profile-gallery .section.one.album ul li {border-top: expression(this.previousSibling==null?'none':'1px solid #c8c8c8');}
.filter-line form.interview-form label {width: expression(this.previousSibling==null?'64':'48');}
.filter-line form.interview-form label {padding-left: expression(this.previousSibling==null?'20':'16');}

ul.interview-stream li {
	margin-right: expression(this.previousSibling==null?'80':'55');
	width:	expression(this.previousSibling==null?'290':'125');
	}
	ul.interview-stream li img {
		float: expression(this.previousSibling==null?'left':'none');
		margin-left: expression(this.previousSibling==null?'-5':'0');
		}