html, body {
	position:relative;
	margin:0;
	padding:0;
	min-width:1155px;
	height:100%;
	background:#fff;
	color:#000;
	font:normal 12px Arial, Helvetica, sans-serif;
	}
a {
	color:#7452b9;
	text-decoration:none;
	}
	a:hover {
		text-decoration:underline;
		}
::-webkit-input-placeholder {
	color:#000;
	font:12px/18px Arial,Helvetica,sans-serif;
	}
input:-moz-placeholder {
	color:#000;
	font:12px/18px Arial,Helvetica,sans-serif;
}
#wrapper {
	margin:0 auto -305px;
	width:1000px;
	height:auto !important;
	height:100%;
	min-height:100%;
	}
#header {
	position:relative;
	padding-top:20px;
	height:163px;
	z-index:100;
	}
	#header ul.face-list {
		height:100px;
		}
		#header ul.face-list li {
			position:relative;
			float:left;
			width:100px;
			height:100px;
			}
			#header ul.face-list li b {
				position:absolute;
				left:41px;
				bottom:0;
				display:block;
				width:17px;
				height:8px;
				background:url(../i/arrow-up-gray.png) 50% 100% no-repeat;
				z-index:10000;
				}
	#header .top-line {
		padding-left:68px;
		height:38px;
		background:url(../i/logo.png) 15px 8px no-repeat;
		border-top:1px solid #020202;
		border-right:1px solid #000;
		border-bottom:1px solid #020202;
		border-left:1px solid #000;
		}
	#header ul.top-menu {
		float:left;
		margin:9px 0;
		height:20px;
		border-left:1px solid #000;
		}
		#header ul.top-menu li {
			position:relative;
			float:left;
			margin:-10px -9px -10px 0;
			}
			#header ul.top-menu li.hover {
				background:#eee;
				}
			#header ul.top-menu li a {
				display:inline-block;
				margin:0 9px;
				padding:0 22px 0 15px;
				height:40px;
				color:#000;
				font:normal 11px/40px 'KievitCyr-MediumRegular';
				text-transform:uppercase;
                letter-spacing:2px;  
				}
				#header ul.top-menu li a:hover,
				#header ul.enter-menu li a:hover {
					text-decoration:none;
					}
				#header ul.top-menu li a span,
				#header ul.enter-menu li a span {
					position:relative;
					padding-top:2px;
					}
					#header ul.top-menu li a b {
						position:absolute;
						top:50%;
						left:0;
						display:none;
						width:100%;
						border-top:1px solid #000;
						font-size:0;
						line-height:0;
						}
					#header ul.top-menu li a:hover b,
					#header ul.top-menu li a.active b,
					#header ul.enter-menu li a:hover b{
						display:block;
						}
				#header ul.top-menu li a.dropdown {
					background:url(../i/arrow-down-green.gif) 100% 50% no-repeat; 
					}
	#header ul.top-menu li .dropdown-menu {
		display:none;
		position: absolute;
		top:39px;
		left:0;
		padding:20px 0 23px 26px;
		width:351px;
		background:#eee;
		z-index:10000;
		}
		#header ul.top-menu li.hover .dropdown-menu {
			display:block;
			}
		#header ul.top-menu li .dropdown-menu a {
			display:inline;
			margin:0;
			padding:0;
			height:auto;
			}
		#header ul.top-menu li .dropdown-menu ul {
			float:left;
			width:148px;
			}
			#header ul.top-menu li .dropdown-menu ul li {
				float:none;
				margin:0;
				height:25px;
				}
				#header ul.top-menu li .dropdown-menu ul li a {
					position:relative;
					padding-top:2px;
					font-size:10px;
					line-height:1em;
					}
		#header ul.top-menu li .dropdown-menu .column {
			margin:5px 0 0 166px;
			width:110px;
			padding:0 0 0 34px;
			height:187px;
			border-left:1px solid #000;
			}
			#header ul.top-menu li .dropdown-menu .column a {
				color:#7452b9;
				font:bold 13px/1.2em Arial, Helvetica, sans-serif;
				text-transform:none;
				letter-spacing:normal;
				}
				#header ul.top-menu li .dropdown-menu .column a:hover,
				#header ul.top-menu li .dropdown-menu.my-bio a:hover {
					text-decoration:underline;
					}
				#header ul.top-menu li .dropdown-menu .column h4 a {
					display:block;
					margin:10px 0;
					color:#000;
					font:normal 10px/1em 'KievitCyr-MediumRegular';
					text-transform:uppercase;
					letter-spacing:2px;
					}
					#header ul.top-menu li .dropdown-menu .column h4 a:hover {
						color:#7452b9;
						text-decoration:none;
						}
	#header ul.top-menu li .dropdown-menu.my-bio {
		padding:22px 20px 25px;
		width:200px;
		color:#666;
		}
		#header ul.top-menu li .dropdown-menu.my-bio a {
			color:#7452b9;
			font:normal 12px/1.2em Arial, Helvetica, sans-serif;
			text-transform:none;
			letter-spacing:normal;
			}
		#header ul.top-menu li .dropdown-menu.my-bio .bio-name {
			margin-bottom:15px;
			padding:10px 3px 12px;
			border-top:1px solid #000;
			border-bottom:1px solid #000;
			}
			#header ul.top-menu li .dropdown-menu.my-bio .bio-name img {
				float:left;
				margin-top:3px;
				}
			#header ul.top-menu li .dropdown-menu.my-bio .bio-name div {
				margin-left:35px;
				}
			#header ul.top-menu li .dropdown-menu.my-bio td {
				line-height:1.8em;
				}
				#header ul.top-menu li .dropdown-menu.my-bio td:first-child {
					width:130px;
					}
					#header ul.top-menu li .dropdown-menu.my-bio td:first-child a {
						color:#000;
						}
		#header ul.top-menu li .dropdown-menu.my-bio ul  {
			margin-top:12px;
			padding-top:12px;
			width:200px;
			border-top:1px solid #000;
			}
			#header ul.top-menu li .dropdown-menu.my-bio ul  li {
				height:auto;
				}
				#header ul.top-menu li .dropdown-menu.my-bio ul  li a {
					padding-left:19px;
					line-height:1.6em;
					}
					#header ul.top-menu li .dropdown-menu.my-bio ul li.settings a {
						background:url(../i/settings.png) 0 3px no-repeat;
						color:#000;
						}
					#header ul.top-menu li .dropdown-menu.my-bio ul li.logout a {
						background:url(../i/logout.png) 0 3px no-repeat;
						}
		#header .top-line form {
			float:left;
			margin-top:9px;
			padding:1px 17px 1px 18px;
			border-left:1px solid #000;
			}
			#header .top-line form input {
				float:left;
				margin-right:5px;
				padding:0 6px;
				width:123px;
				height:18px;
				background:url(../i/search-bg.gif);
				border:none;
				font:12px/18px Arial,Helvetica,sans-serif;
				}
			#header .top-line form #search-btn {
				position:relative;
				top:2px;
				padding:0;
				width:13px;
				height:13px;
				background:url(../i/search.png) -21px 0 no-repeat;
				cursor:pointer;
				}
				#header .top-line form #search-btn:hover {
					background-position:-43px 0;
					}
				#header .top-line form #search-btn.no-active {
					background-position:0 0;
					cursor:default;
					}
	#header ul.enter-menu {
		float:left;
		margin:9px 0;
		padding-left:30px;
		height:20px;
		border-left:1px solid #000;
		}
		#header ul.enter-menu li {
			float:left;
			margin:-10px -9px -10px 0;
			}
			#header ul.enter-menu li a {
				display:inline-block;
				margin-right:20px;
				height:40px;
				font:normal 11px/40px 'KievitCyr-MediumRegular';
				text-transform:uppercase;
                letter-spacing:2px;  
				}
				#header ul.enter-menu li a b {
						position:absolute;
						top:50%;
						left:0;
						display:none;
						width:100%;
						border-top:1px solid #7452b9;
						font-size:0;
						line-height:0;
						}
	#header ul.top-menu-small {
		float:left;
		padding:0 0 0 12px;
		}
		#header ul.top-menu-small li {
			position:relative;
			float:left;
			margin:-1px 0 -1px -7px;
			}
			#header ul.top-menu-small li.hover {
				background:#eee;
				}
			#header ul.top-menu-small li a {
				display:block;
				margin:15px 16px;
				width:10px;
				height:10px;
				background:url(../i/top-menu-small.png) 0 0 no-repeat;
				}
			#header ul.top-menu-small li span { 
				position:absolute;
				top:5px;
				left:25px;
				color:#7452b9;
				font-size:10px;
				z-index:100;
				}
			#header ul.top-menu-small li.mail a {background-position:0 0;}
			#header ul.top-menu-small li.friends a {background-position:-35px 0;}
			#header ul.top-menu-small li.comment a {background-position:-70px 0;}
			#header ul.top-menu-small li.mail.new a {background-position:0 -40px;}
			#header ul.top-menu-small li.friends.new a {background-position:-35px -40px;}
			#header ul.top-menu-small li.comment.new a {background-position:-70px -40px;}
			#header ul.top-menu-small li.mail a:hover,
			#header ul.top-menu-small li.mail.hover a,
			#header ul.top-menu-small li.mail.new a:hover {background-position:0 -20px;}
			#header ul.top-menu-small li.friends a:hover,
			#header ul.top-menu-small li.friends.hover a,
			#header ul.top-menu-small li.friends.new a:hover {background-position:-35px -20px;}
			#header ul.top-menu-small li.comment a:hover,
			#header ul.top-menu-small li.comment.hover a,
			#header ul.top-menu-small li.comment.new a:hover {background-position:-70px -20px;}
			#header ul.top-menu-small li  .dropdown-menu {
				position:absolute;
				display:none;
				top:38px;
				padding:20px 20px 17px;
				width:202px;
				background:#eee;
				}
				#header ul.top-menu-small li.hover  .dropdown-menu {
					display:block;
					}
				#header ul.top-menu-small li.mail  .dropdown-menu {left:-110px;}
				#header ul.top-menu-small li.friends  .dropdown-menu {left:-145px;}
				#header ul.top-menu-small li.comment  .dropdown-menu {left:-180px;}
				#header ul.top-menu-small li  .dropdown-menu li {
					float:none;
					margin:0 0 14px;
					padding:0 0 14px;
					border-bottom:1px solid #c8c8c8;
					}
					#header ul.top-menu-small li  .dropdown-menu li img {
						float:left;
						}
					#header ul.top-menu-small li  .dropdown-menu a {
						display:inline;
						margin:0;
						width:auto;
						height:auto;
						background:none;
						}
						#header ul.top-menu-small li  .dropdown-menu a.all {
							float:right;
							margin-right:5px;
							line-height:24px;
							}
					#header ul.top-menu-small li  .dropdown-menu p.date {
						color:#b7b7b7;
						font-size:10px;
						}
					#header ul.top-menu-small li  .dropdown-menu li div {
						margin-left:34px;
						}
						#header ul.top-menu-small li  .dropdown-menu a.write {
							float:left;
							padding:0 15px;
							height:24px;
							background:#000;
							color:#fff;
							line-height:24px;
							}
							#header ul.top-menu-small li  .dropdown-menu a.write:hover {
								background:#7452b9;
								text-decoration:none;
								}
#container .sidebar-right {
	float:left;
	width:240px;
	}
	#container .sidebar-right #daily-events-calendar {
		position:relative;
		height:250px;
		z-index:1;
		}
		#container .sidebar-right #daily-events-calendar div {
			position:absolute;
			min-width:17px;
			text-align:center;
			}
			#container .sidebar-right #daily-events-calendar div a {
				color:#575757;
				text-align:center;
				}
				#container .sidebar-right #daily-events-calendar div a.selected {
					display:block;
					background:url(../i/calendar-rounds.png) 0 0 no-repeat;
					color:#fff;
					}
					#container .sidebar-right #daily-events-calendar div a.selected:hover {
						text-decoration:none;
						}
				#container .sidebar-right #daily-events-calendar div a.fg {
					color:#7452b9;
					font-weight:bold;
					}
				#container .sidebar-right #daily-events-calendar div sup {
					color:#7452b9;
					}
				#container .sidebar-right #daily-events-calendar div b {
					display:block;
					height:10px;
					background:url(../i/arrow-up-gray.png) 50% 100% no-repeat;
					}
.calendar-tip {
	display:none;
	}
#container .sidebar-right #daily-events-calendar div .calendar-tip {
	display:block;
	position:absolute;
	z-index:10000;
	padding:30px;
	width:200px;
	background:#333;
	color:#fff;
	font-size:12px;
	text-align:left;
	}
	#container .sidebar-right #daily-events-calendar div .calendar-tip p.date {
		color:#7452b9;
		font-size:13px;
		font-weight:bold;
		}
	#container .sidebar-right #daily-events-calendar div .calendar-tip p.time {
		color:#b7b7b7;
		font-size:10px;
		}
	#container .sidebar-right #daily-events-calendar div .calendar-tip ul li {
		margin-top:12px;
		padding:6px 15px 0 0;
		border-top:1px solid #444;
		}
		#container .sidebar-right #daily-events-calendar div .calendar-tip ul li.fg {
			background:url(../i/fg-calendar.png) 100% 8px no-repeat;
			}
	#container .sidebar-right .soon-event {
		overflow:hidden;
		margin-top:12px;
		height:50px;
		}
		#container .sidebar-right .soon-event img {
			float:left;
			}
		#container .sidebar-right .soon-event div {
			margin-left:60px;
			}
			#container .sidebar-right .soon-event div .date {
				margin-bottom:5px;
				color:#33cc99;
				}
			#container .sidebar-right .soon-event div a {
				color:#000;
				}
	#container .sidebar-right .right-banner {
		margin-top:26px;
		}
	#container .sidebar-right .section {
		clear:left;
		margin:35px 15px;
		}
#container .center {
	float:left;
	width:100%;
	}
	#container.sidebar-right .center {
		margin-right:-240px;
		}
	#container .content {
		padding-top:7px;
		}
		#container.sidebar-right .content {
			padding-right:10px;
			padding-left:10px;
			margin-right:255px;
			}
	#container.sidebar-right .center .content > div.clearfix {
		width:725px;
		}
.clear {
	clear:both;
	height:305px;	
	}
#footer {
	position:relative;
	margin:0 auto;
	padding:65px 0 0;
	width:1000px;
	height:240px;
	line-height:1.3em;
	}
	#footer .bottom-menu {
		margin-bottom:15px;
		padding:0 250px 0 195px;
		height:153px;
		background:url(../i/logo-footer.png) 29px 2px no-repeat;
		border-bottom:1px solid #000;
		}
		#footer .bottom-menu .section {
			float:left;
			margin-right:18px;
			width:120px;
			}
			#footer .bottom-menu .section:first-child {
				margin-right:18px;
				width:120px;
				}
			#footer .bottom-menu .section ul {
				margin-top:10px;
				}
				#footer .bottom-menu .section ul li {
					margin-bottom:5px;
					}
				#footer .bottom-menu .section ul li a {
					color:#000;
					}
	#footer ul.social-btns {
		position:absolute;
		top:168px;
		right:160px;
		}
		#footer ul.social-btns li {
			float:left;
			margin-left:14px;
			}
	#footer .video {
		position:absolute;
		top:65px;
		right:10px;
		overflow:hidden;
		width:230px;
		height:50px;
		}
		#footer .video img {
			float:left;
			}
		#footer .video div {
			margin-left:60px;
			}
			#footer .video div a {
				color:#000;
				}
	#footer .copyright {
		float:left;
		margin-left:28px;
		}
	#footer .copyright-text {
		margin:0 300px 0 195px;
		}
	#footer .counters {
		float:right;
		margin-right:17px;
		}
#popap-enter {
	display:none;
    position:absolute;
    top:0;
	left:0;
    width:100%;
    min-width:1000px;
	height:100%;
    z-index:9990;
	}
	#popap-enter .popap-back {
		position:fixed;
		top:0;
		left:0;
		width:100%;	
		height:100%;
		background:url(../i/layouts/opacity-grey.png) 0 0 repeat;
		}
	#popap-enter .enter-wrap {
		position:relative;
		margin:0 auto;
		padding:100px 0 75px 160px;
		width:525px;
		background:#fff;
		}
	#popap-enter a.close {
		position:absolute;
		display:block;
		top:25px;
		right:25px;
		width:19px;
		height:19px;
		background:url(../i/layouts/close-btn.png) 0 0 no-repeat;
		}
		#popap-enter a.close:hover {
			background:url(../i/layouts/close-btn.png) 0 -19px no-repeat;
			}
	#popap-enter p {
		margin-left:-43px;
		padding:25px 0 0 53px;
		width:356px;
		background:url(../i/info-black.png) 0 21px no-repeat;
		line-height:15px;
		}
		#popap-enter p.error {
			background:url(../i/info-purple.png) 0 21px no-repeat;
			color:#7452b9;
			}
#remember {
	display:none;
	}
	#enter input,
	#remember input {
		display:block;
		margin-bottom:7px;
		padding:0 6px;
		width:353px;
		height:18px;
		background:url(../i/search-bg.gif);
		border:none;
		font:12px/18px Arial,Helvetica,sans-serif;
		}
	#enter .bottom-line {
		padding:9px 0 25px;
		width:365px;
		height:24px;
		}
		#enter input.enter-btn {
			float:left;
			margin:0;
			padding:0 15px;
			width:auto;
			height:24px;
			background:#000;
			border:none;
			color:#fff;
			font:normal 12px/24px Arial, Helvetica, sans-serif;
			cursor:pointer;
			}
			#enter input.enter-btn:hover,
			#remember input.passwd-btn:hover {
				background:#7452b9;
				}
			#enter input.enter-btn.no-active,
			#remember input.passwd-btn.no-active {
				background:#e9e9e9;
				cursor:default;
				}
		#enter input.checkbox {
			float:left;
			margin:5px 10px 0 20px;
			width:auto;
			height:auto;
			}
	#enter label {
		float:left;
		line-height:23px;
		}
	#enter a {
		float:right;
		color:#777;
		line-height:23px;
		}
		#remember input.passwd-btn {
			margin:16px 0 25px;
			padding:0 15px;
			width:auto;
			height:24px;
			background:#000;
			border:none;
			color:#fff;
			font:normal 12px/24px Arial, Helvetica, sans-serif;
			cursor:pointer;
			}
#face-info {
	position:absolute;
	top:100px;
	left:-52px;
	display:none;
	padding:30px 40px 30px 30px;
	width:140px;
	background:#333;
	color:#fff;
	z-index:10000;
	}
	ul.face-list li.first #face-info {
		left:0;
		}
	ul.face-list li.last #face-info {
		left:-110px;
		}
	ul.face-list #face-info {
		display:block;
		}
	#face-info p {
		margin-bottom:5px;
		}
		#face-info p.quote {
			margin-bottom:14px;
			padding-bottom:14px;
			font: italic 15px 'Times New Roman';
			border-bottom:1px solid #444;
			text-indent:-12px;
			}
.clearfix:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clearfix {
	display:inline-block;
	*zoom:1;
	}
*html .clearfix {
	height:1%;
	}
@font-face {
    font-family: 'KievitCyr-MediumRegular';
    src: url('../font/kvcymd-webfont.eot');
    src: url('../font/kvcymd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/kvcymd-webfont.woff') format('woff'),
         url('../font/kvcymd-webfont.ttf') format('truetype'),
         url('../font/kvcymd-webfont.svg#KievitCyr-MediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}