<h1>КОНКУРС: Цитата недели</h1>

<p>Что нам Фаина Раневская или Марк Твен, когда у нас самих здесь полным-полно генераторов гениальных мыслей, претендующих на то, чтобы стать крылатыми фразами и войти в анналы истории?</p>
<% unless @winner %>
<p>Мы объявляем конкурс на самую интересную цитату недели! Голосуем за самые меткие высказывания и определяем того, кому достанется подарок от Face Gallery!</p>
<% else %>
<p>
Первый конкурс на самую интересную цитату недели завершен, мы рады объявить победителя!
<br>
<i>*Бурные овации</i>
</p>
<h3 style="text-align: center;color:black;">Победитель конкурса:</h3>

<div id="answer_form" class="button opened">
	      <div class="head">
		              <div></div>
			            </div>
				          <div class="content" style="overflow:hidden">
						            <div style="width:120px;float:right;text-align:right">
										            <%= link_to image_tag(@winner.bio.photo.url(:thumbnail)), bio_path(:id => @winner.bio, :bio_category => @winner.bio.bio_category) %>
											              </div>

												                <div class="answer" style="border-right:none">
															<%= simple_format(@winner.quote) %>
															<p>
								                <%= link_to @winner.bio.displayname, bio_path(:id => @winner.bio, :bio_category => @winner.bio.bio_category) %>
										</p>							              </div>
																	            </div>
																		          <div class="foot">
																				          <div></div>
																					        </div>

																						    </div>

																					    
																					    
<% end %>
<div class="last-bio">
<% @quotes.each do |quote| %>
<div style="overflow:hidden;margin-bottom:15px;">
 <%= link_to image_tag(quote.bio.photo.url(:smaller)), bio_path(:id=> quote.bio, :bio_category => quote.bio.bio_category) %>
 <div>
   <h3><%= link_to quote.bio.displayname, bio_path(:id=> quote.bio, :bio_category => quote.bio.bio_category) %></h3>
   <p class="citation"><span class="quot left">«</span><%= quote.quote %><span class="quot right">»</span></p>
   <div style="overflow:hidden">
    <div style="float:left;margin-right:15px;">
    <span style="font-size:2em;color:#7452b9"><%= quote.contest_quote_votes.count %></span>
    </div>
    <div style="float:left">
    <% unless cookies[:qvt] == "1" || @winner %>
      <% form_tag :action => :vote do %>
      <%= hidden_field_tag :quote_id, quote.id %>
      <button>Голосовать</button>
      <% end %>
    <% end %>
    </div>
    </div>
 </div>
</div>
<% end %>
</div>
