<td>
  <%= link_to image_tag(best_blogger.photo.url), user_path(best_blogger.user) %>

  <h4><%= link_to h(best_blogger.latest_blog.title), blog_path(:user_id => best_blogger.user, :id => best_blogger.latest_blog.id) %></h4>

  <p><%= link_to h(best_blogger.latest_blog.text_shortened(70)), blog_path(:user_id => best_blogger.user, :id => best_blogger.latest_blog.id), :class=>'text' %></p>

  <p><%= link_to h(best_blogger.user.displayname), user_path(best_blogger.user), :class => 'set' %></p>
</td>