<div>
  <p><strong><%= link_to blog_mini.title, blog_path(:id => blog_mini, :user_id => blog_mini.user_id) %></strong> <%= link_to blog_mini.user.displayname, user_path(blog_mini.user), :class=>'set' %><span class="time">, <%= l(blog_mini.created_at, :format => 'short') %></span> <%= link_to blog_mini.comments.count, blog_path(:id => blog_mini.id, :user_id => blog_mini.user_id), :class => 'comment', :style => 'vertical-align:baseline' %></p>
  <p><%= link_to blog_mini.text_shortened, blog_path(:id => blog_mini, :user_id => blog_mini.user_id), :class => 'text' %></p>
</div>
