<% if @current_section && (@current_section.urlname == 'late_autumn') %>
<%= render :partial => 'community/la_css' %>
<% end %>
<div class="breadcrumbs-div">
<span class="top-sectionlink"><%= link_to 'Community', community_path %></span>
</div>