<% content_for(:left) do %>
	<ul class="menu">
		<li><%= link_to t('.users'), url_for(  :controller => 'community', :action=> 'users' ), (leftmenu_active?(:action_name => 'users')) %></li>
		<li><%= link_to t('.blogs'), url_for( :controller => 'community', :action => 'blogs' ), (leftmenu_active?(:action_name => 'blogs')) %></li>
        <li><%= link_to "Рейтинг", url_for( :controller => 'community', :action => 'user_rating' ), (leftmenu_active?(:action_name => 'user_rating')) %></li>
	</ul>
<% end %>