<div class="bio-authors">
    <%= link_to image_tag(top_blog_mini.user.avatar.url(:small)), user_path(top_blog_mini.user) %>
    <div>
      <h4><%= link_to top_blog_mini.title, blog_path(:id => top_blog_mini, :user_id => top_blog_mini.user_id) %></h4>
      <p><span class="time"><%= l(top_blog_mini.created_at, :format => 'short') %></span> <%= link_to top_blog_mini.comments.count, blog_path(:id => top_blog_mini.id, :user_id => top_blog_mini.user_id), :class => 'comment', :style => 'vertical-align:bottom' %></p>
      <p><%= link_to top_blog_mini.text_shortened, blog_path(:id => top_blog_mini, :user_id => top_blog_mini.user_id), :class => 'text' %></p>
      <p class="author author-left"><%= link_to top_blog_mini.user.displayname, user_path(top_blog_mini.user) %></p>

    </div>
</div>