<div class="user_friend">
<table>
<tr>
<td width="80"><%= link_to image_tag(user_small.avatar.url(:small)),  user_path(user_small) %></td>
<td><%= link_to user_small.displayname,  user_path(user_small) %></h3><br><%= online_icon_for user_small %></td>
</tr>
</table>
</div>

