<div>
  <%= link_to image_tag(user_album.user_gallery_photos.last.photo.url(:thumbnail)), user_album_path(:id => user_album.id, :user_id => user_album.user_id) %>
  <p><%= link_to h(user_album.title), user_album_path(:id => user_album.id, :user_id => user_album.user_id), :class => 'text' %></p>
  <p><%= link_to user_album.user.displayname, user_path(user_album.user), :class => 'set' %></p>
</div>