<p>

<form action="/community/users" method="get">
	Поиск по пользователям:<br>
	<input type="text" size="40" name="q" value="<%= params[:q] %>"><input type="submit" value="Искать!" style="margin-left:15px;">
</form>
</p>