<%= render :partial => 'left_menu' %>

<h2><%= t('community.left_menu.blogs') %></h2>
<div id="submenu" style="margin-top:8px">
    <ul>
		<li><%= link_to "Все", { :subaction => nil }, ( submenu_active?(params[:subaction], nil) ) %></li>
		<li><%= link_to "Популярные", { :subaction => "most_commented" }, ( submenu_active?(params[:subaction].to_s, "most_commented") ) %></li>
    </ul>
</div>

<div id="blog-container">
<%= render :partial => 'user/blog/blog', :collection => @blogs %>	
<%= will_paginate @blogs %>
</div>