<%= render :partial => 'left_menu' %>

<% content_for :left do %>

    <% if @editors_blog %>
    <div class="person">
      <h5>Блог редакции</h5>
      <%= link_to image_tag(@editors_blog.user.editor.photo.url), user_path(@editors_blog.user) %>
      <h4><%= link_to @editors_blog.user.displayname, user_path(@editors_blog.user) %></h4>

      <p style="overflow:hidden"><%= link_to h(@editors_blog.text_shortened(250)), blog_path(:user_id => @editors_blog.user, :id => @editors_blog.id), :class=>'text' %></p>
      <%= link_to @editors_blog.comments.count, blog_path(:id => @editors_blog.id, :user_id => @editors_blog.user_id), :class => 'comment', :style => '' %>
    </div>
    <% end %>

<% if @fg_guest.present? %>
    <div class="person">
      <h5>FG GUEST на Мегаполис FM</h5>
      <%= link_to image_tag(@fg_guest.photo.url), blog_path(:user_id => @fg_guest.blog.user.id, :id => @fg_guest.blog.id) %>
      <h4><%= link_to @fg_guest.blog.user.displayname, blog_path(:user_id => @fg_guest.blog.user.id, :id => @fg_guest.blog.id) %></h4>
      <p>
        &laquo;<%= link_to @fg_guest.short_text, blog_path(:user_id => @fg_guest.blog.user.id, :id => @fg_guest.blog.id) %>&raquo;
      </p>
      <%= link_to @fg_guest.blog.comments.count, blog_path(:id => @fg_guest.blog.id, :user_id => @fg_guest.blog.user_id), :class => 'comment', :style => '' %>
    </div>
<% end %>


<% unless @top_users.empty? %>

   <h3><%= link_to "Рейтинг пользователей", {:action => 'user_rating'} %></h3>
   <% @top_users.each do |bio| %>
       <div class="top-bio">
       <%= link_to image_tag(bio.avatar.url(:small)), user_path(bio) %>
       <h4><%= link_to bio.displayname, user_path(bio) %></h4>
       <span><%= bio.cached_rating %></span>
       </div>
   <% end %>
   <% end %>
<% end %>
<% if false %>
<center><a href="/community/newyear_contest"><img src="/img/nycontest/contestpic-community.png" style="margin-bottom: 5px"></a></center>
<% end %>
<% if params[:barentz_test] == '1'  %>
<style>
div#logo{
  margin-top:42px !important;
}
</style>
<% content_for :head do %>
<%= stylesheet_link_tag 'barentz' %>
<% end %>
<div class="ne with-icon">
  <h1 class="unique"><a href="/barentz/" style="color:black">BIO ЭКСПЕДИЦИЯ</a></h1>
  <div class="with-borders">
    <div class="inner">
      <p style="padding:15px">Раздел "BIO-экспедиция" посвящен событию мирового масштаба, которое состоится в сентябре 2011 года. На архипелаге Новая Земля на дне Карского моря начнутся работы по поиску останков каравеллы, на которой в 1596 году голландская экспедиция под руководством Виллема Баренца пыталась пройти Северным морским путём из Европы в Индию. Руководитель экспедиции - наш BIO-пользователь <a href="/facegallery/science/937-dmitriy-kravchenko">Дмитрий Федорович Кравченко</a>.
</p>

      <% @barentz_articles.each do |article| %>
      <div class="element">
        <h2><%= link_to article.title.upcase, barentz_article_path(article) %></h2>
        <div class="serv-line">
          <span class="date"><%=l article.created_at, :format => :short %></span>
          <%= link_to article.comments.count, barentz_article_path(article, :anchor => 'comments') %>
        </div>
       <%= link_to image_tag(article.image.url(:thumbnail)), barentz_article_path(article) %>
        <p><%= article.description %></p>

        <i></i>
      </div>
      <% end %>
      
    </div>
  </div>

</div>
<% end %>

<% if @top_video %>
	<h3><a href="/videos">Правила жизни BIO-пользователей FG</a></h3>
<% if false %>
<p style="font-size:12px">«Правила жизни FG» - авторский проект телеведущего <a href="/facegallery/massmedia/1426-ilyan-vladimirov">Ильяна Владимирова</a>, в котором он выступает в роли слушателя, лишь поддерживая разговор с гостем эфира наводящими вопросами, заставляющими его раскрыться, презентовать себя и высказать свою точку зрения на любую тему. Здесь нет рамок, герои могут говорить о чем угодно и что угодно. Программа имеет развитие и с каждым четвергом наращивает свой смысл и содержание.</p>
<br><br>
<% end %>


<% if false %>
<div class="blogers">
<h2><%= link_to @top_video.title, video_path(@top_video) %> &nbsp;<i style="font-size:11px"><%= l(@top_video.created_at, :format => 'short_date') %></i></h2>
<%= @top_video.embed_code %>
</div>
<% end %>
<% end %>

<% if @videos %>
<div class="blogers">
      <table class="interviews" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <% @videos.each do |video| %>
          <td>
            <p><i><%= l(video.created_at, :format => 'short_date') %></i></p>
            <%= link_to image_tag(video.thumbnail.url), video_path(video) %>
            <h4><%= link_to h(video.title), video_path(video) %></h4>

          </td>
          <% end %>
        </tr>
      </table>
</div>
<% end %>

<% if @best_bloggers && @best_bloggers.length > 0 && false %>

<h3>Лучшие блогеры сайта</h3>

<div class="blogers">

      <table class="interviews" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <%= render :partial => 'best_blogger', :collection => @best_bloggers %>
        </tr>
      </table>
    </div>
<% end %>



  <h3><a href="/community/blogs/most_commented" title="">Популярные посты</a></h3>
  <%= render :partial => 'top_blog_mini', :collection => @top_blogs %>


<div class="last-post">
    <h3 style="padding-bottom:10px"><a href="/community/blogs" title="">Последние посты</a></h3>
    <%= render :partial => 'blog_mini', :collection => @blogs %>
</div>

<% if @fg_recommends %>
<div class="recomendation">
  <h3>FG рекомендует</h3>
  <table cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>
        <%= link_to image_tag(@fg_recommends.image1.url), @fg_recommends.link1 %>
        <div>

          <h5><%= link_to @fg_recommends.section1, @fg_recommends.link1 %></h5>
          <h5><%= link_to @fg_recommends.title1, @fg_recommends.link1, :class => 'dark' %></h5>
        </div>
      </td>
      <td>
        <%= link_to image_tag(@fg_recommends.image2.url), @fg_recommends.link2 %>
        <div>
          <h5><%= link_to @fg_recommends.section2, @fg_recommends.link2 %></h5>
          <h5><%= link_to @fg_recommends.title2, @fg_recommends.link2, :class => 'dark' %></h5>
        </div>
      </td>
    </tr>
  </table>
</div>
<% end %>


<h2 style="padding-top:29px"><%= link_to "FG News", {:controller => 'fgc/news'}%></h2>
<%= render :partial => 'fgc/news/news_list', :collection => @news %>

<% content_for :right do%>
    <h4 style="padding-bottom:10px"><a href="/community/users" title="Пользователи">Пользователи</a></h4>
    <div id="users" style="margin-bottom:14px;">
      <% @users.each_with_index do |u,index| %>
      <div class="<%= "first" if index == 0 or index == 3 %>">
        <%= link_to image_tag(u.avatar.url(:small)), user_path(u) %>
        <p><%= link_to u.displayname, user_path(u), :class => 'text' %></p>
      </div>
      <% end %>
    </div>

    <% if @latest_comments && @latest_comments.length > 0 %>
    <%= render :partial => 'user/latest_comments', :locals => {:comments => @latest_comments} %>
    <% end %>

    <div class="portfolio">
      <h4>Галереи</h4>
      <%= render :partial => 'user_album', :collection => @user_albums %>
    </div>

    <div id="reports_right_column">
    <h4><%= link_to "FGC Reports", url_for(:controller => 'fgc', :action => 'reports') %></h4>
    <%= render :partial => 'place_gallery/reports/right_column_block', :locals => { :reports => Report.fgc.latest_for_small_block } %>
    </div>
<% end %>



<% if I18n.locale.to_s == 'ru' and false%>
<% content_for :right do %>
  <div id="daily-events-header" style="margin-top:15px;">
    <div style="color:white;padding-top:2px;font-size:14px;">
      Афиша дня
    </div>
<div id="date-scroll-container">

<div id="date-scroll">
<ul>
<% Date.today.step(Date.today + 6) do |d|%>
<li>
  <%= link_to "<div class='ds-weekday'>#{l d, :format => '%a'}</div><div class='ds-day'>#{d.day}</div>", url_for(:controller => 'place_gallery/daily_events', :date => d),  :class => ( (d==Date.today) && 'de_date_selected')  %>
</li>
<% end %>
</ul>
</div>

</div>
</div>
<% DailyEvent.events_today.each_with_index do |e, index| %>
<div class="de-small" >
  <div class="de-small-time">
    <%= e.date.strftime("%H:%M") %>
  </div>
  <div class="de-small-name">
    <%= link_to e.name, url_for(:controller => 'place_gallery/daily_events', :date => Date.today, :id => e.id, :anchor => "event#{e.id}" ) %>
  </div>
  
</div>
<% end %>
<% if DailyEvent.events_today %>
  <div class="de-small" style="border:0px;font-size:11px;text-align:right;">
    <%= link_to "Вся афиша", url_for(:controller => 'place_gallery/daily_events', :date => Date.today), :style=> "color:#343434"  %>
  </div>
<% end%>

<script>
$('#daily-events-header').corner("15px top")
</script>
<% end %>
<% end%>

