<% if false %>
	<div class="person">

		      <a href="/magazine/beauty/333-chernaya-revolyutsiya-ot-givenchy"><img src="/img/givenchy/pic.jpg" alt=""></a>
		            <h4><a href="/magazine/beauty/333-chernaya-revolyutsiya-ot-givenchy">"Черная революция" от Givenchy</a></h4>

			          <p style="overflow: hidden;"><a class="text" href="/magazine/beauty/333-chernaya-revolyutsiya-ot-givenchy">Неподвластная колебаниям температур, смене давления, влиянию ультрафиолета и различным экстремальным воздействиям, черная водоросль выживает с незапамятных времен.</a></p>

				      </div>
<% end %>

<% content_for :left do %>
<% [{:title => 'Calvin Klein Forbidden Euphoria', 
  :link => 'http://facegallery.ru/magazine/beauty/341-calvin-klein-forbidden-euphoria'},
  {:title => 'DKNY Golden Delicious', 
  :link => 'http://facegallery.ru/magazine/beauty/368-dkny-golden-delicious'},
  {:title => 'Фруктовые искушения от l’Occitane', 
  :link => 'http://facegallery.ru/magazine/beauty/369-fruktovye-iskusheniya-ot-l-occitane'},
  {:title => 'Boss Bottled. Night', 
  :link => 'http://facegallery.ru/magazine/beauty/370-boss-bottled-night'},
  {:title => 'Calvin Klein Euphoria Men', 
  :link => 'http://facegallery.ru/magazine/beauty/367-calvin-klein-euphoria-men'},
  {:title => 'Especially Escada', 
  :link => 'http://facegallery.ru/magazine/beauty/371-especially-escada'},
  {:title => 'PAYOT Douceur des Mains', 
  :link => 'http://facegallery.ru/magazine/beauty/372-payot-douceur-des-mains'}].each_with_index do |item, index| %>
  
<br><br><br><br>
<div class="choice">
          <div>
            <a href="<%= item[:link] %>"><img src="/img/nycontest/<%= index+1 %>.jpg" alt=""></a>

            <div>
              <span class="withback" style="background-color:#842B19"><a href="<%= item[:link] %>"><%= item[:title] %></a></span>
            </div>
          </div>
          
        </div>  
<% end %>
 


<% end %>
<center><img src="/img/nycontest/contestpic.png" style="margin-bottom: 5px"></center>

<div style="font-family:Times New Roman, serif;font-style:italic;font-size:16px;text-align:center;margin-bottom:15px"><a href="#givenchy_desc" id="givenchy_what" style="text-decoration:underline;color:black">Описание конкурса</a></div>
<script>
	$(function(){ $(function(){ $('#givenchy_what').fancybox() }); });
	</script>

    <div style="width:380px;margin:0 auto;margin-bottom:45px">

	    <div style="float:left;width:150px">
		    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=202486399801179&amp;xfbml=1"></script><fb:like  send="true" layout="button_count" width="100" show_faces="false" colorscheme="dark" font=""></fb:like>
	    </div>
	    <div style="float:left;width:130px">
		    <script type="text/javascript"><!--
			    document.write(VK.Share.button(false,{type: "button", text: "Сохранить"}));
			    --></script>
	    </div>
	    <div style="float:left;width:100px">
		    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	    </div>


	        </div>

		<div style="display:none" id="givenchy_desc">
			<div style="font-size:1.3em">
<h4>Дорогие друзья!</h4>

<p><b>Новый 2012-й год не за горами! Оглянуться не успеете, как праздник ворвется в ваши офисы и квартиры вихрем серпантина, конфетти и бенгальских огней!</b></p>

<p>Мы предлагаем не медлить и начинать поднимать столбик термометра новогоднего настроения уже сейчас! Приняв участие в нашем праздничном проекте, вы сможете обеспечить себе прекрасный подарок от Face Gallery и наших beauty-партнеров, который, возможно, станет первой ласточкой предстоящих праздников.</p>

<p>Для участия вам нужно в специальном поле в своем профайле ответить на вопрос «За какой поступок в уходящем году ты ждешь от Дедушки Мороза подарок?» и придти на последний в 2011-м году «Поздний завтрак Face Gallery»*, чтобы получить из рук бородатого Деда свой заслуженный презент!</p>

<p>Наверняка каждый из вас чем-то отличился в этом году? Так почему бы не рассказать об этом всем участникам нашего дружного коммьюнити?</p>

<p>Вперед и с песней!</p>

<p><i>*Чтобы узнать о последнем «Позднем завтраке», следите за Афишей!</i></p>
			</div>
		</div>


<style>
/*div#frame { background-image: url("/img/nycontest/contestpic.jpg");
background-position: 0 242px;
background-repeat: no-repeat;}*/

#logo a.variant-second {
  background: url("/img/nycontest/logo2.png") no-repeat scroll center top transparent;
  height: 150px;
  margin-top:-47px;
}
</style>
<br><br><br>
<% GivenchyStatus.find(:all, :order => 'created_at DESC').each do |status|%>
<div style="width:500px;margin:0 auto; margin-bottom:20px;overflow:hidden">
  <div style="float:left;width:141px;text-align:middle">
    <center><%= link_to image_tag(status.user.avatar.url(:small), :width=>30), user_path(status.user) %><br>
    <%= link_to status.user.displayname, user_path(status.user), :style => "color:black;text-decoration:underline;font-size:12px" %></center>
  </div>
  <div style="width: 359px; float: right; color: black; font-family: times,serif; font-size: 14px; font-style: italic;border-top: 1px solid #842b19"><div style="padding: 7px 13px 13px;"><%= status.text %></div></div>
</div>

<% end %>
