<%= render :partial => 'left_menu' %>

<h2 class="bigheader cgothic">Рейтинг пользователей</h2>


<div id="big-user-top" class="user-list">
   <% @users.each do |u| %>
       <div class="top-bio">
       <%= link_to image_tag(u.avatar.url(:small)), user_path(u) %>

       <h5><div class="big-rating"><span><%= u.cached_rating %></span></div><%= link_to u.displayname, user_path(u) %></h5>

       </div>
   <% end %>
</div>

<%= will_paginate @users %>