<%= render :partial => 'left_menu' %>

<h2 class="bigheader cgothic"><%= t('community.left_menu.users') %></h2>


<div class="user-list">
<%= render :partial => 'user/friend', :collection => @users %>		
</div>

<%= will_paginate @users %>