
<%- session_key_name = ActionController::Base.session_options[:key] -%>
<style>
.progressWrapper {
	width: 357px;
	overflow: hidden;
}

.progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}
</style>
<script type="text/javascript">

		var swfu<%= @record.id %>;

		jQuery(document).ready(function(){
			var settings = {
				flash_url : "/swf/swfupload.swf",
				upload_url: "<%= url_for([:admin, object_class.new]) %>",
				post_params: {
                    "<%= session_key_name %>": "<%= cookies[session_key_name] %>",
                    "authenticity_token": "<%= form_authenticity_token %>",
                    "record[<%= parent_association %>][id]": "<%= @record.id %>",
                },
                file_post_name : "record[<%= attachment_name %>]",
				file_size_limit : "100 MB",
				file_types : "*.*",
				file_types_description : "All Files",
				file_upload_limit : 100,
				file_queue_limit : 0,
				custom_settings : {
					progressTarget : "fsUploadProgress<%= @record.id %>",
					cancelButtonId : "btnCancel<%= @record.id %>"
				},
				debug: false,

				// Button settings
				//button_image_url: "images/TestImageNoText_65x29.png",
				button_width: "293",
				button_height: "30",
				button_placeholder_id: "spanButtonPlaceHolder<%= @record.id %>",
				button_text: '<span class="theFont">Закачать кучищщу фоток нна!!!</span>',
				button_text_style: ".theFont { font-size: 20; font-weight:bold }",
				button_text_left_padding: 12,
				button_text_top_padding: 3,

				// The event handler functions are defined in handlers.js


				file_dialog_complete_handler : fileDialogComplete,
                queue_complete_handler : queueComplete,
				upload_start_handler : uploadStart,
						file_queued_handler : fileQueued,
				file_queue_error_handler : fileQueueError,
				upload_progress_handler : uploadProgress,
				upload_error_handler : uploadError,
				upload_success_handler : uploadSuccess,
				upload_complete_handler : uploadComplete,
			};

			swfu<%= @record.id %> = new SWFUpload(settings);
	     });
	</script>

<div class="fieldset flash" id="fsUploadProgress<%= @record.id %>">
</div>
<div id="divStatus"></div>
<div>
<span id="spanButtonPlaceHolder<%= @record.id %>"></span>
<input id="btnCancel<%= @record.id %>" type="button" value="Отмена загрузки" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 36px;vertical-align:bottom" />
</div>
