<div>
	<img src="/i/shared/photo-8.jpg"/>
	<h3><%= link_to tribune_list.magazine_section.name, magazine_section_path( :magazine_section => tribune_list.magazine_section ) %></h3>
	<h4><%= link_to tribune_list.title,  magazine_article_path({ :magazine_section => tribune_list.magazine_section, :id => tribune_list }) %></h4>
	<p><%= shorten_text(tribune_list.summary, 165) %>
	<% if tribune_list.author %>
		<%= link_to tribune_list.author.displayname, user_path(tribune_list.author), :class => 'name' %>
	<% end %></p>
</div>