
<div class="center">
    <div class="content">
        <div class="clearfix">
            <%= render :partial => 'section_bio', :locals => { :position => 'half-left', :bio => @bio }  %>
            <%= render :partial => 'section_tribune', :locals => { :position => 'half-right', :tribune => @tribune }  %>
        </div>
        <div class="clearfix">
            <div class="section small">
                <a href="#"><img src="/i/shared/photo-11.jpg"/></a>
                <div>
                    <h3><a href="#">Трек дня</a><b></b></h3>
                    <h4><a href="#">Moonbeam<br/>Forever Sun</a></h4>
                </div>
            </div>
            <div class="section small">
                <a href="#"><img src="/i/shared/photo-2.jpg"/></a>
                <div>
                    <h3><a href="#">Видео дня</a><b></b></h3>
                    <h4><a href="#">Beyoncé<br/>Dance For You</a></h4>
                </div>
            </div>
            <div class="section small">
                <a href="#"><img src="/i/shared/photo-12.jpg"/></a>
                <div>
                    <h3><a href="#">FGPEDIA</a><b></b></h3>
                    <h4><a href="#">Флешмоб — ...</a></h4>
                </div>
            </div>
            <div class="section small">
                <a href="#"><img src="/i/shared/photo-13.jpg"/></a>
                <img src="/i/layouts/new-post.png" class="new-post"/>
                <div>
                    <h3><a href="#">Блог</a><b></b></h3>
                    <h4><a href="#">Черный ящик Лари</a></h4>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <%= render :partial => 'section_competition', :locals => { :position => 'half-left', :post => @competition }  %>
            <%= render :partial => 'section_post_list', :locals => { :position => 'half-right', :posts => @posts }  %>
        </div>
        <div class="tabs-wrap">
            <ul class="tabs">
                <li class="active"><a href="#">Thelocals.ru</a></li>
                <li><a href="#">auto.ru</a></li>
                <li><a href="#">gazeta.ru</a></li>
                <li><a href="#">geometria.ru</a></li>
                <li><a href="#">behаnce.net</a></li>
                <li><a href="#">mail.ru</a></li>
                <li><a href="#">lookatme.ru</a></li>
            </ul>
            <div class="box visible">
                <div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
                <div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
                <div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
            </div>
            <div class="box">
                <div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
                <div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
                <div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
            </div>
            <div class="box">
                <div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
                <div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
                <div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
            </div>
            <div class="box">
                <div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
                <div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
                <div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
            </div>
            <div class="box">
                <div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
                <div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
                <div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
            </div>
            <div class="box">
                <div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
                <div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
                <div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
            </div>
            <div class="box">
                <div><img src="/i/shared/photo-14.jpg"/><a href="#">Загородный дом Monica Penaguiao</a></div>
                <div><img src="/i/shared/photo-15.jpg"/><a href="#">Церковь Святого Джейкубса в Утрехте</a></div>
                <div><img src="/i/shared/photo-16.jpg"/><a href="#">Пентхауз в Ванкувере</a></div>
            </div>
        </div>
    </div>
</div>
