    <div class="message <%= !(defined?(hide_read_status) && (hide_read_status == true)) && (!message.read) && 'message-unread' %>">
      	<% unless defined?(show_receiver) && (show_receiver == true) %>
        <%= link_to image_tag(message.sender.avatar.url(:small), :class => 'message-avatar'), user_path(message.sender) %>
        <% else %>
        <%= link_to image_tag(message.user.avatar.url(:small), :class => 'message-avatar'), user_path(message.user) %>
        <% end %>
      <div>
        <p>
          	<% unless defined?(show_receiver) && (show_receiver == true) %>
            <%= link_to message.sender.displayname, user_path(message.sender), :class => 'set' %>
            <% else %>
            <%= link_to message.user.displayname, user_path(message.user), :class => 'set' %>
            <% end %>
            / <%= l(message.created_at, :format => 'short') %>
        </p>
        <%= simple_format(convert_links(replace_smilies(sanitize(message.text)))) %>
        <div class="icons">
          <%= link_to t('delete'), message_url(:id => message.id), :method => :delete, :confirm => t('really_delete'), :class => 'close' %>
          <%= link_to t('answer'), new_message_url(:to => message.sender_id) unless defined?(hide_answer) && hide_answer == true %>
        </div>
      </div>
    </div>