<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => "Сообщения" }  %>

<div id="submenu">
    <ul>
		<li><%= link_to t('.received'), { :sent => nil }, ( submenu_active?(params[:sent], nil) ) %></li>
		<li><%= link_to t('.sent'), { :sent => 1 }, ( submenu_active?(params[:sent].to_i, 1) ) %></li>
    </ul>
</div>
<%= will_paginate %>
<%= render :partial => 'message', :collection => @messages, :locals => { :hide_read_status => @view_sent, :show_receiver => (@view_sent), :hide_answer => (@view_sent)} %>
<%= will_paginate %>


