<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => "Сообщения" }  %>


<h2><%= t('send_message') %></h2>
<p><%= t('.to') %>: <%= link_to @recipient.displayname, user_path(@recipient) %></p>
<div id="message-form-container">
<% form_for :message, Message.new, :url => messages_path, :html => {:id => 'message_form'} do |f| %>
  <%= hidden_field_tag 'to', @recipient.id %>
  
  <%= f.text_area :text, :class => 'dottedform' %>

<div id="smilies-list">
  <img src="/i/smilies/smile.gif" onclick="insertAtCaret('message_text',':-)')" title="Happy">
  <img src="/i/smilies/sad.gif" onclick="insertAtCaret('message_text',':-(')" title="Sad">
  <img src="/i/smilies/eye.gif" onclick="insertAtCaret('message_text',';-)')" title="Wink">
  <img src="/i/smilies/tongue.gif" onclick="insertAtCaret('message_text',':-P')" title="Playful">
  <img src="/i/smilies/love.gif" onclick="insertAtCaret('message_text','*LOVE*')" title="Love">
  <img src="/i/smilies/scared.gif" onclick="insertAtCaret('message_text','o_O')" title="Scared">
  <img src="/i/smilies/lol.gif" onclick="insertAtCaret('message_text',':-D')" title="LOL">
  <img src="/i/smilies/mad.gif" onclick="insertAtCaret('message_text',':-/')" title="Mad">

  <img class="ptop6" src="/i/smilies/evil.gif" onclick="insertAtCaret('message_text','>:o')" title="FFFFFFFUUUUUUUU">
  <img class="ptop6" src="/i/smilies/kiss.gif" onclick="insertAtCaret('message_text',':-*')" title="Kiss">
  <img class="ptop6" src="/i/smilies/what.gif" onclick="insertAtCaret('message_text','=-O')" title="Surprise">
  <img class="ptop6" src="/i/smilies/gopnik.gif" onclick="insertAtCaret('message_text','*GOP*')" title="Gopnick">

  <img src="/i/smilies/angel.gif" onclick="insertAtCaret('message_text','O:=)')" title="Angel">
  <img src="/i/smilies/sleep.gif" onclick="insertAtCaret('message_text','*TIRED*')" title="Tired">
  <img src="/i/smilies/roll.gif" onclick="insertAtCaret('message_text','*LOL*')" title="LOOOOOOL">
</div>      

  <p><%= submit_tag t('send') %></p>
  <script type="text/javascript">
  	$(document).ready(function() {
		$("#message_text").focus();
	});
  </script>
<% end %>


</div>


<% if @history_messages and not @history_messages.empty? %>
<br><h4><%= t('.message_history') %>:</h4>
<%= will_paginate @history_messages %>
<%= render :partial => 'message', :collection => @history_messages, :locals => { :hide_read_status => (true), :hide_answer => true} %>
<%= will_paginate @history_messages %>
<% end %>

