Спасибо за регистрацию в FaceGallery!

Ваш аккаунт создан.

  Email: <%=h @user.email %>
  Пароль: скрыт

Пожалуйста, перейдите по ссылке, чтобы активировать ваш аккаунт и присоединиться к сообществу FaceGallery:

  <%=h @url %>
