<p>Здравствуйте, <%=h @user.name %>!</p>

<p>За вас проголосовал пользователь <a href="http://facegallery.ru/user/<%=h @voter.id %>"><%=h @voter.displayname %></a>!<br>


<p>------------<br>
Отписаться от получения уведомлений по e-mail можно в настройках Вашего аккаунта:<br>
<%=h @edit_profile_url %><br>
------------<br>
FaceGallery.ru<br></p>
