<dl>
<dt>
   <label for="record_tag_list">Теги</label>
 </dt>
<dd>
   <style>
     p.tag_list li{
         text-decoration:underline;
         cursor:pointer;
         font-size:13px;
         padding:5px;
         list-style-type:none;
     }
     p.tag_list ul{
         padding:6px;
         margin:0px;
     }
   </style>
   <%= text_field_tag 'record[tag_list]', @record.tag_list, :style => 'width:300px' %>
   <p class="tag_list" id='record_tag_list_<%=@record[:id]%>_auto_complete' style="background-color:white"></p>
   <script type="text/javascript">
    var record_tag_list_<%= @record[:id].to_s %>_auto_completer =
     new Ajax.Autocompleter(
       'record_tag_list',
       'record_tag_list_<%=@record[:id]%>_auto_complete',
       '<%= url_for :action => 'autocomplete_tag_list' %>', {tokens: ','});
  // jQuery( "#record_tag_list" ).autocomplete({
    //   source: "<%= url_for :action => 'autocomplete_tag_list' %>"
   //});

   </script>

 </dd>
</dl>