<p>Здравствуйте, <%=h @user.name %>!</p>

<p>В вашем BIO новый <a href="<%=h comment_url(@comment) %>">комментарий</a><br>
От: <%=h @comment.user.displayname %></p>

<p>Ссылка на комментарий:<br>
<%=h comment_url(@comment) %></p>


<p>------------<br>
Отписаться от получения уведомлений по e-mail можно в настройках Вашего аккаунта:<br>
<%=h @edit_profile_url %><br>
------------<br>
FaceGallery.ru<br></p>
