<p>Здравствуйте, <%=h @user.name %>!</p>

<p>В блоге "<a href="<%=h @url %>"><%=h @commentable.title%></a>" новый <a href="<%=h @url %>">комментарий</a><br>
От: <%=h @comment.user.displayname %></p>

<p>Ссылка на комментарий:<br>
<%=h @url %></p>


<p>------------<br>
Отписаться от получения уведомлений по e-mail можно в настройках Вашего аккаунта:<br>
<%=h @edit_profile_url %><br>
------------<br>
FaceGallery.ru<br></p>
