<p>Здравствуйте!</p>

<p>Поступил новый вопрос для Apple Concierge:</p>
<p>------<br>
<%= h @question.question %><br>
------</p>
<p>Ссылка на вопрос:<br>
<a href="http://facegallery.ru/apple_concierge#question<%= @question.id %>">http://facegallery.ru/apple_concierge#question<%= @question.id %></p>