
<%
str = '<h4>Дорогие друзья!</h4>

<b>На предстоящий уикенд 26 и 27 ноября мы подготовили для вас увлекательную программу!</b>

<h4>ПОЗДНИЙ ЗАВТРАК. Рог изобилия</h4>
<a href="http://facegallery.ru/placegallery/daily_events/show/3930"><img src="http://facegallery.ru/img/mail/241111/1.jpg"></a>
Наши очередные посиделки за завтраком 26 ноября состоятся в свежем месте - остерии Sorriso. В предстоящую субботу по лунному календарю нас ожидает 2-й день Луны. Символ дня - Рог изобилия. В этот день особенно важно прислушаться к знакам судьбы, ведь до нового года осталось совсем немного времени! Поэтому хорошо бы завершить то, что мы запланировали на 2011 год, чтобы со спокойной душой встретить новый 2012-й! В этом нам поможет специальный гость - парапсихолог, эзотерик и специалист по картам Таро - Дардо Кусто.

<a href="http://facegallery.ru/placegallery/daily_events/show/3930">http://facegallery.ru/placegallery/daily_events/show/3930</a>

<h4>ПОЛЕЗНОЕ ВОСКРЕСЕНЬЕ. Поделись теплом</h4>
<a href="http://facegallery.ru/placegallery/daily_events/show/3924"><img src="http://facegallery.ru/img/mail/241111/2.jpg"></a>
В этот раз на нашем FG Sunday в DOME 27 ноября мы решили подумать не только о себе, ведь наши воскресенья могут быть «полезными» не в узком, а в широком смысле! Наш хороший друг, дизайнер Эмиль Шабаев предложил тему, от которой мы просто не смогли отказаться. В воскресенье 27 ноября мы устроим благотворительное мероприятие, чтобы собрать теплые вещи для тех, у кого нет возможности отправиться на шопинг и подготовиться к холодам!

<a href="http://facegallery.ru/placegallery/daily_events/show/3924">http://facegallery.ru/placegallery/daily_events/show/3924</a>
'
%>
<%= simple_format str %>
