<table width="615" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td width="615"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_01.jpg" height="70" width="615" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td width="615"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_02.jpg" height="15" width="615" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td width="320"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_05.jpg" height="405" width="320" /></td>
					<td width="15" bgcolor="#2b2b2b"></td>
					<td width="265" bgcolor="#2b2b2b" valign="top">
						<table width="265" border="0" cellspacing="0" cellpadding="0" height="5">
							<tr>
								<td width="265" height="5"></td>
							</tr>
						</table>
						<table width="265" border="0" cellspacing="0" cellpadding="0">

							<tr>
								<td>
									<font align="left" style="font-size:10px; color:#FFFFFF;font-family:Arial, sans-serif; text-align:left !important;">Чтобы приобрести вещи от кутюрье с мировым именем, не обязательно отправляться в Милан или Париж. В шоппинг-клубе KupiLUXE.ru мы собрали для Вас коллекцию шедевров именитых мастеров, и теперь у Вас есть возможность покупать их в нашем интернет-бутике.<br /><br></font>
								</td>
							</tr>
						</table>
						<table width="265" border="0" cellspacing="0" cellpadding="0" bgcolor="#2b2b2b">
							<tr>

								<td width="10"></td>
								<td width="235">
									<table width="235" border="0" cellspacing="0" cellpadding="0" bgcolor="#2b2b2b">
										<tr bgcolor="#2b2b2b">
											<td width="25" valign="top" bgcolor="#2b2b2b"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_24.png" height="16" width="24" /></td>
											<td width="210" valign="top"><font align="left" style="font-size:10px;color:#FFFFFF;font-family:Arial, sans-serif;text-align:left !important;">KupiLUXE.ru – это сообщество целеустремлённых людей, которые уже добились успеха и привыкли получать от жизни только самое лучшее.<br /><br /></font>
											</td>
										</tr>

									</table>
									<table width="235" border="0" cellspacing="0" cellpadding="0" bgcolor="#2b2b2b">
										<tr bgcolor="#2b2b2b">
											<td width="25" valign="top" bgcolor="#2b2b2b">
												<img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_24.png" height="16" width="24" />
											</td>
											<td width="210" bgcolor="#2b2b2b" valign="top"><font align="left" style="font-size:10px;color:#FFFFFF;font-family:Arial, sans-serif;text-align:left !important;">Наши покупатели - люди с ярким стилем, интересующиеся высокой модой и качественным товаром.<br /><br /></font>
											</td>

										</tr>
									</table>
									<table width="235" border="0" cellspacing="0" cellpadding="0" bgcolor="#2b2b2b">
										<tr>
											<td width="25" valign="top">
												<img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_24.png" height="16" width="24" />
											</td>
											<td width="210" valign="top"><font align="left" style="font-size:10px; color:#FFFFFF;font-family:Arial, sans-serif; text-align:left !important;line-height:14px;">Наша цель - создать максимально комфортные условия для Вашего шопинга. Удобная оплата и доставка, <br /><br /></font>

											</td>
										</tr>
									</table>
									<table width="265" border="0" cellspacing="0" cellpadding="0" bgcolor="#2b2b2b">
										<tr>
											<td>
												<font align="left" style="font-size:10px; color:#FFFFFF;font-family:Arial, sans-serif; text-align:left !important;line-height:14px;">
													В нашем шопинг-клубе Вы найдете вещи из последних коллекций «высоких марок», предметы роскоши и все атрибуты изящной жизни. Красивая жизнь – выбор избранных! 
												</font>

											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td width="15" bgcolor="#2b2b2b"></td>
				</tr>

			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr height="27">
					<td width="382"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_06.jpg" height="27" width="382"/></td>
					<td width="172"><a href="http://www.facegallery.kupiluxe.ru" target="_blank" border="0" style="display:block;"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_07.jpg" height="27" width="172" border="0" /></a></td>

					<td width="61" bgcolor="#2b2b2b"rowspan="3"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td width="615"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_09.jpg" height="16" width="615" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td width="615" height="5" bgcolor="#000000"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" height="34" cellspacing="0" cellpadding="0">
				<tr>

					<td width="15" height="34" bgcolor="#000000"></td>
					<td width="600" bgcolor="#000000" height="34"><font align="left" style="font-size:12px; color:#FFFFFF;font-family:Trebuchet MS, sans-serif; text-align:left !important">Участниками нашего клуба уже стали</font></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>

			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="615" height="5" bgcolor="#000000"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>

			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="13" bgcolor="#000000"></td>
					<td width="111"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_12.jpg" height="162" width="111" /></td>
					<td width="10" bgcolor="#000000"></td>
					<td width="109"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_14.jpg" height="162" width="109" /></td>
					<td width="12" bgcolor="#000000"></td>
					<td width="107"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_16.jpg" height="162" width="107" /></td>
					<td width="11" bgcolor="#000000"></td>

					<td width="108"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_18.jpg" height="162" width="108" /></td>
					<td width="11" bgcolor="#000000"></td>
					<td width="109"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_20.jpg" height="162" width="109" /></td>
					<td width="14" bgcolor="#000000"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>

		<td>
			<table width="615" height="61" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">
				<tr>
					<td width="13"></td>
					<td width="111" valign="top"><table width="111" border="0" cellspacing="0" cellpadding="0" height="10"><tr><td></td></tr></table><font align="left" style="font-size:10px; color:#FFFFFF;font-family:Trebuchet MS, sans-serif; text-align:left !important">Александр Мостовой<br>футболист</font></td>
					<td width="10"></td>
					<td width="109" valign="top"><table width="111" border="0" cellspacing="0" cellpadding="0" height="10"><tr><td></td></tr></table><font align="left" style="font-size:10px; color:#FFFFFF;font-family:Trebuchet MS, sans-serif; text-align:left !important">Ольга Орлова<br>певица, актриса</font></td>

					<td width="12"></td>
					<td width="107" valign="top"><table width="111" border="0" cellspacing="0" cellpadding="0" height="10"><tr><td></td></tr></table><font align="left" style="font-size:10px; color:#FFFFFF;font-family:Trebuchet MS, sans-serif; text-align:left !important">Батишта<br>гр. "Банд'эрос"</font></td>
					<td width="11"></td>
					<td width="108" valign="top"><table width="111" border="0" cellspacing="0" cellpadding="0" height="10"><tr><td></td></tr></table><font align="left" style="font-size:10px; color:#FFFFFF;font-family:Trebuchet MS, sans-serif; text-align:left !important">Вика Лопырева<br>вице "Мисс Россия"</font></td>
					<td width="11"></td>
					<td width="109" valign="top"><table width="111" border="0" cellspacing="0" cellpadding="0" height="10"><tr><td></td></tr></table><font align="left" style="font-size:10px; color:#FFFFFF;font-family:Trebuchet MS, sans-serif; text-align:left !important">Юрий Штромбергер<br>ген.дир. Московской<br>недели моды</font></td>

					<td width="14"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td width="615" height="5" bgcolor="#000000"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="615" border="0" cellspacing="0" cellpadding="0">
				<tr>

					<td width="615"><img style="display:block" alt="" src="http://facegallery.ru/img/kupiluxe/kupiluxe_23.png" height="15" width="615" /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>