Здравствуйте, <%=h @user.name %>!

Вам письмо на сайте facegallery.ru

От: <%=h @message.sender.displayname %>

Чтобы прочитать и ответить на это сообщение, пожалуйста, пройдите по ссылке:
<%=h @reply_url %>

------------
Отписаться от получения уведомлений по e-mail можно в настройках Вашего аккаунта:
<%=h @edit_profile_url %>
------------
FaceGallery.ru