Thank you for registering at FaceGallery!

Your user account is created.

  Email: <%=h @user.email %>
  Password: hidden

Please, click this link to activate your account, complete the registration process, and join the FaceGallery community:

  <%=h @url %>
