<p><%=h @user.displayname %>  выслал(а) вам приглашение к регистрации на Facegallery.ru. Чтобы зарегистрироваться на сайте, пожалуйста, перейдите по ссылке:</p>

<p>&nbsp; <a href="<%=h @url %>"><%=h @url %></a></p>

<p><img src="http://facegallery.ru/img/invitepic.jpg" alt="Приглашение"></p>