<table cellpadding="0" cellspacing="0" border="0" width="720" >
	<tr>
		<td style="font-size:14px;">



<table width="100%" border="0" cellpadding="5">
  <tbody>
    <tr>
      <td valign="bottom" width="250" align="left"><a href="facegallery.ru" target="_blank"><img  border="0" src="http://facegallery.ru/img/digest/digest_logo_small.png" alt="FaceGallery Digest"></a></td>
      <td class="style2" align="right"><br>
      
      </td>
    </tr>
  </tbody>

</table>

<table width="100%" border="0">
  <tbody>
    <tr>
      <td class="style2"><br>
      </td>
    </tr>
  </tbody>
</table>
<table width="100%" border="0">
  <tbody>
    <tr>
      <td width="20" bgcolor="#FFFFFF"> </td>
      <td><span class="style2">Новости</span></td>
    </tr>
    <tr>
      <td> </td>
      <td> </td>
    </tr>
    <tr>
      <td> </td>
      <td><span class="style3">
      <table width="100%" border="0">
        <tbody>

<%
   items = [
{:date => '',
             :title => 'STAND-UP ВЕЧЕР. Вторая вечеринка 2012-го',
             :link => 'http://facegallery.ru/placegallery/daily_events/show/4202',
             :image =>'http://facegallery.ru/img/digest/250112/01.jpg',
             :text => 'В связи с подготовкой к близящемуся концу света мы вынуждены сообщить вам, что вторая вечеринка замечательного Stand-up Вечера переносится с 25-го января на 1-е февраля. Заявки, как и прежде, направляйте Полине Андреевой, поскольку главный редактор Оля Буянова уже в этот момент нежится на берегу Индийского океана в заслуженном отпуске.
'},
{:date => '',
             :title => 'МОДА. Капсульная коллекция TOD’s No_Code',
             :link => 'http://facegallery.ru/magazine/fashion/398-kapsulnaya-kollektsiya-tods-no_code',
             :image =>'http://facegallery.ru/img/digest/250112/02.jpg',
             :text => '23 января в стенах отеля Amour в Париже итальянский бренд Tod’s представит капсульную коллекцию обуви Tod’s No_Code. Вдохновленная на создание Джефферсоном Хэком (Jefferson Hack), чье имя тесно связано с журналом Dazed&Confused, в новом сезоне весна-лето 2012 Tod’s No_Code будет представлена как мужской, так и женской линиями.  
'},
{:date => '',
             :title => 'NEWS. Кастинг в первое в России Plus-Size Model Agency ',
             :link => 'http://facegallery.ru/fgc/news/show/214',
             :image =>'http://facegallery.ru/img/digest/250112/03.jpg',
             :text => '«Это несправедливо, что моделью в наше время может быть только худая!» – воскликнут красавицы с формами. И будут абсолютно правы! Нет никакого резона в том, чтобы загонять женские красоту и сексуальность в анорексичные рамки современных трендов. Поэтому появлению первого в России модельного агентства для plus-size моделей мы уделяем особое внимание.
'},
{:date => '',
             :title => 'АФИША ДНЯ. Моральный кодекс',
             :link => 'http://facegallery.ru/placegallery/daily_events/2012-01-27',
             :image =>'http://facegallery.ru/img/digest/250112/04.jpg',
             :text => 'Эту группу даже и представлять не нужно. Мастодонты (в самом лучше смысле этих слов) отечественного рока, «Моральный кодекс» дадут очередной свой концерт на сцене клуба «Б2».
'},
{:date => '',
             :title => 'БЛОГ. Анастасия Меркулова: «Быть или не быть»',
             :link => 'http://facegallery.ru/user/3281/blogs/9148',
             :image =>'http://facegallery.ru/img/digest/250112/05.jpg',
             :text => 'Вопреки мнению многих из нас о том, что это не так, все в мире живет и действует по одним и тем же законам. Поэтому нечего удивляться, что поведение государств на мировой арене на 100% сопоставимо с поведением отдельных людей. В общем, цитируя одну известную группу, «A funny thing about regret is that it is better to regret something you have done than to regret something you haven’t done».
'},


   ]

%>
<% items.each do |i| %>
          <tr>
            <td class="title"> <font color="#000000">
            <a target="_blank" href="<%=h i[:link] %>">
            <%=h i[:title] %>
            </a></font>
            </td>
          </tr>
          <tr>
            <td class="style3">
            <a target="_blank" href="<%=h i[:link] %>">
            <img border="0" alt="" src="<%=h i[:image] %>" align="left" hspace="10"></a>
            <%= i[:text] %>
            <br>
            <br>
            <a  target="_blank" href="<%=h i[:link] %>">Подробнее&gt;&gt;</a>
            </td>
          </tr>
          <tr>
            <td><br>
            </td>
          </tr>
<% end %>


        </tbody>
      </table>
      </span></td>
    </tr>
  </tbody>

</table>

</td></tr></table>
