<% url_options = params_for(:action => :create) -%>
<%=
if request.xhr?
  if active_scaffold_config.create.multipart? # file_uploads
    form_remote_upload_tag url_options.merge({:iframe => true}),
                           :onsubmit => onsubmit,
                           :id => element_form_id(:action => :create),
                           :loading => "$('#{loading_indicator_id(:action => :create, :id => params[:id])}').style.visibility = 'visible';",
                           :class => 'create'
  else
    form_remote_tag :url => url_options,
                    :after => "$('#{loading_indicator_id(:action => :create, :id => params[:id])}').style.visibility = 'visible'; Form.disable('#{element_form_id(:action => :create)}');",
                    :complete => "$('#{loading_indicator_id(:action => :create, :id => params[:id])}').style.visibility = 'hidden'; Form.enable('#{element_form_id(:action => :create)}');",
                    :failure => "ActiveScaffold.report_500_response('#{active_scaffold_id}')",
                    :html => {
                      :href => url_for(url_options),
                      :onsubmit => onsubmit,
                      :id => element_form_id(:action => :create),
                      :class => 'create'
                    }
  end
else
  form_tag url_options,
           :onsubmit => onsubmit,
           :id => element_form_id(:action => :create),
           :multipart => active_scaffold_config.create.multipart?,
           :class => 'create'
end -%>

  <h4><%= active_scaffold_config.create.label(active_scaffold_config.sti_create_links ? @record.class.human_name(:count => 1) : nil) -%></h4>

  <div id="<%= element_messages_id(:action => :create) %>" class="messages-container">
<% if request.xhr? -%>
    <%= error_messages_for :record, :object_name => @record.class.human_name.downcase %>
<% else -%>
    <%= render :partial => 'form_messages' %>
<% end -%>
  </div>

  <%= render :partial => 'form', :locals => { :columns => active_scaffold_config.create.columns } %>

  <p class="form-footer">
   <input type="submit" value="create" class="submit"
onClick="
var oEditor = FCKeditorAPI.GetInstance('record_<%=@record.id%>_<%='description'%>_editor');
document.getElementById('record_<%=@record.id%>_<%='description'%>_editor').value = oEditor.GetXHTML();
var oEditor = FCKeditorAPI.GetInstance('record_<%=@record.id%>_<%='schedule'%>_editor');
document.getElementById('record_<%=@record.id%>_<%='schedule'%>_editor').value = oEditor.GetXHTML();
var oEditor = FCKeditorAPI.GetInstance('record_<%=@record.id%>_<%='costs'%>_editor');
document.getElementById('record_<%=@record.id%>_<%='costs'%>_editor').value = oEditor.GetXHTML();
" />
    <%= link_to as_(:cancel), main_path_to_return, :class => 'cancel' %>
    <%= loading_indicator_tag(:action => :create, :id => params[:id]) %>
  </p>

</form>
<script type="text/javascript">
Form.focusFirstElement('<%= element_form_id(:action => :create) -%>');
</script>
