<% url_options = params_for(:action => :update) -%>
<%=
if request.xhr?
  if active_scaffold_config.update.multipart?  # file_uploads
    form_remote_upload_tag url_options.merge({:iframe => true}),
                           :onsubmit => onsubmit,
                           :id => element_form_id(:action => :update),
                           :loading => "$('#{loading_indicator_id(:action => :update, :id => params[:id])}').style.visibility = 'visible';",
                           :class => 'update',
                           :method => :put
  else
    form_remote_tag :url => url_options,
                    :after => "$('#{loading_indicator_id(:action => :update, :id => params[:id])}').style.visibility = 'visible'; Form.disable('#{element_form_id(:action => :update)}');",
                    :complete => "$('#{loading_indicator_id(:action => :update, :id => params[:id])}').style.visibility = 'hidden'; Form.enable('#{element_form_id(:action => :update)}');",
                    :failure => "ActiveScaffold.report_500_response('#{active_scaffold_id}')",
                    :html => {
                      :href => url_for(url_options),
                      :onsubmit => onsubmit,
                      :id => element_form_id(:action => :update),
                      :class => 'update',
                      :method => :put
                    }
  end
else
  form_tag url_options,
           :onsubmit => onsubmit,
           :id => element_form_id(:action => :update),
           :multipart => active_scaffold_config.update.multipart?,
           :class => 'update',
           :method => :put
end
%>

  <h4><%= @record.to_label.nil? ? active_scaffold_config.update.label : as_(:update_model, :model => clean_column_value(@record.to_label)) %></h4>

  <div id="<%= element_messages_id(:action => :update) %>" class="messages-container">
<% if request.xhr? -%>
    <%= error_messages_for :record, :object_name => @record.class.human_name.downcase %>
<% else -%>
    <%= render :partial => 'form_messages' %>
<% end -%>
  </div>

  <%= render :partial => 'form', :locals => { :columns => active_scaffold_config.update.columns } %>

  <p class="form-footer">
<input type="submit" value="update" class="submit"
onClick="
var oEditor = FCKeditorAPI.GetInstance('record_<%=@record.id%>_<%='description'%>_editor');
document.getElementById('record_<%=@record.id%>_<%='description'%>_editor').value = oEditor.GetXHTML();
var oEditor = FCKeditorAPI.GetInstance('record_<%=@record.id%>_<%='schedule'%>_editor');
document.getElementById('record_<%=@record.id%>_<%='schedule'%>_editor').value = oEditor.GetXHTML();
var oEditor = FCKeditorAPI.GetInstance('record_<%=@record.id%>_<%='costs'%>_editor');
document.getElementById('record_<%=@record.id%>_<%='costs'%>_editor').value = oEditor.GetXHTML();
" />
    <%= link_to as_(:cancel), main_path_to_return, :class => 'cancel' %>
    <%= loading_indicator_tag(:action => :update, :id => params[:id]) %>
  </p>

</form>
<script type="text/javascript">
Form.focusFirstElement('<%= element_form_id(:action => :update) -%>');
</script>
