<%= render :partial => 'user/user_leftmenu', :locals => { :user => @user }  %>
<%= render :partial => 'user/user_header', :locals => { :user => @user, :section_name => "Приглашения" }  %>
<h2>Выслать приглашение на сайт</h2>

<p>У вас, как у Bio-пользователя, есть возможность приглашать на сайт своих друзей. Пожалуйста, отнеситесь внимательно к подбору людей для нашего сообщества.</p>

<p>Введите e-mail, на который будет выслан код приглашения:</p>

<% form_for :site_invite, :url => {:action => 'create'} do |f| %>
<p><%= f.text_field :email %></p>

<p><%= submit_tag "Выслать приглашение" %></p>
<% end %>